/* autoprefixer grid: autoplace */
.homepage-masthead__container {
  --defaultPadding: 5%;
  --textShadow: rgba(0, 0, 0, 0.5) 6.5px 6.5px 13px;
  --videoHeight: 600px;
  width: 100vw;



  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -ms-grid;
  display: grid;
  align-content: space-evenly;
  grid-gap: 25px;
  min-height: 800px;


  .left {
    height: 100%;
    width: 3v(defaultPadding);
    float: left;
  }

  .right {
    height: 200px;
    width: 3v(defaultPadding);
    float: right;
  }

  .top {
    width: 100%;
    height: 500px;
  }

  .bottom {
    width: 100%;
    height: 200px;
  }

  .red {
    background: v(cu-red);
  }

  #polygon {
    padding-left: 20px;
    margin-left: 20px;
    width: 100%;
  }

  video::-webkit-media-controls {
    display: none;
  }

  /* Could Use thise as well for Individual Controls */
  video::-webkit-media-controls-play-button {}

  video::-webkit-media-controls-volume-slider {}

  video::-webkit-media-controls-mute-button {}

  video::-webkit-media-controls-timeline {}

  video::-webkit-media-controls-current-time-display {}

  .homepage-masthead__toggle-play-button {
    position: absolute;
    height: 3rem;
    right: 0;
    z-index: 2;
    display: -ms-grid;
    display: grid;
    -ms-grid-row-align: start;
    align-self: start;
    -ms-grid-column-align: end;
    justify-self: end;
    color: v(white);
    padding-right: 2vw;
    cursor: pointer;
    top: calc(var(--videoHeight) - 12.5rem);
    fill-opacity: 0.9;

    &:focus,
    &:focus-within,
    &:hover {
      transition: 150ms linear;
      fill-opacity: 1;
    }
  }

  #homepage-masthead__play-button {
    display: none;
  }
}

.clickToPlay {
  min-width: var(--clickToPlay-size);
  min-height: var(--clickToPlay-size);
  border-radius: 50%;
  background-image: url(chrome://global/skin/media/playButton.svg);
  background-repeat: no-repeat;
  background-position: 54% 50%;
  background-size: 40% 40%;
  background-color: #1a1a1a;
  -moz-context-properties: fill;
  fill: #ffffff;
  opacity: 0.8;
  top: unset;
  bottom: 50;
  position: absolute;
  right: 0;
}

.homepage-masthead {
  --textShadow: rgba(0, 0, 0, 0.5) 6.5px 6.5px 13px;

  &__heading-container {
    margin-top: 7.5rem;
    color: $white;
    width: 100vw;
    @include qbal-fade-enter;

    span {
      display: flex;
      justify-content: center;
      -webkit-user-select: text;
    }

    h2 {
      font-size: 13rem;
      text-shadow: v(textShadow);
      display: -ms-grid;
      display: grid;
      justify-content: center;
      text-transform: uppercase;
      line-height: 0.8em;
      font-family: v(futura-condensed);
      font-weight: 700;
      -webkit-user-select: text;
    }

    .homepage-masthead__tagline {
      font-size: 3rem;
      line-height: 3rem;
      text-shadow: v(textShadow);
      font-weight: 700;
      font-family: $futura-regular;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  &__button-container {
    display: -ms-grid;
    display: grid;
    justify-content: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    width: 100vw;
    grid-gap: 12px;
    display: grid;
    justify-content: center;
    position: absolute;
    display: grid;
    justify-content: center;
    align-content: space-evenly;
    align-items: center;
    height: 80vh;
    // rearranging video
    position: relative;
    height: auto;

    .homepage-masthead__buttons {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 12px 1fr 12px 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 1130px;
      -ms-grid-column-align: center;
      justify-self: center;
      width: 100%;
      grid-gap: 12px;
    }

    .homepage-masthead {
      .homepage a.button {
        display: -ms-grid;
        display: grid;
      }

      &__button,
      .homepage a.button {
        --buttonMinWidth: 350px;
        background: unset;
        display: -ms-grid;
        display: grid;
        justify-content: center;
        align-content: center;
        text-align: center;
        background-color: v(cu-red);
        color: $white;
        font-family: $futura-regular;
        text-transform: uppercase;
        font-weight: bold;
        padding: 4%;
        border-radius: 4px;
        transition: 300ms ease all;

        &:hover,
        &:focus,
        &:focus-within {
          background-color: lighten($cu-red, 8%) !important;
          color: v(white);
          -webkit-animation-play-state: paused;
          animation-play-state: paused;
          transform: translateY(-2px);
          transition: 150ms;
        }

        &:focus,
        &:focus-within {
          color: v(white);
          outline: 2px dotted currentColor;
          mix-blend-mode: difference;
        }

        --animationDelay: 2.5s;
        --animation: none;
        --animationIterationCount: infinite;
        --animationDuration: 30s;

        &--red {
          background-color: v(white);
          color: v(panther-black);
          -webkit-animation: 26s infinite backgroundColor;
          animation: 26s infinite backgroundColor;
          background-color: v(cu-red);
          color: v(white);
          transition: 300ms linear;

          @-webkit-keyframes backgroundColor {
            --buttonStartColor: v(white);
            --buttonEndColor: v(cu-red);

            0% {
              background-color: v(buttonStartColor);
              transition: 350ms ease;
            }

            2% {
              background-color: $cu-red;
              color: v(white);
              transition: 300ms linear;
            }

            100% {
              background-color: $cu-red;
              color: v(white);
              transition: 300ms linear;
            }
          }

          @keyframes backgroundColor {
            --buttonStartColor: v(white);
            --buttonEndColor: v(cu-red);

            0% {
              background-color: v(buttonStartColor);
              transition: 350ms ease;
            }

            2% {
              background-color: $cu-red;
              color: v(white);
              transition: 300ms linear;
            }

            100% {
              background-color: $cu-red;
              color: v(white);
              transition: 300ms linear;
            }
          }
        }
      }
    }
  }

  &__photo-grid {
    --imgSize: 200px;

    display: -ms-grid;

    display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 2fr 12px 1fr 12px 1fr 12px 1fr 12px 1fr;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 200px 12px 200px 12px 200px 12px 200px;
    grid-template-rows: fit-content(100%);
    justify-content: space-around;
    grid-gap: 12px;

    max-width: 1130px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    width: 100vw;

    @for $i from 2 through 7 {
      :nth-child(#{$i}) {
        -webkit-animation-delay: #{$i * 0.05s};
        animation-delay: #{$i * 0.05s};
      }
    }

    h2 {
      color: v(white);
      font-family: v(--futura-regular);
      font-size: 1.8rem;
      line-height: 2rem;
    }

    a {
      background-color: v(cu-red);
      will-change: filter, brightness;
      @include qbal-slideUp-enter;

      &:focus,
      &:focus-within {
        outline-color: v(white);
      }

      &:hover,
      &:focus,
      &:focus-within {
        -webkit-filter: drop-shadow(v(textShadow));
        filter: drop-shadow(v(textShadow));
        transition: 150ms ease;
        // background-color: color.scale($cu-red, $lightness: -30%);
        background-color: lighten($cu-red, 8%);
        transition: 300ms ease all;

        img {
          -webkit-filter: brightness(110%);
          filter: brightness(110%);
          transition: 150ms ease all;
        }
      }

      &:first-child {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        grid-row: 1 / span 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1 / span 2;
      }

      &:last-child {
        -webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
        clip-path: polygon(100% 0, 0 0, 0 100%);
      }

      .diagonal {
        height: 200px;
        width: 200px;
        background-color: v(white);
      }

      img {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        will-change: filter, background-color;
        transition: 150ms ease all;
      }

      .svg-inline--fa.fa-chevron-circle-right.fa-w-16 {
        color: v(white);
        max-width: 25px;
        -ms-grid-row-align: end;
        align-self: end;
        padding-bottom: 8px;
      }

      h2 {
        text-transform: uppercase;
        width: min-intrinsic;
        width: -webkit-min-content;
        width: -moz-min-content;
        width: min-content;
        display: table-caption;
        display: -ms-grid;
        -ms-grid-columns: min-content;
      }
    }

    &-container {
      display: -ms-grid;
      display: grid;
      justify-content: center;
    }

    .homepage-masthead__photo-grid-container__text {
      display: -ms-grid;
      display: grid;
      justify-content: start;
      padding: 25px;
      -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
      align-content: end;
      height: 100%;
      -ms-grid-column-align: center;
      justify-self: center;
    }
  }



  &__photos {
    display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px;
    justify-content: space-around;
    grid-gap: 12px;
    max-width: 1130px;
  }


}

video {
  -o-object-fit: cover;
  object-fit: cover;
  height: 600px;
}

video {
  position: absolute;
  z-index: 1;
  mask-image: image-url("masthead-wave");
  -webkit-mask-image: image-url("masthead-wave");
  -webkit-mask-size: 100% 100%;
  will-change: filter;

  .controlBar {
    display: none !important;
  }
}


/* master.css | http://localhost:5000/_assets/master.css */

.homepage-masthead__container {
  position: relative;
}

.homepage-masthead__heading-container {
  z-index: 2;
}

/* Inline #18 | http://localhost:5000/uninav/home_page */

.homepage-masthead__button-container {
  z-index: 2;
}

.homepage-masthead__photo-grid-container {
  z-index: 2;
  height: 100%;
  padding-bottom: v(defaultPadding);
}

.homepage-masthead__container {
  @media only screen and (max-width: 1130px) {
    .homepage-masthead {
      &__heading-container {
        h2 {
          font-size: 10rem;
        }

        .homepage-masthead__tagline {
          font-size: 2.5rem;
          text-align: center;
        }
      }

      &__heading-container,
      &__photo-grid,
      &__buttons {
        padding-left: v(defaultPadding);
        padding-right: v(defaultPadding);
      }
    }
  }

  @media only screen and (max-width: 1330px) {
    .homepage-masthead__toggle-play-button {
      top: 2vh;
      left: 2vh;
      height: 3rem;
    }
  }

  @include respond(tab-port) {
    .homepage-masthead__photo-grid {
      padding-top: 5px;
    }

    .homepage-masthead__photos {
      -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
    }

    video {
      max-height: 45vh;
    }
  }

  @include respond(phone) {
    video {
      max-height: 88vh;
    }

    a.button,
    .button.homepage-masthead__button {
      margin-bottom: 0;
    }

    .homepage-masthead {
      &__buttons {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
      }

      &__photo-grid {
        h2 {
          font-size: 2rem;
          font-family: $futura-regular;
          font-size: 1.8rem;
          line-height: 2rem;
        }
      }
    }
  }
}

// .ie {
//   &__video-container {
//     overflow: hidden;
//     max-height: 600px;
//     height: 600px;
//     position: relative;
//   }

//   .homepage-masthead__video {
//     background-color: #a50034;
//     width: 100vw;
//     height: auto;

//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: 1;
//     min-height: 100%;
//     min-width: 100%;
//     -webkit-transform-style: preserve-3d;

//     video {
//       position: absolute;
//       top: 0;
//       left: 0;
//       z-index: 1;
//       min-height: 100%;
//       min-width: 100%;
//       height: 600px;
//       width: 100%;
//       transform: scale(2);
//     }
//   }

//   .homepage-masthead__container {
//     display: block;
//     position: absolute;
//   }

//   .homepage-masthead__heading-container {
//     z-index: 2;
//     top: 0px;
//     position: absolute;
//     display: block;
//     text-align: center;
//     margin: auto;
//     width: 100%;
//     padding-top: 200px;

//     h2 {
//       display: block;
//     }
//   }

//   .homepage-masthead__container {
//     display: block;
//     top: 0px;
//     position: absolute;
//     margin-top: 0px;
//     padding-top: 0px;
//     height: 500px;
//   }

//   .homepage-masthead__button-container {
//     display: -ms-grid;
//     display: grid;
//     -webkit-box-pack: center;
//     -ms-flex-pack: center;
//     justify-content: center;
//     -ms-grid-columns: 1fr;
//     grid-template-columns: 1fr;

//     width: 100vw;
//     grid-gap: 12px;
//     display: grid;
//     justify-content: center;
//     position: absolute;
//     display: grid;
//     justify-content: center;
//     -ms-flex-line-pack: space-evenly;
//     align-content: space-evenly;
//     -webkit-box-align: center;
//     -ms-flex-align: center;
//     align-items: center;
//     height: 80vh;

//     position: relative;
//     height: auto;
//   }

//   a.button {
//     width: 300px;
//     margin-right: 12px;
//     margin-top: 12px;
//   }

//   div.homepage-masthead__button-container {
//     width: 100vw;
//     bottom: 0px;
//     position: relative;
//     display: inline-flex;
//     margin: 0 auto;
//     text-align: center;
//     margin-top: 500px;
//   }

//   div.homepage-masthead__buttons {
//     display: inline-flex;
//     justify-content: center;
//     max-width: 1120px;
//     flex-wrap: wrap;
//   }

//   .col-3 {
//     float: left;
//     width: 33.33%;
//   }

//   /* Clear floats after the columns */
//   .row:after {
//     content: "";
//     display: table;
//     clear: both;
//   }

//   // .homepage-masthead__photo-grid-container,
//   .homepage-masthead__photo-grid {
//     display: -ms-grid;
//     display: grid;
//     grid-gap: 12px;
//     -ms-grid-columns: 400px 200px 200px 200px;
//     grid-template-columns: 400px 200px 200px 200px;
//     -ms-grid-rows: 400px 200px 200px 200px;
//     grid-template-rows: 50px 50px;
//     background-color: #fff;
//     color: #444;
//   }

//   .col-4 {
//     float: left;
//     width: 2v(defaultPadding);
//   }

//   .ie__photo-grid {
//     .row {
//       max-width: 1130px;
//       margin: auto;
//     }
//   }
// }



.ie {
  .homepage-masthead {

    &__container {
      display: block;
      background-image: image-url("masthead-wave");
      background-position: bottom center;
      height: 600px;
      position: relative;
    }

    &__heading-container {
      h2 {
        display: block;
        text-align: center;
        font-family: $futura-condensed;
      }
    }

    &__button-container {}

    &__buttons {
      // display: -ms-grid;
      // -ms-grid-columns: 1fr 1fr 1fr;
      // -ms-grid-rows: 80px 80px;
      display: block;
      text-align: center;

      a,
      div {
        display: inline-block;
        padding: 15px;
        margin-right: 5px;

      }
    }

    &__photo-grid {
      display: block;
    }

    &__photo-grid-container {
      display: block;
    }

    &__photos {
      // display: -ms-grid;
      // -ms-grid-columns: 2fr 1fr 1fr 1fr;
      // -ms-grid-rows: 200px 200px 200px 200px;
      display: flex;
      position: relative;

      a,
      div {
        display: inline-block;
        background-image: image-url("masthead-wave");
        background-position: bottom center;
      }
    }


  }

  .ie__homepage-masthead__photos,
  .homepage-masthead__photos {
    display: -ms-grid;
    -ms-grid-columns: 400px 200px 200px 200px;
    -ms-grid-rows: 200px 200px;
    grid-gap: 12px;

    a {
      display: inline-block;
    }

    a,
    img {

      display: inline;

      &:first-child {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        -ms-grid-row-span: 2;
        margin-right: 12px;
      }

      &:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        -ms-grid-row-span: 1;
      }

      &:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 4;
        -ms-grid-column-span: 1;
        -ms-grid-row-span: 1;
      }

      &:nth-child(4) {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
        -ms-grid-column-span: 1;
        -ms-grid-row-span: 1;
      }

      &:nth-child(5) {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        -ms-grid-row-span: 1;
        margin-top: 12px;
      }

      &:nth-child(6) {
        -ms-grid-row: 2;
        -ms-grid-column: 4;
        -ms-grid-column-span: 1;
        -ms-grid-row-span: 1;
        margin-top: 12px;
      }

      &:nth-child(7) {
        -ms-grid-row: 2;
        -ms-grid-column: 5;
        -ms-grid-column-span: 1;
        -ms-grid-row-span: 1;
        margin-top: 12px;
      }
    }

    img+img {
      margin-right: 12px;
    }

    a+a {
      margin-right: 12px;
    }

  }



}