<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
		<title>
			<system-page-title/> | Chapman University
		
		</title>
		<system-page-meta-keywords/>
		<system-page-meta-description/>
		<system-page-meta-author/>
		<system-region name="OG_TAGS"/>
		<system-region name="META VIEWPORT"/>
		<!-- Jquery, Typekit, Common Assets -->
		<system-region name="TYPEKIT"/>
		<system-region name="JQUERY"/>
		<system-region name="CASCADE ASSETS"/>
		<!-- Analytics -->
		<system-region name="FB_JS_SDK"/>
		<system-region name="GOOGLE_ANALYTICS"/>
		<!-- Any Additional Head Code -->
		<system-region name="ADDITIONAL HEAD"/>
	</head>
	<!--[if gt IE 8]>
	<!-->
	<body>
		<!--
		
		<![endif]-->
		<system-region name="GOOGLE_TAG_MANAGER"/>
		<system-region name="PAGE WRAPPER OPEN"/>
		<system-region name="NO_SCRIPT"/>
		<system-region name="JUMP LINK"/>
		<div id="fb-root"></div>
		<div class="bigMasthead smallRotator" id="container">
			<header>
				<system-region name="OMNI-NAV"/>
				<system-region name="NAVIGATION"/>
			</header>
			<div id="main" role="main">
				<system-region name="MASTHEAD"/>
				<div class="subRotator">
					<div class="primaryContent clearfix threeColumns">
						<system-region name="MOBILE_NAV"/>
						<div class="breadcrumbs clearfix">
							<system-region name="BREADCRUMBS"/>
							<system-region name="SOCIAL_ACCOUNTS"/>
						</div>
						<div class="middleRightContainer">
							<div class="main">
								<!-- primary content no longer used but leave here until sure content is reassigned to default -->
								<system-region name="PRIMARY CONTENT"/>
								<!-- default region replaces primary content region -->
								<system-region name="DEFAULT"/>
							</div>
						</div>
						<div class="leftNav">
							<system-region name="LEFT NAV"/>
							<div class="leftNavSubContent">
								<system-region name="LEFT COLUMN CONTENT"/>
							</div>
						</div>
						<div class="rightColumn">
							<system-region name="RIGHT COLUMN CONTENT"/>
						</div>
					</div>
				</div>
			</div>
			<div class="footer__container">
				<system-region name="GLOBAL FOOTER"/>
			</div>
		</div>
		<!--! end of #container -->
		<system-region name="FEATURED NEWS EVENTS FEEDS"/>
		<!--[if lt IE 7 ]>
		<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
		<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
		<![endif]-->
		<system-region name="ADDITIONAL BODY AT-END"/>
		<system-region name="PAGE WRAPPER CLOSE"/>
	</body>
</html>