//used by main listing for faculty directory at /our-faculty (NOT the school/dept listing pages)
//
.searchResults {
  padding: 0 20px 20px 0;
  margin: 0 0 20px 0;

  .summary {
    border-bottom: 1px dotted $black;
    padding: 10px 0 0 0;
  }

  // end summary

  .result {
    .affiliation {
      margin-top: 8px
    }

    position: relative;
    padding: 16px 0;
    padding-left: 145px;
    height: auto;
    min-height: 170px;

    & h2.name {
      margin-bottom: 2px;
      margin-top: 0;
    }

    .image {
      position: absolute;
      top: 16px;
      left: 0;
      background: $white;
      max-width: 110px;
    }

    .name {
      font-size: 18px;
    }
  }

  // end result

  .pagingInfo {
    margin: 10px 0 0 0;
    padding-top: 10px;
    border-top: 1px dotted $black;

    .pagingNavigation {
      color: $cu-red;

      >span {
        &:first-child {
          border: none;
        }

        padding: 0 4px 0 4px;
        border-left: 1px solid $black;
        text-decoration: underline;
        cursor: hand;
        cursor: pointer;
      }

      @include bp(m) {
        float: right;
      }
    }
  }

  // end pagingInfo
}