.by-the-numbers-widget {
  color: white;
  background-color: #eeeeee;
  position: relative;
  height: 500px;
  font-size: 10px;
  text-align: center;
  

  @include bp(wildcard-max, 780px) {
    height: 550px;
  }

  @include bp(wildcard-max, 480px) {
    height: auto;
  }

  span, h2, p {
    font-family: "futura-pt-condensed", Arial, sans-serif;
    line-height: 1;
  }

  .by-the-numbers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $cu-red;
    font-size: 1em;
    height: 100%;

    .title {

      h2 {
        font-size: 5em;
        font-weight: 700;
        font-family: "futura-pt";
        color: $cu-red;
        margin: 0 0 0 0;

        @include bp(wildcard-max, 480px) {
          padding: 40px 0 0;
        }
      }

      img { display: none; }
    }

    .number-ranks {
      display: flex;
      justify-content: center;
      margin: 5em 0;
      width: 100%;

      // @include bp(wildcard-max, 1180px) {
      //   margin: 5em 0;
      // }

      @include bp(wildcard-max, 780px) {
        margin: 3em 0;
      }
  
      @include bp(wildcard-max, 480px) {
        flex-direction: column;
        justify-content: center;
        margin: 1em 0;
        height: 60%;
      }
  
      .rank {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        height: 100%;
        z-index: 10;

        .rank-values {
          display: flex;
          justify-content: center;
          
          span:nth-child(1) {
            font-size: 48px;
            font-weight: 700;
            padding: 10px 10px 0 0;
    
            @include bp(wildcard-max, 780px) {
              padding: 10px 0 0 0;
              font-size: 36px;
            }
          }
      
          span:nth-child(2) {
            font-size: 10.4em;
            font-weight: 700;
            padding: 0 16px 0 0;
    
            @include bp(wildcard-max, 780px) {
              font-size: 7.2em;
              padding: 0 8px 0 0;
  
              &.number { padding: 0; }
            }
  
            &.number { padding: 0; }
          }
      
          span:nth-child(3) {
            font-size: 4.8em;
            font-weight: 500;
            text-transform: uppercase;
            text-align: left;
            padding-top: 10px;
            max-width: 45%;
    
            @include bp(wildcard-max, 780px) {
              font-size: 3.6em;
            }
  
            &.text {
              font-size: 3em;
      
              @include bp(wildcard-max, 780px) {
                font-size: 1.8em;
              }
            }
          }
        }
  
        @include bp(wildcard-max, 480px) {
          width: 100%;
          margin: 2.5em 0;
        }
  
        
    
        .rank-description {
          font-size: 1.6em;
          color: $panther-black;
          font-family: "Arial";
          font-weight: normal;
          max-width: 75%;
  
          @include bp(wildcard-max, 780px) {
            font-size: 1.8em;
            padding-top: 5px;
          }
        }
      }
    }
  
    #numbers-button.theme-button {
      position: relative;
      width: 13em;
      font-size: 1.8em;
      font-weight: bold;
      background-color: $cu-red;
      z-index: 10;
  
      &:hover { background: $red-button-hover;}

      @include bp(wildcard-max, 480px) {
        margin: 0 0 2.8em;
      }
    }
  }
}

#theme.business .by-the-numbers-widget {
  background-color: $panther-black;

  @include bp(wildcard-max, 480px) {
    border-top: 1em solid $cu-red;
  }

  .by-the-numbers-container {
    color: white;

    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20%;
      width: 100%;

      h2 {
        display: inline-block;
        position: relative;
        margin: 0;
        font-size: 7.2em;
        font-weight: 500;
        font-family: "futura-pt-condensed";
        color: white;
        background-color: $panther-black;
        z-index: 10;
        padding: 0 20px 0 20px;

        @include bp(wildcard-max, 1180px) {
          font-size: 6em;
        }

        @include bp(wildcard-max, 780px) {
          font-size: 4.8em;
          padding: 0 10px 0 10px;
        }

        @include bp(wildcard-max, 480px) {
          padding: 15px 10px;
        }
      }
  
      img {
        display: block;
        height: 70em;
        width: 100%;
        position: absolute;
        top: -4em;
        right: 0;
        z-index: 0;

        @include bp(wildcard-max, 1180px) {
          top: -5em;
        }

        @include bp(wildcard-max, 780px) {
          top: 0em;
        }

        @include bp(wildcard-max, 480px) {
          display: none;
        }
      }
    }

    .number-ranks {
  
      .rank {
    
        .rank-description {
          font-size: 2.4em;
          font-family: "Minion Pro";
          font-weight: 400;
          color: white;
        }
      }
    }
  }
}

#theme.law .by-the-numbers-widget {
  background-color: rgba(221, 203, 164, .25%);

  .by-the-numbers-container {
    

    .title {
      width: 100%;

      h2 {
        width: 100%;
        color: $pillar;
        position: relative;
        text-align: center;
        display: table;
        white-space: nowrap;

        &:before, &:after {
          border-top: 2px solid $pillar;
          content: '';
          display: table-cell;
          position: relative;
          top: 0.5em;
          width: 45%;
        }
        &:before { right: 1.5%; }
        &:after { left: 1.5%; }

        @include bp(wildcard-max, 480px) {
          display: block;
          white-space: normal;
        }
      }

      img { display: none; }
    }

    .number-ranks {

      .rank {

        .rank-description {
          font-size: 2.1em;
          font-family: "Minion Pro";
          font-weight: 400;
          line-height: 1.2em;
        }
      }
    }
  }
}