#theme.business.business__grad .by-the-numbers-widget,
.law.grad .by-the-numbers-widget {
  color: white;
  background-color: $panther-black;
  position: relative;
  height: 600px;
  font-size: 10px;
  text-align: center;



  @include bp(wildcard-max, 1180px) {
    height: 500px;
  }

  @include bp(wildcard-max, 780px) {
    height: 400px;
  }

  @include bp(wildcard-max, 480px) {
    height: 75vh;
    border-top: 1em solid $cu-red;
  }

  span, h2 {
    font-family: "futura-pt-condensed", Arial, sans-serif;
    line-height: 1;
  }

  .by-the-numbers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1em;
    height: 100%;

    .title {

      h2 {
        display: inline-block;
        position: relative;
        margin: 0;
        font-size: 7.2em;
        font-weight: 500;
        background-color: $panther-black;
        z-index: 10;

        @include bp(wildcard-max, 1180px) {
          margin: .75em 0 0 0;
          font-size: 6em;
        }

        @include bp(wildcard-max, 780px) {
          margin: 0;
          font-size: 4.8em;
        }
      }
  
      img {
        height: 70em;
        width: 100%;
        position: absolute;
        top: -2.5em;
        right: 0;
        z-index: 0;

        @include bp(wildcard-max, 780px) {
          height: 43em;
          top: -1.5em;
        }

        @include bp(wildcard-max, 480px) {
          display: none;
        }
      }
    }
  }

  .number-ranks {
    display: flex;
    justify-content: center;

    @include bp(wildcard-max, 480px) {
      flex-direction: column;
      justify-content: space-evenly;
      height: 60%;
    }

    .rank {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      z-index: 10;
      width: 33%;

      @include bp(wildcard-max, 480px) {
        width: 100%;
      }
  
      span:nth-child(1) {
        flex: 0 0 20%;
        font-size: 10.4em;
        font-weight: 700;
        display: flex;
        align-items: flex-start;

        @include bp(wildcard-max, 780px) {
          font-size: 7.2em;
        }

        &:before {
          content: "#";
          font-size: 48px;
          font-weight: 700;
          padding: 10px 10px 0 0;

          @include bp(wildcard-max, 780px) {
            padding: 10px 0 0 0;
            font-size: 36px;
          }
        }
      }
  
      span:nth-child(2) {
        flex: 0 0 35%;
        font-size: 3em;
        font-weight: 500;
        text-transform: uppercase;
        text-align: left;
        padding-top: 10px;

        @include bp(wildcard-max, 780px) {
          font-size: 1.8em;
        }
      }
  
      span:nth-child(3) {
        flex: 0 0 50%;
        font-size: 2.4em;
        font-family: "Minion Pro";
        font-weight: 400;

        @include bp(wildcard-max, 780px) {
          flex: 0 0 70%;
          font-size: 1.8em;
        }
      }
    }
  }

  #numbers-button.theme-button {
    position: relative;
    width: 13em;
    font-size: 1.8em;
    font-weight: bold;
    background: $cu-red;
    z-index: 10;

    &:hover { background: $red-button-hover;}
  }
}

.law.grad .by-the-numbers-widget {
  background-color: rgba(221, 203, 164, .25%);

  .by-the-numbers-container {
    color: $cu-red;

    .title {

      h2 {
        display: table;
        white-space: nowrap;
        background-color: transparent;
        font-size: 3.6em;
        font-weight: 700;
        font-family: "futura-pt";
        color: $pillar;

        &:before, &:after {
          content: "";
          display: table-cell;
          position: relative;
          border-top: 2px solid $pillar;
          top: 0.5em;
          width: 45%;
          color: currentColor;
        }

        &:before { right: 1.5%; }
        &:after { left: 1.5%; }
      }

      img { display: none; }
    }

    .rank {
      justify-content: center;

      span:nth-child(1) {
        justify-content: flex-end;
        flex: 0 0 20%;

        &:before {
          content: "";
        }
      }

      span:nth-child(2) {
        font-size: 4.8em;
        flex: 0 0 10%;

        @include bp(wildcard-max, 780px) {
          font-size: 3.6em;
        }
      }

      span:nth-child(3) {
        flex: 0 0 75%;
        color: $panther-black;

        @include bp(wildcard-max, 780px) {
          flex: 0 0 80%;
          font-size: 1.8em;
          padding-top: 5px;
        }
      }
    }

    #numbers-button.theme-button {
      width: 25em;

      &:after { content: "";}
    }
  }
}