.googlemap #map {
    height: 100%;
}

.googlemap {
    width: 100%;
}

.googlemap {
    .map-container {
        position: relative;
        height: 500px;
        margin-top: 66px;
    }

    .map-container {
        iframe#map_frame {
            height: 500px;
        }


        .map-inner {
            height: 500px;
            // height: 100%;
            position: absolute;
        }

        .marker-icon {
            position: absolute;
            top: -10px;
            left: 50%;
            top: 0;
            transform: translate(-50%, -50%);
        }

        i.fas.marker-icon {
            display: inline-block;
            border-radius: 60px;
            box-shadow: 0px 0px 2px #888;
            padding: 0.5em 0.6em;
            background-color: $cardinal;
            color: $white;
            font-size: 1.5em;
        }

        .theme-button i.fas {
            font-size: 1.2em;
            margin-left: 6px;
        }

        .theme-button:after {
            display: none;
        }

        .box {
            background-color: rgba($white, .9);
            width: 480px;
            max-width: 480px;
            position: absolute;
            height: 100%;
            z-index: 1;
        }

        .box-inner {
            position: relative;
            // top: 50%;
            // transform: translateY(-50%);
            display: block;
            margin: auto;
            text-align: center;
            padding: 50px;
            height: 100%;
        }

        .box-header {
            font-family: $futura-regular;
            font-weight: 700;
            font-size: 24px;
            color: $cardinal;
            text-transform: capitalize;
        }

        .address-wrapper {
            margin-top: 65px;
            font-family: $futura-regular;
            font-weight: 400;
            font-size: 18px;
            color: $black;
            border: 2px solid $cardinal;
            height: 125px;
            position: relative;
        }

        .address-inner {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            margin: auto;
            text-align: center;
            margin-bottom: 125px;
        }

        a.address-inner {
            color: $panther-black;
            text-transform: capitalize;
        }

        .theme-button {
            border-radius: 0;
            display: block !important;
            margin-bottom: 12px;
            text-transform: capitalize;
        }

        .red-button,
        .theme-button {
            font-family: $futura-regular;
            font-weight: 400;
            font-size: 16px;
            color: $white;
            background-color: $cardinal;
            margin-top: 12px;
            display: block !important;
        }

        div#map-bar {
            left: unset;
            right: 0;
            float: right;
            position: relative;
        }

        .leaflet-control-attribution.leaflet-control {
            display: none !important;
        }

        div#map-buttons,
        #map-buttons {
            display: none;
        }

        a.address-inner {
            border-bottom: none !important;
        }

        .link-underline {
            border-bottom: 1px dotted #a50034;
        }

        @media screen and (max-width: 1480px) {}

        @media screen and (max-width: 1480px) {}

        @media screen and (max-width: 1480px) {}

        @media screen and (max-width: 780px) {

            .box {
                background-color: rgba($white, .9);
                width: 100vw;
                max-width: 100vw;
                position: relative;
                height: 500px;
            }

            iframe#map_frame {
                width: 100%;
                margin-left: 0 !important;
            }

            .gm-style-mtc,
            button.gm-control-active.gm-fullscreen-control,
            .gm-svpc,
            .gmnoprint {
                display: none;
            }
        }
    }

    // remove this 
    .form-group-collapsible-header {
        background-color: $cardinal !important;
        color: white;
    }
}