#theme.law,
#theme.subbrand__law {
    .image-slider-wrapper {
        .content-container-slider {
            background-color: $white-alpha;
        }

        h1.headline,
        p.description {
            color: black;
        }

        @media screen and (max-width: 480px) {
            .content-container-slider {
                background-color: $sand;
            }
        }
    }
}