.multi-image-content-blocks-widget {
  font-size: 10px;
  width: 100%;
  background-color: white;
  margin: auto;

  .multi-image-content-blocks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 125em;
    font-size: 1em;
    margin: auto;

    .multi-image-content-heading {
      flex-basis: 100%;
      width: 100%;
      margin: 4em 0 2em 0;
      font-size: 3em;
      font-weight: 700;
      text-align: center;
    }
  
    .photoCallout {
      margin: 0 2em 4em 2em;
      justify-content: center;
      display: inline-block;
      border-bottom: none;
      transition: all .4s;
  
      border-bottom: none;

      &:hover {

        .heading {
          color: #a50034;
          text-decoration: underline;
        }
      }
  
      &:focus { border: 1px dotted white;}
  
      &:hover { 
        img {opacity: 0.7;}
      }
  
      img {
        height: 17.4em;
        width: 26em;
      }

      .heading {
        max-width: 13em;
        margin: auto;
        padding-top: 1em;
        font-size: 1.8em;
        font-weight: 600;
        font-family: $futura-regular;
        color: $black;
        text-transform: uppercase;
        text-align: center;
      }
    }
  }
}