.multi-image-content-blocks-widget {
  font-size: 10px;
  width: 100%;
  background-color: white;
  margin: auto;

  .multi-image-content-blocks-container.Circle {
    .photoCallout {
      img {
        border-radius: 50%;
        height: 26em;
        width: 26em;
      }
    }
  }

  .multi-image-content-blocks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 125em;
    font-size: 1em;
    margin: auto;

    .multi-image-content-heading {
      flex-basis: 100%;
      width: 100%;
      margin: 45px 0 45px 0;
      font-size: 3em;
      font-weight: 700;
      text-align: center;
    }

    .photoCallout {
      margin: 0 2em 4em 2em;
      justify-content: center;
      display: inline-block;
      border-bottom: none;
      transition: all .4s;

      border-bottom: none;

      &:hover {

        .heading {
          color: $cu-link-hover;
        }
      }

      &:focus {
        border: 1px dotted white;
      }

      &:hover {
        img {
          opacity: 0.7;
        }
      }

      img {
        height: 17.4em;
        width: 26em;
      }

      .heading {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 13em;
        margin: auto;
        padding-top: 1em;
        font-size: 1.8em;
        font-weight: 600;
        font-family: $futura-regular;
        color: $cu-red;
        text-transform: uppercase;
        text-align: center;

        &::after {
          content: "»";
          padding: 0 0 3px 3px;
        }
      }
    }
  }
}