<div class="image-slider-wrapper">
  <div class="image-slider">
    <div class="item">
      <div class="clearfix">
        <div class="container">
          <ul class="gallery list-unstyled cS-hidden widget-slides">
            <li>
            <div class="image-wrapper">
              <img src="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b7365f219b9100828e3a12a/01832336950a22029a259140af7490ce/law-background-image.jpg"/>
             </div>
              <div class="content-container-slider">
                <div class="content-text">
                  <h1 class="headline">Too Much Text</h1>
                  <p class="description line-clamp">However, you may forget that </p>
                  <a href="#" class="theme-button theme-button ">Schedule a Tour</a>
                </div>
            </li>

            <li>
            <div class="image-wrapper">
              <img src="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b7365f219b9100828e3a12a/01832336950a22029a259140af7490ce/law-background-image.jpg"/>
             </div>
              <div class="content-container-slider">
                <div class="content-text">
                  <h1 class="headline">Too Much Text</h1>
                  <p class="description line-clamp">However, you may forget that </p>
                  <a href="#" class="theme-button theme-button ">Schedule a Tour</a>
                </div>
            </li>
            <li data-thumb="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b736796f7bdcd8cc8dd0c0b/58170e214301e719c20c4a22f1616425/Chapman3_18Law-47.jpg">
              <img src="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b736796f7bdcd8cc8dd0c0b/58170e214301e719c20c4a22f1616425/Chapman3_18Law-47.jpg" />
              <div class="content-container-slider">
                <div class="content-text">
                  <h1 class="headline">1st Widget - lorem ipsum yesterday</h1>
                  <p class="description">retro biodiesel trust fund Brooklyn brunch normcore locavore crucifix forage
                    deep</p>
                  <a href="#" class="theme-button ">Schedule a Tour</a>
                </div>
              </div>
            </li>
          </ul
          </div>
        </div>
    </div>
  </div>
</div>

<h2>second slider</h2>
<div class="image-slider-wrapper">
  <div class="image-slider">
    <div class="item">
      <div class="clearfix">
        <div class="container">
          <ul class="gallery list-unstyled cS-hidden widget-slides">
            <li>
              <img src="http://wallpapercave.com/wp/EBYJWD8.jpg" />
              <div class="content-container-slider">
                <div class="content-text">
                  <h1 class="headline">2nd Widget - This is the second slider</h1>
                  <p class="description">retro biodiesel trust fund Brooklyn brunch normcore locavore crucifix forage
                    deep</p>
                  <a href="#" class="theme-button ">Schedule a Tour</a>
                </div>
            </li>
            <li data-thumb="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b736796f7bdcd8cc8dd0c0b/58170e214301e719c20c4a22f1616425/Chapman3_18Law-47.jpg">
              <img src="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b736796f7bdcd8cc8dd0c0b/58170e214301e719c20c4a22f1616425/Chapman3_18Law-47.jpg" />
              <div class="content-container-slider">
                <div class="content-text">
                  <h1 class="headline">2nd Widget - lorem ipsum yesterday</h1>
                  <p class="description">retro biodiesel trust fund Brooklyn brunch normcore locavore crucifix forage
                    deep</p>
                  <a href="#" class="theme-button ">Schedule a Tour</a>
                </div>
              </div>
            </li>
            <li data-thumb="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b736796f7bdcd8cc8dd0c0b/c5831869f98cd4200f6857b088f85a00/Chapman3_18Business-56.jpg">
              <img src="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b736796f7bdcd8cc8dd0c0b/c5831869f98cd4200f6857b088f85a00/Chapman3_18Business-56.jpg" />
              <div class="content-container-slider">
                <h1 class="headline">2nd Widget -  lorem ipsum now</h1>
                <p class="description">retro biodiesel trust fund Brooklyn brunch normcore locavore crucifix forage
                  deep</p>
                <a href="#" class="theme-button ">Schedule a Tour</a>
              </div>
            </li>
            <li data-thumb="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b736796f7bdcd8cc8dd0c0b/c5831869f98cd4200f6857b088f85a00/Chapman3_18Business-56.jpg">
              <img src="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b736796f7bdcd8cc8dd0c0b/c5831869f98cd4200f6857b088f85a00/Chapman3_18Business-56.jpg" />
            </li>
            <li data-thumb="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b736796f7bdcd8cc8dd0c0b/c5831869f98cd4200f6857b088f85a00/Chapman3_18Business-56.jpg">
              <img src="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b736796f7bdcd8cc8dd0c0b/c5831869f98cd4200f6857b088f85a00/Chapman3_18Business-56.jpg" />
            </li>
          </ul
          </div>
        </div>
    </div>
  </div>
</div>
