<div class="image-slider-wrapper">
  <div class="image-slider">
    <div class="item">
      <!-- <div class="clearfix"> -->
      <div class="container">
        <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
          <li>
            <img src="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b736796f7bdcd8cc8dd0c0b/c5831869f98cd4200f6857b088f85a00/Chapman3_18Business-56.jpg" />

            <div class="content-container">
              <div class="content-text">
                <h1 class="headline">Schedule a Visit Today</h1>
                <p class="description line-clamp">Godard cliche Helvetica raw denim tousled stumptown kogi Tumblr craft beer blog mlkshk deep v cray Bushwick Echo Park selvage ugh occupy sustainable keytar umami Shoreditch Williamsburg Pinterest Tonx Marfa forage Austin pour-over gluten-free polaroid heirloom authentic mustache kitsch 8-bit PBR tote bag fap try-hard hoodie skateboard Vice hella mixtape organic sriracha Wes Anderson fingerstache yr mumblecore keffiyeh pickled paleo iPhone tofu narwhal swag vegan beard photo booth tattooed gastropub sartorial selfies Pitchfork readymade chillwave you probably haven't heard of them art party disrupt dreamcatcher jean shorts salvia butcher McSweeney's next level banh mi biodiesel shabby chic normcore semiotics Intelligentsia fanny pack freegan Blue Bottle plaid drinking vinegar small batch 90's locavore crucifix twee squid flannel farm-to-table Portland street art literally pork belly distillery Odd Future chambray before they sold out scenester bitters Carles Brooklyn lo-fi quinoa food truck Truffaut post-ironic High Life vinyl brunch roof party meggings hashtag asymmetrical cardigan bespoke synth chia PBR&B actually lomo XOXO bicycle rights ethical kale chips Cosby sweater 3 wolf moon banjo pug cornhole fashion axe ennui viral American Apparel DIY whatever single-origin coffee fixie trust fund +1 meh Neutra leggings gentrify cred Thundercats direct trade  put a bird on it letterpress VHS wolf Etsy irony slow-carb YOLO Kickstarter four loko retro pop-up master cleanse messenger bag flexitarian aesthetic Schlitz Banksy typewriter artisan wayfarers seitan church-key</p>
                <a href="#" class="button red smc-cta ">Schedule a Tour</a>
              </div>

          </li>
          <li data-thumb="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b736796f7bdcd8cc8dd0c0b/58170e214301e719c20c4a22f1616425/Chapman3_18Law-47.jpg">
            <img src="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b736796f7bdcd8cc8dd0c0b/58170e214301e719c20c4a22f1616425/Chapman3_18Law-47.jpg" />
            <div class="content-container">
              <div class="content-text">
                <h1 class="headline">this is a headline</h1>
                <p class="description line-clamp">retro biodiesel trust fund Brooklyn brunch normcore locavore crucifix forage
                  deep</p>
                <a href="#" class="button red smc-cta ">Schedule a Tour</a>
              </div>
            </div>
          </li>
          <li data-thumb="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b736796f7bdcd8cc8dd0c0b/c5831869f98cd4200f6857b088f85a00/Chapman3_18Business-56.jpg">
            <img src="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b736796f7bdcd8cc8dd0c0b/c5831869f98cd4200f6857b088f85a00/Chapman3_18Business-56.jpg" />
            <div class="content-container">
              <div class="content-text">
                <h1 class="headline">this is a headline</h1>
                <p class="description line-clamp">retro biodiesel trust fund Brooklyn brunch normcore locavore crucifix forage
                  deep</p>
                <a href="#" class="button red smc-cta ">Schedule a Tour</a>
              </div>
            </div>
          </li>
          <li data-thumb="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b736796f7bdcd8cc8dd0c0b/c5831869f98cd4200f6857b088f85a00/Chapman3_18Business-56.jpg">
            <img src="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b736796f7bdcd8cc8dd0c0b/c5831869f98cd4200f6857b088f85a00/Chapman3_18Business-56.jpg" />
          </li>
          <li data-thumb="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b736796f7bdcd8cc8dd0c0b/c5831869f98cd4200f6857b088f85a00/Chapman3_18Business-56.jpg">
            <img src="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b736796f7bdcd8cc8dd0c0b/c5831869f98cd4200f6857b088f85a00/Chapman3_18Business-56.jpg" />
          </li>
        </ul>
        <!-- <div class="foreground">
          <div class="content-box">
            <div class="text-wrapper">
              <h1 class="headline">Schedule a Visit Today</h1>
              <p class="description line-clamp">retro biodiesel trust fund Brooklyn brunch normcore locavore crucifix forage deep
                v sartorial
                church-key
                distillery flexitarian</p>
              <a href="#" class="button red smc-cta ">Schedule a Tour</a>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
