<div class="image-slider-wrapper">
  <div class="image-slider">
    <div class="item">
      <!-- <div class="clearfix"> -->
      <div class="container">
        <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
          <li>
          <li data-thumb="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b736796f7bdcd8cc8dd0c0b/58170e214301e719c20c4a22f1616425/Chapman3_18Law-47.jpg"></li>
          <img src="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b736796f7bdcd8cc8dd0c0b/c5831869f98cd4200f6857b088f85a00/Chapman3_18Business-56.jpg" />
          <div class="content-container">
            <div class="content-text">
              <h1 class="headline">Schedule a Visit Today</h1>
              <p class="description">retro biodiesel trust fund Brooklyn brunch normcore locavore crucifix forage
                deep</p>
              <a href="#" class="button red smc-cta ">Schedule a Tour</a>
            </div>

            </li>
            <li data-thumb="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b736796f7bdcd8cc8dd0c0b/58170e214301e719c20c4a22f1616425/Chapman3_18Law-47.jpg">
              <img src="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b736796f7bdcd8cc8dd0c0b/58170e214301e719c20c4a22f1616425/Chapman3_18Law-47.jpg" />
              <div class="content-container">
                <div class="content-text">
                  <h1 class="headline">this is a headline</h1>
                  <p class="description">retro biodiesel trust fund Brooklyn brunch normcore locavore crucifix forage
                    deep</p>
                  <a href="#" class="button red smc-cta ">Schedule a Tour</a>
                </div>
              </div>
            </li>
            <li data-thumb="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b736796f7bdcd8cc8dd0c0b/c5831869f98cd4200f6857b088f85a00/Chapman3_18Business-56.jpg">
              <img src="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b736796f7bdcd8cc8dd0c0b/c5831869f98cd4200f6857b088f85a00/Chapman3_18Business-56.jpg" />
              <div class="content-container">
                <h1 class="headline">testing testing</h1>
                <p class="description">retro biodiesel trust fund Brooklyn brunch normcore locavore crucifix forage
                  deep</p>
                <a href="#" class="button red smc-cta ">Schedule a Tour</a>
              </div>
            </li>
            <li data-thumb="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b736796f7bdcd8cc8dd0c0b/c5831869f98cd4200f6857b088f85a00/Chapman3_18Business-56.jpg">
              <img src="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b736796f7bdcd8cc8dd0c0b/c5831869f98cd4200f6857b088f85a00/Chapman3_18Business-56.jpg" />
            </li>
            <li data-thumb="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b736796f7bdcd8cc8dd0c0b/c5831869f98cd4200f6857b088f85a00/Chapman3_18Business-56.jpg">
              <img src="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b736796f7bdcd8cc8dd0c0b/c5831869f98cd4200f6857b088f85a00/Chapman3_18Business-56.jpg" />
            </li>
        </ul>
        <!-- <div class="foreground">
          <div class="content-box">
            <div class="text-wrapper">
              <h1 class="headline">Schedule a Visit Today</h1>
              <p class="description">retro biodiesel trust fund Brooklyn brunch normcore locavore crucifix forage deep
                v sartorial
                church-key
                distillery flexitarian</p>
              <a href="#" class="button red smc-cta ">Schedule a Tour</a>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
