<section id="featured_newsroom_stories" class="editors-picks stories section" aria-label="Featured Stories">
  <div class="maxWidth">
      <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    <div class="announcement  news-loading">
      <div class="imagerotator"><img alt="Cathery Yeh Sitting at Desk Smiling"  src="https://www.chapman.edu/_files/img/homepage-news-stories-images/changing-math-for-good.jpg" />
      </div>
      <div class="details"><a class="tag" href="https://news.chapman.edu/category/research/">#Research</a>
        <h2 class="title"><a class="smc-cta" data-cta-label="Changing Math For Good" data-cta-id="Top Story" href="https://news.chapman.edu/2019/05/16/changing-math-for-good/">Changing Math For Good</a>
        </h2>
        <p class="source blogname"><a href="https://news.chapman.edu">Newsroom</a></p>
        <p id="featured-description">Cathery Yeh’s excitement is palpable as she addresses the room full of K-12 educators at the Better Together: California Teachers Summit.
        “We need to move away from fi xing students to fixing the environment,” Yeh says. “We should be designing math classrooms with the idea that there is no norm. 
        You’re going to have a diverse group. And what we know is that diversity is beautiful.”...</p>
      </div>
    </div>
    <div class="third news-loading">
      <article class="story story-1" aria-label="Alumni in the Outfield"><a class="tag" id="story-1"
          href="https://news.chapman.edu/category/alumni/">#Alumni</a><a class="permalink smc-cta"
          data-cta-id="Trending Story 1" data-cta-label="Alumni in the Outfield" href="https://news.chapman.edu/2019/02/05/alumni-in-the-outfield/">
          <h2 class="title">Alumni in the Outfield</h2>
          <div class="story-bg" aria-label="Angel Stadium, Nicole 1" role="img" style="background-image:url(https://www.chapman.edu/_files/img/homepage-news-stories-images/alumni-in-the-outfield.jpg)">
            <img alt="Angel Stadium, Nicole 1" src="https://www.chapman.edu/_files/img/homepage-news-stories-images/alumni-in-the-outfield.jpg" /></div>
        </a>
        <div class="story_footer">
          <p class="source"><a href="https://news.chapman.edu">Newsroom</a></p>
        </footer>
      </article>
    </div>
    <div class="third news-loading">
      <article class="story story-2" aria-label="The Science of Shelf Life"><a class="tag" id="story-2"
          href="https://news.chapman.edu/category/editors-picks">#Editor-picks</a><a class="permalink smc-cta"
          data-cta-id="Trending Story 2" data-cta-label="The Science of Shelf Life" href="https://news.chapman.edu/2019/05/07/the-science-of-shelf-life/">
          <h2 class="title">The Science of Shelf Life.</h2>
          <div class="story-bg" aria-label="food scientist" role="img" style="background-image:url(https://www.chapman.edu/_files/img/homepage-news-stories-images/the-science-of-shelf-life.jpg)">
            <img alt="food scientist" src="https://www.chapman.edu/_files/img/homepage-news-stories-images/the-science-of-shelf-life.jpg" /></div>
        </a>
        <div class="story_footer">
          <p class="source"><a href="https://news.chapman.edu">Newsroom</a></p>
        </footer>
      </article>
    </div>
    <div class="third news-loading">
      <article class="story story-3" aria-label=""><a class="tag" id="story-3"
          href="https://news.chapman.edu/category/arts-film">#Arts and Entertainment</a><a class="permalink smc-cta"
          data-cta-id="Trending Story 3" data-cta-label="Appalachian  Awakening" href="https://news.chapman.edu/2018/10/09/appalachian-awakening/">
          <h2 class="title">Appalachian  Awakening</h2>
          <div class="story-bg" aria-label="Sally with students" role="img" style="background-image:url(https://www.chapman.edu/_files/img/homepage-news-stories-images/appalachian-awakening.jpg)">
            <img alt="Sally with students" src="https://www.chapman.edu/_files/img/homepage-news-stories-images/appalachian-awakening.jpg" />
          </div>
        </a>
        <div class="story_footer">
          <p class="source"><a href="https://news.chapman.edu">Newsroom</a></p>
        </footer>
      </article>
    </div>
    <div class="actions">
      <a href="https://events.chapman.edu/" class="button smc-cta">Learn More</a>
      <a href="https://news.chapman.edu/" class="button red smc-cta">Read More News and Stories</a>
    </div>
  </div>
</section>