<% # These import statements below don't do anything. They just mirror what's in Cascade. %>
<% #import( "/_cascade/formats/helpers.velocity" ) %>
<% #import( "/_cascade/formats/modular/mastheads/side_panel_hero" ) %>
<% mastheadType = current_page.get_child_value(:masthead_type) %>
	<div class="masthead">
		<div class="masthead-primary">
			<div class="masthead-primary-a">
				<h2 class="subhead">Chapman University</h2>
				<h3 class="title"> Argyros School of Business & Economics</h3>
				<a href="#" class="theme-bg-color theme-button">Explore  </a>
				<a href="#" class="theme-bg-color theme-button">Apply Now</a>
				<div class="dropdown">
					<div class="dropbtn">Degrees & Programs <span class="select-arrow"></span></div>
					<div class="dropdown-content">
						<a href="#">Link 1</a>
						<a href="#">Link 2</a>
						<a href="#">Link 3</a>
					</div>
				</div>
				
			</div>
		</div>
	</div>