<div class="callout-box-widget--left callout callout-box-widget--sand">
  <div class="preheader">Preheader</div>
  <h2>Headline: Left Column CalloutBox Widget</h2>
  <hr>
  <div class="editableContent">
    <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed elit diam. Integer sit amet suscipit
        dolor. Nulla vitae accumsan risus. Pellentesque accumsan lorem at facilisis condimentum.&nbsp;</span></p>
  </div>
  <ul class="buttonLinks">
    <li>
      <a href="../erica-deguzman/2-column-template.aspx">2 Column Template</a>
    </li>
    <li>
      <a href="../erica-deguzman/index.aspx">1 Column Template</a>
    </li>
  </ul>
</div>
