<!-- app/views/widgets/left_column/_callout_2.html -->
<div class="callout-box-widget callout-box-widget--left callout callout-box-widget--grey">
  <hr>
  <div class="editableContent">
    <h3 class="p1"><strong><img alt="Cat" src="http://placekitten.com/200/300"
          style="display: block; margin-left: auto; margin-right: auto;" width="170" height="230"></strong></h3>
    <h3 class="p1"><strong>Letter from the President</strong></h3>
    <p class="p1">There is something special about Chapman University. Something that brings us all here. To a place
      where we rise to the world’s challenges and make an impact.</p>
    <p class="p1">This institution has grown in so many ways and continues on a trajectory unlike any other in the
      country. We have...</p>
    <p class="p1"><strong><a href="letter-from-the-president.aspx">Read Full Letter</a></strong></p>
  </div>
  <ul class="buttonLinks">
  </ul>
</div>

<div class="callout-box-widget--left callout callout-box-widget--sand">
  <div class="preheader">Preheader</div>
  <h2>Headline: Left Column CalloutBox Widget</h2>
  <hr>
  <div class="editableContent">
    <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed elit diam. Integer sit amet suscipit
        dolor. Nulla vitae accumsan risus. Pellentesque accumsan lorem at facilisis condimentum.&nbsp;</span></p>
  </div>
  <ul class="buttonLinks">
    <li>
      <a href="../erica-deguzman/2-column-template.aspx">2 Column Template</a>
    </li>
    <li>
      <a href="../erica-deguzman/index.aspx">1 Column Template</a>
    </li>
  </ul>
</div>