<div class="callout-box-widget--left callout callout-box-widget--red">


  <div class="editableContent">
    
    <div class="preheader">preheader</div>
    <h2>Left Column Call Out</h2>

    <hr>
    
    <div>
      <span>
        Our guest this week is David Heinemeier Hansson, aka DHH. He joins us to talk
        through the past, present, and future of <a href="#">Ruby on Rails</a> &#8212; the most beloved web application
        framework in the Ruby community.
      </span>
    </div>
    
    <ul class="buttonLinks">
      <li><a href="http://thechangelog.com/145/">Call To Action Button</a>
      </li>
      <li><a href="http://thechangelog.com/145/">Call To Action Button</a>
      </li>
    </ul>
    
  </div>

</div>

<div class="callout-box-widget--left callout callout-box-widget--black">


  <div class="editableContent">
    
    <div class="preheader">preheader</div>
    <h2>Left Column Call Out</h2>

    <hr>
    
    <div>
    <p>
      Our guest this week is David Heinemeier Hansson, aka DHH. He joins us to talk
      through the past, present, and future of <a href="#">Ruby on Rails</a> &#8212; the most beloved web application
      framework in the Ruby community.
    </p>
    </div>
    
    <ul class="buttonLinks">
      <li><a href="http://thechangelog.com/145/">Call To Action Button</a>
      </li>
      <li><a href="http://thechangelog.com/145/">Call To Action Button</a>
      </li>
    </ul>
  </div>

</div>


<div class="callout-box-widget--left callout callout-box-widget--grey">


  <div class="editableContent">
    
    <div class="preheader">preheader</div>
    <h2>Left Column Call Out</h2>

    <hr>
    
    <div>
    <pre>
      Our guest this week is David Heinemeier Hansson, aka DHH. He joins us to talk
      through the past, present, and future of <a href="#">Ruby on Rails</a> &#8212; the most beloved web application
      framework in the Ruby community.
    </pre>
    </div>
    
    
    <ul class="buttonLinks">
      <li><a href="http://thechangelog.com/145/">Call To Action Button</a>
      </li>
      <li><a href="http://thechangelog.com/145/">Call To Action Button</a>
      </li>
    </ul>
  </div>

</div>


<div class="callout-box-widget--left callout callout-box-widget--sand">


  <div class="editableContent">
    
    <div class="preheader">preheader</div>
    <h2>Left Column Call Out</h2>

    <hr>
    
    <div>
      Our guest this week is David Heinemeier Hansson, aka DHH. He joins us to talk
      through the past, present, and future of <a href="#">Ruby on Rails</a> &#8212; the most beloved web application
      framework in the Ruby community.
    </div>
    
    <ul class="buttonLinks">
      <li><a href="http://thechangelog.com/145/">Call To Action Button</a>
      </li>
      <li><a href="http://thechangelog.com/145/">Call To Action Button</a>
      </li>
    </ul>
  </div>

</div>


<div class="callout-box-widget--left callout callout-box-widget--white">


  <div class="editableContent">

    <div>
    <span>
      Our guest this week is David Heinemeier Hansson, aka DHH. He joins us to talk
      through the past, present, and future of <a href="#">Ruby on Rails</a> &#8212; the most beloved web application
      framework in the Ruby community.
    </span>
    </div>
    
    <ul class="buttonLinks">
      <li><a href="http://thechangelog.com/145/">Call To Action Button</a>
      </li>
      <li><a href="http://thechangelog.com/145/">Call To Action Button</a>
      </li>
    </ul>
  </div>

</div>