<div class="calls-to-action-widget newbutton">
  <ul>
                                                      <li><a href="2-3-column-modular-resources.aspx">Internal Link</a></li>
                                                                  <li><a href="https://en.wikipedia.org/wiki/Giraffe">External Link</a></li>
                                                                  <li><a href="../../../../crean/_files/funnels/one-up-funnel-images/comm-disorders.jpg">File Link</a></li>
                      </ul>
</div>