<div class="widget widget--grey contact-profile-widget">
  <div class="faux-h2 widget__heading contact-profile-widget__heading">
    Meet Your Advisor
  </div>
  <div class="widget__img contact-profile-widget__img"
    style="width: ${_EscapeTool.xml($imgSize)}; height: ${_EscapeTool.xml($imgSize)}; ">
    <img class="img img--circle contact-profile-widget__img" alt="ross" src="http://placekitten.com/200/300">
  </div>
  <div class="widget__name contact-profile-widget__name">
    Ross
  </div>
  <div class="widget__subheading contact-profile-widget__dept">
    SMC
  </div>
  <div class="widget__phone-number contact-profile-widget__phone">
    <a href="tel:555-555-5555">555-555-5555</a>
  </div>
  <div class="widget__email-address contact-profile-widget__email">
    <a href="mail:ross@uni.edu">ross@uni.edu</a>
  </div>
</div>