  <div id="left-column-navigation" class="left-nav-drilldown">
    <ul class="root-left-nav">
      <li class="drill-down-list-item"><a href="../index.aspx">School of Communication - Home</a></li>
      <li class="drill-down-list-item"><a href="../message-from-the-dean.aspx">Message From the Dean</a></li>
      <li class="drill-down-list-item"><a href="../groups-organizations.aspx">Groups and Organizations</a></li>
      <li class="drill-down-list-item"><a href="../contact-us.aspx">Contact Us</a></li>
      <li class="drill-down-list-item">
        <span class="drill-down-parent">Academic Programs</span>
        <span class="toggle-drilldown"><span class="fas fa-chevron-right"></span></span>
        <ul class="drilldown-menu">
          <li class="menu-back"><span class="fas fa-chevron-left"></span>Academic Programs - Menu</li>
          <li class="drill-down-list-item current"><a href="index.aspx">Academic Programs</a></li>
          <li class="drill-down-list-item"><a href="strategic-corporate-communication.aspx">BA in Strategic &amp;
              Corporate Communication</a></li>
          <li class="drill-down-list-item"><a href="health-strategic-communication.aspx">MS in Health &amp; Strategic
              Communication</a></li>
          <li class="drill-down-list-item"><a href="communication-studies.aspx">B.A. in Communication Studies</a></li>
          <li class="drill-down-list-item"><a href="4-1-health-strategic-communication.aspx">4 + 1 Integrated
              Undergraduate/Masters of Health and Strategic Communication</a></li>
          <li class="drill-down-list-item"><a href="change-of-major-application-form.aspx">Apply to Change Your
              Major/Minor</a></li>
          <li class="drill-down-list-item"><a href="change-of-major-application-form-thank-you.aspx">Thank You for
              Change Your Major/Minor Application Form</a></li>
          <li class="drill-down-list-item">
            <span class="drill-down-parent">Drill Down Test</span>
            <span class="toggle-drilldown"><span class="fas fa-chevron-right"></span></span>
            <ul class="drilldown-menu">
              <li class="menu-back"><span class="fas fa-chevron-left"></span>Drill Down Test - Menu</li>
              <li class="drill-down-list-item"><a
                  href="drilldown-test/change-of-major-application-form-thank-you.aspx">Thank You for Change Your
                  Major/Minor Application Form Omniv-Nav V3</a></li>
              <li class="drill-down-list-item"><a href="drilldown-test/index.aspx">Academic Programs Drill Down</a></li>
              <li class="drill-down-list-item">
                <span class="drill-down-parent">Drill Down Test Second</span>
                <span class="toggle-drilldown"><span class="fas fa-chevron-right"></span></span>
                <ul class="drilldown-menu">
                  <li class="menu-back"><span class="fas fa-chevron-left"></span>Drill Down Test Second - Menu</li>
                  <li class="drill-down-list-item"><a href="drilldown-test/drilldown-test-second/index.aspx">Crean
                      College of Health and Behavioral Sciences Drilldown Second</a></li>
                  <li class="drill-down-list-item"><a
                      href="drilldown-test/drilldown-test-second/faculty-student-research.aspx">Faculty and Student
                      Research Drilldown Second</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="drill-down-list-item"><a href="../faculty-directory.aspx">Faculty Directory</a></li>
      <li class="drill-down-list-item"><a href="../research-publications.aspx">Research and Publications</a></li>
      <li class="drill-down-list-item"><a href="../about.aspx">About the School of Communication</a></li>
      <li class="drill-down-list-item"><a href="../nick_omni_nav_v3_secondary_logo.aspx">School of Communication</a>
      </li>
      <li class="drill-down-list-item"><a href="../omni_nav_v3_secondary_logo_chris.aspx">School of Communication Chris
          Omni Nav V3</a></li>
      <li class="drill-down-list-item"><a href="../nick_omni_nav_v3_contextual-menu-toggle.aspx">School of
          Communication</a></li>
      <li class="drill-down-list-item">
        <span class="drill-down-parent">Drill Down Other</span>
        <span class="toggle-drilldown"><span class="fas fa-chevron-right"></span></span>
        <ul class="drilldown-menu">
          <li class="menu-back"><span class="fas fa-chevron-left"></span>Drill Down Other - Menu</li>
          <li class="drill-down-list-item"><a href="../drilldown-other/index.aspx">School of Communication</a></li>
          <li class="drill-down-list-item"><a href="../drilldown-other/faculty-directory-drilldown.aspx">Faculty
              Directory Other Drilldown</a></li>
          <li class="drill-down-list-item">
            <span class="drill-down-parent">Drill Down Other Second</span>
            <span class="toggle-drilldown"><span class="fas fa-chevron-right"></span></span>
            <ul class="drilldown-menu">
              <li class="menu-back"><span class="fas fa-chevron-left"></span>Drill Down Other Second - Menu</li>
              <li class="drill-down-list-item"><a href="../drilldown-other/drilldown-other-second/index.aspx">School of
                  Communication</a></li>
              <li class="drill-down-list-item"><a href="../drilldown-other/drilldown-other-second/support.aspx">Support
                  the School of Communication Drilldown other second</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="leftNavSubContent">








  </div>