<div class="news-events-widget newsEvents">
  <ul class="newsEventsNav">
    <li class="active" role="button" tabindex="0">Featured</li>
    <li role="button" tabindex="0">News</li>
    <li role="button" tabindex="0">Events</li>
  </ul>

  <ul class="newsEventsContent">
    <a class="no-js-link" href="https://news.chapman.edu" title="View All News Stories">View All News »</a>
    <a class="no-js-link" href="https://events.chapman.edu" title="View All Event Listings">View All Events »</a>

    <li class="active">
      <div class="featured">
        <div class="col1">
          <img alt="Brain Institute Receives Over $7 Million for Research" class="image"
            src="/_featured/_files/brain-small.png" width="190" height="190">
        </div>
        <div class="col2">
          <div class="date">
            <div class="day">05</div>
            <div class="month">MAR</div>
            <div class="year">2019</div>
          </div>
          <div class="title"><a
              href="https://news.chapman.edu/2019/03/05/brain-institute-receives-over-7-million-for-research-on-neurophilosophy-of-free-will/">Brain
              Institute Receives Over $7 Million for Research</a></div>
          <div class="description">The newly-minted Institute for Interdisciplinary Brain and Behavioral Science will
            study how the human brain enables conscious control of decisions and actions</div>
          <div class="readMore">Read More<span class="bullet"> »</span></div>
        </div>
      </div>
    </li>
    <li>
      <div class="news clearfix">
        <img alt="Loading news list for primary content..." class="loading"
          src="../../../_files/level/img/ajax-loader.gif" style="display: none;">


        <div class="story story1 not-future" itemscope="" itemtype="http://schema.org/Article"
          style="visibility: visible;">
          <div class="todayTomorrow">
            <span class="today">TODAY</span>
            <span class="tomorrow">TOMORROW</span>
          </div>
          <div class="date" itemprop="datePublished">
            <div class="day">01</div>
            <div class="month">JUN</div>
            <div class="year">2020</div>
          </div>
          <div class="title">
            <a href="https://news.chapman.edu/2020/06/01/service-plan-week8-2/">Congratulations to this Week’s Service
              Plan of Recognition Recipients</a>
            <span class="bullet">»</span>
          </div>
        </div>

        <div class="story story2 not-future" itemscope="" itemtype="http://schema.org/Article"
          style="visibility: visible;">
          <div class="todayTomorrow">
            <span class="today">TODAY</span>
            <span class="tomorrow">TOMORROW</span>
          </div>
          <div class="date" itemprop="datePublished">
            <div class="day">01</div>
            <div class="month">JUN</div>
            <div class="year">2020</div>
          </div>
          <div class="title">
            <a
              href="https://news.chapman.edu/2020/06/01/chapman-to-host-turning-anguish-to-purpose-the-path-forward-discussion-in-response-to-george-floyd-death/">Chapman
              to Host ‘Turning Anguish to Purpose: The Path Forward’ Discussion in Response to George Floyd Death</a>
            <span class="bullet">»</span>
          </div>
        </div>

        <div class="story story3 future" itemscope="" itemtype="http://schema.org/Article" style="visibility: visible;">
          <div class="todayTomorrow">
            <span class="today">TODAY</span>
            <span class="tomorrow">TOMORROW</span>
          </div>
          <div class="date" itemprop="datePublished">
            <div class="day">01</div>
            <div class="month">JUN</div>
            <div class="year">2020</div>
          </div>
          <div class="title">
            <a
              href="https://news.chapman.edu/2020/06/01/opt-in-to-the-working-remote-series-newsletter-and-view-upcoming-workshops-2-2/">Working
              Remote Series – Stay Connected With This Week’s Offerings</a>
            <span class="bullet">»</span>
          </div>
        </div>

        <a class="allNews" href="https://news.chapman.edu">View more news »</a>
      </div>
    </li>
    <li>
      <div class="events clearfix">
        <img alt="Loading events list for primary content..." class="loading"
          src="../../../_files/level/img/ajax-loader.gif" style="display: none;">


        <div class="story story1 not-future" itemscope="" itemtype="http://schema.org/Article"
          style="visibility: visible;">
          <div class="todayTomorrow">
            <span class="today">TODAY</span>
            <span class="tomorrow">TOMORROW</span>
          </div>
          <div class="date" itemprop="datePublished">
            <div class="day">01</div>
            <div class="month">JUN</div>
            <div class="year">2020</div>
          </div>
          <div class="title">
            <a href="https://events.chapman.edu/80903">June Bar Admission Ceremony</a>
            <span class="bullet">»</span>
          </div>
        </div>

        <div class="story story2 not-future" itemscope="" itemtype="http://schema.org/Article"
          style="visibility: visible;">
          <div class="todayTomorrow">
            <span class="today">TODAY</span>
            <span class="tomorrow">TOMORROW</span>
          </div>
          <div class="date" itemprop="datePublished">
            <div class="day">02</div>
            <div class="month">JUN</div>
            <div class="year">2020</div>
          </div>
          <div class="title">
            <a href="https://events.chapman.edu/80993">Argyros School presents - The Future of Residential and
              Commercial Real Estate</a>
            <span class="bullet">»</span>
          </div>
        </div>

        <div class="story story3 future" itemscope="" itemtype="http://schema.org/Article" style="visibility: visible;">
          <div class="todayTomorrow">
            <span class="today">TODAY</span>
            <span class="tomorrow">TOMORROW</span>
          </div>
          <div class="date" itemprop="datePublished">
            <div class="day">02</div>
            <div class="month">JUN</div>
            <div class="year">2020</div>
          </div>
          <div class="title">
            <a href="https://events.chapman.edu/80923">Chat with a Chaplain</a>
            <span class="bullet">»</span>
          </div>
        </div>

        <a class="allEvents" href="https://events.chapman.edu/">View more events »</a>
      </div>
    </li>
  </ul>
</div>