.container {
  margin-top: 20px;
}

.progressive-image {
  position: relative;
  overflow: hidden;
  transition: opacity 1s linear;

}

.progressive-image div {
  width: 100%;
  padding-top: 100%;
}

.progressive-image .loadingImage {
  filter: blur(50px);
  /* this is needed so Safari keeps sharp edges */
  transform: scale(1);
}

.progressive-image .overlay {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity 1s linear;

}

@media screen and (max-width: 768px) {
  .ad-landing-masthead article {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .ad-landing-masthead .masthead-hero {
    min-height: 550px;
  }

  .ad-landing-masthead .masthead-content {
    min-height: 400px;
  }

  .ad-landing-masthead .masthead-content-panel {
    min-height: 400px;
  }
}


.ad-landing-container {
  margin-top: -($base-spacing*4);

  .ad-landing-column-container {
    @include outer-container;

    .ad-landing-left-column {
      @include media($medium-screen) {
        @include span-columns(11);
        padding: 0 $base-spacing*2;
      }
    }

    .ad-landing-right-column {
      @include media($medium-screen) {
        @include span-columns(7);
        padding: 0 $base-spacing*2;
      }
    }

    .ad-landing-title {
      padding: 0 24px;
      font-size: 30px;
      line-height: 38px;

      @include media($medium-screen) {
        margin-top: 0;
        padding-left: 0;
      }
    }
  }

  #footer {
    padding: 16px 0;

    @include media($medium-screen) {
      padding-top: 48px;
    }

    .copyright {
      padding: 72px 36px 0px;
      text-align: center;

      p {
        font-style: normal;
      }
    }
  }
}