<!-- mastheadType: Boxes -->

<div class="skip-masthead--2-3-col">
  <a class="peekaboo next-section button red" tabindex="0" href="#" role="skip over carousel to next section">Skip
    over carousel to next section</a>
</div>
<div class="miniRotatorNav">
  <a class="prev" tabindex="0" title="Move back to the previous slide"></a>
</div>

<div class="hidden slideOptions">
  <div class="autoRotate">
    On
  </div>
  <div class="startingSlideNumber">
    1
  </div>
  <div class="speed">
    10
  </div>
</div>
<div class="miniRotatorContainer">
  <ul class="miniRotator clearfix">
    <li>
      <a class="item"
        href="https://www.chapman.edu/campus-services/marketing-communication/guidelines-and-resources/web/2-3-column-modular-resources.aspx"
        tabindex="0">
        <img alt="student life" height="220"
          src="https://www.chapman.edu/img/mastheads/older-dont-use/attellah-masthead.jpg" width="266" />
        <div class="caption ellipsis multiline">
          <div class="inner">
            <div class="title">Rotator Box #1</div>
            <div class="copy ellipsis multiline">
              Your summary paragraph goes here. Try to be succinct because the space is limited.
            </div>
            <div class="button" tabindex="-1">More <span class="bullet">»</span></div>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a class="item" href="#" tabindex="0">
        <img alt="piano" height="220" src="https://www.chapman.edu/landing/_files/background-images/copa.jpg"
          width="266" />
        <div class="caption ellipsis multiline">
          <div class="inner">
            <div class="title">music timr</div>
            <div class="copy ellipsis multiline">
              Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire
              respect community engagement. Laureate emiratus graduands c
            </div>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a class="item" href="#" tabindex="0">
        <img alt="harold" height="220" src="http://placekitten.com/200/300" width="266" />
        <div class="caption ellipsis multiline">
          <div class="inner">
            <div class="title">the sixth slide</div>
            <div class="copy ellipsis multiline">
              However, you may forget that you do not need to make it enforceable. This License does not cure such
              failure in a commercial product offering, such Contributor by reason of any subsequent version of this
              License with every copy of
            </div>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a class="item" href="#" tabindex="0">
        <img alt="orientation fun" height="220"
          src="https://www.chapman.edu/img/mastheads/older-dont-use/orientation-fun.jpg" width="266" />
        <div class="caption ellipsis multiline">
          <div class="inner">
            <div class="title">Rotator Box #2</div>
            <div class="copy ellipsis multiline">
              Rotator Box #2
            </div>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a class="item" href="#" tabindex="0">
        <img alt="student health" height="220"
          src="https://www.chapman.edu/img/mastheads/older-dont-use/student-health-slide.jpg" width="266" />
        <div class="caption ellipsis multiline">
          <div class="inner">
            <div class="title">Rotator Box #3</div>
            <div class="copy ellipsis multiline">
              Rotator Box #3
            </div>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a class="item" href="#" tabindex="0">
        <img alt="student government" height="220"
          src="https://www.chapman.edu/img/mastheads/older-dont-use/student-gov-slide.jpg" width="266" />
        <div class="caption ellipsis multiline">
          <div class="inner">
            <div class="title">Rotator Box #4</div>
            <div class="copy ellipsis multiline">
              Rotator Box #4
            </div>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
<div class="miniRotatorNav Next">
  <a class="next" tabindex="0" title="Move back to the previous slide"></a>
</div>