<div class="slider version-201611">
  <div class="hidden slideOptions">
    <div class="autoRotate">On</div>
  </div>
  <div class="grid">
    <div class="column image">
      <div class="rounded-slider">
        <div class="rotatorContainer">
          <div class="flex-container">
            <div class="flexslider">
              <ul class="slides">
                <li class="slide">
                  <img alt="image alt attribute here" src="/_assets/mastheads/slider-v201611.jpg" />
                  <input class="slideSubtitle" type="hidden" value="Slider Slide<br />#1 of 3" />
                  <div class="photo-by">Optional text goes here</div>
                </li>
                <li class="slide">
                  <img alt="image alt attribute here" src="/_assets/mastheads/slider-v201611.jpg" />
                  <input class="slideSubtitle" type="hidden" value="Slider Slide<br />#2 of 3" />
                  <div class="photo-by">Optional text goes here</div>
                </li>
                <li class="slide">
                  <img alt="image alt attribute here" src="/_assets/mastheads/slider-v201611.jpg" />
                  <input class="slideSubtitle" type="hidden" value="Slider Slide<br />#3 of 3" />
                  <div class="photo-by">Optional text goes here</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column header theme-bg-color">
      <div class="aligned">
        <div class="faux-h2">Campus Life at Chapman University</div>
        <div class="subheader">
          <hr />
          <h3>Slider Slide<br />#1 of 3</h3>
        </div>
      </div>
    </div>
  </div>
</div>