<div class="subrand-masthead-wrapper">
  <div class="brochure-masthead">
    <div class="foreground-content">
      <div class="headline-container">
        <h2 class="headline secondary subhead">Chapman University</h2>
        <h1 class="headline primary title">Argyros School of Business & Economics</h1>
      </div>
      <button class="theme-button">
        <a href="#">Learn More</a>
      </button>
      <button class="theme-button">
        <a href="#">Apply</a>
      </button>
      <div class="dropdown">
        <div onclick="dropdownToggle()" class="dropdown-inner theme-border-color">Degrees & Programs <span class="select-arrow"></span></div>
        <div id="mastheadDropdown" class="dropdown-content">
          <li> <a href="#home"> <span class="link-underline"> Argyros </span></a></li>
          <li><a href="#home"> <span class="link-underline"> Alumns </span></a></li>
          <li> <a href="#home"> <span class="link-underline"> Schools & Colleges </span></a></li>
        </div>
      </div>
    </div>
    <div class="background-content">
      <div class="slider-wrapper">
        <ul class="cd-hero-slider autoplay">
          <li class="selected">
            <div class="background-video-wrapper">
              <video id="background-video" class="background-video" muted="muted" aria-label="Welcome to Chapman montage"
                autoplay="true" loop="true" poster="http://www.chapman.edu/_files/img/hero-panels/fallback-images/welcome-2015.jpg">
                <source src="http://www.chapman.edu/_files/img/hero-panels/html5-videos/welcome-2016.mp4" type="video/mp4" />
              </video>
            </div>
          </li>a
          <li>
            <div class="background-image" role="img" aria-label="Memorial Lawn" style="background-image: url(<%= image_url 'placeholder/chapman.jpg' %>)"></div>
          </li>
          <li>
            <div class="background-image" role="img" aria-label="Musco Center" style="background-image: url(<%= image_url 'placeholder/musco.jpg' %>)"></div>
          </li>
        </ul>
      </div>
      <div class="gradient-overlay"></div>
    </div>
  </div>
</div>

<div class="image-slider-wrapper">
  <div class="image-slider">
    <div class="item">
      <div class="clearfix">
        <div class="container">
          <ul class="gallery list-unstyled cS-hidden widget-slides">
            <li>
              <div class="image-wrapper">
                <img src="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b7365f219b9100828e3a12a/01832336950a22029a259140af7490ce/law-background-image.jpg" />
              </div>
              <div class="content-container-slider">
                <div class="content-text">
                  <h1 class="headline">Too Much Text</h1>
                  <p class="description line-clamp">However, you may forget that </p>
                  <a href="#" class="theme-button theme-button ">Schedule a Tour</a>
                </div>
            </li>
            <li>
              <div class="image-wrapper">
                <img src="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b7365f219b9100828e3a12a/01832336950a22029a259140af7490ce/law-background-image.jpg" />
              </div>
              <div class="content-container-slider">
                <div class="content-text">
                  <h1 class="headline">Too Much Text</h1>
                  <p class="description line-clamp">However, you may forget that </p>
                  <a href="#" class="theme-button theme-button ">Schedule a Tour</a>
                </div>
            </li>
            <li data-thumb="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b736796f7bdcd8cc8dd0c0b/58170e214301e719c20c4a22f1616425/Chapman3_18Law-47.jpg">
              <img src="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b736796f7bdcd8cc8dd0c0b/58170e214301e719c20c4a22f1616425/Chapman3_18Law-47.jpg" />
              <div class="content-container-slider">
                <div class="content-text">
                  <h1 class="headline">1st Widget - lorem ipsum yesterday</h1>
                  <p class="description">retro biodiesel trust fund Brooklyn brunch normcore locavore crucifix forage
                    deep</p>
                  <a href="#" class="theme-button ">Schedule a Tour</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
  crossorigin="anonymous">


<div class="googlemap-container">
  <div class="googlemap-inner">
    <div class="box">
      <div class="box-inner">
        <div class="box-header">
          Chapman University
        </div>
        <div class="address-wrapper">
          <div class="marker-icon"> <i class="fas fa-map-marker-alt"></i> </div>
          <div class="address-inner">
            1 University Dr, Orange, <br> CA 92866
          </div>
        </div>
        <div class="theme-button red-button">Contact Us</div>
        <div class="theme-button red-button">Contact Us</div>
      </div>
    </div>
    <iframe width="100%" height="600px" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=15&center=33.7933%2C-117.8514&key="
      allowfullscreen></iframe>
  </div>
</div>