<div class="subrand-masthead-wrapper">
  <div class="brochure-masthead">
    <div class="foreground-content">
      <div class="headline-container">
        <h2 class="headline secondary subhead">Chapman University</h2>
        <h1 class="headline primary title">Argyros School of Business & Economics</h1>
      </div>
      <button class="theme-button">
        <a href="#">Learn More</a>
      </button>
      <button class="theme-button">
        <a href="#">Apply</a>
      </button>
      <div class="dropdown">
        <div onclick="dropdownToggle()" class="dropdown-inner theme-border-color">Degrees & Programs <span class="select-arrow"></span></div>
        <div id="mastheadDropdown" class="dropdown-content">
          <a href="#home"> <span class="link-underline"> Argyros </span></a>
          <a href="#home"> <span class="link-underline"> Alumns </span></a>
          <a href="#home"> <span class="link-underline"> Schools & Colleges </span></a>
        </div>
      </div>
    </div>
    <div class="background-content">
      <div class="slider-wrapper">
        <ul class="cd-hero-slider autoplay">
          <li class="selected">
            <div class="background-video-wrapper">
              <video id="background-video" class="background-video" muted="muted" aria-label="Welcome to Chapman montage"
                autoplay="true" loop="true" poster="http://www.chapman.edu/_files/img/hero-panels/fallback-images/welcome-2015.jpg">
                <source src="http://www.chapman.edu/_files/img/hero-panels/html5-videos/welcome-2016.mp4" type="video/mp4" />
              </video>
            </div>
          </li>a
          <li>
            <div class="background-image" role="img" aria-label="Memorial Lawn" style="background-image: url(<%= image_url 'placeholder/chapman.jpg' %>)"></div>
          </li>
          <li>
            <div class="background-image" role="img" aria-label="Musco Center" style="background-image: url(<%= image_url 'placeholder/musco.jpg' %>)"></div>
          </li>
        </ul>
      </div>
      <div class="gradient-overlay"></div>
    </div>
  </div>
</div>

<div id="googlemap">
  <iframe width="100%" height="600px" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=15&center=33.7933%2C-117.8514&key=AIzaSyBr3t0eLrBhOcI4Mxopv8NAiFfIXL4A62M"
    allowfullscreen></iframe>
</div>
