<div class="subrand-masthead-wrapper">
  <div class="brochure-masthead">
    <div class="foreground-content">
      <div class="headline-container">
        <h2 class="headline secondary subhead">Chapman University</h2>
        <h1 class="headline primary title">Argyros School of Business</h1>
      </div>
      <button class="theme-button">
        <a href="#">Learn More</a>
      </button>
      <button class="theme-button">
        <a href="#">Apply</a>
      </button>
      <!-- <div class="theme-border-color dropdown" id="program-select-links">
        <a href="#">Explore Options <span class="select-arrow"></span> </a>
      </div> -->
      <div class="dropdown">
        <div onclick="dropdownToggle()" class="dropdown-inner theme-border-color">Degrees & Programs <span class="select-arrow"></span></div>
        <div id="myDropdown" class="dropdown-content">
          <a href="#home"> <span class="link-underline"> Argyros </span></a>
          <a href="#home"> <span class="link-underline"> Alumns </span></a>
          <a href="#home"> <span class="link-underline"> Schools & Colleges </span></a>
        </div>
      </div>
      <!-- <nav class="program-select" id="program-select-links">
        <span class="select-arrow theme-border-color"></span>
        <button class="hero-select-button theme-border-color">$_EscapeTool.xml($dropdownLabel)</button>
        <ul class="hero-select-list">
          #foreach( $link in $dropdownLinks )
          <li><a #outputHref($link)>$_EscapeTool.xml($link.getChild('label').value)</a></li>
          #end
        </ul>
      </nav> -->
    </div>
    <!-- <div class="slider-controls">
      <div class="control left cd-arrow-left"><a href="#">&lsaquo;</a></div>
      <div class="control right cd-arrow-right"><a href="#">&rsaquo;</a></div>
    </div> -->
    <div class="background-content">
      <div class="slider-wrapper">
        <ul class="cd-hero-slider autoplay">
          <li class="selected">
            <div class="background-video-wrapper">
              <video id="background-video" class="background-video" muted="muted" aria-label="Welcome to Chapman montage"
                autoplay="true" loop="true" poster="http://www.chapman.edu/_files/img/hero-panels/fallback-images/welcome-2015.jpg">
                <source src="http://www.chapman.edu/_files/img/hero-panels/html5-videos/welcome-2016.mp4" type="video/mp4" />
              </video>
            </div>
          </li>
          <li>
            <div class="background-image" role="img" aria-label="Memorial Lawn" style="background-image: url(<%= image_url 'placeholder/chapman.jpg' %>)"></div>
          </li>
          <li>
            <div class="background-image" role="img" aria-label="Musco Center" style="background-image: url(<%= image_url 'placeholder/musco.jpg' %>)"></div>
          </li>
        </ul>
      </div>
      <div class="gradient-overlay"></div>
    </div>
  </div>
</div>
