<div class="callout-box-widget callout-box-widget--right callout callout-box-widget--white">
  <img alt="SAP Concur Logo" src="https://www.chapman.edu/campus-services/information-systems/_files/concur-logo-orange.jpg">
  <div class="editableContent">
    <div class="preheader">Preheader</div>
    
    <h2>Need Technical Assistance</h2>
    <div>
    <p>For technical assistance, please contact the <strong>Service Desk</strong></p>
    <ul>
      <li><strong>(714) 997-6600</strong></li>
      <li><strong>servicedesk@chapman.edu</strong></li>
    </ul>
    </div>
  </div>
</div>

<div class="callout-box-widget callout-box-widget--right callout callout-box-widget--white">
  <img alt="Photo showing image dimensions for webpage element." src="//www.chapman.edu/campus-services/marketing-communication/_files/website/images/image-sizes/206.jpg"/>

  <div class="editableContent">
    <div class="preheader">Preheader</div>
    <h2>Headline yay</h2>
    <hr/>
    <div>This is the best copy. Number one copy elect this copy</div>
  
    <ul class="buttonLinks">
      <li>
        <a href="www.google.com">GOOGLE</a>
      </li>
      <li>
        <a href="/entity/open.act?type=page&amp;id=320c3a58c0a81e4b05275461d854151c&amp;confId=320c3a65c0a81e4b052754614aba0c97" target="_parent">Two column page</a>
      </li>
      <li>
        <a href="/renderfile/6fef14a3c04d744c610b81dac0a8d082/test-section/joey-test/c17_set_symbollr-300x270.png">Download Pic</a>
      </li>
    </ul>
  </div>
</div>


<div class="callout-box-widget callout-box-widget--right callout callout-box-widget--sand">
  <img alt="Photo showing image dimensions for webpage element." src="//www.chapman.edu/campus-services/marketing-communication/_files/website/images/image-sizes/206.jpg"/>

  <div class="editableContent">
    <div class="preheader">Preheader</div>
    <h2>Headline yay</h2>
    <hr/>
    <div>This is the best copy. Number one copy elect this copy</div>
  
    <ul class="buttonLinks">
      <li>
        <a href="www.google.com">GOOGLE</a>
      </li>
      <li>
        <a href="/entity/open.act?type=page&amp;id=320c3a58c0a81e4b05275461d854151c&amp;confId=320c3a65c0a81e4b052754614aba0c97" target="_parent">Two column page</a>
      </li>
      <li>
        <a href="/renderfile/6fef14a3c04d744c610b81dac0a8d082/test-section/joey-test/c17_set_symbollr-300x270.png">Download Pic</a>
      </li>
    </ul>
  </div>
</div>

