<div class="callout-box-widget callout-box-widget--right callout callout-box-widget--red">
        
  <img alt="black shield" src="https://dev-www.chapman.edu/test-section/joey-test/c17_set_symbollr-300x270.png">
  <div class="editableContent">
    <div class="preheader">Preheader</div>
    <h2>Headline! Yeah!</h2>
    <hr>
                
    <div><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula mi ut dui tristique placerat.</p> <p>Proin sit amet diam in mauris dapibus malesuada ut vel libero. Nunc in porta est. Morbi ut maximus justo. Nullam venenatis mollis turpis sed maximus. Nunc lacinia maximus enim. Proin porta enim non rutrum pulvinar.&nbsp;</p></div>
          
    <ul class="buttonLinks">
      <li>
        <a href="www.google.com">Google</a>
      </li>
      <li>
        <a href="/entity/open.act?type=page&amp;id=320c3a58c0a81e4b05275461d854151c&amp;confId=320c3a65c0a81e4b052754614aba0c97" target="_parent">Two column page</a>
      </li>
      <li>
        <a href="/renderfile/6fef14a3c04d744c610b81dac0a8d082/test-section/joey-test/c17_set_symbollr-300x270.png">Download Pic</a>
      </li>
    </ul>
          
  </div>

</div>
    
<div class="callout-box-widget callout-box-widget--right callout callout-box-widget--sand">
        
  <div class="editableContent">
    <h2>Only Headlines!!!</h2>
    <hr>
                
    <div><copy></copy></div>
          
    <ul class="buttonLinks">
      <li>
        <a href="/entity/open.act?type=page&amp;id=ec36e97fc04d744c580ddf89561fb8e1&amp;confId=84e36aaac04d744c3c858d8551dbe282" target="_parent">Adademics</a>
      </li>
    </ul>
          
  </div>

</div>
        
<div class="callout-box-widget callout-box-widget--right callout callout-box-widget--black">
        
  <div class="editableContent">
    <div class="preheader">Just a preheader</div>
    <h2>Just a header</h2>
    <hr>
                
    <div><span jsname="YS01Ge">He was a skater boy</span><br><span jsname="YS01Ge">She said, "see you later, boy"</span><br><span jsname="YS01Ge">He wasn't good enough for her</span><br><span jsname="YS01Ge">She had a pretty face</span><br><span jsname="YS01Ge">But her head was up in space</span><br><span jsname="YS01Ge">She needed to come back down to earth</span></div>
          
    <ul class="buttonLinks">
      <li>
        <a href="/renderfile/6fef14a3c04d744c610b81dac0a8d082/test-section/joey-test/baymax-hiro-hamada-tadashi-hamada-big-hero-6-animation-png-favpng-cuscg7s6zvxab3maa5zuqmq4p.jpg">File Download</a>
      </li>
    </ul>
          
  </div>

</div>
            
<div class="callout-box-widget callout-box-widget--right callout callout-box-widget--grey">
        
  <div class="editableContent">
    <h2>So cool</h2>
    <hr>
                
    <div><pre class="lang-css prettyprint prettyprinted"><code><span class="pun">#</span><span class="pln">fos </span><span class="pun">{</span><span class="pln"> </span><span class="kwd">font-family</span><span class="pun">:</span><span class="pln"> </span><span class="str">"Helvetica Neue"</span><span class="pun">,</span><span class="pln"> Helvetica</span><span class="pun">,</span><span class="pln"> Arial</span><span class="pun">,</span><span class="pln"> sans-serif</span><span class="pun">;</span><span class="pln">
    </span><span class="kwd">font-size</span><span class="pun">:</span><span class="lit">14px</span><span class="pun">;</span><span class="pln">
    </span><span class="kwd">font-weight</span><span class="pun">:</span><span class="pln"> normal</span><span class="pun">;</span><span class="pln">
    </span><span class="kwd">line-height</span><span class="pun">:</span><span class="pln"> </span><span class="lit">18px</span><span class="pun">;</span><span class="pln">
    </span><span class="kwd">width</span><span class="pun">:</span><span class="pln"> </span><span class="lit">238px</span><span class="pun">;</span><span class="pln">
    </span><span class="kwd">height</span><span class="pun">:</span><span class="lit">38px</span><span class="pun">;</span><span class="pln">
    </span><span class="kwd">cursor</span><span class="pun">:</span><span class="pln"> pointer</span><span class="pun">;</span><span class="pln">
    </span><span class="kwd">word-wrap</span><span class="pun">:</span><span class="pln">break-word</span><span class="pun">;</span><span class="pln">
    </span><span class="kwd">border</span><span class="pun">:</span><span class="lit">2px</span><span class="pln"> solid</span><span class="pun">;</span><span class="pln"> </span><span class="pun">}</span></code></pre></div>
          
    <ul class="buttonLinks">
      <li>
        <a href="www.vote.org">Vote!</a>
      </li>
    </ul>
          
  </div>

</div>
                
<div class="callout-box-widget callout-box-widget--right callout callout-box-widget--red">
        
  <img alt="baymax!" src="https://dev-www.chapman.edu/test-section/joey-test/baymax-hiro-hamada-tadashi-hamada-big-hero-6-animation-png-favpng-cuscg7s6zvxab3maa5zuqmq4p.jpg">
  <div class="editableContent">
    <h2>Something</h2>
    <hr>
                
    <div>Something something something.&nbsp;Something something something.&nbsp;Something something something.&nbsp;Something something something.</div>
          
    <ul class="buttonLinks">
      <li>
        <a href="something.com">Something?</a>
      </li>
    </ul>
          
  </div>

</div>
                    
<div class="callout simple-form-widget">
  <h2>Request Information</h2>
  <div class="editableContent">Complete this form to stay informed about our programs, important deadlines, &amp; news. Please let us know if you have any questions.</div>
                
  <script language="JavaScript" type="text/javascript">
    <!--
    function validate() {
      var formObj = document.form1;

      if (formObj.requestor_name.value == "enter your name") {
        alert("Please enter in your first and last name");
        formObj.requestor_name.focus();
        return false;
      }
      else if (formObj.requestor_name.value.length == 0) {
        alert("Please enter in your first and last name");
        formObj.requestor_name.focus();
        return false;
      }
      else if (formObj.email.value == "enter your email") {
        alert("Please enter an email address where we may contact you");
        formObj.email.focus();
        return false;
      }   
      else if (formObj.email.value.length == 0) {
        alert("Please enter an email address where we may contact you");
        formObj.email.focus();
        return false;
      }   
      else if (checkEmail(formObj.email) != true) {
        formObj.email.focus();
        return false;
      }
      else {       
        alert("Thank you for submitting.");      
        return true;
      }
    }
    //-->
    </script>

    <div class="short-form">
      <form action="https://webfarm.chapman.edu/mailservice/formmail.aspx" id="form1" method="post" name="form1" onsubmit="return validate(this);">
        <input name="recipient" type="hidden" value="mthomas@chapman.edu">
        <input name="sender" type="hidden" value="webmaster@chapman.edu">
        <input name="subject" type="hidden" value="TEST RIGHT COLUMN FORM">
        <input name="mail_format" type="hidden" value="html">
        <input name="table" type="hidden" value="test_table">
        <input name="redirect_url" type="hidden" value="https://dev-cascade.chapman.edu/a-z/index.aspx"> 
        <!-- version of this form page we're on (block uses on multiple pages). Populated using JS from og:url meta field: -->
        <input name="form_url" type="hidden" value="">
  
  
        <div>  
          <input aria-label="enter your name" maxlength="50" name="requestor_name" placeholder="enter your name" size="20" type="text">
        </div>
        <div> 
          <input aria-label="enter your email" id="email" maxlength="50" name="email" placeholder="enter your email" size="20" type="text">
        </div>
        <div>
          <label for="choice">Choices:</label>
          <select id="choice" name="choice">
            <option value="one">
              Choice One
            </option>
            <option value="two">
              Choice Two
            </option>
          </select>           
        </div>
        <div> 

          <fieldset>
            <legend>Areas of interest (check all that apply)</legend>
            <input id="business_law" name="emphasis_area" type="checkbox" value="Interest 1"><label for="business_law">Interest 1</label>              
            <br>          
            <input id="entertainment_law" name="emphasis_area" type="checkbox" value="Interest 2"><label for="entertainment_law">Interest 2</label>
            <br> 
            <input id="international_law" name="emphasis_area" type="checkbox" value="Interest 3"><label for="international_law">Interest 3</label>       
          </fieldset>
              
          <label for="comments">Comments:</label>
          <textarea cols="50" id="comments" name="comments" rows="4"></textarea>
        </div>
        <div><input name="submit" type="submit" value="Submit"></div>

        <div style="display:none;"><label for="Future_Use_RC_Form">Future Use:</label><input id="Future_Use_RC_Form" name="address_bot" type="text" value=""></div>
      </form>
    </div>

  </div>