<div class="callout-box-widget callout-box-widget--right callout callout-box-widget--white">
  <img alt="Photo showing image dimensions for webpage element." src="//www.chapman.edu/campus-services/marketing-communication/_files/website/images/image-sizes/206.jpg" width="195"/>
  <div class="preheader">Preheader</div>
  <h2>Headline yay</h2>
  <div class="editableContent">This is the best copy. Number one copy elect this copy</div>
  <ul class="buttonLinks">
    <li>
      <a href="www.google.com">GOOGLE</a>
    </li>
    <li>
      <a href="/entity/open.act?type=page&amp;id=320c3a58c0a81e4b05275461d854151c&amp;confId=320c3a65c0a81e4b052754614aba0c97" target="_parent">Two column test page</a>
    </li>
    <li>
      <a href="/renderfile/6fef14a3c04d744c610b81dac0a8d082/test-section/joey-test/c17_set_symbollr-300x270.png">Download Pic</a>
    </li>
  </ul>
</div>


<div class="callout-box-widget callout noPhoto styleOne">
  <div class="border"></div>
  <h2>Right Column Callout No Photo (Style 1)</h2>
  <div class="editableContent"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec leo turpis, dictum a quam eget.</p>
    <p><a href="//www.chapman.edu/admission/undergraduate/index.aspx">Link Here</a></p></div>
  </div>

  <div class="callout-box-widget callout noPhoto styleOne">
    <div class="border"></div>
                 
    <div class="editableContent"><p>No heading on this one (Style 1), <a href="//www.chapman.edu/admission/undergraduate/index.aspx">consectetur adipiscing</a> elit.</p>
      <p><a href="//www.chapman.edu/admission/undergraduate/index.aspx">Link Here</a></p></div>
    </div>