<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
		<title>
			<system-page-title/> | Chapman University
		</title>
		<system-page-meta-keywords/>
		<system-page-meta-description/>
		<system-page-meta-author/>
		<system-region name="OG_TAGS"/>
		<system-region name="META VIEWPORT"/>
		  <system-region name="TOP_HEAD" />
		<!-- Jquery, Typekit, Common Assets -->
    <system-region name="TYPEKIT"/>
		<system-region name="JQUERY"/>
		<system-region name="CASCADE ASSETS"/>
		<!-- Analytics -->
		<system-region name="FB_JS_SDK"/>
		<system-region name="GOOGLE_ANALYTICS"/>
		<!-- Any Additional Head Code -->
		<system-region name="ADDITIONAL HEAD"/>
	</head>
	<!--[if lt IE 7]>
	<body class="ie6 oldie phaseFour">
		<![endif]-->
		<!--[if IE 7]>
		<body class="ie7 oldie phaseFour">
			<![endif]-->
			<!--[if IE 8]>
			<body class="ie8 oldie phaseFour">
				<![endif]-->
				<!--[if gt IE 8]>
				<!-->
				<body>
					<!--
					<![endif]-->
          <system-region name="GOOGLE_TAG_MANAGER"/>
					<system-region name="PAGE WRAPPER OPEN"/>
					<system-region name="JUMP LINK"/>
					<div id="fb-root"></div>
          <system-region name="NO_SCRIPT"/>
					<div class="bigMasthead smallRotator" id="container">
						<header>
							<system-region name="OMNI-NAV"/>
							<system-region name="NAVIGATION"/>
						</header>
						<div id="main" role="main">
							<system-region name="MASTHEAD"/>
							<div class="subRotator">
								<div class="primaryContent clearfix twoColumns">
									<div class="breadcrumbs clearfix">
										<system-region name="BREADCRUMBS"/>
									</div>
									<div class="middleRightContainer">
										<div class="main">
											<system-region name="DEFAULT"/>
											<system-region name="FACULTY LIST"/>
										</div>
									</div>
									<div class="leftNav">
										<system-region name="LEFT NAV"/>
										<div class="leftNavSubContent">
											<system-region name="LEFT COLUMN CONTENT"/>
										</div>
									</div>
								</div>
							</div>
						</div>
						<footer>
							<system-region name="GLOBAL FOOTER"/>
						</footer>
					</div>
					<!--! end of #container -->
					<system-region name="FEATURED NEWS EVENTS FEEDS"/>
					<!--[if lt IE 7 ]>
					<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
					<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
					<![endif]-->
					<system-region name="ADDITIONAL BODY AT-END"/>
					<system-region name="PAGE WRAPPER CLOSE"/>
				</body>
			</html>