## used in omni_nav format and other partial formats to build toggle in off-canvas nav:
#macro ( buildToggleIcon $displayName )
  <span class="toggle">
    <span class="fas fa-chevron-right"></span>
  </span>
#end