<div class="uninav__hamburger-menu">
    <button class="hamburger-menu-button" type="button" aria-label="Toggle site menu">
      <span class="fas fa-bars"></span>
      <span class="sr-only">Menu</span>
    </button>
</div>