## used in omni_nav format and other partial formats to build toggle in off-canvas nav:
#macro ( offCanvasMenuBackIcon $displayName )
  <li tabindex="0" class="menu-back"><span class="fas fa-chevron-left"></span>Back</li>
#end
