## used in omni_nav format and other partial formats to build toggle in off-canvas nav:
#macro ( offCanvasDrillDownIcon $displayName )
    <span class="toggle-drilldown"><i class="fas fa-chevron-right"></i></span>
#end