/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
@keyframes sonar-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}

@-webkit-keyframes sonar-pulse-circular {
  0% {
    box-shadow: 0 0 0 0 rgba(165, 0, 52, 0.4);
  }
  70% {
    box-shadow: 0 0 0 30px rgba(165, 0, 52, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(165, 0, 52, 0);
  }
}

@keyframes sonar-pulse-circular {
  0% {
    box-shadow: 0 0 0 0 rgba(165, 0, 52, 0.4);
  }
  70% {
    box-shadow: 0 0 0 30px rgba(165, 0, 52, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(165, 0, 52, 0);
  }
}
