/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
@keyframes sonar-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}

@-webkit-keyframes sonar-pulse-circular {
  0% {
    box-shadow: 0 0 0 0 rgba(165, 0, 52, 0.4);
  }
  70% {
    box-shadow: 0 0 0 30px rgba(165, 0, 52, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(165, 0, 52, 0);
  }
}

@keyframes sonar-pulse-circular {
  0% {
    box-shadow: 0 0 0 0 rgba(165, 0, 52, 0.4);
  }
  70% {
    box-shadow: 0 0 0 30px rgba(165, 0, 52, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(165, 0, 52, 0);
  }
}

@keyframes squiggle-background {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 18px;
  }
}

.squiggle {
  display: inline-block;
}

.squiggle:after {
  display: block;
  content: '';
  margin-top: 2px;
  height: 4px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iNCIgdmlld0JveD0iMCAwIDE4IDQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlPnNxdWlnZ2xlLWZsYXQ8L3RpdGxlPjxwYXRoIGQ9Ik0wIDRWMS44NzNjMS42MTEgMCAyLjU5NS0uMjMgNC4zMjMtLjg3M2wuMzctLjEzN0M2LjM1MS4yNDggNy40MDUgMCA4Ljk0IDBjMS41MDggMCAyLjU2NS4yNDMgNC4xODIuODM1bC40NDYuMTY0YzEuNzM5LjY0IDIuNzY0Ljg3NCA0LjQzLjg3NFY0Yy0xLjk0NCAwLTMuMTg0LS4yODQtNS4xMjYtLjk5OWwtLjQ0My0uMTYzYy0xLjQxNC0uNTE3LTIuMjYtLjcxLTMuNDg5LS43MS0xLjI1IDAtMi4wOTMuMTk3LTMuNTQ4LjczNUw1LjAyNiAzQzMuMDkzIDMuNzIgMS44OTQgNCAwIDR6IiBmaWxsLXJ1bGU9Im5vbnplcm8iIGZpbGw9IiNhNTAwMzQiLz48L3N2Zz4=");
  background-repeat: repeat-x;
  transition: 0.15s linear;
  visibility: hidden;
  animation-name: squiggle-background;
  animation-duration: 0.15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.squiggle:hover:after {
  visibility: visible;
}

.squiggle-1-1:after {
  width: 100%;
  opacity: 0;
}

.squiggle-1-1:hover:after {
  opacity: 1;
}

.squiggle-1-2:after {
  width: 100%;
  opacity: 0;
  transform: translateY(-4px);
}

.squiggle-1-2:hover:after {
  opacity: 1;
  transform: translateY(0);
}

.squiggle-2-1:after {
  width: 0;
  transition-duration: 1s;
}

.squiggle-2-1:hover:after {
  width: 100%;
}

.squiggle-2-2 {
  position: relative;
}

.squiggle-2-2:after {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  width: 0%;
  left: 50%;
  transition-duration: 1.3s;
}

.squiggle-2-2:hover:after {
  width: 100%;
  left: 0%;
}

.squiggle-3:after {
  visibility: visible;
  width: 100%;
  animation: none;
}

.squiggle-3:hover:after {
  animation-name: squiggle-background;
  animation-duration: 0.25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
