@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint==phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }

    //600px
  }

  @if $breakpoint==small {
    @media only screen and (max-width: 47em) {
      @content;
    }

    // 767px
  }

  @if $breakpoint==tab-port {
    @media only screen and (max-width: 56.5em) {
      @content;
    }

    //900px
  }

  @if $breakpoint==tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }

    //1200px
  }

  @if $breakpoint==big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }

    //1800
  }
}

// Breakpoint mixin
//
// There are some obvious problems with this. For example, we have a breakpoint defined
// at 780px for m(edium). But our designs target 768px and in neat/_settings_grid.scss,
// you'll find this setting: $medium-screen: 768px;
//
// In the future, let's clarify our device targets and try to adopt something more like this:
// https://stackoverflow.com/a/13550716/6763239
@mixin bp($point, $val: 0) {
  @if $point==s {

    // Mobile
    @media (min-width: 420px) {
      @content;
    }
  }

  @if $point==sx {

    // Mobile
    @media (max-width: 420px) {
      @content;
    }
  }

  // This should probably not be used (see note above). Leaving it as is because
  // not sure what changing it would break.
  // Use this instead: bp(wildcard-min, 767px)
  @if $point==m {

    // Medium
    @media (min-width: 780px) {
      @content;
    }
  }

  @if $point==mx {

    // Medium
    @media (max-width: 767px) {
      @content;
    }
  }

  @if $point==l {

    // Large
    @media (min-width: 1024px) {
      @content;
    }
  }

  @if $point==lx {

    // Large
    @media (max-width: 1024px) {
      @content;
    }
  }

  @if $point==xl {

    // Extra-Large
    @media (min-width: 1200px) {
      @content;
    }
  }

  @if $point==xlx {

    // Extra-Large
    @media (max-width: 1200px) {
      @content;
    }
  }

  @if $point==wildcard-min {

    // Uses variable breakpoint.
    @media (min-width: #{$val}) {
      @content;
    }
  }

  @if $point==wildcard-max {

    // Uses variable breakpoint.
    @media (max-width: #{$val}) {
      @content;
    }
  }

  // @if $point == highres {
  //   @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) { @content; }
  // }
  @if $point==print {
    @media only print {
      @content;
    }
  }
}

@mixin em_width($px, $default: $fontsize) {
  width: #{$px / $default}em;
}

@mixin em_height($px, $default: $fontsize) {
  height: #{$px / $default}em;
}

@mixin em_maxwidth($px, $default: $fontsize) {
  max-width: #{$px / $default}em;
}

@mixin em_minwidth($px, $default: $fontsize) {
  min-width: #{$px / $default}em;
}

@mixin em_maxheight($px, $default: $fontsize) {
  max-height: #{$px / $default}em;
}

@mixin em_minheight($px, $default: $fontsize) {
  min-height: #{$px / $default}em;
}

@mixin em_margin($top: 0, $right: 0, $bot: $top, $left: $right, $default: $fontsize) {
  margin: #{$top / $default}em #{$right / $default}em #{$bot / $default}em #{$left / $default}em;
}

@mixin em_padding($top: 0, $right: 0, $bot: $top, $left: $right, $default: $fontsize) {
  padding: #{$top / $default}em #{$right / $default}em #{$bot / $default}em #{$left / $default}em;
}

@mixin em_fontsize($px) {
  font-size: #{$px / $fontsize}em;
}

@mixin em_lineheight($px, $default: $fontsize) {
  line-height: #{$px / $default}em;
}

@mixin box_shadow($hoffset: 0, $voffset: 0, $blur: 0, $spread: 0, $color: $black, $inset: false) {
  @if $inset==false {
    -webkit-box-shadow: $hoffset $voffset $blur $spread $color;
    box-shadow: $hoffset $voffset $blur $spread $color;
  }

  @else {
    -webkit-box-shadow: inset $hoffset $voffset $blur $spread $color;
    box-shadow: inset $hoffset $voffset $blur $spread $color;
  }
}

@mixin vendorize($property, $value) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
  #{$property}: $value;
}

@mixin opacity($i) {
  $forie: $i * 100;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+ $forie + ")";
  filter: alpha(opacity=$forie);
  opacity: $i;
}

@mixin transition($sel: all, $time: 1s, $ease: linear) {
  -webkit-transition: $sel $time $time;
  -moz-transition: $sel $time $time;
  -o-transition: $sel $time $time;
  -ms-transition: $sel $time $time;
  transition: $sel $time $time;
}

//Headings
@mixin main_heading($weight: 800) {
  font-family: $font-stack-heading;
  font-size: 26px;
  line-height: 30px;
  margin-top: 12px;
  margin-bottom: 24px;

  @if type-of($weight)==string {
    font-weight: unquote($weight);
  }

  @else {
    font-weight: $weight;
  }

  @include media($medium-screen) {
    font-size: 32px;
    line-height: 38px;
  }

  @include media($large-screen) {
    font-size: 36px;
    line-height: 40px;
  }
}

@mixin sub_heading($weight: 800) {
  font-family: $font-stack-heading;
  font-size: 32px;

  @if type-of($weight)==string {
    font-weight: unquote($weight);
  }

  @else {
    font-weight: $weight;
  }

  line-height: 40px;
}

@mixin section_heading($weight: 800) {
  font-family: $font-stack-heading;
  font-size: 22px;
  line-height: 26px;

  @if type-of($weight)==string {
    font-weight: unquote($weight);
  }

  @else {
    font-weight: $weight;
  }

  @include media($medium-screen) {
    font-size: 16px;
    line-height: 24px;
  }

  @include media($large-screen) {
    font-size: 22px;
    line-height: 32px;
  }
}

@mixin sub_section_heading($weight: 800) {
  font-family: $font-stack-heading;
  font-size: 18px;

  @if type-of($weight)==string {
    font-weight: unquote($weight);
  }

  @else {
    font-weight: $weight;
  }

  line-height: 24px;
}

@mixin content_heading($weight: 800) {
  font-family: $font-stack-heading;
  font-size: 14px;

  @if type-of($weight)==string {
    font-weight: unquote($weight);
  }

  @else {
    font-weight: $weight;
  }

  line-height: 18px;
}

@mixin content_label() {
  margin-bottom: 0px;
  font-family: $font-stack-heading;
  font-size: 16px;
  line-height: 10px;
  font-weight: 800;
  color: $color-medium-gray;
  text-transform: uppercase;

  @include media($large-screen) {
    font-size: 18px;
  }
}

//Paragraphs
@mixin paragraph() {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: 0 0 0.625rem 0;
  font-weight: 400;
}

@mixin p_small() {
  margin-top: 24px;
  font-family: $font-stack-body;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

@mixin hyperlinks() {
  margin-top: 14px;
  line-height: 14px;
}

@mixin fluid-width-video-container() {
  position: relative;
  padding-bottom: 56.5%;
  /* 16:9 */
  height: 0;

  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

@mixin aspect_ratio($width, $height) {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin box-shadow {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.3);
}

@mixin button($bg-color: $cu-red, $text-color: white) {
  display: inline-block;
  padding: 15px 25px;
  font-size: 16px;
  border-radius: 3px;
  background: $bg-color;
  color: $text-color;
  cursor: pointer;
  border: none;
  @include box-shadow;

  &:hover,
  &:focus {
    background-color: lighten($bg-color, 8%);
    @include transition(background-color);
  }

  &:active {
    transition: none;
    background-color: lighten($bg-color, 7%);
  }
}

@mixin transition($property) {
  transition: $property 0.4s;
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin form-control-focus($color) {
  $color-rgba: rgba(red($color), green($color), blue($color), 0.6);
  $border-color: rgba(red($color), green($color), blue($color), 0.8);

  &:focus,
  &:active {
    border-color: $border-color;
    outline: 0;
    box-shadow: 0 0 5px $color-rgba;
  }
}

@mixin theme-color-classes($primary) {
  .theme-bg-color {
    background-color: $primary;
  }

  .theme-border-color {
    border-color: $primary;
  }

  .theme-button {
    @include button($primary);
  }

  .theme-text-color {
    color: $primary;
  }

  @include media($large-screen) {
    .theme-bg-color-alpha {
      background-color: rgba(red($primary), green($primary), blue($primary), 0.95);
    }
  }
}

@mixin condensed-heading {
  font-family: $font-stack-heading-emphasis;
  font-weight: 800;
  text-transform: uppercase;
}

// the variable mixin takes a property and variable name
// and an optional override to hide the fallback
@mixin v($prop, $var, $show-fall: true) {
  // get the property's map name(s)
  $map-name: map-get($props, $prop);
  $nest-name: null;
  $nest-map-name: null;
  $map: null;
  $var-fall: null;
  $var-output: null;

  // if a list, we need to go deeper
  @if type-of($map-name)==list {
    $nest-name: nth($map-name, 1);
    $nest-map-name: nth($map-name, 2);
  }

  // if it is a nested map
  @if $nest-name {
    // get the map from nested map-name
    $map: map-get($var-maps, $nest-name);
    // get the nested map
    $nest-map: map-get($map, $nest-map-name);
    // fallback value, get the var value from the nested map
    $var-fall: map-get($nest-map, $var);
    // our css4 variable output
    $var-output: var(--#{$nest-name}-#{$nest-map-name}-#{$var});
  }

  @else {
    // get the map from map name
    $map: map-get($var-maps, $map-name);
    // fallback value, grab the variable's value from the map
    $var-fall: map-get($map, $var);
    // our css4 variable output
    $var-output: var(--#{$map-name}-#{$var});
  }

  // if show fallback is not overridden to be null
  @if $show-fall {
    #{$prop}: $var-fall;
  }

  // css4 variable output
  #{$prop}: $var-output;
}

// @include dotted-underline($cu-red, 2px);
@mixin dotted-underline($color, $spacing, $position: bottom) {
  background-position: $position;
  background-repeat: repeat-x;
  background-size: $spacing 5px;
  background-image: linear-gradient(to right, $color 10%, rgba(165, 0, 52, 1) 0%);
  background-image: -webkit-linear-gradient(to right, $color 10%, rgba(165, 0, 52, 1) 0%);
}

// button mixin
@mixin button-bg($bg) {
  --padding: 15px;
  --border-radius: 4px;
  --font-weight: 400;
  --font-size: 2rem;
  --font-family: 400;
  --padding-top: 10px;
  --padding-bottom: 15px;
  background-color: $bg;
  border-radius: var(--border-radius);
  font-size: var(--font-size);
  font-family: var(--futura-regular);
  font-weight: var(--font-weight);
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  @include dc($bg);

  &:hover {
    background-color: lighten($bg, 8%);
    transition: all 0.3s ease;
  }

  &:active {
    background-color: lighten($bg, 25%);
    @include dc($bg);
  }
}

@mixin underline($color) {
  border-bottom: 2px dotted ($color);
}

// automatic text contrast https://codepen.io/kevinpowell/pen/45ed86610f4fbdb2d05c8d6261e45b75
@function text($bg) {
  @if (lightness($bg) > 50) {
    @return $panther-black;
  }

  @else {
    @return $white;
  }
}

@mixin dc($color) {
  // dc is short for dynamic color
  background: $color;
  color: text($color);
}

// example:
// $bg: white;
// body {
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   @include dc($bg);
// }
// }
@mixin slide-in-out($type, $from, $to, $duration: 1s) {
  @if $type==in {
    &.slide-in {
      animation: #{$type} $duration forwards;

      @keyframes #{$type} {
        0% {
          transform: translateX($from);
        }

        100% {
          transform: translateX($to);
        }
      }
    }
  }

  @if $type==out {
    &.slide-out {
      animation: #{$type} $duration forwards;

      @keyframes #{$type} {
        0% {
          transform: translateX($from);
        }

        100% {
          transform: translateX($to);
        }
      }
    }
  }
}

@mixin drill-down-menu-style($width: 410px) {
  li {
    &:hover {
      cursor: pointer;
    }
  }

  ul li {
    display: flex;
    justify-content: space-between;
    @include v(border-bottom, solid-grey);

    &:focus,
    &:focus-within {
      border: 2px dotted $cu-red;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    a,
    .drill-down-parent {
      font-family: "futura-pt", arial, sans-serif;
      line-height: 1.8rem;
      @include v(color, panther-black);
      padding: 15px 15px 15px 30px;
      width: 100%;

      &:hover,
      &:focus {
        @include v(color, cu-red);
        margin-left: 2px;
        transition: all 0.175s ease-in-out;
        animation-delay: -0.75ms;

        &+.toggle-drilldown {
          @include v(color, cu-red);

          .fa-chevron-right {
            transform: scale(1.2);
            transition: all 0.175s ease-in-out;
            animation-delay: 500ms;

            &:after {
              animation: 1s fadeIn forwards;
              content: "\f054";
              font-family: "Font Awesome 5 Pro";
              font-weight: 900;
              @include qbal-fade-enter;
              @include qbal-slideRight-exit;
              animation-delay: 900ms;
              animation-duration: 300ms;
              position: absolute;
            }
          }

          @keyframes fadein {
            from {
              opacity: 0;
            }

            to {
              opacity: 1;
            }
          }

          @-moz-keyframes fadein {

            /* Firefox */
            from {
              opacity: 0;
            }

            to {
              opacity: 1;
            }
          }

          @-webkit-keyframes fadein {

            /* Safari and Chrome */
            from {
              opacity: 0;
            }

            to {
              opacity: 1;
            }
          }

          @-o-keyframes fadein {

            /* Opera */
            from {
              opacity: 0;
            }

            to {
              opacity: 1;
            }
          }
        }
      }

      &:focus {
        outline: none;
      }
    }

    span.toggle-drilldown {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 7rem;

      &:hover {
        @include v(color, cu-red);
        transform: scale(1.2);
        transition: all 0.175s ease-in-out;
        animation-delay: 500ms;

        &:after {
          opacity: 0;
          content: "\f054";
          font-family: "Font Awesome 5 Pro";
          font-weight: 900;
          @include qbal-fade-enter;
          @include qbal-slideRight-exit;
          animation-delay: 900ms;
          animation-duration: 300ms;
          position: absolute;
          transform: scale(0.8);
        }

        .fas {
          @include v(color, cu-red);

          &:hover {
            @include v(color, cu-red);
          }
        }
      }

      .fas {
        display: flex;
        font-weight: 900;
        font-size: 1.4rem;
      }
    }

    #uninav-cta-visit:hover {
      margin-left: 0;
    }

    ul.off-canvas-cta,
    .off-canvas-cta a {
      &:hover {
        margin-left: none;
      }

      li {
        a {
          @include v(color, white);
          font-weight: bold;
          text-transform: uppercase;
          font-size: 1.4rem;
          letter-spacing: 0.5px;
          @include v(background-color, cu-red);

          &:hover {
            @include v(background-color, panther-black);
            @include v(color, white);
          }
        }
      }
    }

    ul.drilldown-menu {
      display: none;
      position: absolute;
      // height: 100%;
      width: 100%;
      left: $width;
      top: 0;
      transform: translateX(0);
      transition: all 0.4s;

      &.active {
        .drill-down-list-item {
          &:focus-within {
            outline-color: $cu-red;
            outline-width: 5px;
          }

          &.home-menu {
            &:focus-within {
              @include v(outline-color, panther-black);
              outline-style: auto;
              outline-width: 5px;
              outline-color: $cu-red;
              outline-width: 5px;
            }
          }
        }
      }

      .menu-back {
        justify-content: start;
        align-items: center;
        @include v(background-color, panther-black);
        color: $white;
        font-weight: bold;
        line-height: 1.6rem;
        font-family: $futura-regular;
        padding: 20px 15px 20px 20px;
        border-color: var(--color-cu-white);

        .fas {
          margin-right: 2rem;
        }

        &:focus {
          outline-color: $cu-red;
          outline-style: none;
          outline-width: 5px;
        }
      }
    }

    &.current {
      position: relative;

      a,
      span {
        font-weight: 800;

        &::before {
          content: "\25CF";
          color: $cu-red;
          position: absolute;
          left: 10px;
        }
      }
    }

    &.home-menu {
      @include v(background, panther-black);
      font-weight: bold;
      color: $white;

      i,
      span {
        padding: 20px 0px 20px 30px;
      }

      a {
        color: $white;
        padding: 20px 50px 20px 10px;

        &::before {
          display: none;
        }
      }
    }
  }

  .off-canvas-menu-container .off-canvas-cta a:hover {
    margin-left: 0;
  }
}

// USAGE
// .example-1
// {
//      animation: sonar-pulse 1s infinite;
// }
@keyframes sonar-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }

  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}

// circular sonar pulse effect
@-webkit-keyframes sonar-pulse-circular {
  0% {
    box-shadow: 0 0 0 0 rgba(165, 0, 52, 0.4);
  }

  70% {
    box-shadow: 0 0 0 30px rgba(165, 0, 52, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(165, 0, 52, 0);
  }
}

@keyframes sonar-pulse-circular {
  0% {
    box-shadow: 0 0 0 0 rgba(165, 0, 52, 0.4);
  }

  70% {
    box-shadow: 0 0 0 30px rgba(165, 0, 52, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(165, 0, 52, 0);
  }
}

@mixin outline {
  border: 2px dotted var(--color-cu-red);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// Ripple effect for clicks (https://codepen.io/finnhvman/post/pure-css-ripple-with-minimal-effort)
@mixin ripple($focus-color, $active-color) {
  background-position: center;
  transition: background 0.5s;

  &:hover {
    background: $focus-color radial-gradient(circle, transparent 1%, $focus-color 1%) center/15000%;
  }

  &:active {
    background-color: $active-color;
    background-size: 100%;
    transition: background 0s;
  }
}

@mixin focus($color, $bg-color: null) {
  &:hover {
    color: $color;
    background-color: $bg-color;
  }

  &:focus,
  &:focus-within {
    color: $color;
    background-color: $bg-color;
    border: 2px dotted var(--color-cu-red);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

// squiggly underline animation: https://codepen.io/kjbrum/pen/qVQRQW
$max-width: 800px;
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$cubic-transition: 0.55s $ease-in-out-cubic;
$squiggle-width: 18px;
$squiggle-height: 4px;

@keyframes squiggle-background {
  0% {
    background-position: 0;
  }

  100% {
    background-position: $squiggle-width;
  }
}

.squiggle {
  display: inline-block;

  &:after {
    display: block;
    content: '';
    margin-top: 2px;
    height: $squiggle-height;

    background: {
      image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iNCIgdmlld0JveD0iMCAwIDE4IDQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlPnNxdWlnZ2xlLWZsYXQ8L3RpdGxlPjxwYXRoIGQ9Ik0wIDRWMS44NzNjMS42MTEgMCAyLjU5NS0uMjMgNC4zMjMtLjg3M2wuMzctLjEzN0M2LjM1MS4yNDggNy40MDUgMCA4Ljk0IDBjMS41MDggMCAyLjU2NS4yNDMgNC4xODIuODM1bC40NDYuMTY0YzEuNzM5LjY0IDIuNzY0Ljg3NCA0LjQzLjg3NFY0Yy0xLjk0NCAwLTMuMTg0LS4yODQtNS4xMjYtLjk5OWwtLjQ0My0uMTYzYy0xLjQxNC0uNTE3LTIuMjYtLjcxLTMuNDg5LS43MS0xLjI1IDAtMi4wOTMuMTk3LTMuNTQ4LjczNUw1LjAyNiAzQzMuMDkzIDMuNzIgMS44OTQgNCAwIDR6IiBmaWxsLXJ1bGU9Im5vbnplcm8iIGZpbGw9IiNhNTAwMzQiLz48L3N2Zz4=');
      repeat: repeat-x;
    }

    transition: 0.15s linear;
    visibility: hidden;

    animation: {
      name: squiggle-background;
      duration: 0.15s;
      timing-function: linear;
      iteration-count: infinite;
    }
  }

  &:hover {
    &:after {
      visibility: visible;
    }
  }
}

.squiggle-1-1 {
  &:after {
    width: 100%;
    opacity: 0;
  }

  &:hover {
    &:after {
      opacity: 1;
    }
  }
}

.squiggle-1-2 {
  &:after {
    width: 100%;
    opacity: 0;
    transform: translateY(-4px);
  }

  &:hover {
    &:after {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.squiggle-2-1 {
  &:after {
    width: 0;
    transition-duration: 1s;
  }

  &:hover {
    &:after {
      width: 100%;
    }
  }
}

.squiggle-2-2 {
  position: relative;

  &:after {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    width: 0%;
    left: 50%;
    transition-duration: 1.3s;
  }

  &:hover {
    &:after {
      width: 100%;
      left: 0%;
    }
  }
}

.squiggle-3 {
  &:after {
    visibility: visible;
    width: 100%;
    animation: none;
  }

  &:hover {
    &:after {
      animation: {
        name: squiggle-background;
        duration: 0.25s;
        timing-function: linear;
        iteration-count: infinite;
      }
    }
  }
}