// Colors
/* These are colors commonly found on the site.
Typically, if a color is used more than once or twice,
it should be added here as a variable. Changing the value
of these variables will affect the colors sitewide. */
$futura-regular: "futura-pt",
Arial,
sans-serif;
$futura-condensed: "futura-pt-condensed",
Arial,
sans-serif;
$arial: Arial,
sans-serif;
$minion: "minion-pro",
Arial,
serif;
$font-stack-body: $arial;
$font-stack-heading: $futura-regular;
$font-stack-heading-emphasis: $futura-condensed;
$cu-red: #a50034;
$cu-red-rgb-transparent: rgba($cu-red, 0.95);
$cu-dark-red: #851c2b;
$cu-off-white: #f7f6f0;
$cu-light-grey: #eaeaea;
$cu-light-grey-2: #ddd;
$cu-warm-light-grey: #eaeaea;
$cardinal: #a50034;
$cardinal-hover: #810029;
$pillar: #686259;
$panther-black: #231f20;
$theme-bg-color-alpha: transparent;
$cardinal-hover: #810029;
$panther-black: #231f20;
$cu-black: $panther-black;
$content-padding: 2%;
$line-height: 2.4rem;
$red-button-hover: #C8003F;
$red-button-active: #88002B;
$white: #ffffff;
$brown: #896d49;
$teal: #25b6a5;
$teal-hover: #24d4bf;
$teal2: #02bac2;
$teal2-hover: #01cdd4;
$teal2-light: #a6ddd1;
$red: $cu-red;
$red-secondary: lighten($red, 8%);
$red-tertiary: darken($red, 8%);
$red-hover: #ba183e;
$red-active: #7f0026;
$grey: #2f2f2f;
$grey-hover: #4c4b45;
$grey2: #6e6e66;
$grey2-hover: #918e87;
/* These are colors of common elements or states. */
$cu-font-color: $grey;
$cu-link-hover: #bb223c;
$cu-link-down: $cu-dark-red;
$cu-form-shadow: #797564;
$cu-border: #A58F75;
/* These colors are specifically for the class "newbutton". */
$new-button-primary: $teal2-hover;
$new-button-secondary: $teal2;
$new-button-hover-primary: $teal2-light;
$new-button-hover-secondary: $teal2;
// Theme Specific Colors
/* These are theme specific colors. I moved them here
to make it easier to edit the colors for each theme
all in one place. Variables prefixed with "theme" are
colors found in multiple themes. The others are specific
to a theme. */
$theme-light-grey: #dbdfcf; // Light grey found in multiple themes
$theme-yellow: #d4e13c; // Yellow found in multiple themes
$theme-blue: #006185; // Blue found in multiple themes
$asbe-primary: $red;
$asbe-secondary: $red-secondary;
$asbe-tertiary: $red-tertiary;
$education-primary: $red;
$education-secondary: $red-secondary;
$education-tertiary: $red-tertiary;
$communication-primary: $red;
$communication-secondary: $red-secondary;
$communication-tertiary: $red-tertiary;
$copa-primary: $red;
$copa-secondary: $red-secondary;
$copa-tertiary: $red-tertiary;
$crean-primary: $red;
$crean-secondary: $red-secondary;
$crean-tertiary: $red-tertiary;
$dance-primary: $red;
$dance-secondary: $red-secondary;
$dance-tertiary:$red-tertiary;
$dodge-primary: $red;
$dodge-secondary: $red-secondary;
$dodge-tertiary: $red-tertiary;
$music-primary: $red;
$music-secondary: $red-tertiary;
$music-tertiary: $red-secondary;
$pharmacy-primary: $red;
$pharmacy-secondary: $red-secondary;
$pharmacy-tertiary: $red-tertiary;
$scst-primary: $red;
$scst-secondary: $red-secondary;
$scst-tertiary: $red-tertiary;
$theatre-primary: $red;
$theatre-secondary: $red-secondary;
$theatre-tertiary: $red-tertiary;
$wilkinson-primary: $red;
$wilkinson-secondary: $red-secondary;
$wilkinson-tertiary: $red-tertiary;
$law-primary: $cardinal;
$law-secondary: $cardinal-hover;
/* Our Base Spacing Unit: Use multiples of this variable */
$base-spacing: 16px;

/* Widget specific colors */
$cardinal: #a50034;
$pillar: #686259;
$sand: #ddcba4;
$panther-black: #231f20;
$white-alpha: rgba(255, 255, 240, 0.8);
$white-alpha-50: rgba(255, 255, 240, 0.5);
$sand: #ddcba4;
$sand-alpha: rgba($sand, .8);
$panther-black-alpha: rgba($panther-black, .8);
$pillar: #686259;
$sand: #ddcba4;

/* Omninav height. Be sure to cross reference getOmninavHeight() in omni-nav-2.js if changes are made to the height*/
$omniNavHeightDesktop: 60px;
$omniNavHeightMobile: 123px;