// ---------- Main Footer Styles ---------- //
.footer {
  position: relative;
  padding-bottom: $base-spacing;
  background-color: #231f20;
  font-size: 10px;
  padding-top: 4.5em;
  color: $white;
  overflow: hidden;
  height: auto;

  .inner-container {
    position: relative;
    //sets 1em = to 10px for all children due to parents font-size 10px font-size
    font-size: 1em;
    max-width: 130em;
    padding: 0 2em;
    margin: 0 auto;
  }

  .footer-section {
    display: block;

    @include media($large-screen) {
      display: inline-block;
      vertical-align: top;
    }
  }

  .footer-section.footer-info {

    border-top: 2px solid $black;
    margin-top: 4.8em;
    text-align: center;

    @include media($large-screen) {
      border-top: none;
      text-align: left;
    }
  }

  .footer-section.footer-menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;

    @include bp(sx) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .menu-section {
      display: flex;
      justify-content: space-between;

      &:nth-child(1) {
        flex: 2 0 0;
        -ms-flex: 2;
      }

      &:nth-child(2) {
        flex: 1 0 0;
        -ms-flex: 1;
      }

      @include bp(lx) {
        &:nth-child(1) { flex: 2 0 45%; }
  
        &:nth-child(2) { flex: 1 0 25% }
      }

      @include bp(mx) {

        &:nth-child(1) { 
          margin-bottom: 5em;
          flex: 0 0 100%;
        }
      }

      @include bp(sx) { 
        flex-direction: column;
        margin-bottom: 0;

        &:nth-child(1) {
          -ms-flex: auto;
          order: 1; 
          margin-bottom: 0;
        }

        &:nth-child(2) {
          flex: 0 0 100%;
          -ms-flex: auto;
          order: 2;
        }
      }
    }

    .link-list {
      list-style-type: none;
      position: relative;
      z-index: 1;

      a {
        color: $white;
        margin: 0px;
        line-height: 1.4em;

        &:hover { 
          color: $cu-light-grey-2;
          border-bottom: 2px solid $cu-light-grey-2;
        }

        &:focus {
          outline: 2px dotted $cu-light-grey-2;
        }
      }

      &.social-icon-list {
        display: flex;
        flex-wrap: wrap;
        width: 20em;
        justify-content: space-between;

        li {
          margin: 0;
          padding: 0 1.3em .8em 0;

          &:hover { opacity: .8; }

          a {
            &:hover { border-bottom: none;}

            svg {
              width: 2.25em;
              height: 2.25em;
              fill: white;
              font-size: 0.8em;
            }

            //screen-readers only will see A text for social buttons
            .sr-only {
              position: absolute;
              width: 1px;
              height: 1px;
              padding: 0;
              margin: -1px;
              overflow: hidden;
              clip: rect(0,0,0,0);
              border: 0;
            }
          }
        }

        @include bp(sx) {
          height: 0;
          width: 25em;
          opacity: 0;
          padding-top: 1em;
          transition: all .45s;

          &.linksIn {
            height: 14em;
            padding: 1.5em 0 1em 1em;
            opacity: 1;
            animation: footerLinksIn 0.45s normal ease-in-out both 1;
          }

          &.linksOut {
            height: 0;
            opacity: 0;
            animation: footerLinksOut 0.45s alternate ease-in-out both 1;
          }
        }
      }

      @include bp(sx) {
        height: 0em;
        opacity: 0;
        padding-top: 1em;

        &.linksIn {
          height: 14em;
          padding: 1.5em 0 1em 1em;
          opacity: 1;
          animation: footerLinksIn 0.45s normal ease-in-out both 1;
        }
        &.linksOut {
          height: 0;
          opacity: 0;
          animation: footerLinksOut 0.45s alternate ease-in-out both 1;
        }
      }
    }
    

    .links-header {

      h2, h3 {
        margin: 0 0 8px 0;
        font-size: 1.4em;
        line-height: 1.4em;
        font-weight: bold;
        text-transform: uppercase;
        font-family: "futura-pt", sans-serif;
      }

      @include bp(sx) {
        border: 1px solid $white;
        height: 6em;
        width: 25em;
        display: flex;
        padding: 15px 5px;
        position: relative;
        cursor: pointer;
        z-index: 10;

        h2, h3 {
          font-size: 1.7em;
          width: 80%;
          margin: 0;
          padding: 2px 0 0 15px;
        }

        &:after {
          content: '\2039';
          font-size: 3.8em;
          display: inline-block;
          transform: rotate(-90deg);
        }
      }
    }

    .link-container {
      width: 50%;

      @include bp(sx) { width: 100%; }

      &:last-of-type {
        .social-icon-list { padding-right: 0; }
      }
    }

    .campus-addresses {
      flex: 1 0 0;
      -ms-flex: 1;
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 10;

      @include bp(lx) {
        flex: 1 0 25%;
      }

      @include bp(sx) {
        flex: 0 0 100%;
        -ms-flex: auto;
        order: 4;
        width: 25em;
        margin: 2em 0;
      }

      .address {
        color: $white;

        &:first-child { margin-bottom: 2em; }

        p {
          margin-bottom: 0;

          &.addr-name {
            font-size: 1.4em;
            line-height: 1.4em;
            font-weight: bold;
            text-transform: uppercase;
            font-family: "futura-pt", sans-serif;
          }
        }
      }
    }

    .contact-info {
      width: 20%;
      flex: 1 0 0;
      -ms-flex: 1 0 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      i, span { font-size: 1.4em; }

      .contact-info-links {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        width: 100%;
        height: 100%;

        svg {
          width: 1.25em;
          margin: 3px;
          fill: $white;
        }

        &:hover { color: $cu-light-grey-2; }
      }
      
      div {
        width: 20em;
        height: 5em;
        margin-bottom: 1em;
        border: 1px solid rgba($white, .25);
        border-radius: 3px;

        p { margin: 0 0 0 3px;}
      }

      @include bp(lx) {
        justify-content: space-between;
        flex: 0 0 70%;
        -ms-flex: 0 0 70%;
        flex-direction: row;
        margin: 3em 0;

        div { 
          width: 30%;
          margin-bottom: 0;
        }
      }

      @include bp(mx) {
        flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        margin: 5em 0 3em 0;
      }

      @include bp(sx) {
        flex-direction: column;
        -ms-flex: auto;
        order: 3;
        width: 25em;
        margin: 0;

        div { 
          margin: 5px 0;
          border: 1px solid #fff;
          height: 6em;
          width: 25em;
          border-radius: 0;
        }

      }
      
    }

    .weather {
      flex: 0 0 100%;
      display: none;
      justify-content: flex-end;
      padding: 2em 0;

      @include bp(lx) { 
        flex: 0 0 30%;
        align-self: center;
        justify-content: center;
        margin: 3em 0;
        padding: 0;
      }

      @include bp(mx) {
        flex: 0 0 100%;
      }

      @include bp(sx) { 
        -ms-flex: auto;
        align-self: center;
        -ms-grid-column-align: center;
        width: 25em;
        margin: 3em 0;
        order: 5;
      }

      .weather-icon {

        img { width: 2.5em; }
      }

      p { margin: 0; }

      .temp {
        display: flex;
        text-align: left;
        
        abbr {
          text-decoration: none;
          border-bottom: none;
        }

        .f {
          font-size: 1.4em;
          font-weight: bold;
          line-height: 2.1em;
        }
      }
    }

    .footer-info-links {
      flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      width: 100%;
      font-size: 1.4em;
      text-align: center;
      margin: 2em 0;

      @include bp(sx) { 
        margin: 2em 0;
        -ms-flex: auto;
        text-align: center;
        justify-content: center;
        order: 6;
      }

      span {
        &:not(:last-child)::after {
          content: '|';
          margin: 0 1em;
        }
      }

      a {
        color: $white;
        margin: 0px;
        line-height: 1.4em;

        &:hover { 
          color: $cu-light-grey-2;
          border-bottom: 2px solid $cu-light-grey-2;
          width: 75%;
        }

        &:focus {
          outline: 2px dotted $cu-light-grey-2;
        }
      }
    }

    .back-to-top {
      flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      text-align: center;
      margin: 5em 0;

      a:focus { outline: 2px dotted white;}

      @include bp(mx) { grid-row: 6 / span 1;}

      @include bp(sx) { 
        margin: 5em;
        order: 7; 
      }

      svg {
        height: 4em;
        fill: white;
      }
    }

    .copyright {
      flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      display: flex;
      justify-content: center;
      border-top: 1px solid rgba($white, .25);
      padding: 2.5em 0;
      font-size: 1.2em;
      font-weight: bold;
      font-style: normal;

      @include bp(sx) { 
        align-self: center;
        -ms-grid-column-align: center;
        order: 8;
      }
    }
  }
}
