<ul>
  <li><a class="home" href="../../../../index.aspx" title="Chapman University Website Home Page"><svg aria-hidden="true"
        focusable="false" data-prefix="fas" data-icon="home" class="svg-inline--fa fa-home fa-w-18" role="img"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
        <path fill="currentColor"
          d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z">
        </path>
      </svg></a></li>
  <li><span class="bullet"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-right"
        class="svg-inline--fa fa-caret-right fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 192 512">
        <path fill="currentColor"
          d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z">
        </path>
      </svg></span><a href="../../../index.aspx">Crean College of Health and Behavioral Sciences</a>
  </li>
  <li><span class="bullet"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-right"
        class="svg-inline--fa fa-caret-right fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 192 512">
        <path fill="currentColor"
          d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z">
        </path>
      </svg></span><a href="../../index.aspx">Academic Programs</a></li>
  <li><span class="bullet"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-right"
        class="svg-inline--fa fa-caret-right fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 192 512">
        <path fill="currentColor"
          d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z">
        </path>
      </svg></span><a href="../index.aspx">Undergraduate Programs</a></li>
  <li><span class="bullet"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-right"
        class="svg-inline--fa fa-caret-right fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 192 512">
        <path fill="currentColor"
          d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z">
        </path>
      </svg></span>BA Psychology</li>
</ul>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet">


<div class="school-social-media-icons" id="social_follow_us">
  <ul>
    <li class="school-social-media-icons__follow">Follow</li>


    <a aria-label="facebook" href="https://www.facebook.com/creancollege">
      <li class="facebook fab fa-facebook-square first" aria-hidden="true"></li>
    </a>


    <a aria-label="instagram" href="https://www.instagram.com/chapman_crean/">
      <li class="instagram fab fa-instagram-square" aria-hidden="true"></li>
    </a>


    <a aria-label="blog" href="https://blogs.chapman.edu/crean/">
      <li class="blog fas fa-rss-square last" aria-hidden="true"></li>
    </a>
  </ul>
</div>