<div class="school-social-media-icons" id="social_follow_us">
  <ul>
    <li class="school-social-media-icons__follow">Follow</li>                    
    <a href="https://www.facebook.com/ChapmanUniversityAdmission"><li class="facebook fab fa-facebook-square first"></li></a>                 
    <a href="http://twitter.com/#!/chapmanadmit"><li class="twitter fab fa-twitter-square"></li></a>                        
    <a href="http://chapmanadmission.tumblr.com/"><li class="blog fas fa-rss-square"></li></a>                 
    <a href="https://www.instagram.com/chapmanadmission/"><li class="instagram fab fa-instagram last"></li></a>
  </ul>
</div>