 .subpage-masthead {
     .subbrand-masthead-wrapper {
         .brochure-masthead .foreground-content {
             text-align: left;
         }

         h2.headline.secondary.subhead, .faux-h2.headline.secondary.subhead,
         button,
         .dropdown {
             display: none;
         }

         h1.headline.primary.title, .faux-h1.headline.primary.title {
             font-size: 72px;
             color: $white;
             font-family: $futura-condensed;
             font-weight: 500;
             text-transform: uppercase;
             text-shadow: 0.05em 0.05em 0.1em rgba(0, 0, 0, 0.5);
             line-height: 0.9em;
             margin-bottom: -10px;
             max-width: 700px;
         }

         @media screen and (max-width: 1180px) {}

         @media screen and (max-width: 780px) {
             .brochure-masthead .foreground-content {
                 text-align: center;
             }
         }

         @media screen and (max-width: 480px) {
             h2.headline.secondary.subhead, .faux-h2.headline.secondary.subhead {
                 font-size: 18px;
             }

             h1.headline.primary.title, .faux-h1.headline.primary.title {
                 font-size: 40px;
             }
         }

     }
 }