#uninav--logo {
  margin-left: 2.5rem;
  // min-width: 300px;

  .chapman-logo {
    width: 300px;
  }
}

@include respond(tab-land) {
  .uninav__logo-wrapper {
    width: 100%;
    height: $uninav-div-height;
  }

  #uninav--logo {
    // min-width: 200px;
  }
}

@include respond(tab-port) {

  #uninav--logo,
  .uninav__logo-wrapper {
    // width: auto;
    // min-width: 200px;
  }
}

.secondary-logo {
  font-weight: 800;
  font-size: 1.2em;
  width: 100%;
  // min-width: 300px;
  border-left: 1px solid $cu-red;
  align-self: center;
  margin-left: 2rem;
  padding-left: 2rem;
  grid-area: secondaryLogo;
}

.uninav__logo-wrapper {

  width: 100%;

}


@include respond(tab-land) {
  .uninav__logo-wrapper {
    // width: 300px;

    #uninav--logo {
      // min-width: 100%;
    }
  }

  .secondary-logo {
    // min-width: 100%;
  }
}

@include respond(tab-port) {
  .uninav__logo-wrapper {
    // width: 300px;

    #uninav--logo {
      // min-width: 100%;
    }
  }

  .secondary-logo {
    // min-width: 100%;
    display: none;
  }
}

@include respond(phone) {

  .uninav__logo-wrapper,
  #uninav--logo .chapman-logo {
    width: 100%;
  }
}