.uninav__login-button {
  z-index: 2;

  ul li {
    color: $white;
  }
}

.uninav__login-button a {
  color: $white;
  fill: $white;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  svg {
    height: 2rem;

    &#Layer_1 {
      margin-right: .8rem;
      margin-left: .8rem;
    }
  }

}

.uninav__login-button ul li {
  border-bottom: 1px solid #333;
}

.uninav__menu-item-login {
  background-color: $panther-black;
  width: 80px;
  height: 100%;
  font-size: 1.2em;
  color: $uninav-light-grey;
  text-align: center;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include linear-300;
  cursor: pointer;

  .uninav__menu-item-dropdown-child ul a {
    color: $white;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  &:hover {
    color: $white;

    a,
    i {
      transition: 100ms ease-in-out;
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      -webkit-transition: 100ms ease-in-out;
      -moz-transition: 100ms ease-in-out;
      -ms-transition: 100ms ease-in-out;
      -o-transition: 100ms ease-in-out;
    }
  }
}

@include respond(tab-port) {
  .uninav__menu-item-login {
    @include qbal-slideLeft-enter;
  }
}