#uninav--logo {
  margin-left: 2.5rem;
}

@include respond(tab-land) {
  .uninav__logo-wrapper {
    width: 100%;
    height: $uninav-div-height;
  }

  #uninav--logo {
    // min-width: 300px !important;
  }
}

@include respond(tab-port) {

  #uninav--logo,
  .uninav__logo-wrapper {
    width: auto;
  }
}

.secondary-logo {
  font-weight: 800;
  font-size: 1.2em;
  width: 100%;
  // min-width: 300px;
  border-left: 1px solid $cu-red;
  align-self: center;

  margin-left: 5%;

  padding-left: 5%;
}


@include respond(tab-land) {
  .secondary_logo {
    min-width: auto;
  }

  nav#uninav #uninav--cta {

    // display: none;
    a {

      // background: none;
 // color: $panther-black;
 // min-width: auto;

    }

  }
}