@include respond(tab-land) {
  .uninav__logo-wrapper {
    width: 100%;
  }

  #uninav--logo {
    width: 300px !important;
  }
}

@include respond(tab-port) {

  #uninav--logo,
  .uninav__logo-wrapper {
    width: auto;
  }
}