.uninav--global-nav-wrapper {
  display: flex;
  flex-flow: row wrap;

  // list items pipe characters
  li {
    position: relative;
    float: left;
    display: block;
    flex: 0 1 auto;
    // padding: 0 10px;
    list-style: none;
  }

  // pipe
  .uninav--menu-item-pipe {
    p ul>li+li:after {
      content: "";
      background: $light-grey;
      position: absolute;
      bottom: 25%;
      left: 0;
      height: 50%;
      width: 1px;
    }
  }

  // no pipe
  .uninav--menu-item-no-pipe {
    ul>li+li:after {
      content: "";
      background: none;
      position: relative;
      bottom: 0;
      left: 0;
      height: 0;
      width: 0;
    }
  }

  .uninav--dropdown-parent {
    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      // margin-left: -1px;
    }

    .uninav--dropdown-child {
      min-width: 150px;
      font-weight: 400;
      cursor: pointer;
      box-sizing: inherit;
      word-wrap: break-word;
      width: 200px;
      left: 0;
      background-color: $white;
      box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.2);
      @include qbal-dropdown-enter;

      z-index: 2;

      ul {
        flex-direction: column;
      }

      li {
        line-height: 2.2rem;
      }

      a {
        background: none;
      }

      @include underline-animation-black;
    }
  }

  &:hover,
  &:focus,
  &:focus-within {
    .uninav--dropdown-child {
      display: block;
    }
  }

  .uninav--dropdown-child a:after {
    content: none;
  }
}

.uninav--global-nav {

  // caret
  a:after {
    font-family: FontAwesome;
    font-weight: 900;
    content: "\25be";
    padding-left: 12px;
    margin-right: 10px;
  }
}

@include respond(uninav__tab-land) {
  .uninav--global-nav {
    a {
      display: inline-block;
      padding: 5px 8px;
      flex: 0 1 auto;
      text-decoration: none;
      color: #231f20;

      &::after {
        font-family: FontAwesome;
        font-weight: 900;
        content: "\f0d7";
        padding-left: 12px;
        margin-right: 2px;
      }
    }
  }

}

@include respond(uninav__phone) {
  .uninav-navbar {

    border-bottom: none;

  }

  .uninav--global-nav {
    // width: 100vw;
    height: auto;
    display: none;

    ul {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }
}