.uninav__menu-item-login {
  background-color: $panther-black;
  width: 80px;
  height: 100%;
  font-size: 1.2em;
  color: $light-grey;
  text-align: center;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include linear-300;
  cursor: pointer;

  &:hover {
    color: $white;

    a,
    i {
      transition: 100ms ease-in-out;
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      -webkit-transition: 100ms ease-in-out;
      -moz-transition: 100ms ease-in-out;
      -ms-transition: 100ms ease-in-out;
      -o-transition: 100ms ease-in-out;
    }
  }
}