$uninav-height: 60px;

// MIXINS
@mixin futura-pt {
  font-family: "futura-pt", arial, sans-serif;
}

@mixin uninav-border-top {
  border-bottom: 1px solid $light-grey;
}

@mixin uninav-border-bottom {
  border-bottom: 1px solid $light-grey;
}

@mixin uninav__menu-item--piped {
  display: flex;
  justify-content: center;
  border-right: 1px solid #8a8a8a;

  &:last-child {
    border-right: none;
  }
}

@mixin uninav__menu-item--dropdown-parent {
  content: "\f0d7";
}

// END MIXINS
// RESETS
html {
  padding-top: 0;
}

#uninav {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  position: fixed;
  width: 100vw;

  li {
    margin: unset;
    list-style: none;
    font-family: "futura-pt", arial, sans-serif;
  }
}

// END RESETS
// UNINAV STRUCTURE
#uninav {
  display: grid;
  // width: 100%;
  // height: 250px;
  grid-template-areas: "logo utility"
    "global cta";
  grid-template-columns: repeat(2, 1fr);
  // grid-gap: 1em;
  background-color: $white;

  .uninav__menu-item--audiences:nth-child(4),
  .uninav__menu-item--audiences:nth-child(5) {
    border-right: none;
  }

  .uninav__utility-nav--search-wrapper {
    display: flex;
    align-content: center;
    align-items: center;
    border: 2px solid grey;
    margin-right: 2rem;
  }

  li.uninav__search-input {
    // height: 30px;
  }
}


.uninav__hamburger-menu {
  display: none;
}

/* Inline #7 | http://localhost:5000/uninav */
.uninav__logo-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;

  #uninav--logo {
    max-width: 300px;
  }

  border-bottom: 1px solid $light-grey;
}

.uninav--utility-nav {
  grid-area: utility;
  // background-color: orange;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid $light-grey;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      flex-grow: 1;
      flex-basis: auto;
      text-align: center;
      border-right: 1px solid #ccc;

      &.uninav__search-input {
        // border-right: none;
      }

      &:last-of-type {
        flex-grow: 0;
        flex-basis: unset;
      }
    }

    .uninav__utility-nav--search-wrapper input {
      border: none;
      box-shadow: none;
      margin-bottom: 0;
    }

    .fas.fa-search {
      color: $grey;
      padding-right: 1.2rem;
      padding-left: 1.2rem;
      cursor: pointer;
    }


  }

  .uninav__menu-item-dropdown-child {
    background-color: $panther-black;
    color: $white;
    // display: block;
    width: 300px;
    right: 0;
    position: absolute;
    margin-left: auto;
  }
}

.uninav--global-nav {
  grid-area: global;
  height: $uninav-height;
  @include uninav-border-top;

  // background-color: orange;
  a {
    display: flex;
    justify-content: center;
    border-right: 1px solid $light-grey;
  }

  .uninav__menu-item-dropdown-parent>a::after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f0d7";
    padding-left: 1rem;
  }

  &>ul {
    display: flex;
    align-items: center;
    height: 100%;

    &>li {
      flex: 100%;
    }

    ul li ul {
      justify-content: start;
    }
  }
}

#uninav>div.uninav--cta {
  grid-area: cta;
  // background-color: wheat;
  width: 100%;
  // CTA CHILDREN ITEMS
  display: flex;
  justify-content: end;
  align-content: center;
  align-items: center;
  @include qbal-fade-enter;
  @include uninav-border-bottom;

  ul {
    display: flex;

    li {
      flex: 1 100%;
      list-style: none;

      a {
        @include button($red);
        @include futura-pt;
        padding: 5px;
        margin-right: 10px;
        min-width: 100px;
        display: block;
        text-align: center;
      }
    }
  }
}

#uninav>nav {
  grid-area: nav;
  // background-color: #ffa08c;
}

#uninav>global {
  grid-area: global;
  // background-color: #ffa08c;
}

#uninav>div.primary-logo {
  max-width: 300px;
  grid-area: logo;
}

// UNINAV STRUCTURE
// UNINAV DROPDOWNS
.uninav__menu-item-dropdown-child {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background-color: white;
  flex-direction: column;

  >ul {
    flex-direction: column;
    justify-content: start;
    text-align: left;
    align-items: start;

    li {
      border-right: none;
    }
  }
}

.uninav__menu-item-dropdown-parent {
  display: block;
  flex-direction: column;
  position: relative;

  // text-align: center;
  a:after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f0d7";
    padding-left: 1rem;
  }

  &:hover {
    .uninav__menu-item-dropdown-child {
      display: flex;
      @include qbal-dropdown-enter;
      @include linear-300;
    }
  }
}

.uninav__dropdown-wrapper {
  // position: relative;
}

// END UNINAV DROPDOWNS

@include respond(tab-land) {
  .uninav--cta {
    @include qbal-fade-enter;
  }
}

// MEDIA QUERIES
@include respond(tab-land) {
  .uninav__menu-item--audiences {
    // need a slicker preferably non-js fadeout solution since display: none is not animatable 
    @include qbal-slideLeft-exit;
    display: none;
  }

  #uninav {
    display: grid;
    grid-template-areas: "logo cta utility"
      "global global global";
    background-color: $white;
    border-bottom: none !important;


    .uninav--global-nav {
      @include qbal-growExaggerated-enter;
    }

    #uninav--cta {
      @include uninav-border-bottom;
      @include qbal-drop-enter;
    }
  }


  .uninav--utility-nav {
    display: flex;
    justify-content: end;
  }
}

// TABLET PORTRAIT
@include respond(tab-port) {
  #uninav {
    grid-template-areas: "hamburger logo utility";
    grid-template-columns: 80px 1fr 1fr;
  }


  .uninav__hamburger-menu {
    grid-area: "hamburger";
    display: flex;
    align-items: center;
    justify-content: center;
    // transform: scale(1.2);
    // margin-top: -5px;
    @include qbal-slideRight-enter;

  }

  .uninav--utility-nav {
    border-bottom: none;
  }

  .uninav__logo-wrapper {
    @include qbal-grow-enter;
    border-bottom: none;
  }

  #uninav>div.uninav--cta {
    display: none;
  }

  #uninav>div.uninav--global-nav {
    display: none;
  }

  .uninav__search-input {
    // display: none;
    @include qbal-collapseHorizontal164-exit;
  }

  .uninav__utility-nav--search-wrapper {
    @include qbal-slideRight-enter;

    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    margin-right: 0 !important;
  }

  .uninav--utility-nav ul li {
    border-right: none;
  }
}



// END TABLET PORTRAIT
// END MEDIA QUERIES