.uninav__dropdown-wrapper,
.uninav__dropdown-parent {
  a {
    color: $panther-black;
  }
}

.uninav__menu-item-dropdown-child {
  min-width: 300px;

  ul {
    display: flex;
    padding: 4rem;
    -webkit-font-smoothing: antialiased;
    color: #2f2f2f;
    font-family: "futura-pt", arial, sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
    cursor: pointer;
    visibility: visible;
    box-sizing: inherit;
    word-wrap: break-word;
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    padding-top: 1.5rem;

    li {
      width: 100%;
      display: flex;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 2rem;
      @include uninav-border-bottom;
    }

    .uninav--global-nav {
      a {
        border-right: none;
        color: $panther-black;
      }
    }
  }

  .icon::before {
    margin-right: 1rem;
  }
}