#uninav--utility-nav {
  display: flex;
  align-items: center;

  ul {
    align-items: center;
  }

  .uninav--utility-nav-audience-links {

    display: flex;

  }

  @include respond(uninav__tab-land) {


    .fa.fa-caret-down {
      display: none;
    }

    .uninav--search-caret-wrapper {
      height: $uninav-height;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
    }

    .uninav-item.uninav--search {
      margin-right: 0;
      width: $utility-button-width;
    }

    .uninav--utility-nav-audience-links {

      display: none;

    }
  }


}

@include respond (uninav__tab-port) {
  .uninav--utility-nav-audience-links {
    display: none;
  }

  @include respond(uninav__tiny) {
    #uninav--utility-nav {
      display: inline-flex;
      align-items: center;
      margin-top: 50px;
    }

    #uninav--utility-nav {

      flex-grow: 1;
      margin: unset;
      display: inline-flex;

    }
  }
}