$uninav-height: 60px;



// MIXINS
@mixin uninav__menu-item--piped {
  display: flex;
  justify-content: center;
  border-right: 1px solid #8a8a8a;

  &:last-child {
    border-right: none;
  }
}

@mixin uninav__menu-item--dropdown-parent {
  content: "\f0d7";
}

// END MIXINS
// RESETS
html {
  padding-top: 0;
}

#uninav {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;

  li {
    margin: unset;
    list-style: none;
  }

  .uninav__utility-nav--search-wrapper input {
    border: none;
    box-shadow: none;
  }
}

// END RESETS
// UNINAV STRUCTURE
#uninav {
  display: grid;
  // width: 100%;
  // height: 250px;
  grid-template-areas: "logo utility"
    "global cta";
  grid-template-columns: repeat(2, 1fr);
  // grid-gap: 1em;
  background-color: $white;

  .uninav__menu-item--audiences:nth-child(4),
  .uninav__menu-item--audiences:nth-child(5) {
    border-right: none;
  }

  .uninav__utility-nav--search-wrapper {
    border: 2px solid $light-grey;
  }
}


/* Inline #7 | http://localhost:5000/uninav */


.uninav__logo-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;

  #uninav--logo {
    max-width: 300px;
  }

  border-bottom: 1px solid $light-grey;
}


.uninav--utility-nav {
  grid-area: utility;
  // background-color: orange;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid $light-grey;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      flex-grow: 1;
      flex-basis: auto;
      text-align: center;
      border-right: 1px solid #ccc;

      &:last-of-type {
        flex-grow: 0;
        flex-basis: unset;
      }
    }
  }
}

.uninav--global-nav {
  grid-area: global;
  height: $uninav-height;
  // background-color: orange;

  a {
    display: flex;
    justify-content: center;
    // border-right: 1px solid $light-grey;

    &:after {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: "\f0d7";
      padding-left: 1rem;
    }

  }


  &>ul {
    display: flex;
    align-items: center;
    height: 100%;

    &>li {
      flex: 100%;


    }

    ul li ul {
      justify-content: start;
    }
  }
}

#uninav>div.uninav--cta {
  grid-area: cta;
  // background-color: wheat;
  width: 100%;

  // CTA CHILDREN ITEMS
  display: flex;
  justify-content: end;
  align-content: center;
  align-items: center;

  ul {
    display: flex;

    li {
      flex: 1 100%;
      list-style: none;

      a {
        @include button($red);
        padding: 10px;
        margin-right: 10px;
      }
    }
  }
}

#uninav>nav {
  grid-area: nav;
  // background-color: #ffa08c;
}

#uninav>global {
  grid-area: global;
  // background-color: #ffa08c;
}

#uninav>div.primary-logo {
  max-width: 300px;
  grid-area: logo;
}

// UNINAV STRUCTURE
// UNINAV DROPDOWNS
.uninav__menu-item-dropdown-child {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background-color: white;
  flex-direction: column;

  >ul {
    flex-direction: column;
    justify-content: start;
    text-align: left;
    align-items: start;

    li {
      border-right: none;
    }
  }

}

.uninav__menu-item-dropdown-parent {
  display: block;
  flex-direction: column;
  position: relative;
  // text-align: center;

  a:after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f0d7";
    padding-left: 1rem;
  }

  &:hover {
    .uninav__menu-item-dropdown-child {
      display: flex;
      @include qbal-grow-enter;
      @include linear-300;
    }
  }
}

.uninav__dropdown-wrapper {
  // position: relative;
}

// END UNINAV DROPDOWNS


// MEDIA QUERIES
@include respond(tab-land) {
  .uninav__menu-item--audiences {
    // need a slicker preferably non-js fadeout solution since display: none is not animatable 
    @include qbal-slideLeft-exit;
    display: none;
  }

  .uninav--utility-nav {
    display: flex;
    justify-content: end;
  }
}

// END MEDIA QUERIES