// UNINAV.SCSS

$uninav-height: 60px;

// MIXINS
@mixin futura-pt {
  font-family: "futura-pt", arial, sans-serif;
}

@mixin uninav-border-top {
  border-bottom: 1px solid $uninav-light-grey;
}

@mixin uninav-border-bottom {
  border-bottom: 1px solid $uninav-light-grey;
}

@mixin uninav__menu-item--piped {
  display: flex;
  justify-content: center;
  border-right: 1px solid #8a8a8a;

  &:last-child {
    border-right: none;
  }
}

@mixin uninav__menu-item--dropdown-parent {
  content: "\f0d7";
}

@mixin uninav-drop-shadow {
  // todo: https://tobiasahlin.com/blog/how-to-animate-box-shadow/
  box-shadow: 0 37.125px 70px -12.125px rgba(0, 0, 0, 0.1);
  transition: box-shadow .5s ease;

  &:hover {
    box-shadow: 0 37.125px 70px -12.125px rgba(0, 0, 0, 0.3);
  }




}

// END MIXINS
// RESETS
html {
  padding-top: 0;
}

#uninav {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  position: fixed;
  width: 100vw;
  font-family: "futura-pt", arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  box-shadow: 0 37.125px 70px -12.125px rgba(0, 0, 0, 0.1);

  li {
    margin: unset;
    list-style: none;
    font-family: "futura-pt", arial, sans-serif;
    will-change: background-color;

    &:hover {
      // background-color: $uninav-light-grey;
      // transition: background-color 0.3s ease-out;
    }
  }

  ul li ul {
    li {
      &:hover {
        // background-color: $uninav-light-grey;
        // transition: background-color 0.3s ease-out;
      }
    }
  }
}

// END RESETS
// UNINAV STRUCTURE
#uninav {
  display: grid;
  // width: 100%;
  // height: 250px;
  grid-template-areas: "logo utility"
    "global cta";
  // grid-template-columns: repeat(2, 1fr);
  grid-template-columns: 30% 70%;
  // grid-gap: 1em;
  background-color: $white;
}


.uninav__hamburger-menu {
  display: none;
}

/* Inline #7 | http://localhost:5000/uninav */
.uninav__logo-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;

  #uninav--logo {
    width: 300px;
  }

  border-bottom: 1px solid $uninav-light-grey;
}


.uninav--global-nav {
  grid-area: global;
  height: $uninav-height;
  @include uninav-border-top;

  // background-color: orange;
  a {
    display: flex;
    justify-content: center;
    border-right: 1px solid $uninav-light-grey;
  }

  .uninav__dropdown-wrapper>a::after {

    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f0d7";
    padding-left: 1rem;
    font-size: 1.4rem;
  }

  &>ul {
    display: flex;
    align-items: center;
    height: 100%;

    &>li {
      flex: 100%;
    }

    ul li ul {
      justify-content: start;
    }

    .uninav__menu-item-dropdown-child a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

#uninav>div.uninav--cta {
  grid-area: cta;
  // background-color: wheat;
  width: 100%;
  // CTA CHILDREN ITEMS
  display: grid;
  justify-content: end;
  align-content: center;
  align-items: center;
  // @include qbal-stagger-children;
  @include uninav-border-bottom;

  ul {
    display: flex;

    &>li {
      flex: 1 100%;
      list-style: none;
      color: $panther-black;
      @include uninav-drop-shadow;
      @include qbal-slideLeft-enter;
      // @include qbal-fade-enter;

      a {
        @include button($red);
        @include futura-pt;
        padding: 5px;
        margin-right: 10px;
        min-width: 100px;
        display: block;
        text-align: center;
        font-weight: 300;
      }
    }
  }
}

#uninav>nav {
  grid-area: nav;
  // background-color: #ffa08c;
}

#uninav>global {
  grid-area: global;
  // background-color: #ffa08c;
}

#uninav>div.primary-logo {
  width: 300px;
  grid-area: logo;
}

// UNINAV STRUCTURE
// UNINAV DROPDOWNS
.uninav__menu-item-dropdown-child {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background-color: white;
  flex-direction: column;
  @include uninav-drop-shadow();

  >ul {
    flex-direction: column;
    justify-content: start;
    text-align: left;
    align-items: start;

    li,
    a {
      border-right: none;
    }

  }
}

.uninav__menu-item-dropdown-parent {
  display: block;
  flex-direction: column;
  position: relative;

  // text-align: center;

  &:hover {
    .uninav__menu-item-dropdown-child {
      display: flex;
      @include qbal-dropdown-enter;
      // @include linear-300;
    }
  }
}

.uninav__dropdown-wrapper {
  // position: relative;
}

// END UNINAV DROPDOWNS
@include respond(big-desktop) {
  div.uninav--cta {
    @include qbal-slideLeft-enter;
  }

  .uninav__logo-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;

    #uninav--logo {
      width: 300px;
    }
  }
}



// MEDIA QUERIES
@include respond(tab-land) {
  #uninav {
    grid-template-columns: repeat(2, 1fr);
  }

  .uninav__logo-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;

    #uninav--logo {
      width: 100%;
    }
  }

  .uninav__menu-item--audiences {
    // need a slicker preferably non-js fadeout solution since display: none is not animatable 
    @include qbal-slideLeft-exit;
    display: none;
  }

  #uninav {
    display: grid;
    grid-template-areas: "logo cta utility"
      "global global global";
    background-color: $white;
    border-bottom: none !important;


    .uninav--global-nav {
      @include qbal-growExaggerated-enter;

      ul li,
      &>a {
        color: $panther-black;
      }
    }

    #uninav--cta {
      @include uninav-border-bottom;
      @include qbal-drop-enter;
    }
  }


  .uninav__utility-nav--wrapper {
    display: flex;
    justify-content: end;
  }
}

// TABLET PORTRAIT
@include respond(tab-port) {
  #uninav {
    grid-template-areas: "hamburger logo utility";
    grid-template-columns: 10% 40% 50%;
  }

  .uninav__utility-nav {
    /* min-width: auto; */
    /* min-width: 100%; */
    width: 100%;
  }

  #uninav .uninav__utility-nav--wrapper ul {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: start;
    // all: unset;
    display: unset;
    justify-content: unset;
    display: flex;
    justify-content: space-between;

  }

  .uninav__logo-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;

    #uninav--logo {
      width: auto;
    }
  }


  .uninav__hamburger-menu {
    grid-area: "hamburger";
    display: flex;
    align-items: center;
    justify-content: start;
    // transform: scale(1.2);
    // margin-top: -5px;
    @include qbal-slideRight-enter;

  }

  .uninav__utility-nav--wrapper {
    border-bottom: none;
  }

  .uninav__logo-wrapper {
    @include qbal-grow-enter;
    border-bottom: none;
  }

  #uninav>div.uninav--cta {
    display: none;
  }

  #uninav>div.uninav--global-nav {
    display: none;
  }

  .uninav__utility-nav--wrapper ul li {
    border-right: none;
  }
}

// END TABLET PORTRAIT
// END MEDIA QUERIES