.uninav__menu-item-dropdown-child {
  min-width: 300px;
}

.uninav__menu-item-dropdown-child ul {
  display: flex;
  padding: 4rem;
  -webkit-font-smoothing: antialiased;
  color: #2f2f2f;
  font-family: "futura-pt", arial, sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  cursor: pointer;
  visibility: visible;
  box-sizing: inherit;
  word-wrap: break-word;
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  padding-top: 1.5rem;
}

.uninav__menu-item-dropdown-child ul li {
  width: 100%;
  display: flex;
  border-bottom: 1px solid black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

.uninav__menu-item-dropdown-child ul a {
  border-right: none;
}

.uninav__menu-item-dropdown-child .icon::before {
  margin-right: 1rem;
}
