.uninav__dropdown-wrapper,
.uninav__dropdown-parent {
  a {
    color: $panther-black;
  }
}

.uninav--global-nav .uninav__menu-item-dropdown-child li {

  &:hover {
    background-color: $uninav-light-grey;
    transition: background-color 0.3s ease-out;
  }
  a {
    color: $panther-black;
  }
}

.uninav__menu-item-dropdown-child {
  min-width: 300px;
  // @include qbal-fade-exit;

  ul {
    display: flex;
    padding: 4rem;
    -webkit-font-smoothing: antialiased;
    color: $panther-black;
    font-family: $futura-regular;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
    cursor: pointer;
    visibility: visible;
    box-sizing: inherit;
    word-wrap: break-word;
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    padding-top: 1.5rem;
    @include qbal-slideUp-enter;
    // @include qbal-stagger-children;
    // @include qbal-fade-enter;

    li {
      width: 100%;
      display: flex;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 2rem;

      @include uninav-border-bottom;
      // @include qbal-fade-enter;
      // @include qbal-slideUp-enter;
      // @include qbal-stagger-children;
      // @for $i from 1 to 10 {
      //   &:nth-child(#{$i}) {
      //     animation-delay: $i * 0.25s;
      //   }
      // }

    }

    .uninav--global-nav {
      a {
        border-right: none;
        color: $panther-black;
      }
    }
  }

  .icon::before {
    margin-right: 1rem;
  }
}

// .uninav--global-nav {
//   width: 900px;
// }

@include respond(big-desktop) {
  .uninav--global-nav {
    width: 900px;
  }
}

@include respond(tab-land) {
  .uninav--global-nav {
    min-width: unset;
    width: 100vw;
  }
}