//attallah college but /education folder
#theme.education {
  @include theme-color-classes($education-primary);

  .smallMasthead .masthead,
  .bigMasthead .mastheadPlaceholder,
  .bigMasthead .masthead,
  .nameBar, .rightColumn .styleTwo {
    background: $education-primary;
  }

  .rightColumn .styleTwo .border {
    background-color: $education-tertiary;
  }

  .rightColumn .styleTwo a {
    color: #ffffff;
    border-bottom: 2px dotted #8eb2bf;
  }

  .nameBarButtons li a {
    color: $education-primary;
  }

  #social_follow_us {

    .banner {
      background-image: url('/images/education_follow_us.png');
    }

    li span {

      &.hover_state,
      &.inactive_state {
        background-image: url('/images/education_icons.png');
      }
    }
  }

  .newbutton a {
    background-color: $education-primary;
    
    &:hover {
      background-color: $education-secondary;
    }

    &:active {
      background-color: $education-tertiary;
    }
  }

  .midPhotoCallouts .photoCallout .caption {
    background-color: $education-primary;
  }

  .photoCallouts {

    .caption,
    .rollover {
      background-color: $education-primary;
    }
  }

  .leftNavSubContent .callout .view-more-expander {

    .view-more {
      background-color: $education-primary;
    }

    .view-more-link {
      background-color: $education-primary;
    }

    .view-less-link {
      background-color: $education-primary;
    }

    .icon-triangle-up {
      color: $education-primary;
    }
  }
}
