#theme.wilkinson {
  @include theme-color-classes($wilkinson-primary);

  .smallMasthead .masthead,
  .bigMasthead .mastheadPlaceholder,
  .bigMasthead .masthead,
  .nameBar, .rightColumn .styleTwo {
    background: $wilkinson-primary; /* Old browsers */
  }

  .rightColumn .styleTwo .border {
    background-color: $wilkinson-tertiary;
  }

  .rightColumn .styleTwo a {
    color: #ffffff;
    border-bottom: 2px dotted #89bbcd;
  }

  .nameBarButtons li a {
    color: $wilkinson-primary;
  }

  .expandedNameBarContainer h2 {
    color: #a8cce1;
  }

  #social_follow_us {

    .banner {
      background-image: url('/images/wilkinson_follow_us.png');
    }

    li span {

      &.hover_state,
      &.inactive_state {
        background-image: url('/images/wilkinson_icons.png');
      }
    }
  }

  .newbutton a {
    background-color: $wilkinson-primary;

    &:hover {
      background-color: $wilkinson-secondary;
    }

    &:active {
      background-color: $wilkinson-tertiary;
    }
  }

  .midPhotoCallouts .photoCallout .caption {
    background-color: $wilkinson-primary;
  }

  .photoCallouts {

    .caption,
    .rollover {
      background-color: $wilkinson-primary;
    }
  }

  .leftNavSubContent .callout .view-more-expander {

    .view-more {
      background-color: $wilkinson-primary;
    }

    .view-more-link {
      background-color: $wilkinson-primary;
    }

    .view-less-link {
      background-color: $wilkinson-primary;
    }
    
    .icon-triangle-up {
      color: $wilkinson-primary;
    }
  }
}
