.simple-form-widget {
  padding: 1.6rem;
  background-color: v(cu-light-grey);
  color: v(panther-black);

  input[type="text"],
  textarea {
    width: 100%;
    margin-bottom: 10px;
  }

  input[type="submit"] {
    width: 100%;
    margin-top: 10px;
  }

  label,
  legend {
    margin-left: 2px;
    margin-top: 1.6rem;
    margin-bottom: 2px;
    font-weight: 600;
    font-family: $futura-regular;
    line-height: 1.2em;
  }

  legend,
  fieldset {
    margin-top: 12px;
    margin-bottom: 10px;
  }

  select {
    font-family: $futura-regular;
    width: 100%;
    height: 100%;
  }

  input[type=radio]+label,
  input[type=checkbox]+label {
    font-weight: normal;
    display: inline;
    margin-top: 2px;
    margin-botton: 1.2em;
  }

  h2 {
    padding: 0 4px;

    &:after {
      content: "";
      display: block;
      margin: 0;
      width: 30%;
      padding-top: 20px;
      border-bottom: 3px solid v(panther-black);
      left: 0;
      justify-content: left;

    }
  }

  .editableContent {
    padding: 2px 4px;
  }



  input[type="submit"] {
    @include button-bg($cu-red);
    color: $white;
    background-color: $cu-red;
    text-align: center;
    font-weight: 600;
    font-family: $futura;
    font-size: 1.8rem;
  }


}

.callout.simple-form-widget {
  
  font-size: 1.4rem;
  
  h2 {
    margin-top: 12px;
  }

  input[type="Submit"] {
    margin-bottom: 2rem;  
    padding: .5rem 2rem;
    text-align: left;
  }

  input[type="text"] {
    height: 45px;
  }

  .editableContent {
    line-height: 2rem;
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }
}