/***************************************************
* Story styles - For Homepage
***************************************************/

/* Hides stacked images on older browsers */

.homepage {
  .imagerotator {
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  #featured_stories {
    width: 100%;
    position: relative;
    z-index: 30;
    overflow: auto;

    .announcement {
      overflow: auto;
      clear: both;
      margin: -15px 0 15px 0;
      padding: 2px 10px;
      background-color: var(--color-white);

      .details {
        float: none;
        max-width: 100%;
        margin-top: 25px;
      }

      .imagerotator {
        float: none;
        max-width: 100%;

        /*height:300px;*/
        img {
          width: 100%;
          height: auto;
          border-radius: 3px;
        }
      }

      .title {
        text-transform: none;
        color: $cu-red;
        font-size: 2.2rem;
        line-height: 2.6rem;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .source {
        margin: 4px 0 0;

        a {
          background-position: 0 center !important;
          color: #000000;
          opacity: 0.5;
        }
      }

      a.tag {
        color: #000000;
        opacity: 0.5;
      }

      .source a:hover,
      a.tag:hover {
        opacity: 0.8;
        color: $cu-red;
      }
    }

    .third {
      display: none;
    }
  }
}

@media only screen and (min-width: 680px) {
  .homepage {
    #featured_stories {
      .third {
        display: block;
        width: 50%;

        .story-3 {
          display: none;
        }
      }

      .announcement {
        .details {
          float: left;
          max-width: 65%;
          margin-top: 5px;
        }

        .imagerotator {
          float: left;
          margin-right: 2%;
          width: 33%;
        }
      }
    }
  }
}

@media only screen and (min-width: 960px) {
  .homepage {
    #featured_stories .third {
      width: 33%;

      .story-3 {
        display: block;
      }
    }

    /* IE Compatibility */
    .ie7 #featured_stories .third {
      padding: 0;
      width: 31%;
      margin-right: 2%;
    }

    #featured_stories .announcement {
      .details {
        float: left;
        max-width: 55%;
      }

      .imagerotator {
        float: left;
        margin-right: 2%;
        width: 43%;
      }

      .details .title {
        font-size: 3.4rem;
        line-height: 3.4rem;
      }
    }
  }
}

@media only screen and (min-width: 1180px) {
  .homepage {
    #featured_stories .announcement {
      .details {
        max-width: 349px;
      }

      .imagerotator {
        width: 725px;
        margin-right: 34px;
      }
    }
  }
}

.homepage {
  .stories {
    .story {
      .publication_date {
        display: none;
      }

      .story-bg {
        margin-top: 15px;
      }

      .permalink {
        max-height: 265px;
      }

      .title {
        color: $cu-red;
        text-transform: none;
        min-height: 50px;
      }
    }

    .blogname a {
      background-repeat: no-repeat !important;
      background-position: 10px center !important;
      background-size: 20px !important;
      display: block;
      padding-left: 35px !important;
    }

    .story {
      width: 100%;
      margin-bottom: 15px;
      color: $cu-red;
      background: var(--color-white);
      border-radius: 3px;

      .story_footer {
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        background-color: #fff;
      }

      a {
        color: $cu-red;
        text-decoration: none;
      }

      p {
        margin: 0;
      }

      img {
        max-width: 100%;
      }

      .publication_date {
        margin: 5px 0 20px 24px;
        font-size: 1.2rem;
        clear: both;
        color: #62605a;
      }

      a.permalink {
        display: block;
        overflow: hidden;
      }

      &.big a.permalink {
        max-height: 483px;
      }

      &.small a.permalink {
        max-height: 365px;
      }

      .title {
        margin: 0 20px 0 20px;
        font-size: 1.8rem;

        .beginning:after {
          content: "Ã¢â‚¬Â¦";
        }

        .end {
          display: none;
        }
      }

      a.permalink:hover .title {
        color: #C92741;

        .beginning:after {
          content: "";
        }

        .end {
          display: inline;
          /*max-height:99px;*/
        }
      }

      .tag {
        display: inline-block;
        margin: 0 0 0 0;
        color: #62605a;
        text-decoration: none;
        font-size: 1.2rem;
        /*border-radius: 3px;*/
        -webkit-transition: all 0.1s ease-out;
        -moz-transition: all 0.1s ease-out;
        -o-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out;


        &:hover,
        &:focus,
        &:focus-within {
          color: var(--color-panther-black);

          span.wavy-underline {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23f00' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
            background-position: 0 18px;
            background-size: auto 3px;
            background-repeat: repeat-x;
            padding-bottom: 5ffpx;
            text-decoration: none;
            fill: var(--color-cu-red);
          }
        }
      }


    }

    .story-bg {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #f7f6f0;
      min-height: 200px;

      img {
        display: none;
      }
    }

    .story_footer {
      position: relative;
      background: #f7f6f0;
      overflow: visible;
      min-height: 40px;
      line-height: 1.2rem;
      line-height: 2.0rem;

      p {
        margin: 0;
        font-size: 1.2rem;
        line-height: 1.8rem;
      }

      .source {
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;

        &:hover a {
          z-index: 2;
          opacity: 1;
          color: $cu-red;
        }

        a {
          padding: 14px 5px;
          display: block;
          color: #000000;
          opacity: 0.6;
          text-decoration: none;
          line-height: 11px;
          overflow: hidden;
        }

        &.facebook:before {
          content: "";
          display: block;
          width: 15px;
          height: 15px;
          background: url('../img/icons/svg/facebook_red.svg') no-repeat center left;
          background-size: contain;
          position: absolute;
          top: 10px;
          left: 10px;
          opacity: 0.8;
          -webkit-filter: grayscale(1);
        }

        &.instagram:before {
          content: "";
          display: block;
          width: 15px;
          height: 15px;
          background: url('../img/icons/svg/instagram_red.svg') no-repeat center left;
          background-size: contain;
          position: absolute;
          top: 10px;
          left: 10px;
          opacity: 0.8;
          -webkit-filter: grayscale(1);
        }

        &.twitter:before {
          content: "";
          display: block;
          width: 15px;
          height: 15px;
          background: url('../img/icons/svg/twitter_red.svg') no-repeat center left;
          background-size: contain;
          position: absolute;
          top: 12px;
          left: 11px;
          opacity: 0.8;
          -webkit-filter: grayscale(1);
        }

        &.blogs:before {
          content: "";
          display: block;
          width: 20px;
          height: 20px;
          background: image-url('cu_monogram_red.svg') no-repeat center left;
          background-size: contain;
          position: absolute;
          top: 10px;
          left: 8px;
          opacity: 0.8;
          -webkit-filter: grayscale(1);
        }

        &:hover:before {
          -webkit-filter: grayscale(0);
        }

        &.facebook a,
        &.instagram a,
        &.twitter a,
        &.blogs a {
          padding-left: 30px !important;
        }
      }
    }

    .icon {
      color: #FFFFFF;
      text-decoration: none;
    }

    a.icon {
      color: #FFFFFF;
      text-decoration: none;

      &:hover {
        opacity: 0.75;
      }
    }

    .icon {
      background-size: 14px;
      background-repeat: no-repeat;
      background-position: center right;
      padding-right: 20px;
      min-height: 14px;
      margin-right: 10px;

      &.comments {
        background-image: image-url('bubble-dots3_white.svg');
      }

      &.shares {
        background-image: image-url('share_white.svg');
      }

      &.views {
        background-image: url('../img/icons/svg/eye2_white.svg');
      }
    }

    .story .icon {
      &.comments {
        background-image: image-url('bubble-dots3.svg');
      }

      &.shares {
        background-image: image-url('share.svg');
      }

      &.views {
        background-image: url('../img/icons/svg/eye2.svg');
      }
    }
  }
}

/* Limit story tile height */

/* NOTE: ICON DATA IS DOWNLOADED FROM cu_icons.css; these rules supplement the data which is loaded. */

/* from Inside.Chapman styles */
/***************************************************
* Story structure
***************************************************/

/* Truncate long titles */

/* Expand long titles */

@media only screen and (min-width: 980px) {
  .homepage {
    .stories .story .title {
      font-size: 2.4rem;
      line-height: 2.4rem;
    }
  }
}

@media only screen and (min-width: 1180px) {
  .homepage {
    .stories .story {
      &.big {
        .title {
          font-size: 3.0rem;
          line-height: 3.2rem;
        }

        .story-bg {
          min-height: 350px;
        }
      }

      .publication_date {
        margin-bottom: 30px;
      }
    }
  }
}

/* from Inside.Chapman styles */
/***************************************************
* Footer Elements
***************************************************/

/* from Inside.Chapman styles */
/***************************************************
* Icon Elements
***************************************************/

/* No SVG Support */

.homepage {
  .no-svg .stories {
    .icon {
      &.comments {
        background-image: url('../img/icons/png/bubble-dots3_white_14.png');
      }

      &.shares {
        background-image: url('../img/icons/png/share_white_14.png');
      }

      &.views {
        background-image: url('../img/icons/png/eye2_white_14.png');
      }
    }

    .story .icon {
      &.comments {
        background-image: url('../img/icons/png/bubble-dots3_14.png');
      }

      &.shares {
        background-image: url('../img/icons/png/share_14.png');
      }

      &.views {
        background-image: url('../img/icons/png/eye2_14.png');
      }
    }
  }

  .stories {
    .action {
      display: inline-block;
      background-size: 14px;
      background-repeat: no-repeat;
      background-position: center;
      height: 40px;
      text-indent: -9999px;
      width: 0;
      position: relative;
      -webkit-transition: all 0.1s ease-out;
      -moz-transition: all 0.1s ease-out;
      -o-transition: all 0.1s ease-out;
      transition: all 0.1s ease-out;
    }
  }
}

@include respond(phone) {

  #generalInformation {
    .third {
      background-color: var(--color-sand);

    }
  }
}