/***************************************************
* Chapman Family Section
***************************************************/

.homepage {
  #chapmanFamily {
    .third {
      display: none;
    }

    .third:last-of-type {
      display: block;
    }

    h2,
    .faux-h2 {
      margin-top: 0;

    }

    @include respond(tab-port) {

      .third {
        padding-left: 0;
      }

      .homepage-news__grid-wrapper {
        grid-template-columns: repeat(3, 1fr);
      }

      .homepage-story__text {
        min-height: 200px;
      }

      .third.news-loaded:nth-child(3n) {
        display: none;
      }

      .details {
        margin-left: 20px !important;
      }

    }

  }

  @include respond(phone) {
    #chapmanFamily {
      .homepage-news__grid-wrapper {
        grid-template-columns: repeat(1, 1fr);
      }

      .third {
        padding: 20px;
      }

      .undergraduate-card__text {

        min-height: unset;
      }

      .third.news-loaded:nth-child(3n) {
        display: unset;
      }
    }
  }
}




@media only screen and (min-width: 680px) {
  .homepage {
    #chapmanFamily {
      .third {
        display: block;
      }

      .story {
        display: block;

        &.big .story-bg {
          min-height: 200px;
        }
      }

      .third:nth-of-type(3) {
        background-color: unset;
      }

      .heading {
        font-size: 4.0rem;
        line-height: 4.0rem;
      }
    }
  }
}