/***************************************************
* Chapman Family Section
***************************************************/

.homepage {
  #chapmanFamily {



    h2,
    .faux-h2 {
      margin-top: 0;
    }


    .homepage-story__text {
      display: flex;
      flex-direction: column;
      min-height: 120px;
      margin-top: 20px;
      margin-bottom: 12px;
      width: 100%;
    }

    @include respond(tab-port) {

      .third {
        padding-left: 0;

      }

      .third:nth-of-type(3) {
        background-color: unset;
      }

      .homepage-news__grid-wrapper {
        grid-template-columns: repeat(3, 1fr);
      }

      .homepage-story__text {
        display: flex;
        flex-direction: column;
        min-height: 120px;
        margin-top: 20px;
        margin-bottom: 12px;
        width: 100%;
      }

      .third.news-loaded:nth-child(3n) {
        display: none;
      }

      .details {
        margin-left: 20px !important;
      }

    }

    .homepage-story__text {
      display: flex;
      flex-direction: column;
      min-height: 120px;
      margin-top: 20px;
      margin-bottom: 12px;
      width: 100%;
    }
  }

  @include respond(phone) {
    #chapmanFamily {
      .homepage-news__grid-wrapper {
        grid-template-columns: repeat(1, 1fr);
      }

      .third {
        padding: 20px;
      }

      .undergraduate-card__text {
        min-height: 300px;
      }

      .third.news-loaded:nth-child(3n) {
        display: unset;
      }
    }
  }
}




@media only screen and (min-width: 680px) {
  .homepage {
    #chapmanFamily {
      .third {
        display: block;
      }

      .story {
        display: block;

        &.big .story-bg {
          min-height: 200px;
        }
      }

      .third:nth-of-type(3) {
        background-color: unset;
      }

      .heading {
        font-size: 4.0rem;
        line-height: 4.0rem;
      }
    }
  }
}