/***************************************************
* General Admission Information
***************************************************/

.homepage {
  #generalInformation {
    a:after {
      content: " »";
    }

    @include respond(phone) {
      .undergraduate-card__text {
        // padding-top: 0;
      }
    }
  }
}


@include respond(tab-port) {
  #generalInformation {
    .homepage-news__grid-wrapper {
      grid-template-columns: repeat(3, 1fr);

      @media all and (-ms-high-contrast:none) {
        display: block;
      }
    }

    .undergraduate-card__text {

      min-height: 570px;
    }

    .third.news-loaded:nth-child(3n) {
      display: none;
    }

    .details {
      margin-left: 20px !important;
    }
  }
}

@include respond(phone) {
  #generalInformation {
    .homepage-news__grid-wrapper {
      grid-template-columns: repeat(1, 1fr);

      @media all and (-ms-high-contrast:none) {
        display: block;
      }
    }

    .undergraduate-card__text {

      min-height: unset;
    }

    .third.news-loaded:nth-child(3n) {
      display: none;
    }

    .details {
      margin-left: 20px;
    }
  }
}

@media only screen and (min-width: 680px) {
  #generalInformation {
    .heading {
      font-size: 32px;
      line-height: 36px;
      margin: 0 50px 15px;
    }
  }
}