.homepage {
  #featured_newsroom_stories {
    padding-bottom: 40px;

    @media all and (-ms-high-contrast:none) {
      .third {
        width: 95% !important;
      }
    }

    a.button.smc-cta:hover {
      transform: translateY(-5px);
    }

    .svg-inline--fa.fa-chevron-circle-right.fa-w-16 {
      width: 40px;
      height: 40px;
      margin-right: 25px;
      margin-bottom: 25px;
      cursor: pointer;

      path {
        fill: var(--color-cu-red);
        transition: 150ms linear;
      }

      &:hover {
        path {
          fill: var(--color-red-hover);
        }
      }
    }
  }

  #featured_newsroom_stories.editors-picks .maxWidth {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .announcement {
      display: flex;
      padding: 0 10px;

      .details {
        margin-top: 30px;
      }

      @media only screen and (max-width: 678px) {
        flex-direction: column;
      }

      .imagerotator {
        height: 375px;
        min-width: 60%;
        overflow-y: hidden;

        img {
          position: relative;
          width: 100%;
          height: 100%;
          max-height: 375px;
          object-fit: cover;
        }
      }

      .details {
        width: 30%;

        @include respond(tab-port) {
          width: auto;
          margin-left: 20px;
          margin-top: 20px;
        }

        a.tag {
          color: #000000;
          opacity: 0.5;

          &:hover {
            opacity: 0.8;
            color: $cu-red;
          }
        }

        .title {
          font-size: 3.4rem;
          line-height: 3.4rem;
          margin: 0;

          @media only screen and (max-width: 960px) {
            font-size: 22px;
            line-height: 26px;
          }
        }

        .source a {
          background-position: 0 center !important;
          color: #000000;
          opacity: 0.5;

          &:hover {
            opacity: 0.8;
            color: $cu-red;
          }
        }
      }
    }

    .third {
      float: none;

      @media only screen and (max-width: 960px) {
        width: 50%;

        &:nth-child(4) {
          display: none;
        }
      }

      @media only screen and (max-width: 678px) {
        display: none;
      }
    }

    .actions {
      width: 100%;
    }

    // Loading Animation
    .news-loading {
      visibility: hidden;
      height: 0;
      opacity: 0;
      transition: visibility 0s, opacity 0.5s linear;
    }

    .news-loaded {
      visibility: visible;
      height: auto;
      opacity: 1s;
      transition: visibility 0s, opacity 0.5s linear;
    }

    .lds-spinner {
      display: flex;
      justify-content: center;
      position: relative;
      width: 100%;
      height: 164px;
      margin: 40px auto;
    }

    .lds-spinner div {
      transform-origin: 32px 32px;
      animation: lds-spinner 1.2s linear infinite;
    }

    .lds-spinner div:after {
      content: " ";
      display: block;
      position: absolute;
      top: -29px;
      left: 29px;
      width: 5px;
      height: 29px;
      border-radius: 20%;
      background: #000;
    }

    .lds-spinner div:nth-child(1) {
      transform: rotate(0deg);
      animation-delay: -1.1s;
    }

    .lds-spinner div:nth-child(2) {
      transform: rotate(30deg);
      animation-delay: -1s;
    }

    .lds-spinner div:nth-child(3) {
      transform: rotate(60deg);
      animation-delay: -0.9s;
    }

    .lds-spinner div:nth-child(4) {
      transform: rotate(90deg);
      animation-delay: -0.8s;
    }

    .lds-spinner div:nth-child(5) {
      transform: rotate(120deg);
      animation-delay: -0.7s;
    }

    .lds-spinner div:nth-child(6) {
      transform: rotate(150deg);
      animation-delay: -0.6s;
    }

    .lds-spinner div:nth-child(7) {
      transform: rotate(180deg);
      animation-delay: -0.5s;
    }

    .lds-spinner div:nth-child(8) {
      transform: rotate(210deg);
      animation-delay: -0.4s;
    }

    .lds-spinner div:nth-child(9) {
      transform: rotate(240deg);
      animation-delay: -0.3s;
    }

    .lds-spinner div:nth-child(10) {
      transform: rotate(270deg);
      animation-delay: -0.2s;
    }

    .lds-spinner div:nth-child(11) {
      transform: rotate(300deg);
      animation-delay: -0.1s;
    }

    .lds-spinner div:nth-child(12) {
      transform: rotate(330deg);
      animation-delay: 0s;
    }

    @keyframes lds-spinner {
      0% {
        opacity: 1;
      }

      100% {
        opacity: 0;
      }
    }
  }
}