.homepage {

  #featured_newsroom_stories.editors-picks .maxWidth {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .announcement {
      display: flex;
      padding: 0 10px;

      @media only screen and (max-width: 678px) {
        flex-direction: column;
      }

      .imagerotator {
        margin-right: 35px;
        height: 375px;
        width: 666px;

        @media only screen and (max-width: 960px) {
          width: 60%;
          height: auto;
        }

        @media only screen and (max-width: 678px) {
          width: 100%;
        }

        img {
          position: relative;
          width: 100%;
          height: auto;
          max-height: 375px;
          object-fit: cover;
        }


      }

      .details {
        width: 30%;

        @media only screen and (max-width: 960px) {
          width: 40%;
        }

        @media only screen and (max-width: 678px) {
          width: 100%;
        }

        a.tag {
          color: #000000;
          opacity: 0.5;

          &:hover {
            opacity: 0.8;
            color: $cu-red;
          }
        }

        .title {
          font-size: 34px;
          line-height: 34px;
          margin: 0;

          @media only screen and (max-width: 960px) {
            font-size: 22px;
            line-height: 26px;
          }
        }

        .source a {
          background-position: 0 center !important;
          padding-left: 24px !important;
          color: #000000;
          opacity: 0.5;

          &:hover {
            opacity: 0.8;
            color: $cu-red;
          }
        }
      }
    }

    .third {
      float: none;

      @media only screen and (max-width: 960px) {
        width: 50%;

        &:nth-child(4) {
          display: none;
        }
      }
      

      @media only screen and (max-width: 678px) {
        display: none;
      }
    }

    .actions {
      width: 100%;
    }
  }
}