div.upgrade-browser-wrapper {
  position: absolute;
  top: 0;
  z-index: 1001;
  width: 100%;
  height: 60px;
}

#upgrade-browser {
  background-color: #FFFFBD;
  font-size: 24px;
  font-weight: bold;
  height: 100%;
  font-family: $futura-regular;
  z-index: 1;
}

#upgrade-browser {
  #upgrade-hide {
    display: none;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }

  label {
    cursor: pointer;
    z-index: 2;
  }

  #upgrade-hide:checked~#upgrade-browser {
    display: none;
  }

  .no-underline {
    text-decoration: none;
  }

  p {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    font-weight: bold;
  }

  p.inner {
    vertical-align: middle;
    z-index: 1;
  }

  .dismiss {
    cursor: pointer;
  }

  .linklike {
    color: $cu-red;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
  }
}

// Show alert on browsers where flex is unsupported
@supports not (display: grid) {
  #upgrade-browser {
    display: block;
  }
}

// Hide on all browsers that support flex
@supports (display: grid) {
  #upgrade-browser {
    display: none !important;
  }
}

// Microsoft Edge (supports flex eg covered above. leaving here in case needed later)
@supports (-ms-ime-align: auto) {
  #upgrade-browser {
    // display: none !important;
  }
}

// Microsoft ie 10 & 11
// https://www.chapman.edu/upgrade-browser.aspx requires supporting 11
@media all and (-ms-high-contrast:none) {
  .hide {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  /* IE10 */
  #upgrade-browser {
    display: block
  }

  /* IE11 */
  *::-ms-backdrop,
  #upgrade-browser {
    display: none !important;
  }
}