<div id="uninav--cta" class="uninav--cta">
  <ul>
    <li class="uninav-item"><a href="#">Visit</a></li>
    <li class="uninav-item"><a href="#">Apply</a></li>
    <li class="uninav-item"><a href="#">Give</a></li>
  </ul>
</div>