<div id="uninav__cta" class="uninav__cta">
  <ul>
    <li class="uninav__menu-item-cta uninav__menu-item--drilldown-only"><a href="#">Find Information For...</a></li>
    <li class="uninav__menu-item-cta"><a href="#">Visit</a></li>
    <li class="uninav__menu-item-cta"><a href="#">Apply</a></li>
    <li class="uninav__menu-item-cta"><a href="#">Give</a></li>
  </ul>
</div>