<div class="off-canvas-nav-container" id="js-off-canvas-nav-container">
  <div class="cu-off-canvas-header">
    <div class="cu-logo-wrapper">
      <div class="toggle-logo" id="umbrella-logo">
        <a class="off-logo" href="index.aspx" title="School of Communication">
          <!-- logo set as background image by class -->
          School of Communication Logo
        </a>
        <span class="close js-close-off-canvas-nav" tabindex="0">
          <svg xmlns="http://www.w3.org/2000/svg" height="13" version="1.1" viewBox="0 0 512 512" width="13">
            <title>Close</title>
            <path
              d="M446.627 110.627l-45.254-45.254-145.373 145.372-145.373-145.372-45.254 45.253 145.373 145.374-145.373 145.373 45.254 45.254 145.373-145.373 145.373 145.373 45.254-45.255-145.372-145.372z">
            </path>
          </svg>
        </span>
      </div>

      <div class="toggle-logo" id="main-logo">
        <a class="default off-logo" href="../index.aspx" title="Chapman University Website Home Page">
          <!-- logo set as background image by class -->
          Chapman University Logo
        </a>
        <span class="close js-close-off-canvas-nav" tabindex="0">
          <svg xmlns="http://www.w3.org/2000/svg" height="13" version="1.1" viewBox="0 0 512 512" width="13">
            <title>Close</title>
            <path
              d="M446.627 110.627l-45.254-45.254-145.373 145.372-145.373-145.372-45.254 45.253 145.373 145.374-145.373 145.373 45.254 45.254 145.373-145.373 145.373 145.373 45.254-45.255-145.372-145.372z">
            </path>
          </svg>
        </span>
      </div>
    </div>
  </div>
  <div class="off-canvas-nav clearfix" id="js-off-canvas-nav">
    <div class="off-canvas-menu" id="off-canvas-umbrella">
      <div class="menu-header">
        <span class="menu-label">School of Communication</span>
        <a class="toggle-menu-label" href="#">Main Menu &gt;</a>
      </div>

      <div class="off-canvas-umbrella-list-container">
        <ul class="root-umbrella-nav">



          <li class="non-current"><a href="message-from-the-dean.aspx">Message From the Dean</a></li>




          <li class="non-current"><a href="groups-organizations.aspx">Groups and Organizations</a></li>




          <li class="non-current"><a href="contact-us.aspx">Contact Us</a></li>
















          <li class="non-current">
            <a href="academic-programs/index.aspx">Academic Programs</a>

            <span class="toggle">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" height="32" version="1.1" viewBox="0 0 512 512" width="32">
                  <title>Toggle Academic Programs</title>
                  <path d="M480 224h-192v-192h-64v192h-192v64h192v192h64v-192h192z"></path>
                </svg>
              </span>
            </span>
            <ul class="drilldown-menu">
              <li><a href="academic-programs/strategic-corporate-communication.aspx">BA in Strategic &amp; Corporate
                  Communication</a></li>
              <li><a href="academic-programs/health-strategic-communication.aspx">MS in Health &amp; Strategic
                  Communication</a></li>
              <li><a href="academic-programs/communication-studies.aspx">B.A. in Communication Studies</a></li>
              <li><a href="academic-programs/4-1-health-strategic-communication.aspx">4 + 1 Integrated
                  Undergraduate/Masters of Health and Strategic Communication</a></li>
              <li>
                <a href="academic-programs/drilldown-test/index.aspx">Drill Down Test</a>
                <ul class="drilldown-menu">
                  <li class="non-current"><a
                      href="academic-programs/drilldown-test/change-of-major-application-form-thank-you.aspx">Thank You
                      for Change Your Major/Minor Application Form Omniv-Nav V3</a></li>
                  <li class="non-current">
                    <a href="academic-programs/drilldown-test/drilldown-test-second/index.aspx">Drill Down Test
                      Second</a>
                    <span class="toggle">
                      <span>
                        <svg xmlns="http://www.w3.org/2000/svg" height="32" version="1.1" viewBox="0 0 512 512"
                          width="32">
                          <title>Toggle Drill Down Test Second</title>
                          <path d="M480 224h-192v-192h-64v192h-192v64h192v192h64v-192h192z"></path>
                        </svg>
                      </span>
                    </span>
                    <ul class="drilldown-menu">
                      <li class="non-current"><a
                          href="academic-programs/drilldown-test/drilldown-test-second/faculty-student-research.aspx">Faculty
                          and Student Research Drilldown Second</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>



          <li class="non-current"><a href="faculty-directory.aspx">Faculty Directory</a></li>




          <li class="non-current"><a href="research-publications.aspx">Research and Publications</a></li>




          <li class="non-current"><a href="about.aspx">About the School of Communication</a></li>




          <li class="non-current"><a href="nick_omni_nav_v3_secondary_logo.aspx">School of Communication</a></li>




          <li class="current"><a href="omni_nav_v3_secondary_logo_chris.aspx">School of Communication Chris Omni Nav
              V3</a></li>




          <li class="non-current"><a href="nick_omni_nav_v3_contextual-menu-toggle.aspx">School of Communication</a>
          </li>











          <li class="non-current">
            <a href="drilldown-other/index.aspx">Drill Down Other</a>

            <span class="toggle">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" height="32" version="1.1" viewBox="0 0 512 512" width="32">
                  <title>Toggle Drill Down Other</title>
                  <path d="M480 224h-192v-192h-64v192h-192v64h192v192h64v-192h192z"></path>
                </svg>
              </span>
            </span>
            <ul class="drilldown-menu">
              <li><a href="drilldown-other/faculty-directory-drilldown.aspx">Faculty Directory Other Drilldown</a></li>
              <li>
                <a href="drilldown-other/drilldown-other-second/index.aspx">Drill Down Other Second</a>
                <ul class="drilldown-menu">
                  <li class="non-current"><a href="drilldown-other/drilldown-other-second/support.aspx">Support the
                      School of Communication Drilldown other second</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="off-canvas-menu" id="off-canvas-main">
      <div class="menu-header">
        <span class="menu-label">Main Menu</span>

        <a class="toggle-menu-label" href="#">&lt; School of Communication Menu</a>
      </div>



      <ul>
        <li>


          <a href="../about/index.aspx">Ross is great</a>

          <span class="toggle">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" height="32" version="1.1" viewBox="0 0 512 512" width="32">
                <title>Toggle Ross is great</title>
                <path d="M480 224h-192v-192h-64v192h-192v64h192v192h64v-192h192z"></path>
              </svg>
            </span>
          </span>
          <ul>
            <li>
              <a href="../about/maps-directions/index.aspx">Maps &amp; Directions</a>
            </li>
          </ul>

        </li>
        <li>


          <a href="../academics/index.aspx">Academics</a>

          <span class="toggle">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" height="32" version="1.1" viewBox="0 0 512 512" width="32">
                <title>Toggle Academics</title>
                <path d="M480 224h-192v-192h-64v192h-192v64h192v192h64v-192h192z"></path>
              </svg>
            </span>
          </span>
          <ul>
            <li>
              <a href="../academics/degrees-and-programs.aspx">Degrees &amp; Programs</a>
            </li>
            <li>
              <a href="https://catalog.chapman.edu/">Course Catalog</a>
            </li>
          </ul>

        </li>
        <li>


          <a href="../admission/index.aspx">Admission</a>

          <span class="toggle">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" height="32" version="1.1" viewBox="0 0 512 512" width="32">
                <title>Toggle Admission</title>
                <path d="M480 224h-192v-192h-64v192h-192v64h192v192h64v-192h192z"></path>
              </svg>
            </span>
          </span>
          <ul>
            <li>
              <a href="../admission/undergraduate/index.aspx">Undergraduate Admission</a>
            </li>
          </ul>

        </li>
        <li>


          <a href="../alumni/index.aspx">Alumni</a>

          <span class="toggle">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" height="32" version="1.1" viewBox="0 0 512 512" width="32">
                <title>Toggle Alumni</title>
                <path d="M480 224h-192v-192h-64v192h-192v64h192v192h64v-192h192z"></path>
              </svg>
            </span>
          </span>
          <ul>
            <li>
              <a aria-label="Events for Alumni" href="../alumni/events/index.aspx">Events</a>
            </li>
          </ul>

        </li>
        <li>


          <a href="../arts/index.aspx">Arts</a>


        </li>
        <li>
          <a href="../campus-life/index.aspx">Campus Life</a>

          <span class="toggle">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" height="32" version="1.1" viewBox="0 0 512 512" width="32">
                <title>Toggle Campus Life</title>
                <path d="M480 224h-192v-192h-64v192h-192v64h192v192h64v-192h192z"></path>
              </svg>
            </span>
          </span>
          <ul>
            <li>
              <a href="https://events.chapman.edu">Events</a>
            </li>
          </ul>

        </li>
        <li>
          <a href="../research/index.aspx">Research</a>
          <span class="toggle">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" height="32" version="1.1" viewBox="0 0 512 512" width="32">
                <title>Toggle Research</title>
                <path d="M480 224h-192v-192h-64v192h-192v64h192v192h64v-192h192z"></path>
              </svg>
            </span>
          </span>
          <ul>
            <li>
              <a href="../research/institutes-and-centers/index.aspx">Instititutes &amp; Centers</a>
            </li>
          </ul>

        </li>
        <li>


          <a href="../support-chapman/index.aspx">Support</a>

          <span class="toggle">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" height="32" version="1.1" viewBox="0 0 512 512" width="32">
                <title>Toggle Support</title>
                <path d="M480 224h-192v-192h-64v192h-192v64h192v192h64v-192h192z"></path>
              </svg>
            </span>
          </span>
          <ul>
            <li>
              <a href="../support-chapman/get-involved.aspx">Get Involved</a>
            </li>
          </ul>

        </li>
      </ul>
      <div class="off-canvas-utility">
        <ul>

          <li>
            <a href="../audiences/index.aspx">Find information for...</a>
            <span class="toggle">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" height="32" version="1.1" viewBox="0 0 512 512" width="32">
                  <title>Toggle Find Information By Audience</title>
                  <path d="M480 224h-192v-192h-64v192h-192v64h192v192h64v-192h192z"></path>
                </svg>
              </span>
            </span>
            <ul>
              <li><a href="../future-students/index.aspx">Prospective Students</a></li>
              <li><a href="../students/index.aspx">Current Students</a></li>
              <li><a href="../alumni/index.aspx">Alumni</a></li>
              <li><a href="../faculty-staff/index.aspx">Faculty &amp; Staff</a></li>
              <li><a href="../families/index.aspx">Parents &amp; Families</a></li>
            </ul>
          </li>

          <li><a href="../academics/degrees-and-programs.aspx">Degrees &amp; Programs</a></li>
          <li><a href="../about/maps-directions/index.aspx">Maps &amp; Directions</a></li>
          <li><a href="../directory/index.aspx">All Directories</a></li>
          <li><a aria-label="Chapman Newsroom" href="https://news.chapman.edu/">News</a></li>
          <li><a aria-label="Chapman Events" href="https://events.chapman.edu/">Events</a></li>

          <li><a aria-label="Chapman Social Hub" href="https://social.chapman.edu/">Social</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>