<button class="ma5menu__toggle" type="button" aria-label="Toggle site menu">
  <svg class="hamburger-icon" height="32" viewBox="0 0 16 16" width="32">
    <path d="M1 3h14v2h-14v-2z"></path>
    <path d="M1 7h14v2h-14v-2z"></path>
    <path d="M1 11h14v2h-14v-2z"></path>
  </svg>
  <span class="ma5menu__sr-only">Menu</span>
</button>
<!-- mobile menu toggle button end -->
<div style="display: none;">

  <%= render 'mobile_drilldown' %>

  <!-- source for mobile menu footer start -->
  <div id="ma5menu-tools" class="ma5menu__tools">
    footer <a href="index-page.html">content</a> here
  </div>
  <!-- source for mobile menu footer end -->
</div>
