<div class="uninav__global-nav">
    <ul class="uninav__include-in-mobile-menu">
                                                                                        
                
                                                    <li class="uninav__dropdown--parent " aria-expanded="false">
                        <span class="uninav__dropdown-wrapper">
                            <a id="uninav-global-about" tabindex="0">
                                <span class="uninav__underline--center">About</span></a>
                        </span>
                        <div class="uninav__dropdown--child">
                            <ul>
                                                                                                                                                                                                                                                                                                                                
                                
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--1 uninav__global--dropdown-child--about-overview">
                                            <a class="icon icon-icon icon-file-text" href="../about/index.aspx" id="uninav-global-about-overview">
                                                <span class="uninav__underline--center">About Overview</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--2 uninav__global--dropdown-child--maps-directions">
                                            <a class="icon icon-icon icon-location" href="../about/maps-directions/index.aspx" id="uninav-global-maps-directions">
                                                <span class="uninav__underline--center">Maps &amp; Directions</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--3 uninav__global--dropdown-child--visit-chapman">
                                            <a class="icon icon-icon icon-california" href="../about/visit/index.aspx" id="uninav-global-visit-chapman">
                                                <span class="uninav__underline--center">Visit Chapman</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--4 uninav__global--dropdown-child--facts-and-ranking">
                                            <a class="icon icon-icon icon-library4" href="../about/facts-and-rankings/index.aspx" id="uninav-global-facts-and-ranking">
                                                <span class="uninav__underline--center">Facts and Ranking</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--5 uninav__global--dropdown-child--leadership">
                                            <a class="icon icon-icon icon-cu-window" href="../about/our-family/leadership/index.aspx" id="uninav-global-leadership">
                                                <span class="uninav__underline--center">Leadership</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--6 uninav__global--dropdown-child--campus-services">
                                            <a class="icon icon-icon icon-wrench" href="../campus-services/index.aspx" id="uninav-global-campus-services">
                                                <span class="uninav__underline--center">Campus Services</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--7 uninav__global--dropdown-child--connect">
                                            <a class="icon icon-icon icon-envelop" href="../about/connect/index.aspx" id="uninav-global-connect">
                                                <span class="uninav__underline--center">Connect</span>
                                            </a>
                                        </li>
                                                                                                </ul>
                        </div>
                    </li>
                                                            
                
                                                    <li class="uninav__dropdown--parent " aria-expanded="false">
                        <span class="uninav__dropdown-wrapper">
                            <a id="uninav-global-academics" tabindex="0">
                                <span class="uninav__underline--center">Academics</span></a>
                        </span>
                        <div class="uninav__dropdown--child">
                            <ul>
                                                                                                                                                                                                                                                                                                                                
                                
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--1 uninav__global--dropdown-child--academics-overview">
                                            <a class="icon icon-icon icon-file-text" href="../academics/index.aspx" id="uninav-global-academics-overview">
                                                <span class="uninav__underline--center">Academics Overview</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--2 uninav__global--dropdown-child--degrees-programs">
                                            <a class="icon icon-icon icon-graduation" href="../academics/degrees-and-programs.aspx" id="uninav-global-degrees-programs">
                                                <span class="uninav__underline--center">Degrees &amp; Programs</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--3 uninav__global--dropdown-child--schools-colleges">
                                            <a class="icon icon-icon icon-library2" href="../academics/schools-colleges.aspx" id="uninav-global-schools-colleges">
                                                <span class="uninav__underline--center">Schools &amp; Colleges</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--4 uninav__global--dropdown-child--academic-calendar">
                                            <a class="icon icon-icon icon-calendar4" href="../academics/schools-colleges.aspx" id="uninav-global-academic-calendar">
                                                <span class="uninav__underline--center">Academic Calendar</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--5 uninav__global--dropdown-child--faculty-directory">
                                            <a class="icon icon-icon icon-profile" href="../our-faculty/index.aspx" id="uninav-global-faculty-directory">
                                                <span class="uninav__underline--center">Faculty Directory</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--6 uninav__global--dropdown-child--libraries">
                                            <a class="icon icon-icon icon-books" href="../academics/libraries/index.aspx" id="uninav-global-libraries">
                                                <span class="uninav__underline--center">Libraries</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                            <li class="uninav__global--dropdown-child--7 uninav__global--dropdown-child--course-catalogs">
                                            <a class="icon icon-icon icon-book2" href="https://catalog.chapman.edu/" id="uninav-global-course-catalogs">
                                                <span class="uninav__underline--center">Course Catalogs</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--8 uninav__global--dropdown-child--course-catalogs">
                                            <a class="icon icon-icon icon-earth" href="../international-studies/index.aspx" id="uninav-global-course-catalogs">
                                                <span class="uninav__underline--center">Course Catalogs</span>
                                            </a>
                                        </li>
                                                                                                </ul>
                        </div>
                    </li>
                                                            
                
                                                    <li class="uninav__dropdown--parent " aria-expanded="false">
                        <span class="uninav__dropdown-wrapper">
                            <a id="uninav-global-admission" tabindex="0">
                                <span class="uninav__underline--center">Admission</span></a>
                        </span>
                        <div class="uninav__dropdown--child">
                            <ul>
                                                                                                                                                                                                                                                                                                                                
                                
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--1 uninav__global--dropdown-child--admission-overview">
                                            <a class="icon icon-icon icon-file-text" href="../admission/undergraduate/index.aspx" id="uninav-global-admission-overview">
                                                <span class="uninav__underline--center">Admission Overview</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--2 uninav__global--dropdown-child--undergraduate-admission">
                                            <a class="icon icon-icon icon-bookmark" href="../admission/undergraduate/index.aspx" id="uninav-global-undergraduate-admission">
                                                <span class="uninav__underline--center">Undergraduate Admission</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--3 uninav__global--dropdown-child--undergraduate-application">
                                            <a class="icon icon-icon icon-pencil5" href="../admission/undergraduate/how-to-apply/index.aspx" id="uninav-global-undergraduate-application">
                                                <span class="uninav__underline--center">Undergraduate Application</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--4 uninav__global--dropdown-child--graduate-admission">
                                            <a class="icon icon-icon icon-bookmark2" href="../admission/graduate/index.aspx" id="uninav-global-graduate-admission">
                                                <span class="uninav__underline--center">Graduate Admission</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--5 uninav__global--dropdown-child--graduate-application">
                                            <a class="icon icon-icon icon-pencil5" href="../admission/graduate/applynow.aspx" id="uninav-global-graduate-application">
                                                <span class="uninav__underline--center">Graduate Application</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--6 uninav__global--dropdown-child--affordability">
                                            <a class="icon icon-icon icon-pencil5" href="../admission/undergraduate/afford.aspx" id="uninav-global-affordability">
                                                <span class="uninav__underline--center">Affordability</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--7 uninav__global--dropdown-child--financial-aid-calculator">
                                            <a class="icon icon-icon icon-calculate" href="../students/tuition-and-aid/financial-aid/undergraduate/net-cost-calculator/index.aspx" id="uninav-global-financial-aid-calculator">
                                                <span class="uninav__underline--center">Financial Aid Calculator</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--8 uninav__global--dropdown-child--campus-tours">
                                            <a class="icon icon-icon icon-office" href="../admission/undergraduate/visit/index.aspx" id="uninav-global-campus-tours">
                                                <span class="uninav__underline--center">Campus Tours</span>
                                            </a>
                                        </li>
                                                                                                </ul>
                        </div>
                    </li>
                                                            
                
                                                    <li class="uninav__dropdown--parent " aria-expanded="false">
                        <span class="uninav__dropdown-wrapper">
                            <a id="uninav-global-alumni" tabindex="0">
                                <span class="uninav__underline--center">Alumni</span></a>
                        </span>
                        <div class="uninav__dropdown--child">
                            <ul>
                                                                                                                                                                                                                                                                                                                                
                                
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--1 uninav__global--dropdown-child--alumni-overview">
                                            <a class="icon icon-icon icon-file-text" href="../alumni/index.aspx" id="uninav-global-alumni-overview">
                                                <span class="uninav__underline--center">Alumni Overview</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--2 uninav__global--dropdown-child--get-involved">
                                            <a class="icon icon-icon icon-hand" href="../alumni/get-involved/index.aspx" id="uninav-global-get-involved">
                                                <span class="uninav__underline--center">Get Involved</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--3 uninav__global--dropdown-child--careeer-support">
                                            <a class="icon icon-icon icon-paw" href="../campus-services/career-professional-development/index.aspx" id="uninav-global-careeer-support">
                                                <span class="uninav__underline--center">Careeer Support</span>
                                            </a>
                                        </li>
                                                                                                </ul>
                        </div>
                    </li>
                                                            
                
                                                        <li class="uninav__global--menu-item--no-dropdown uninav__global--arts uninav__global--menu-item--no-dropdown--5">
                        <a href="../arts/index.aspx" id="uninav-global-arts">
                            <span class="uninav__underline--center">Arts</span></a>
                    </li>
                                                            
                
                                                    <li class="uninav__dropdown--parent " aria-expanded="false">
                        <span class="uninav__dropdown-wrapper">
                            <a id="uninav-global-campus-life" tabindex="0">
                                <span class="uninav__underline--center">Campus Life</span></a>
                        </span>
                        <div class="uninav__dropdown--child">
                            <ul>
                                                                                                                                                                                                                                                                                                                                
                                
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--1 uninav__global--dropdown-child--campus-live-overview">
                                            <a class="icon icon-icon icon-file-text" href="../campus-life/index.aspx" id="uninav-global-campus-live-overview">
                                                <span class="uninav__underline--center">Campus Live Overview</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                            <li class="uninav__global--dropdown-child--2 uninav__global--dropdown-child--athletics">
                                            <a class="icon icon-icon icon-paw" href="http://www.chapmanathletics.com/landing/index" id="uninav-global-athletics">
                                                <span class="uninav__underline--center">Athletics</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--3 uninav__global--dropdown-child--diversity-and-inclusion">
                                            <a class="icon icon-icon icon-hand" href="../diversity/index.aspx" id="uninav-global-diversity-and-inclusion">
                                                <span class="uninav__underline--center">Diversity and Inclusion</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                            <li class="uninav__global--dropdown-child--4 uninav__global--dropdown-child--events">
                                            <a class="icon icon-icon icon-calendar4" href="https://events.chapman.edu/" id="uninav-global-events">
                                                <span class="uninav__underline--center">Events</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--5 uninav__global--dropdown-child--fish-interfaith-center">
                                            <a class="icon icon-icon icon-earth" href="../campus-life/fish-interfaith-center/index.aspx" id="uninav-global-fish-interfaith-center">
                                                <span class="uninav__underline--center">Fish Interfaith Center</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--6 uninav__global--dropdown-child--health-and-safety">
                                            <a class="icon icon-icon icon-heart3" href="../students/health-and-safety/index.aspx" id="uninav-global-health-and-safety">
                                                <span class="uninav__underline--center">Health and Safety</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--7 uninav__global--dropdown-child--residence-life">
                                            <a class="icon icon-icon icon-home2" href="../students/services/housing-and-residence/index.aspx" id="uninav-global-residence-life">
                                                <span class="uninav__underline--center">Residence Life</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--8 uninav__global--dropdown-child--student-life">
                                            <a class="icon icon-icon icon-smiley" href="../students/life/index.aspx" id="uninav-global-student-life">
                                                <span class="uninav__underline--center">Student Life</span>
                                            </a>
                                        </li>
                                                                                                </ul>
                        </div>
                    </li>
                                                            
                
                                                    <li class="uninav__dropdown--parent " aria-expanded="false">
                        <span class="uninav__dropdown-wrapper">
                            <a id="uninav-global-research" tabindex="0">
                                <span class="uninav__underline--center">Research</span></a>
                        </span>
                        <div class="uninav__dropdown--child">
                            <ul>
                                                                                                                                                                                                                                                                                                                                
                                
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--1 uninav__global--dropdown-child--research-overview">
                                            <a class="icon icon-icon icon-file-text" href="../research/index.aspx" id="uninav-global-research-overview">
                                                <span class="uninav__underline--center">Research Overview</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--2 uninav__global--dropdown-child--sponsored-projects-services">
                                            <a class="icon icon-icon icon-medal" href="../research/sponsored-projects-services/index.aspx" id="uninav-global-sponsored-projects-services">
                                                <span class="uninav__underline--center">Sponsored Projects Services</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--3 uninav__global--dropdown-child--research-integrity">
                                            <a class="icon icon-icon icon-clipboard5" href="../research/integrity/index.aspx" id="uninav-global-research-integrity">
                                                <span class="uninav__underline--center">Research Integrity</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--4 uninav__global--dropdown-child--institutes-and-centers">
                                            <a class="icon icon-icon icon-library4" href="../research/institutes-and-centers/index.aspx" id="uninav-global-institutes-and-centers">
                                                <span class="uninav__underline--center">Institutes and Centers</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--5 uninav__global--dropdown-child--center-for-undergraduate-excellence">
                                            <a class="icon icon-icon icon-lamp8" href="../research/center-for-undergraduate-excellence/index.aspx" id="uninav-global-center-for-undergraduate-excellence">
                                                <span class="uninav__underline--center">Center for Undergraduate Excellence</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--6 uninav__global--dropdown-child--industry-alliances-and-commercialization">
                                            <a class="icon icon-icon icon-office" href="../research/industry-alliances-commercialization/index.aspx" id="uninav-global-industry-alliances-and-commercialization">
                                                <span class="uninav__underline--center">Industry Alliances and Commercialization</span>
                                            </a>
                                        </li>
                                                                                                </ul>
                        </div>
                    </li>
                                                            
                
                                                    <li class="uninav__dropdown--parent " aria-expanded="false">
                        <span class="uninav__dropdown-wrapper">
                            <a id="uninav-global-support-" tabindex="0">
                                <span class="uninav__underline--center">Support </span></a>
                        </span>
                        <div class="uninav__dropdown--child">
                            <ul>
                                                                                                                                                                                                                                                                                                                                
                                
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--1 uninav__global--dropdown-child--support-chapman-overview">
                                            <a class="icon icon-icon icon-file-text" href="../support-chapman/index.aspx" id="uninav-global-support-chapman-overview">
                                                <span class="uninav__underline--center">Support Chapman Overview</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--2 uninav__global--dropdown-child--contact-development">
                                            <a class="icon icon-icon icon-envelop" href="../support-chapman/contact-us.aspx" id="uninav-global-contact-development">
                                                <span class="uninav__underline--center">Contact Development</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--3 uninav__global--dropdown-child--get-involved">
                                            <a class="icon icon-icon icon-hand" href="../support-chapman/get-involved.aspx" id="uninav-global-get-involved">
                                                <span class="uninav__underline--center">Get Involved</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--4 uninav__global--dropdown-child--areas-to-support">
                                            <a class="icon icon-icon icon-cu-window" href="../support-chapman/ways-to-give/areas-to-support.aspx" id="uninav-global-areas-to-support">
                                                <span class="uninav__underline--center">Areas to Support</span>
                                            </a>
                                        </li>
                                                                    
                                                                                                                                                                                                                                <li class="uninav__global--dropdown-child--5 uninav__global--dropdown-child--alumni-involvement">
                                            <a class="icon icon-icon icon-paw" href="../alumni/get-involved/index.aspx" id="uninav-global-alumni-involvement">
                                                <span class="uninav__underline--center">Alumni Involvement</span>
                                            </a>
                                        </li>
                                                                                                </ul>
                        </div>
                    </li>
                                        </ul>
</div>