<div class="uninav--global-nav uninav--menu-item-piped ">
  <ul>
    <li class="uninav-item uninav--dropdown-parent"><a href="#">About</a>
      <div class="uninav--dropdown-child uninav--menu-item-no-pipe qbal-drop-enter">
        <ul>
          <li class="uninav-item"><a href="#">Academics</a></li>
          <li class="uninav-item"><a href="#">Academics</a></li>
        </ul>
      </div>
    </li>
    <li class="uninav-item"><a href="#">Academics</a></li>
    <li class="uninav-item"><a href="#">Alumni</a></li>
    <li class="uninav-item"><a href="#">Arts</a></li>
    <li class="uninav-item"><a href="#">Campus Life</a></li>
    <li class="uninav-item"><a href="#">Research</a></li>
  </ul>
</div>
