<div class="uninav__hamburger-menu">
    <button aria-label="Toggle site menu" class="hamburger-menu-button" type="button">
      <span class="fas fa-bars" aria-hidden="true"></span>
      <span class="sr-only">Menu</span>
    </button>
</div>