<div class="uninav__hamburger-menu">
    <button aria-label="Toggle site menu" class="hamburger-menu-button" type="button">
      <svg class="hamburger-icon" height="32" viewBox="0 0 16 16" width="32">
        <title>Toggle Mobile Menu</title>
        <path d="M1 3h14v2h-14v-2z"></path>
        <path d="M1 7h14v2h-14v-2z"></path>
        <path d="M1 11h14v2h-14v-2z"></path>
      </svg>
      <span class="sr-only">Menu</span>
    </button>
</div>