<div id="uninav--login" class="uninav--login">
  <li class="uninav-item uninav--dropdown-parent uninav--login" title="Chapman Login Links">
    <a href="#"><span class="fa fa-paw uninav--dropdown-parent"></span></a>
    <div class="uninav--dropdown-child">
      <div class="uninav--dropdown-menu">
        <ul>
          <li class="uninav-item"><a href="#">Academics</a></li>
          <li class="uninav-item"><a href="#">Academics</a></li>

        </ul>
      </div>

    </div>
  </li>
</div>
