<!-- https://stackoverflow.com/questions/17202548/wavy-shape-with-css -->
<!-- https://www.chapman.edu/_files/img/hero-panels/html5-videos/19-056-2020-homepages-q1_v1_final.mp4 -->
<!-- https://www.chapman.edu/_files/img/hero-panels/html5-videos/19-056---2020-homepages-q1_v1.webmhd.webm -->
<!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video -->
<!-- https://googlechrome.github.io/samples/media/controlslist.html -->

<!-- https://developer.mozilla.org/en-US/docs/Web/Guide/Audio_and_video_delivery/Video_player_styling_basics -->
<div class="homepage-masthead__container">
  <div class="homepage-masthead__heading-container">
    <!-- Heading -->
    <h2>
      <span class="line-one">
        Discover
      </span>
      <span class="line-two">
        Boldly.
      </span>
    </h2>
    <div class="homepage-masthead__tagline">
      <span class="line-one">
        Even though we can't see you,
      </span>
      <span class="line-two">
        come experience Chapman ... online.
      </span>

    </div>
  </div>


  <!-- "Button" Links -->
  <div class="homepage-masthead__button-container">
    <div class="homepage-masthead__buttons">
      <a tabindex="0" class="button homepage-masthead__button  homepage-masthead__button--red">View Degrees and
        Programs</a>
      <a tabindex="0" class="button homepage-masthead__button  homepage-masthead__button--red">Tour The Campus
        Online</a>
      <a tabindex="0" class="button homepage-masthead__button  homepage-masthead__button--red">Join the admitted
        student
        hub</a>
      <a tabindex="0" class="button homepage-masthead__button  homepage-masthead__button--red">chat with a current
        student</a>
      <a tabindex="0" class="button homepage-masthead__button  homepage-masthead__button--red">attend a virtual
        event</a>
      <a tabindex="0" class="button homepage-masthead__button  homepage-masthead__button--red">connect with us</a>
    </div>
  </div>

  <div class="homepage-masthead__photo-grid-container">
    <div class="homepage-masthead__photo-grid">
      <div class="homepage-masthead__photos">
        <a href="">
          <img src="https://placeimg.com/640/480/animals" alt="">
        </a>
        <a href="">
          <img
            src="https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/fr/e15/s1080x1080/91725623_763217070873192_5423674760369004168_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_cat=100&_nc_ohc=z6oTDpD6BBkAX-zNtKj&oh=f38bf937b5deb7dc9fd7a8d3390d30c4&oe=5ED29BFF"
            alt="">
        </a>
        <a href="">
          <img src="https://placeimg.com/250/250/animals" alt="">
        </a>
        <a href="">
          <div class="homepage-masthead__photo-grid-container__text">
            <h2>Explore Chapman Through Student Voices</h2>
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-circle-right"
              class="svg-inline--fa fa-chevron-circle-right fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512">
              <path fill="currentColor"
                d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm113.9 231L234.4 103.5c-9.4-9.4-24.6-9.4-33.9 0l-17 17c-9.4 9.4-9.4 24.6 0 33.9L285.1 256 183.5 357.6c-9.4 9.4-9.4 24.6 0 33.9l17 17c9.4 9.4 24.6 9.4 33.9 0L369.9 273c9.4-9.4 9.4-24.6 0-34z">
              </path>
            </svg>
          </div>
        </a>
        <a href="">
          <img src="https://placeimg.com/250/250/animals" alt="">
        </a>
        <a href="">
          <img src="https://placeimg.com/250/250/animals" alt="">
        </a>

        <a href="" class="diagonal">
          <!-- <img src="https://placeimg.com/250/250/animals" alt=""> -->
        </a>
      </div>
    </div>

  </div>

  <!-- End Overlay -->
  <!-- Video -->
  <!-- to enable autoplay:   
    <video width="100%" height="100%" playsinline autoplay muted loop controls="" poster="">
 -->
  <video width="100%" height="800px" playsinline muted loop autoplay controls=""
    poster="https://placemat.imgix.net/placeholder_images/images/000/000/037/original/photo-1441742917377-57f78ee0e582?ixlib=rb-1.0.0&w=&h=&fm=auto&crop=faces%2Centropy&fit=crop&txt=&txtclr=BFFF&txtalign=middle%2Ccenter&txtfit=max&txtsize=42&txtfont=Avenir+Next+Demi%2CBold&bm=multiply&blend=ACACAC&s=baea6e091663c517ca8a82310ff30168">
    <source src="https://www.chapman.edu/_files/img/hero-panels/html5-videos/19-056-2020-homepages-q1_v1_final.mp4"
      type="video/mp4">
    <source src="https://www.chapman.edu/_files/img/hero-panels/html5-videos/19-056---2020-homepages-q1_v1.webmhd.webm"
      type="video/webm">

    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="pause-circle"
      class="svg-inline--fa fa-pause-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 512 512">
      <path fill="currentColor"
        d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm-16 328c0 8.8-7.2 16-16 16h-48c-8.8 0-16-7.2-16-16V176c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16v160zm112 0c0 8.8-7.2 16-16 16h-48c-8.8 0-16-7.2-16-16V176c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16v160z">
      </path>
    </svg>
  </video>



</div>


<!-- Photo Grid -->


<style>
  .wtf {
    -webkit-mask-image: none;
  }
</style>
<video class="wtf" width="100%" height="800px" playsinline muted loop autoplay controls=""
  poster="https://placemat.imgix.net/placeholder_images/images/000/000/037/original/photo-1441742917377-57f78ee0e582?ixlib=rb-1.0.0&w=&h=&fm=auto&crop=faces%2Centropy&fit=crop&txt=&txtclr=BFFF&txtalign=middle%2Ccenter&txtfit=max&txtsize=42&txtfont=Avenir+Next+Demi%2CBold&bm=multiply&blend=ACACAC&s=baea6e091663c517ca8a82310ff30168">
  <source src="https://www.chapman.edu/_files/img/hero-panels/html5-videos/19-056-2020-homepages-q1_v1_final.mp4"
    type="video/mp4">
  <source src="https://www.chapman.edu/_files/img/hero-panels/html5-videos/19-056---2020-homepages-q1_v1.webmhd.webm"
    type="video/webm">

  <style>
    .controlBar {
      display: none !important;
    }
  </style>

  <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="pause-circle"
    class="svg-inline--fa fa-pause-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
    <path fill="currentColor"
      d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm-16 328c0 8.8-7.2 16-16 16h-48c-8.8 0-16-7.2-16-16V176c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16v160zm112 0c0 8.8-7.2 16-16 16h-48c-8.8 0-16-7.2-16-16V176c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16v160z">
    </path>
  </svg>
</video>


<!-- makeshit image placeholder -->

<script>
  var images = [
    "https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/22582351_128316074537655_5957565517286866944_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_cat=103&_nc_ohc=FPazlXn5JYIAX8XtXRY&oh=aa1c5ad3e3f8c35d98e9d798b7e6859e&oe=5ED2110A",
    "https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/22639252_1820802228209770_157047742626004992_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_cat=110&_nc_ohc=g6zR4dLEJjQAX-ZgHnu&oh=f9de8d550d506e29f1736b8bff8c0990&oe=5ED21D32",
    "https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/22582072_692018247659050_1986755638092365824_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_cat=110&_nc_ohc=OTL4HkFHxTsAX_UY7id&oh=c0190c6d12a2f8c2742417a60949a48b&oe=5ED300CC",
    "https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/e35/c240.0.600.600a/22429965_121517068524545_763951321907724288_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_cat=105&_nc_ohc=tzSNX5_MUr0AX_6fD2a&oh=04f4e7ce48f1d48def7a11f0163b00e4&oe=5ED070D2",
    "https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/c138.0.803.803a/s640x640/22344311_335470166864518_3609191903662178304_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_cat=110&_nc_ohc=1BcrCchRdBAAX_q-jwP&oh=26355d18dfdb199aa43be28d12579797&oe=5ED14767",
    "https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/c123.0.834.834a/s640x640/22351920_1742164689425625_389265891197452288_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_cat=109&_nc_ohc=ulYPm8ROuPwAX_vq58A&oh=989a398165e8d0c0d346e001cf780c03&oe=5ED135B9",
    "https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/e15/s640x640/22277539_152926091977428_8660536810599874560_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_cat=100&_nc_ohc=6plUo2jx0e4AX9RuIlq&oh=427f2da3ba797d2d2cdac7f2c89e3ca5&oe=5EAAA760",
    "https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/22280506_121046131941038_3132482350923907072_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_cat=102&_nc_ohc=vnmGONzBStkAX9cDhE9&oh=fc4a8471972582f07588dfcf85ae9f31&oe=5ED2B679",
    "https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/c0.123.1080.1080a/s640x640/22278040_1313948528715819_1657565679257124864_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_cat=103&_nc_ohc=RzL_aw-WlFMAX-TBUD6&oh=f4da25b7448c6fb353fc90d057f84a1f&oe=5ED03A25",
    "https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/22351642_1899656000286988_3200603401276620800_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_cat=104&_nc_ohc=UH_pS-dbI74AX928AyM&oh=974748094fc61ffcd809e91010987fec&oe=5ED2FC22",
    "https://scontent-lax3-2.cdninstagram.com/v/t51.2885-15/sh0.08/e35/c135.0.810.810a/s640x640/22220775_721115888074939_5114775410621546496_n.jpg?_nc_ht=scontent-lax3-2.cdninstagram.com&_nc_cat=107&_nc_ohc=yGHxIc8aWbgAX-qbElM&oh=717cc143f00082d762c94fddd26a811d&oe=5ED06D99 ",
    "https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/22221095_1418628304902549_2454598492841050112_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_cat=109&_nc_ohc=GaUe9G6JClEAX9Ju7mH&oh=78a5340247f7a90307a329da2cf58646&oe=5ED018C6",
    "https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/e15/c236.0.607.607a/22277536_209743056230318_462127563242733568_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_cat=102&_nc_ohc=dAwVrSGa41sAX-b6gvY&oh=3e54ccbb2bad040eb314b4db49e21004&oe=5EAAF6AB",
    "https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/e15/s640x640/22159321_289657198196068_2493038493089923072_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_cat=104&_nc_ohc=zmnRoHuccmgAX8uM7qw&oh=d908a44e66a76a46cb91a5b72b8f0b72&oe=5EAACF4B ",
    "https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/c0.16.992.992a/s640x640/22157994_172013310021158_936894442143481856_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_cat=102&_nc_ohc=_5DrFYD-dkkAX96WgTO&oh=32172919a291fee3a2fe1f5516b7f0d1&oe=5ED02871 debugger eval code:8:17",
    "https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/e15/c0.90.720.720a/s640x640/21980756_149579008978972_3743686145951662080_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_cat=104&_nc_ohc=iF8_D3BpVZAAX8kL7dR&oh=0d6250b59f4cc3790edb02d48ffe9faa&oe=5EAAAF0A ",
    "https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/e15/s640x640/21227668_360175234415043_6801955241571909632_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_cat=103&_nc_ohc=aytpeYe55KUAX8fu4ni&oh=ff23fc781cb1268ebf242a4e19f34728&oe=5EAA9817",
    "https://scontent-lax3-2.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/22071590_1746721045629599_3198180790613573632_n.jpg?_nc_ht=scontent-lax3-2.cdninstagram.com&_nc_cat=111&_nc_ohc=IA4jBjyUJNMAX8mxHBx&oh=f2fed62a8bdc084907d928161866c80d&oe=5ED025E4",
    "https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/e15/s640x640/21984780_2037324806486388_5223057368719294464_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_cat=100&_nc_ohc=dkStPfXeWKoAX_KL5Ko&oh=6fdbf0c97118b851c55926363dae3251&oe=5EAAF2D2 debugger eval code:8:17",
    "https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/e15/c236.0.607.607a/21878929_167841767104347_7180934887958904832_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_cat=103&_nc_ohc=l86FaxeMgcYAX9jfW2l&oh=b3d230b1df5ecb6b2036f060b9c1d472&oe=5EAA84DC",
    "https://scontent-lax3-2.cdninstagram.com/v/t51.2885-15/sh0.08/e35/c0.135.1080.1080a/s640x640/21827121_118422515494135_1843409597054844928_n.jpg?_nc_ht=scontent-lax3-2.cdninstagram.com&_nc_cat=107&_nc_ohc=zYyIQqLpp-gAX_VhsgL&oh=9b03b75c43d8e89b6aeea9a949f0f915&oe=5ED35EB2 ",
    "https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/c123.0.834.834a/s640x640/21910147_148100769126200_8046964190784520192_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_cat=108&_nc_ohc=L5VzwQ-9LJoAX97qv6_&oh=21b39f754729de1806c1f6c5b085088a&oe=5ED2179E",
    "https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/c135.0.810.810a/s640x640/21827096_1072035696264665_5237338186518102016_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_cat=105&_nc_ohc=5lEL7Y5qNC8AX-MRd4N&oh=aa54ee41a42c099d7c0b66cc65e700c2&oe=5ED26673",
    "https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/e15/c0.80.640.640a/21690464_476392026078217_2084952050906431488_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_cat=101&_nc_ohc=pILe6Fp0tdkAX9_YdLi&oh=56723ef1e0ac77a8871a3b65864f608f&oe=5EAAEB7D",
    "https://scontent-lax3-2.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/21688943_694394747432447_7126904521497772032_n.jpg?_nc_ht=scontent-lax3-2.cdninstagram.com&_nc_cat=111&_nc_ohc=LcaPIOSNxC4AX-pc4GH&oh=4ece2e8a8c0a669bf8c0be85922ad082&oe=5ED2995A ",
    "https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/c135.0.810.810a/s640x640/21577017_603666699842605_3232648659078217728_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_cat=101&_nc_ohc=hpxoqNCI31kAX9-bK9l&oh=f408c7ea6ad077ac4c7c536c5981caa5&oe=5ED1009B ",
    "https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/c135.0.810.810a/s640x640/21568970_826803634155123_7622377892999069696_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_cat=103&_nc_ohc=B8yWaw1CJ1sAX8a4kch&oh=0ec4e113df4d4c625cf35388b8d5ecd9&oe=5ED26D60",
    "https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/21434067_766732426832760_6293853747097370624_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_cat=100&_nc_ohc=ilSl8x_-hbYAX_HGzNj&oh=77e12217f6d46863f33ac095686e5935&oe=5ED0D73C",
    "https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/e35/c257.0.565.565a/21433436_725752720952856_2934169670619496448_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_cat=100&_nc_ohc=stp9En5L9zoAX-TOkrK&oh=01941c7c5c3cf8422423f477bf5de825&oe=5ED11F97",
    "https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/21479903_1446610265423868_8342247148049399808_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_cat=100&_nc_ohc=4Qb8l69StZIAX9TqZj7&oh=193816c96187f4b874f5e760abba37b7&oe=5ED3AED8",
    "https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/c11.0.1057.1057a/s640x640/21372970_2010750552520851_1251839686675005440_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_cat=103&_nc_ohc=63ynTg2axY0AX-J1Lou&oh=e9250594bfede6ddcac32bd211d3e1d9&oe=5ED23DBD",
    "https://scontent-lax3-2.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/21149350_741692749334502_2000686527725699072_n.jpg?_nc_ht=scontent-lax3-2.cdninstagram.com&_nc_cat=106&_nc_ohc=FCymjtVIXsUAX9vEkRK&oh=8b8e9a23584f9ee20c87925747c37a21&oe=5ED3A965",
    "https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/c0.58.1080.1080a/s640x640/21226953_273677416470456_1969444690801459200_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_cat=100&_nc_ohc=2lZfpmfasrsAX_ceVo0&oh=8cbed076cc6e490ecb5f85464dbe0b4a&oe=5ED1C3FC",
    "https://scontent-lax3-2.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/21147752_169052073664039_2513295255369940992_n.jpg?_nc_ht=scontent-lax3-2.cdninstagram.com&_nc_cat=107&_nc_ohc=2HyTXkdxnq8AX-6mRVf&oh=fa9a688234648bd6e80d80a71cc8db90&oe=5ED0FC6D",
    "https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/c181.0.718.718a/s640x640/21149786_1996316097316697_6687162216132640768_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_cat=105&_nc_ohc=SMMvQHVVYs8AX-Cx_-u&oh=917e470f2e67e08e1e8c6a255e776abd&oe=5ED16A54",
    "https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/c0.0.1079.1079a/s640x640/21147807_113478719338840_2596634676227473408_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_cat=104&_nc_ohc=rC4OFwa9I7YAX8wkLRL&oh=5dc7f65ad15416c86c79c23c962ad1a3&oe=5ED0D7F8",
    "https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/e35/c257.0.565.565a/20986938_1888664388121148_8416401704035024896_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_cat=108&_nc_ohc=p4RcKmJ1ylcAX-12uk5&oh=1905a9c8c6ca6a5b8fa317b427416505&oe=5ED386B3",
    "https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/e15/c0.89.720.720a/s640x640/21041923_126674684631254_4065030195969523712_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_cat=102&_nc_ohc=byGZ6mDfTCMAX834JC8&oh=2cea3671a1f1b3cea34c42f3da616a26&oe=5EAA95EC",
    "https://scontent-lax3-2.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/20987127_137517216855619_6226644587021074432_n.jpg?_nc_ht=scontent-lax3-2.cdninstagram.com&_nc_cat=107&_nc_ohc=dncwnHkBiGEAX--zkpv&oh=8f5dab9954eb4c58162c24a8554d87d6&oe=5ED23EFB",
  ]

  // var size = images.length
  // var x = Math.floor(size*Math.random())
  // $('.homepage-masthead__photo-grid img').attr('src', images[x]);

  $('.homepage-masthead__photo-grid img').each(function () {
    var size = images.length
    var x = Math.floor(size * Math.random())
    $('.homepage-masthead__photo-grid img').attr('src', images[x]);
  });
</script>