<!-- https://stackoverflow.com/questions/17202548/wavy-shape-with-css -->
<!-- https://www.chapman.edu/_files/img/hero-panels/html5-videos/19-056-2020-homepages-q1_v1_final.mp4 -->
<!-- https://www.chapman.edu/_files/img/hero-panels/html5-videos/19-056---2020-homepages-q1_v1.webmhd.webm -->
<!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video -->
<!-- https://googlechrome.github.io/samples/media/controlslist.html -->
<!-- https://developer.mozilla.org/en-US/docs/Web/Guide/Audio_and_video_delivery/Video_player_styling_basics -->
<div class="homepage-masthead__container">
  <div class="homepage-masthead__heading-container">
    <!-- Heading -->
    <h2>
      <span class="line-one">
        Discover
      </span>
      <span class="line-two">
        Boldly.
      </span>
    </h2>
    <div class="homepage-masthead__tagline">
      <span class="line-one">
        Get to know Chapman right now,
      </span>
      <span class="line-two">
        wherever you are.
      </span>
    </div>
  </div>
  <svg title="Pause video" aria-label="Pause masthead video" class="homepage-masthead__toggle-play-button"
    id="homepage-masthead__pause-button" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="pause-circle"
    class="svg-inline--fa fa-pause-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
    <path tabindex="0" fill="currentColor"
      d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm-16 328c0 8.8-7.2 16-16 16h-48c-8.8 0-16-7.2-16-16V176c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16v160zm112 0c0 8.8-7.2 16-16 16h-48c-8.8 0-16-7.2-16-16V176c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16v160z">
    </path>
  </svg>
  <svg id="homepage-masthead__play-button" class="homepage-masthead__toggle-play-button" aria-hidden="true"
    aria-label="Play masthead video" title="Play video" focusable="false" data-prefix="fas" data-icon="play-circle"
    class="svg-inline--fa fa-play-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
    <path tabindex="0" fill="currentColor"
      d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm115.7 272l-176 101c-15.8 8.8-35.7-2.5-35.7-21V152c0-18.4 19.8-29.8 35.7-21l176 107c16.4 9.2 16.4 32.9 0 42z">
    </path>
  </svg>
  <!-- "Button" Links -->
  <div class="homepage-masthead__button-container">
    <div class="homepage-masthead__buttons">
      <a tabindex="0" class="button homepage-masthead__button  homepage-masthead__button--red"
        href="https://www.chapman.edu/academics/degrees-and-programs.aspx">Find Your Program</a>
      <a tabindex="0" class="button homepage-masthead__button  homepage-masthead__button--red"
        href="https://www.chapman.edu/admission/undergraduate/request-info.aspx">Join Interest List</a>
      <a tabindex="0" class="button homepage-masthead__button  homepage-masthead__button--red"
        href="https://go.chapman.edu/portal/virtualcampustour">Take a Virtual Tour</a>
      <a tabindex="0" class="button homepage-masthead__button  homepage-masthead__button--red"
        href="https://www.chapman.edu/admission/undergraduate/visit/index.aspx">Find Virtual Opportunities</a>
      <a tabindex="0" class="button homepage-masthead__button  homepage-masthead__button--red"
        href="https://www.chapman.edu/admission/undergraduate/student-ambassadors.aspx">Ask a Student</a>
      <a tabindex="0" class="button homepage-masthead__button  homepage-masthead__button--red"
        href="https://www.chapman.edu/admission/undergraduate/contact-us/index.aspx">Meet Your Counselor</a>
    </div>
  </div>
  <div class="homepage-masthead__photo-grid-container">
    <div class="homepage-masthead__photo-grid">
      <div class="homepage-masthead__photos">
        <a href="https://www.instagram.com/chapmanadmission/">
          <img src="https://www.chapman.edu/_files/img/hero-panels/masthead-2020-images/group-square.png"
            alt="Chapman Students" />
        </a>
        <a href="https://www.instagram.com/chapmanadmission/">
          <img src="https://www.chapman.edu/_files/img/hero-panels/masthead-2020-images/panther-square-400x400.png"
            alt="" />
        </a>
        <a href="https://www.instagram.com/chapmanadmission/">
          <img src="https://www.chapman.edu/_files/img/hero-panels/masthead-2020-images/microscope-square-400x400.png"
            alt="" />
        </a>
        <a href="https://www.instagram.com/chapmanadmission/">
          <div class="homepage-masthead__photo-grid-container__text">
            <h2>See What It's Like Here</h2>
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-circle-right"
              class="svg-inline--fa fa-chevron-circle-right fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512">
              <path fill="currentColor"
                d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm113.9 231L234.4 103.5c-9.4-9.4-24.6-9.4-33.9 0l-17 17c-9.4 9.4-9.4 24.6 0 33.9L285.1 256 183.5 357.6c-9.4 9.4-9.4 24.6 0 33.9l17 17c9.4 9.4 24.6 9.4 33.9 0L369.9 273c9.4-9.4 9.4-24.6 0-34z">
              </path>
            </svg>
          </div>
        </a>
        <a href="https://www.instagram.com/chapmanadmission/">
          <img src="https://www.chapman.edu/_files/img/hero-panels/masthead-2020-images/girls-square-400x400.png"
            alt="" />
        </a>
        <a href="https://www.instagram.com/chapmanadmission/">
          <img src="https://www.chapman.edu/_files/img/hero-panels/masthead-2020-images/guys-square-400x400.png"
            alt="" />
        </a>
        <span href="https://www.instagram.com/chapmanadmission/" class="diagonal">
        </span>
      </div>
    </div>
  </div>
  <span class="homepage-masthead__video-placeholder"></span>
  <!-- End Overlay -->
  <!-- Video -->
  <!-- to enable autoplay:   
    <video width="100%" height="100%" playsinline autoplay muted loop controls="" poster="">
 -->
  <img src="https://www.chapman.edu/_files/img/hero-panels/fallback-images/masthead-wave-gradient.png" alt="" style="
  width: 100%; position: absolute; height: var(--videoHeight)">
  <video id="homepage-masthead__video" class="homepage-masthead__video" width="100%" height="600px" playsinline muted
    loop autoplay controls=""
    poster="https://www.chapman.edu/_files/img/hero-panels/fallback-images/masthead-wave-gradient.png">
    <source
      src=" https://www.chapman.edu/_files/img/hero-panels/html5-videos/2_19-056e-2020-homepages-q1_colored.mp4#t=0.5"
      type="video/mp4">
    <source src="https://www.chapman.edu/_files/img/hero-panels/html5-videos/19-056---2020-homepages-q1_v1.webmhd.webm"
      type="video/webm">
  </video>
  </span>
  </span>
</div>