<!-- https://stackoverflow.com/questions/17202548/wavy-shape-with-css -->
<!-- https://www.chapman.edu/_files/img/hero-panels/html5-videos/19-056-2020-homepages-q1_v1_final.mp4 -->
<!-- https://www.chapman.edu/_files/img/hero-panels/html5-videos/19-056---2020-homepages-q1_v1.webmhd.webm -->
<!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video -->
<!-- https://googlechrome.github.io/samples/media/controlslist.html -->

<!-- https://developer.mozilla.org/en-US/docs/Web/Guide/Audio_and_video_delivery/Video_player_styling_basics -->
<div class="homepage-masthead__container">
    <div class="homepage-masthead__heading-container">
        <!-- Heading -->
        <h2>
            <span class="line-one">
                Discover
            </span>
            <span class="line-two">
                Boldly.
            </span>
        </h2>
        <div class="homepage-masthead__tagline">
            <span class="line-one">
                Even though we can't see you,
            </span>
            <span class="line-two">
                come experience Chapman ... online.
            </span>

        </div>
    </div>


    <!-- "Button" Links -->
    <div class="homepage-masthead__button-container">
        <div class="homepage-masthead__buttons">
            <div class="row">
                <a tabindex="0" class="button homepage-masthead__button  homepage-masthead__button--red">View Degrees
                    and
                    Programs</a>
                <a tabindex="0" class="button homepage-masthead__button  homepage-masthead__button--red">Tour The Campus
                    Online</a>
                <a tabindex="0" class="button homepage-masthead__button  homepage-masthead__button--red">Join the
                    admitted
                    student
                    hub</a>
            </div>
            <div class="row">
                <a tabindex="0" class="button homepage-masthead__button  homepage-masthead__button--red">chat with a
                    current
                    student</a>
                <a tabindex="0" class="button homepage-masthead__button  homepage-masthead__button--red">attend a
                    virtual
                    event</a>
                <a tabindex="0" class="button homepage-masthead__button  homepage-masthead__button--red">connect with
                    us</a>
            </div>
        </div>
    </div>



</div>



<div class="ie__homepage-masthead__photos maxWidth">
    <img src="http://placekitten.com/200/300" alt="">
    <img src="http://placekitten.com/200/300" alt="">
    <img src="http://placekitten.com/200/300" alt="">
    <img src="http://placekitten.com/200/300" alt="">
    <img src="http://placekitten.com/200/300" alt="">
    <img src="http://placekitten.com/200/300" alt="">
    <img src="http://placekitten.com/200/300" alt="">
</div>