<div class="homepage-masthead__container"><div class="vsc-controller" data-vscid="6h6hspfeg"></div>
    <div class="homepage-masthead__heading-container">
        <!-- Heading -->
        <h2>
            <span class="line-one">
                Discover
            </span>
            <span class="line-two">
                Boldly.
            </span>
        </h2>
        <div class="homepage-masthead__tagline">
            <span class="line-one">
                Get to know Chapman right now,
            </span>
            <span class="line-two">
                wherever you are.
            </span>

        </div>
    </div>

    <!-- Video Play/Pause Buttons -->
    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" aria-label="Pause masthead video" class="svg-inline--fa fa-pause-circle fa-w-16 homepage-masthead__toggle-play-button" data-icon="pause-circle" data-prefix="fas" focusable="false" id="homepage-masthead__pause-button" role="img" title="Pause video" viewBox="0 0 512 512">
        <path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm-16 328c0 8.8-7.2 16-16 16h-48c-8.8 0-16-7.2-16-16V176c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16v160zm112 0c0 8.8-7.2 16-16 16h-48c-8.8 0-16-7.2-16-16V176c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16v160z" fill="currentColor" tabindex="0">
        </path>
    </svg>

    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" aria-label="Play masthead video" class="svg-inline--fa fa-play-circle fa-w-16 homepage-masthead__toggle-play-button" data-icon="play-circle" data-prefix="fas" focusable="false" id="homepage-masthead__play-button" role="img" title="Play video" viewBox="0 0 512 512">
        <path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm115.7 272l-176 101c-15.8 8.8-35.7-2.5-35.7-21V152c0-18.4 19.8-29.8 35.7-21l176 107c16.4 9.2 16.4 32.9 0 42z" fill="currentColor" tabindex="0">
        </path>
    </svg>

  <!-- "Button" Links -->
  <div class="homepage-masthead__button-container">
    <div class="homepage-masthead__buttons">
      <a class="button homepage-masthead__button  homepage-masthead__button--red" href="https://www.chapman.edu/academics/degrees-and-programs.aspx" tabindex="0">Explore Degrees and Programs</a>
      <a class="button homepage-masthead__button  homepage-masthead__button--red" href="https://go.chapman.edu/portal/virtualinfo" tabindex="0">Schedule Virtual Tour</a>
      <a class="button homepage-masthead__button  homepage-masthead__button--red" href="https://www.chapman.edu/admission/undergraduate/student-ambassadors.aspx" tabindex="0">Ask a Student</a>
      <a class="button homepage-masthead__button  homepage-masthead__button--red" href="https://www.chapman.edu/admission/undergraduate/request-info.aspx" tabindex="0">Join Interest List</a>
      <a class="button homepage-masthead__button  homepage-masthead__button--red" href="https://go.chapman.edu/portal/virtualinfo" tabindex="0">Attend an Information Session</a>
      <a class="button homepage-masthead__button  homepage-masthead__button--red" href="https://www.chapman.edu/admission/undergraduate/contact-us/index.aspx" tabindex="0">Meet Your Counselor</a>
    </div>
  </div>

  <div class="homepage-masthead__photo-grid-container">
    <div class="homepage-masthead__photo-grid">
      <div class="homepage-masthead__photos">
        <a href="https://www.instagram.com/p/B8KhB8mlOpZ/">
          <img alt="Chapman Tour Group" src="" style="object-position: top;">
        </a>
        <a href="https://www.instagram.com/p/B06uMxDlXEK/">
          <img alt="Student with Pete the Panther (Mascot)" src="">
        </a>
        <a href="https://www.instagram.com/p/B89l1WbBj5k/">
          <img alt="Student looking into microscope" src="">
        </a>
        <a href="https://www.instagram.com/chapmanadmission/">
          <div class="homepage-masthead__photo-grid-container__text">
            <h2>
              <span>See </span>
              <span>What It's </span>
              <span>Like Here</span>
            </h2>
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="svg-inline--fa fa-chevron-circle-right fa-w-16" data-icon="chevron-circle-right" data-prefix="fas" focusable="false" role="img" viewBox="0 0 512 512">
              <path d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm113.9 231L234.4 103.5c-9.4-9.4-24.6-9.4-33.9 0l-17 17c-9.4 9.4-9.4 24.6 0 33.9L285.1 256 183.5 357.6c-9.4 9.4-9.4 24.6 0 33.9l17 17c9.4 9.4 24.6 9.4 33.9 0L369.9 273c9.4-9.4 9.4-24.6 0-34z" fill="currentColor">
              </path>
            </svg>
          </div>
        </a>
        <a href="https://www.instagram.com/p/B_BezdmBCt4/">
          <img alt="Chapman Students near college dorms" src="https://www.chapman.edu/_files/img/hero-panels/masthead-2020-images/girls-square-400x400.png">
        </a>
        <a href="https://www.instagram.com/p/B3NoIlPFTTE/">
          <img alt="Four Chapman Students" src="https://www.chapman.edu/_files/img/hero-panels/masthead-2020-images/group-square-400x400.png">
        </a>
        <span class="diagonal">
        </span>
      </div>
    </div>
  </div>

    <img alt="Chapman Wave" role="presentation" src="https://www.chapman.edu/_files/img/hero-panels/fallback-images/masthead-wave-gradient.png" style="  width: 100%; position: absolute; height: var(--space-mastheadVideoHeight)">

  
    <!-- Video -->
    <video autoplay="true" class="homepage-masthead__video" controls="false" id="homepage-masthead__video" loop="true" muted="true" playsinline="true" poster="https://www.chapman.edu/_files/img/hero-panels/fallback-images/masthead-wave-gradient.png" data-vscid="6h6hspfeg" width="100%" height="var(--space-mastheadVideoHeight)">
    <source src="https://www.chapman.edu/_files/img/hero-panels/html5-videos/2_19-056e-2020-homepages-q1_colored.mp4" type="video/mp4">
    <source src="https://www.chapman.edu/_files/img/hero-panels/html5-videos/19-056---2020-homepages-q1_v1.webmhd.webm" type="video/webm">
  </video>
      <span class="homepage-masthead__video-overlay"></span>

<script>
var preloadLink = document.createElement("link");
preloadLink.href = "https://api.curator.io/v1/feeds/ef183959-c3ad-4f2d-b90e-390c5d766fac/posts?api_key=11a4445f-6005-4040-9ff2-fd90d3aaa8a6";
preloadLink.rel = "preload";
preloadLink.as = "script";
document.head.appendChild(preloadLink);
</script>
</div>