<ul class="uninav__menu-drilldown--contextual">
  <li>
    <a href="about/index.aspx">About the Fowler School of Engineering</a>
    <span class="toggle">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" height="32" version="1.1" viewBox="0 0 512 512" width="32">
          <title>Toggle About the Fowler School of Engineering</title>
          <path d="M480 224h-192v-192h-64v192h-192v64h192v192h64v-192h192z"></path>
        </svg>
      </span>
    </span>
    <ul>
      <li><a href="about/diversity-and-inclusion.aspx">Diversity and Inclusion</a></li>
      <li><a href="about/student-alumni-achievement.aspx">Student and Alumni Achievement</a></li>
      <li><a href="about/leadership-and-staff.aspx">Leadership and Staff</a></li>
      <li><a href="about/faculty/index.aspx">Faculty Profiles</a></li>
    </ul>
  </li>
  <li>
    <a href="academic-programs/index.aspx">Degrees and Programs</a>
    <span class="toggle">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" height="32" version="1.1" viewBox="0 0 512 512" width="32">
          <title>Toggle Degrees and Programs</title>
          <path d="M480 224h-192v-192h-64v192h-192v64h192v192h64v-192h192z"></path>
        </svg>
      </span>
    </span>
    <ul>
      <li><a href="academic-programs/bs-computer-engineering.aspx">B.S. Computer Engineering</a></li>
      <li><a href="academic-programs/bs-computer-science.aspx">B.S. Computer Science</a></li>
      <li><a href="academic-programs/bs-data-analytics.aspx">B.S. Data Analytics</a></li>
      <li><a href="academic-programs/bs-electrical-engineering.aspx">B.S. Electrical Engineering</a></li>
      <li><a href="academic-programs/bs-software-engineering.aspx">B.S. Software Engineering</a></li>
      <li><a href="academic-programs/minors.aspx">Minors</a></li>
      <li><a href="academic-programs/accelerated.aspx">Accelerated Graduate Programs</a></li>
      <li><a href="academic-programs/hands-on-learning.aspx">Hands-On Learning</a></li>
    </ul>
  </li>
  <li>
    <a href="for-students/index.aspx">For Students</a>
    <span class="toggle">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" height="32" version="1.1" viewBox="0 0 512 512" width="32">
          <title>Toggle For Students</title>
          <path d="M480 224h-192v-192h-64v192h-192v64h192v192h64v-192h192z"></path>
        </svg>
      </span>
    </span>
    <ul>
      <li><a href="for-students/engineering-scholarships.aspx">Engineering Scholarships</a></li>
      <li><a href="for-students/research-opportunities.aspx">Research Opportunities</a></li>
      <li><a href="for-students/ambassadors.aspx">Talk to Our Ambassadors</a></li>
      <li><a href="for-students/beyond-the-classroom.aspx">Internships</a></li>
    </ul>
  </li>
  <li>
    <a href="for-faculty/index.aspx">For Faculty</a>
    <span class="toggle">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" height="32" version="1.1" viewBox="0 0 512 512" width="32">
          <title>Toggle For Faculty</title>
          <path d="M480 224h-192v-192h-64v192h-192v64h192v192h64v-192h192z"></path>
        </svg>
      </span>
    </span>
    <ul>
      <li><a href="for-faculty/faculty-opportunities.aspx">Open Faculty Positions</a></li>
    </ul>
  </li>
  <li>
    <a href="partner-with-us/index.aspx">Partner With Us</a>
    <span class="toggle">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" height="32" version="1.1" viewBox="0 0 512 512" width="32">
          <title>Toggle Partner With Us</title>
          <path d="M480 224h-192v-192h-64v192h-192v64h192v192h64v-192h192z"></path>
        </svg>
      </span>
    </span>
    <ul>
      <li><a
          href="https://secure.touchnet.com/C27377_ustores/web/store_cat.jsp?STOREID=1&amp;CATID=135&amp;SINGLESTORE=true">Support
          Fowler <span class="fas fa-external-link-alt"></span></a></li>
      <li><a href="partner-with-us/industry-partners/index.aspx">Industry Partners</a></li>
    </ul>
  </li>
  <li>
    <a href="contact/index.aspx">Contact</a>
  </li>
</ul>


<ul class="uninav__menu-drilldown--global">
  <li>
    <a href="../about/index.aspx">About</a>
    <span class="toggle">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" height="32" version="1.1" viewBox="0 0 512 512" width="32">
          <title>Toggle About</title>
          <path d="M480 224h-192v-192h-64v192h-192v64h192v192h64v-192h192z"></path>
        </svg>
      </span>
    </span>
    <ul>
      <li><a href="../about/maps-directions/index.aspx">Maps &amp; Directions</a></li>
      <li><a href="../about/visit/index.aspx">Visit Chapman</a></li>
      <li><a href="../about/facts-and-rankings/index.aspx">Facts &amp; Rankings</a></li>
      <li><a href="../about/our-family/leadership/index.aspx">Leadership</a></li>
      <li><a href="../campus-services/index.aspx">Campus Services</a></li>
      <li><a href="../about/connect/index.aspx">Connect</a></li>
    </ul>
  </li>
  <li>
    <a href="../academics/index.aspx">Academics</a>
    <span class="toggle">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" height="32" version="1.1" viewBox="0 0 512 512" width="32">
          <title>Toggle Academics</title>
          <path d="M480 224h-192v-192h-64v192h-192v64h192v192h64v-192h192z"></path>
        </svg>
      </span>
    </span>
    <ul>
      <li><a href="../academics/degrees-and-programs.aspx">Degrees &amp; Programs</a></li>
      <li><a href="../academics/schools-colleges.aspx">Schools &amp; Colleges</a></li>
      <li><a href="../academics/academic-calendar.aspx">Academic Calendar</a></li>
      <li><a href="../our-faculty/index.aspx">Faculty Directory</a></li>
      <li><a href="../academics/libraries/index.aspx">Libraries</a></li>
      <li><a href="https://catalog.chapman.edu/">Course Catalogs</a></li>
      <li><a href="../international-studies/index.aspx">International Study</a></li>
    </ul>
  </li>
  <li>
    <a href="../admission/index.aspx">Admission</a>
    <span class="toggle">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" height="32" version="1.1" viewBox="0 0 512 512" width="32">
          <title>Toggle Admission</title>
          <path d="M480 224h-192v-192h-64v192h-192v64h192v192h64v-192h192z"></path>
        </svg>
      </span>
    </span>
    <ul>
      <li><a href="../admission/undergraduate/index.aspx">Undergraduate Admission</a></li>
      <li><a href="../admission/undergraduate/how-to-apply/index.aspx">Undergraduate Application</a></li>
      <li><a href="../admission/graduate/index.aspx">Graduate Admission</a></li>
      <li><a href="../admission/graduate/applynow.aspx">Graduate Application</a></li>
      <li><a href="../admission/undergraduate/afford.aspx">Affordability</a></li>
      <li><a href="../students/tuition-and-aid/financial-aid/undergraduate/net-cost-calculator/index.aspx">Financial Aid
          Calculator</a></li>
      <li><a href="/admission/undergraduate/visit">Campus Tours</a></li>
    </ul>
  </li>
  <li>
    <a href="../alumni/index.aspx">Alumni</a>
    <span class="toggle">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" height="32" version="1.1" viewBox="0 0 512 512" width="32">
          <title>Toggle Alumni</title>
          <path d="M480 224h-192v-192h-64v192h-192v64h192v192h64v-192h192z"></path>
        </svg>
      </span>
    </span>
    <ul>
      <li><a aria-label="Alumni Events" href="../alumni/events/index.aspx">Events</a></li>
      <li><a aria-label="Alumni: Get Involved" href="../alumni/get-involved/index.aspx">Get Involved</a></li>
      <li><a href="../campus-services/career-professional-development/index.aspx">Career Support</a></li>
    </ul>
  </li>
  <li><a href="../arts/index.aspx">Arts</a></li>
  <li>
    <a href="../campus-life/index.aspx">Campus Life</a>
    <span class="toggle">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" height="32" version="1.1" viewBox="0 0 512 512" width="32">
          <title>Toggle Campus Life</title>
          <path d="M480 224h-192v-192h-64v192h-192v64h192v192h64v-192h192z"></path>
        </svg>
      </span>
    </span>
    <ul>
      <li><a href="http://www.chapmanathletics.com/landing/index">Athletics</a></li>
      <li><a href="../diversity/index.aspx">Diversity &amp; Inclusion</a></li>
      <li><a aria-label="Chapman Events" href="https://events.chapman.edu/">Events</a></li>
      <li><a href="../campus-life/fish-interfaith-center/index.aspx">Fish Interfaith Center</a></li>
      <li><a href="../students/health-and-safety/index.aspx">Health &amp; Safety</a></li>
      <li><a href="../students/services/housing-and-residence/index.aspx">Residence Life</a></li>
      <li><a href="../students/life/index.aspx">Student Life</a></li>
    </ul>
  </li>
  <li>
    <a href="/research/">Research</a>
    <span class="toggle">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" height="32" version="1.1" viewBox="0 0 512 512" width="32">
          <title>Toggle Research</title>
          <path d="M480 224h-192v-192h-64v192h-192v64h192v192h64v-192h192z"></path>
        </svg>
      </span>
    </span>
    <ul>
      <li><a href="../research/sponsored-projects-services/pre-award/index.aspx">Pre-Award Administration</a></li>
      <li><a href="../research/sponsored-projects-services/post-award/index.aspx">Post-Award Administration</a></li>
      <li><a href="../research/integrity/index.aspx">Research Integrity</a></li>
      <li><a href="../research/institutes-and-centers/index.aspx">Institutes &amp; Centers</a></li>
      <li><a href="../research/center-for-undergraduate-excellence/index.aspx">Center for Undergraduate Excellence</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="../support-chapman/index.aspx">Support</a>
    <span class="toggle">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" height="32" version="1.1" viewBox="0 0 512 512" width="32">
          <title>Toggle Support</title>
          <path d="M480 224h-192v-192h-64v192h-192v64h192v192h64v-192h192z"></path>
        </svg>
      </span>
    </span>
    <ul>
      <li><a href="../support-chapman/contact-us.aspx">Contact Development</a></li>
      <li><a aria-label="Support: Involvement Opportunities" href="../support-chapman/get-involved.aspx">Get
          Involved</a></li>
      <li><a href="../support-chapman/ways-to-give/areas-to-support.aspx">Areas to Support</a></li>
      <li><a aria-label="Alumni: Get Involved" href="../alumni/get-involved/index.aspx">Get Involved</a></li>
    </ul>
  </li>
</ul>
