<div class="off-canvas-nav-container" id="js-off-canvas-nav-container">
  <div class="cu-off-canvas-header">
    <div class="cu-logo-wrapper">
      <div class="toggle-logo" id="main-logo">
        <a class="default off-logo" href="../index.aspx" title="Chapman University Website Home Page">
          <!-- logo set as background image by class -->
          Chapman University Logo
        </a>
        <span class="close js-close-off-canvas-nav" tabindex="0">
          <svg xmlns="http://www.w3.org/2000/svg" height="13" version="1.1" viewBox="0 0 512 512" width="13">
            <title>Close</title>
            <path
              d="M446.627 110.627l-45.254-45.254-145.373 145.372-145.373-145.372-45.254 45.253 145.373 145.374-145.373 145.373 45.254 45.254 145.373-145.373 145.373 145.373 45.254-45.255-145.372-145.372z">
            </path>
          </svg>
        </span>
      </div>
    </div>
  </div>
  <div class="off-canvas-nav clearfix" id="js-off-canvas-nav">
    <div class="off-canvas-menu" id="off-canvas-umbrella">
      <div class="menu-header">
        <span class="menu-label">School of Communication</span>
        <a class="toggle-menu-label" href="#">Main Menu &gt;</a>
      </div>

      <div class="off-canvas-umbrella-list-container">
        <ul class="root-umbrella-nav">


          <li class="off-canvas-menu-item"><a href="message-from-the-dean.aspx">Message From the Dean</a></li>



          <li class="off-canvas-menu-item"><a href="groups-organizations.aspx">Groups and Organizations</a></li>



          <li class="off-canvas-menu-item"><a href="contact-us.aspx">Contact Us</a></li>














          <li class="off-canvas-menu-item">
            <span class="drill-down-parent">Academic Programs</span>
            <span class="toggle-drilldown">
              <i class="fas fa-chevron-right"></i>
            </span>

            <ul class="drilldown-menu">
              <li class="menu-back"><i class="fas fa-chevron-left"></i>Academic Programs - Menu</li>
              <li class="off-canvas-menu-item"><a href="academic-programs/index.aspx">Academic Programs</a></li>
              <li class="off-canvas-menu-item"><a href="academic-programs/strategic-corporate-communication.aspx">BA in
                  Strategic &amp; Corporate Communication</a></li>
              <li class="off-canvas-menu-item"><a href="academic-programs/health-strategic-communication.aspx">MS in
                  Health &amp; Strategic Communication</a></li>
              <li class="off-canvas-menu-item"><a href="academic-programs/communication-studies.aspx">B.A. in
                  Communication Studies</a></li>
              <li class="off-canvas-menu-item"><a href="academic-programs/4-1-health-strategic-communication.aspx">4 + 1
                  Integrated Undergraduate/Masters of Health and Strategic Communication</a></li>
              <li class="off-canvas-menu-item">
                <span class="drill-down-parent">Drill Down Test</span>
                <span class="toggle-drilldown">
                  <i class="fas fa-chevron-right"></i>
                </span>
                <ul class="drilldown-menu">
                  <li class="menu-back"><i class="fas fa-chevron-left"></i>Drill Down Test - Menu</li>
                  <li class="off-canvas-menu-item"><a
                      href="academic-programs/drilldown-test/change-of-major-application-form-thank-you.aspx">Thank You
                      for Change Your Major/Minor Application Form Omniv-Nav V3</a></li>
                  <li class="off-canvas-menu-item"><a href="academic-programs/drilldown-test/index.aspx">Academic
                      Programs Drill Down</a></li>
                  <li class="off-canvas-menu-item">
                    <span class="drill-down-parent">Drill Down Test Second</span>
                    <span class="toggle-drilldown">
                      <i class="fas fa-chevron-right"></i>
                    </span>
                    <ul class="drilldown-menu">
                      <li class="menu-back"><i class="fas fa-chevron-left"></i>Drill Down Test Second - Menu</li>
                      <li class="off-canvas-menu-item"><a
                          href="academic-programs/drilldown-test/drilldown-test-second/index.aspx">Crean College of
                          Health and Behavioral Sciences Drilldown Second</a></li>
                      <li class="off-canvas-menu-item"><a
                          href="academic-programs/drilldown-test/drilldown-test-second/faculty-student-research.aspx">Faculty
                          and Student Research Drilldown Second</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>


          <li class="off-canvas-menu-item"><a href="faculty-directory.aspx">Faculty Directory</a></li>



          <li class="off-canvas-menu-item"><a href="research-publications.aspx">Research and Publications</a></li>



          <li class="off-canvas-menu-item"><a href="about.aspx">About the School of Communication</a></li>



          <li class="off-canvas-menu-item"><a href="nick_omni_nav_v3_secondary_logo.aspx">School of Communication</a>
          </li>



          <li class="off-canvas-menu-item"><a href="omni_nav_v3_secondary_logo_chris.aspx">School of
              Communication Chris Omni Nav V3</a></li>



          <li class="off-canvas-menu-item"><a href="nick_omni_nav_v3_contextual-menu-toggle.aspx">School of
              Communication</a></li>









          <li class="off-canvas-menu-item">
            <span class="drill-down-parent">Drill Down Other</span>
            <span class="toggle-drilldown">
              <i class="fas fa-chevron-right"></i>
            </span>

            <ul class="drilldown-menu">
              <li class="menu-back"><i class="fas fa-chevron-left"></i>Drill Down Other - Menu</li>
              <li class="off-canvas-menu-item"><a href="drilldown-other/index.aspx">School of Communication</a></li>
              <li class="off-canvas-menu-item"><a href="drilldown-other/faculty-directory-drilldown.aspx">Faculty
                  Directory Other Drilldown</a></li>
              <li class="off-canvas-menu-item">
                <span class="drill-down-parent">Drill Down Other Second</span>
                <span class="toggle-drilldown">
                  <i class="fas fa-chevron-right"></i>
                </span>
                <ul class="drilldown-menu">
                  <li class="menu-back"><i class="fas fa-chevron-left"></i>Drill Down Other Second - Menu</li>
                  <li class="off-canvas-menu-item"><a href="drilldown-other/drilldown-other-second/index.aspx">School of
                      Communication</a></li>
                  <li class="off-canvas-menu-item"><a href="drilldown-other/drilldown-other-second/support.aspx">Support
                      the School of Communication Drilldown other second</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>


    <div class="off-canvas-menu" id="off-canvas-main">
      <div class="menu-header">
        <span class="menu-label">Main Menu</span>

        <a class="toggle-menu-label" href="#">&lt; School of Communication Menu</a>
      </div>



      <div class="off-canvas-main-list-container">
        <ul class="root-main-nav">

          <li class="off-canvas-menu-item">

            <span class="drill-down-parent">Ross is great</span>

            <span class="toggle-drilldown">
              <i class="fas fa-chevron-right"></i>
            </span>
            <ul class="drilldown-menu">
              <li class="menu-back"><i class="fas fa-chevron-left"></i>Ross is great - Menu</li>
              <li class="off-canvas-menu-item current"><a href="../about/index.aspx">Ross is great</a></li>


              <li class="off-canvas-menu-item">
                <a href="../about/maps-directions/index.aspx">Maps &amp; Directions</a>
              </li>


            </ul>

          </li>

          <li class="off-canvas-menu-item">

            <span class="drill-down-parent">Academics</span>

            <span class="toggle-drilldown">
              <i class="fas fa-chevron-right"></i>
            </span>
            <ul class="drilldown-menu">
              <li class="menu-back"><i class="fas fa-chevron-left"></i>Academics - Menu</li>
              <li class="off-canvas-menu-item"><a href="../academics/index.aspx">Academics</a></li>


              <li class="off-canvas-menu-item">
                <a href="../academics/degrees-and-programs.aspx">Degrees &amp; Programs</a>
              </li>


              <li class="off-canvas-menu-item">
                <a href="https://catalog.chapman.edu/">Course Catalog</a>
              </li>
            </ul>

          </li>

          <li class="off-canvas-menu-item">

            <span class="drill-down-parent">Admission</span>

            <span class="toggle-drilldown">
              <i class="fas fa-chevron-right"></i>
            </span>
            <ul class="drilldown-menu">
              <li class="menu-back"><i class="fas fa-chevron-left"></i>Admission - Menu</li>
              <li class="off-canvas-menu-item"><a href="../admission/index.aspx">Admission</a></li>


              <li class="off-canvas-menu-item">
                <a href="../admission/undergraduate/index.aspx">Undergraduate Admission</a>
              </li>
            </ul>

          </li>

          <li class="off-canvas-menu-item">

            <span class="drill-down-parent">Alumni</span>

            <span class="toggle-drilldown">
              <i class="fas fa-chevron-right"></i>
            </span>
            <ul class="drilldown-menu">
              <li class="menu-back"><i class="fas fa-chevron-left"></i>Alumni - Menu</li>
              <li class="off-canvas-menu-item"><a href="../alumni/index.aspx">Alumni</a></li>


              <li class="off-canvas-menu-item">
                <a aria-label="Events for Alumni" href="../alumni/events/index.aspx">Events</a>
              </li>
            </ul>

          </li>

          <li class="off-canvas-menu-item">

            <a href="../arts/index.aspx">Arts</a>


          </li>

          <li class="off-canvas-menu-item">

            <span class="drill-down-parent">Campus Life</span>

            <span class="toggle-drilldown">
              <i class="fas fa-chevron-right"></i>
            </span>
            <ul class="drilldown-menu">
              <li class="menu-back"><i class="fas fa-chevron-left"></i>Campus Life - Menu</li>
              <li class="off-canvas-menu-item"><a href="../campus-life/index.aspx">Campus Life</a></li>


              <li class="off-canvas-menu-item">
                <a href="https://events.chapman.edu">Events</a>
              </li>
            </ul>

          </li>

          <li class="off-canvas-menu-item">

            <span class="drill-down-parent">Research</span>

            <span class="toggle-drilldown">
              <i class="fas fa-chevron-right"></i>
            </span>
            <ul class="drilldown-menu">
              <li class="menu-back"><i class="fas fa-chevron-left"></i>Research - Menu</li>
              <li class="off-canvas-menu-item"><a href="../research/index.aspx">Research</a></li>


              <li class="off-canvas-menu-item">
                <a href="../research/institutes-and-centers/index.aspx">Instititutes &amp; Centers</a>
              </li>
            </ul>

          </li>

          <li class="off-canvas-menu-item">

            <span class="drill-down-parent">Support</span>

            <span class="toggle-drilldown">
              <i class="fas fa-chevron-right"></i>
            </span>
            <ul class="drilldown-menu">
              <li class="menu-back"><i class="fas fa-chevron-left"></i>Support - Menu</li>
              <li class="off-canvas-menu-item"><a href="../support-chapman/index.aspx">Support</a></li>


              <li class="off-canvas-menu-item">
                <a href="../support-chapman/get-involved.aspx">Get Involved</a>
              </li>
            </ul>

          </li>
          <li id="off-canvas-utility-item">
            <div class="off-canvas-utility-container">

              <!-- _audiences.vtl -->

              <ul class="off-canvas-utility">



                <li
                  class="off-canvas-menu-item uninav__offCanvas-menu-item--audiences uninav__audiences-menu-item--staff uninav__menu-item-audiences--1 uninav__audiences-menu-item--dropdown-parent ">
                  <span class="drill-down-parent">
                    Staff
                  </span>
                  <span class="toggle-drilldown">
                    <i class="fas fa-chevron-right"></i>
                  </span>
                  <ul class="drilldown-menu">
                    <li class="menu-back"><i class="fas fa-chevron-left"></i>Staff - Menu</li>
                    <li
                      class="uninav__offCanvas-menu-item--audiences uninav__offCanvas-audiences-menu-item--staff uninav__offCanvas-menu-item-audiences--1 uninav__offCanvas-audiences-menu-item--dropdown-parent">
                      <a href="omni_nav_v3_secondary_logo_chris.aspx" id="uninav-OffCanvas-audiences-staff">
                        Staff
                      </a>
                    </li>
                    <li>
                      <a class="icon icon-utilnav-sub-class new-toy" href="/">
                        New Staff
                      </a>
                    </li>
                  </ul>
                </li>



                <li
                  class="off-canvas-menu-item uninav__offCanvas-menu-item--audiences uninav__offCanvas-audiences-menu-item--students uninav__offCanvas-menu-item-audiences--2 uninav__offCanvas-audiences-menu-item--dropdown-parent">
                  <a href="../students/academic-resources/registrar/student-services/course-registration/new-student/index.aspx"
                    id="uninav-offCanvas-audiences-students">
                    Students
                  </a>

                </li>
              </ul>
            </div>
          </li>
          <li id="off-canvas-cta-item">
            <div class="off-canvas-cta-container">

              <ul class="off-canvas-cta">
                <li
                  class="off-canvas-menu-item uninav__menu-item-cta uninav__cta-menu-item--visit-int uninav__cta-menu-item--1">
                  <a href="../about/visit/index.aspx" id="uninav-cta-visit-int">
                    Visit (int)
                  </a>
                </li>
                <li
                  class="off-canvas-menu-item uninav__menu-item-cta uninav__cta-menu-item--apply-ext uninav__cta-menu-item--2">
                  <a href="https://dev-www.chapman.edu/admission/index.aspx" id="uninav-cta-apply-ext">
                    Apply (ext)
                  </a>
                </li>
                <li
                  class="off-canvas-menu-item uninav__menu-item-cta uninav__cta-menu-item--give-pdf uninav__cta-menu-item--3">
                  <a href="../support-chapman/_files/2015-donor-impact-report.pdf" id="uninav-cta-give-pdf">
                    Give (pdf)
                  </a>
                </li>
              </ul>



            </div>
          </li>
        </ul>
      </div>


    </div>
  </div>
  <div class="uninav__umbrella-menu-container">
    <button aria-label="Toggle site menu" class="uninav__umbrella-menu-toggle" id="umbrella-menu-toggle" type="button">
      Section Menu
    </button>
  </div>
</div>