<div class="off-canvas-overlay" id="js-off-canvas-overlay" style="display: none;"></div>

<div class="off-canvas-nav-container" id="js-off-canvas-nav-container" style="overflow-y: hidden; transform: translateX(-410px); visibility: hidden;">
      <div class="cu-off-canvas-header">
    <div class="cu-logo-wrapper">
      <div class="toggle-logo" id="main-logo">
        <a class="default off-logo" href="../index.aspx" title="Chapman University Website Home Page">
          <!-- logo set as background image by class -->
          Chapman University Logo
        </a>
          <span class="close js-close-off-canvas-nav" tabindex="0">
    <span class="fas fa-times-circle"></span>
  </span>
      </div>
    </div>
  </div>
        <div class="off-canvas-nav clearfix" id="js-off-canvas-nav">
            <div class="off-canvas-menu" id="off-canvas-umbrella">
    <div class="menu-header">
      <span class="menu-label" tabindex="0">Dodge College</span>
      <span class="toggle-menu-label" tabindex="0">Chapman Menu</span>
    </div>

    <div id="off-canvas-umbrella-navigation">
        <ul class="root-umbrella-nav drilled-down" style="transform: translateX(-410px); height: 204px;">
                            <script class="top-drill-down-list-item">
      
          if(window.location.href.indexOf("//dev-") > -1) {          
            console.log("(ง •̀_•́)ง VELOCITY: Im the leftnav asset index")
          }
      
  </script>
      
  
              <li class="drill-down-list-item current home-menu top-drill-down-list-item">
            <span class="fas fa-home"></span>
            <a href="index.aspx">Dodge College - Home</a>
        </li>
                                  <script class="top-drill-down-list-item">
      
          if(window.location.href.indexOf("//dev-") > -1) {          
            console.log("(ง •̀_•́)ง VELOCITY: Im the leftnav asset programs")
          }
      
  </script>
      
  
                                                                                    <li class="drill-down-list-item top-drill-down-list-item" aria-expanded="true">
        <span class="drill-down-parent" tabindex="0">Academic Programs</span>
        <span class="toggle-drilldown"><span class="fas fa-chevron-right"></span></span>
        <ul class="drilldown-menu active" style="display: block;">
          <li class="menu-back" tabindex="0"><span class="fas fa-chevron-left"></span>Academic Programs</li>
          
                                                  <li class="drill-down-list-item"><a href="programs/index.aspx">Academic Programs</a></li>
                      
                                                        <script>
      
          if(window.location.href.indexOf("//dev-") > -1) {          
            console.log("(ง •̀_•́)ง VELOCITY: Im the leftnav asset programs/undergraduate")
          }
      
  </script>
      
  
                                                                                                                                                                                                            <li class="drill-down-list-item">
        <span class="drill-down-parent" tabindex="0">Undergraduate Programs</span>
        <span class="toggle-drilldown"><span class="fas fa-chevron-right"></span></span>
        <ul class="drilldown-menu">
          <li class="menu-back" tabindex="0"><span class="fas fa-chevron-left"></span>Undergraduate Programs</li>
          
                                                  <li class="drill-down-list-item"><a href="programs/undergraduate/index.aspx">Undergraduate Programs</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="programs/undergraduate/bfa-news-doc.aspx">B.F.A. in Broadcast Journalism &amp; Documentary</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="programs/undergraduate/bfa-creative-producing.aspx">B.F.A. in Creative Producing</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="programs/undergraduate/bfa-digital-arts.aspx">B.F.A. in Digital Arts - Animation and Visual Effects</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="programs/undergraduate/bfa-film-production.aspx">B.F.A. in Film Production</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="programs/undergraduate/ba-film-studies.aspx">B.A. in Film Studies</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="programs/undergraduate/ba-pr-advertising.aspx">B.A. in Public Relations &amp; Advertising</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="programs/undergraduate/ba-screenwriting.aspx">B.F.A. in Screenwriting</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="programs/undergraduate/bfa-screen-acting.aspx">B.F.A. in Screen Acting</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="programs/undergraduate/bfa-tv-writing-prod.aspx">B.F.A. in Television Writing and Production</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="programs/undergraduate/minors.aspx">Minors</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="programs/undergraduate/international-initiatives.aspx">International Programs</a></li>
                      
                                              
                                              
                                                      </ul>
      </li>
                            
                                                        <script>
      
          if(window.location.href.indexOf("//dev-") > -1) {          
            console.log("(ง •̀_•́)ง VELOCITY: Im the leftnav asset programs/graduate")
          }
      
  </script>
      
  
                                                                                                                                                                    <li class="drill-down-list-item">
        <span class="drill-down-parent" tabindex="0">Graduate Programs</span>
        <span class="toggle-drilldown"><span class="fas fa-chevron-right"></span></span>
        <ul class="drilldown-menu">
          <li class="menu-back" tabindex="0"><span class="fas fa-chevron-left"></span>Graduate Programs</li>
          
                                                  <li class="drill-down-list-item"><a href="programs/graduate/mfa-documentary.aspx">M.F.A. in Documentary Filmmaking</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="programs/graduate/mfa-film-production.aspx">M.F.A. in Film Production</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="programs/graduate/ma-film-studies.aspx">M.A. in Film Studies</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="programs/graduate/integrated-undergrad-ma-film-studies.aspx">Integrated Undergrad-M.A. in Film Studies</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="programs/graduate/mfa-film-tv-producing.aspx">M.F.A. in Film and TV Producing</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="programs/graduate/mfa-production-design.aspx">M.F.A. in Production Design</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="programs/graduate/mfa-screenwriting.aspx">M.F.A. in Screenwriting</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="programs/graduate/mfa-tv-writing-producing.aspx">M.F.A. in Television Writing and Producing</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="programs/graduate/jd-mfa-film-tv-producing.aspx">J.D./M.F.A. in Film and TV Producing</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="programs/graduate/mba-mfa-film-tv-producing.aspx">M.B.A./M.F.A in Film and TV Producing</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="programs/graduate/index.aspx">Graduate Programs</a></li>
                              </ul>
      </li>
                                    </ul>
      </li>
                                  <script class="top-drill-down-list-item">
      
          if(window.location.href.indexOf("//dev-") > -1) {          
            console.log("(ง •̀_•́)ง VELOCITY: Im the leftnav asset summer-programs")
          }
      
  </script>
      
  
                                                                                              <li class="drill-down-list-item top-drill-down-list-item">
        <span class="drill-down-parent" tabindex="0">Summer Programs</span>
        <span class="toggle-drilldown"><span class="fas fa-chevron-right"></span></span>
        <ul class="drilldown-menu">
          <li class="menu-back" tabindex="0"><span class="fas fa-chevron-left"></span>Summer Programs</li>
          
                                                  <li class="drill-down-list-item"><a href="summer-programs/index.aspx">Summer Programs</a></li>
                      
                                                        <script>
      
          if(window.location.href.indexOf("//dev-") > -1) {          
            console.log("(ง •̀_•́)ง VELOCITY: Im the leftnav asset summer-programs/summer-film-academy")
          }
      
  </script>
      
  
                                                                                                        <li class="drill-down-list-item">
        <span class="drill-down-parent" tabindex="0">Summer Film Academy</span>
        <span class="toggle-drilldown"><span class="fas fa-chevron-right"></span></span>
        <ul class="drilldown-menu">
          <li class="menu-back" tabindex="0"><span class="fas fa-chevron-left"></span>Summer Film Academy</li>
          
                                                  <li class="drill-down-list-item"><a href="summer-programs/summer-film-academy/sfa-about.aspx">About</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="summer-programs/summer-film-academy/sfa-apply.aspx">Apply</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="summer-programs/summer-film-academy/index.aspx">Summer Film Academy</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="summer-programs/summer-film-academy/sfa-team.aspx">Meet the Team</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="summer-programs/summer-film-academy/sfa-faqs.aspx">FAQs</a></li>
                              </ul>
      </li>
                            
                                              
                                                  <li class="drill-down-list-item"><a href="summer-programs/china.aspx">Chapman University Summer Film Academy, China</a></li>
                              </ul>
      </li>
                                  <script class="top-drill-down-list-item">
      
          if(window.location.href.indexOf("//dev-") > -1) {          
            console.log("(ง •̀_•́)ง VELOCITY: Im the leftnav asset apply")
          }
      
  </script>
      
  
                                                                                                        <li class="drill-down-list-item top-drill-down-list-item">
        <span class="drill-down-parent" tabindex="0">Apply</span>
        <span class="toggle-drilldown"><span class="fas fa-chevron-right"></span></span>
        <ul class="drilldown-menu">
          <li class="menu-back" tabindex="0"><span class="fas fa-chevron-left"></span>Apply</li>
          
                                                  <li class="drill-down-list-item"><a href="apply/index.aspx">Apply</a></li>
                      
                                                        <script>
      
          if(window.location.href.indexOf("//dev-") > -1) {          
            console.log("(ง •̀_•́)ง VELOCITY: Im the leftnav asset apply/undergraduate")
          }
      
  </script>
      
  
                                                                                                                                                                                                                                        <li class="drill-down-list-item">
        <span class="drill-down-parent" tabindex="0">Undergraduate Applications</span>
        <span class="toggle-drilldown"><span class="fas fa-chevron-right"></span></span>
        <ul class="drilldown-menu">
          <li class="menu-back" tabindex="0"><span class="fas fa-chevron-left"></span>Undergraduate Applications</li>
          
                                              
                                                  <li class="drill-down-list-item"><a href="apply/undergraduate/index.aspx">Undergraduate Applications</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="apply/undergraduate/film-studies.aspx">Apply - Film Studies</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="apply/undergraduate/creative-producing.aspx">Apply – Creative Producing</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="apply/undergraduate/film-production.aspx">Apply - Film Production</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="apply/undergraduate/digital-arts.aspx">Apply – Digital Arts</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="apply/undergraduate/public-relations-advertising.aspx">Apply - PR and Advertising</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="apply/undergraduate/television-writing-production.aspx">Apply - TV Writing and Production</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="apply/undergraduate/broadcast-journalism-documentary.aspx">Apply - Broadcast Journalism and Documentary</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="apply/undergraduate/screenwriting.aspx">Apply - Screenwriting</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="apply/undergraduate/screenacting.aspx">Apply – Screen Acting</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="apply/undergraduate/tuition-aid-scholarships.aspx">Tuition, Aid and Scholarships</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="apply/undergraduate/undergraduate-faq.aspx">Undergraduate Admission FAQs</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="apply/undergraduate/transfer-faq.aspx">Transfer Admission FAQs</a></li>
                              </ul>
      </li>
                            
                                                        <script>
      
          if(window.location.href.indexOf("//dev-") > -1) {          
            console.log("(ง •̀_•́)ง VELOCITY: Im the leftnav asset apply/graduate")
          }
      
  </script>
      
  
                                                                                                                                                                                                                      <li class="drill-down-list-item">
        <span class="drill-down-parent" tabindex="0">Graduate Applications</span>
        <span class="toggle-drilldown"><span class="fas fa-chevron-right"></span></span>
        <ul class="drilldown-menu">
          <li class="menu-back" tabindex="0"><span class="fas fa-chevron-left"></span>Graduate Applications</li>
          
                                                  <li class="drill-down-list-item"><a href="apply/graduate/index.aspx">Graduate Applications</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="apply/graduate/documentary.aspx">Apply - Documentary Filmmaking</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="apply/graduate/film-studies.aspx">Apply - Film Studies</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="apply/graduate/integrated-undergrad-film-studies.aspx">Apply - Integrated Undergrad Film Studies</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="apply/graduate/production-directing.aspx">Apply - Film Production/emphasis Directing</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="apply/graduate/production-cinematography.aspx">Apply - Film Production/Cinematography Emphasis</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="apply/graduate/production-editing.aspx">Apply - Film Production/Editing Emphasis</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="apply/graduate/production-sound.aspx">Apply - Film Production/Sound Design Emphasis</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="apply/graduate/film-television-producing.aspx">Apply - Film/TV Producing</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="apply/graduate/production-design.aspx">Apply - Production Design</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="apply/graduate/screenwriting.aspx">Apply - Screenwriting</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="apply/graduate/television-writing-producing.aspx">Apply - Television Writing and Producing</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="apply/graduate/mba-mfa-ftv-producing.aspx">Apply - Joint MBA/MFA Film &amp; TV Producing</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="apply/graduate/jd-mfa-ftv-producing.aspx">Apply - Joint JD/MFA Film &amp; TV Producing</a></li>
                      
                                              
                                                  <li class="drill-down-list-item"><a href="apply/graduate/faq.aspx">Graduate Admission FAQs</a></li>
                              </ul>
      </li>
                            
                                              
                                                      </ul>
      </li>
                                  <script class="top-drill-down-list-item">
      
          if(window.location.href.indexOf("//dev-") > -1) {          
            console.log("(ง •̀_•́)ง VELOCITY: Im the leftnav asset about")
          }
      
  </script>
      
  
                                                                                                                                      <li class="drill-down-list-item top-drill-down-list-item">
        <span class="drill-down-parent" tabindex="0">About Dodge</span>
        <span class="toggle-drilldown"><span class="fas fa-chevron-right"></span></span>
        <ul class="drilldown-menu">
          <li class="menu-back" tabindex="0"><span class="fas fa-chevron-left"></span>About Dodge</li>
          
                                                  <li class="drill-down-list-item"><a href="about/message.aspx">Dean's Message</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="about/administrative-team.aspx">Administrative Team</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="about/faculty-directory.aspx">Faculty Directory</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="about/index.aspx">About Dodge</a></li>
                      
                                                        <script>
      
          if(window.location.href.indexOf("//dev-") > -1) {          
            console.log("(ง •̀_•́)ง VELOCITY: Im the leftnav asset about/press")
          }
      
  </script>
      
  
                                                                <li class="drill-down-list-item">
        <span class="drill-down-parent" tabindex="0">Press Room</span>
        <span class="toggle-drilldown"><span class="fas fa-chevron-right"></span></span>
        <ul class="drilldown-menu">
          <li class="menu-back" tabindex="0"><span class="fas fa-chevron-left"></span>Press Room</li>
          
                                                  <li class="drill-down-list-item"><a href="about/press/index.aspx">Press Room</a></li>
                              </ul>
      </li>
                            
                                                  <li class="drill-down-list-item"><a href="about/chapman-filmed-entertainment.aspx">Chapman Filmed Entertainment</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="about/honorary-degree.aspx">Honorary Degree Recipients </a></li>
                      
                                                  <li class="drill-down-list-item"><a href="about/trustees-dodge.aspx">Trustee Professors</a></li>
                              </ul>
      </li>
                                  <script class="top-drill-down-list-item">
      
          if(window.location.href.indexOf("//dev-") > -1) {          
            console.log("(ง •̀_•́)ง VELOCITY: Im the leftnav asset facilities")
          }
      
  </script>
      
  
                                                                                              <li class="drill-down-list-item top-drill-down-list-item">
        <span class="drill-down-parent" tabindex="0">Facilities</span>
        <span class="toggle-drilldown"><span class="fas fa-chevron-right"></span></span>
        <ul class="drilldown-menu">
          <li class="menu-back" tabindex="0"><span class="fas fa-chevron-left"></span>Facilities</li>
          
                                                  <li class="drill-down-list-item"><a href="facilities/marion-knott-studios.aspx">Marion Knott Studios</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="facilities/index.aspx">Facilities</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="facilities/dmac.aspx">Digital Media Arts Center</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="facilities/chapman-studios-west.aspx">Chapman Studios West</a></li>
                              </ul>
      </li>
                                  <script class="top-drill-down-list-item">
      
          if(window.location.href.indexOf("//dev-") > -1) {          
            console.log("(ง •̀_•́)ง VELOCITY: Im the leftnav asset student-life")
          }
      
  </script>
      
  
                                                                                                                            <li class="drill-down-list-item top-drill-down-list-item">
        <span class="drill-down-parent" tabindex="0">Student Life</span>
        <span class="toggle-drilldown"><span class="fas fa-chevron-right"></span></span>
        <ul class="drilldown-menu">
          <li class="menu-back" tabindex="0"><span class="fas fa-chevron-left"></span>Student Life</li>
          
                                                  <li class="drill-down-list-item"><a href="student-life/index.aspx">Student Life</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="student-life/clubs-orgs.aspx">Clubs and Organizations</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="student-life/festivals.aspx">Film Festival Office</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="student-life/social-media-links.aspx">Social Media Links</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="student-life/live-event-streaming.aspx">Live Event Streaming</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="student-life/awards-grants.aspx">Awards and Grants</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="student-life/minors.aspx">Change or Add Majors or Minors</a></li>
                              </ul>
      </li>
                                  <script class="top-drill-down-list-item">
      
          if(window.location.href.indexOf("//dev-") > -1) {          
            console.log("(ง •̀_•́)ง VELOCITY: Im the leftnav asset showcase")
          }
      
  </script>
      
  
                                                                                                                  <li class="drill-down-list-item top-drill-down-list-item">
        <span class="drill-down-parent" tabindex="0">Student Work Showcase</span>
        <span class="toggle-drilldown"><span class="fas fa-chevron-right"></span></span>
        <ul class="drilldown-menu">
          <li class="menu-back" tabindex="0"><span class="fas fa-chevron-left"></span>Student Work Showcase</li>
          
                                                  <li class="drill-down-list-item"><a href="showcase/index.aspx">Student Work Showcase</a></li>
                      
                                              
                                              
                                              
                                              
                                                      </ul>
      </li>
                                  <script class="top-drill-down-list-item">
      
          if(window.location.href.indexOf("//dev-") > -1) {          
            console.log("(ง •̀_•́)ง VELOCITY: Im the leftnav asset alumni-life")
          }
      
  </script>
      
  
                                                                                                                  <li class="drill-down-list-item top-drill-down-list-item">
        <span class="drill-down-parent" tabindex="0">Alumni Life</span>
        <span class="toggle-drilldown"><span class="fas fa-chevron-right"></span></span>
        <ul class="drilldown-menu">
          <li class="menu-back" tabindex="0"><span class="fas fa-chevron-left"></span>Alumni Life</li>
          
                                                  <li class="drill-down-list-item"><a href="alumni-life/index.aspx">Alumni Life</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="alumni-life/stay-connected.aspx">Stay Connected</a></li>
                      
                                              
                                                  <li class="drill-down-list-item"><a href="alumni-life/alumni-support.aspx">Alumni Support</a></li>
                      
                                              
                                                      </ul>
      </li>
                                  <script class="top-drill-down-list-item">
      
          if(window.location.href.indexOf("//dev-") > -1) {          
            console.log("(ง •̀_•́)ง VELOCITY: Im the leftnav asset support-dodge")
          }
      
  </script>
      
  
                                                                                              <li class="drill-down-list-item top-drill-down-list-item">
        <span class="drill-down-parent" tabindex="0">Support Dodge</span>
        <span class="toggle-drilldown"><span class="fas fa-chevron-right"></span></span>
        <ul class="drilldown-menu">
          <li class="menu-back" tabindex="0"><span class="fas fa-chevron-left"></span>Support Dodge</li>
          
                                                  <li class="drill-down-list-item"><a href="support-dodge/index.aspx">Support Dodge</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="support-dodge/int-initiatives.aspx">International Initiatives</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="support-dodge/deans-init-fund.aspx">Dean’s Initiative Fund</a></li>
                      
                                                  <li class="drill-down-list-item"><a href="support-dodge/ways-to-give.aspx">Ways to Give</a></li>
                              </ul>
      </li>
                                  <script class="top-drill-down-list-item">
      
          if(window.location.href.indexOf("//dev-") > -1) {          
            console.log("(ง •̀_•́)ง VELOCITY: Im the leftnav asset visit")
          }
      
  </script>
      
  
              <li class="drill-down-list-item top-drill-down-list-item">
            <a href="visit.aspx">Visit Dodge</a>
        </li>
                                  <script class="top-drill-down-list-item">
      
          if(window.location.href.indexOf("//dev-") > -1) {          
            console.log("(ง •̀_•́)ง VELOCITY: Im the leftnav asset contact-us")
          }
      
  </script>
      
  
              <li class="drill-down-list-item top-drill-down-list-item">
            <a href="contact-us.aspx">Contact Us</a>
        </li>
                                  <script class="top-drill-down-list-item">
      
          if(window.location.href.indexOf("//dev-") > -1) {          
            console.log("(ง •̀_•́)ง VELOCITY: Im the leftnav asset nick-index")
          }
      
  </script>
      
  
              <li class="drill-down-list-item top-drill-down-list-item">
            <a href="nick-index.aspx">Dodge College - Home</a>
        </li>
                        </ul>
    </div>
  </div>
      
    
      <div class="off-canvas-menu" id="off-canvas-main" style="display: none; transform: translateX(-410px);">
    <div class="menu-header">
      <span class="menu-label" tabindex="0">Chapman Menu</span>

              <span class="toggle-menu-label" tabindex="0">Dodge College Menu</span>
          </div>
    
  

    <div id="off-canvas-main-navigation">
        <ul class="root-main-nav">    
                                                        
                                                                <li class="drill-down-list-item top-drill-down-list-item">
                                                            
                                            <span class="drill-down-parent" tabindex="0">About</span>    
                                        
                            		            <span class="toggle-drilldown"><span class="fas fa-chevron-right"></span></span>
        		        <ul class="drilldown-menu">
        		              <li class="menu-back" tabindex="0"><span class="fas fa-chevron-left"></span>About</li>
        		            <li class="drill-down-list-item"><a href="/">About</a></li>
                                                        
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../about/index.aspx">About Overview</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../about/maps-directions/index.aspx">Maps &amp; Directions</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../about/visit/index.aspx">Visit Chapman</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../about/facts-and-rankings/index.aspx">Facts and Ranking</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../about/our-family/leadership/index.aspx">Leadership</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../campus-services/index.aspx">Campus Services</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../about/connect/index.aspx">Connect</a>
                                    </li>
                                                                                    </ul>
        		            		    
                </li>
                                            
                                                                <li class="drill-down-list-item top-drill-down-list-item">
                                                            
                                            <span class="drill-down-parent" tabindex="0">Academics</span>    
                                        
                            		            <span class="toggle-drilldown"><span class="fas fa-chevron-right"></span></span>
        		        <ul class="drilldown-menu">
        		              <li class="menu-back" tabindex="0"><span class="fas fa-chevron-left"></span>Academics</li>
        		            <li class="drill-down-list-item"><a href="../academics/index.aspx">Academics</a></li>
                                                        
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../academics/index.aspx">Academics Overview</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../academics/degrees-and-programs.aspx">Degrees &amp; Programs</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../academics/schools-colleges.aspx">Schools &amp; Colleges</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../academics/schools-colleges.aspx">Academic Calendar</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../our-faculty/index.aspx">Faculty Directory</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../academics/libraries/index.aspx">Libraries</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="https://catalog.chapman.edu/">Course Catalogs</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../international-studies/index.aspx">Course Catalogs</a>
                                    </li>
                                                                                    </ul>
        		            		    
                </li>
                                            
                                                                <li class="drill-down-list-item top-drill-down-list-item">
                                                            
                                            <span class="drill-down-parent" tabindex="0">Admission</span>    
                                        
                            		            <span class="toggle-drilldown"><span class="fas fa-chevron-right"></span></span>
        		        <ul class="drilldown-menu">
        		              <li class="menu-back" tabindex="0"><span class="fas fa-chevron-left"></span>Admission</li>
        		            <li class="drill-down-list-item"><a href="../admission/index.aspx">Admission</a></li>
                                                        
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../admission/undergraduate/index.aspx">Admission Overview</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../admission/undergraduate/index.aspx">Undergraduate Admission</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../admission/undergraduate/how-to-apply/index.aspx">Undergraduate Application</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../admission/graduate/index.aspx">Graduate Admission</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../admission/graduate/applynow.aspx">Graduate Application</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../admission/undergraduate/afford.aspx">Affordability</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../students/tuition-and-aid/financial-aid/undergraduate/net-cost-calculator/index.aspx">Financial Aid Calculator</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../admission/undergraduate/visit/index.aspx">Campus Tours</a>
                                    </li>
                                                                                    </ul>
        		            		    
                </li>
                                            
                                                                <li class="drill-down-list-item top-drill-down-list-item">
                                                            
                                            <span class="drill-down-parent" tabindex="0">Alumni</span>    
                                        
                            		            <span class="toggle-drilldown"><span class="fas fa-chevron-right"></span></span>
        		        <ul class="drilldown-menu">
        		              <li class="menu-back" tabindex="0"><span class="fas fa-chevron-left"></span>Alumni</li>
        		            <li class="drill-down-list-item"><a href="../alumni/index.aspx">Alumni</a></li>
                                                        
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../alumni/index.aspx">Alumni Overview</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../alumni/get-involved/index.aspx">Get Involved</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../campus-services/career-professional-development/index.aspx">Careeer Support</a>
                                    </li>
                                                                                    </ul>
        		            		    
                </li>
                                            
                                                                <li class="drill-down-list-item top-drill-down-list-item">
                                                            
                                            <a href="../arts/index.aspx">Arts</a>
                                        
                            		    
                </li>
                                            
                                                                <li class="drill-down-list-item top-drill-down-list-item">
                                                            
                                            <span class="drill-down-parent" tabindex="0">Campus Life</span>    
                                        
                            		            <span class="toggle-drilldown"><span class="fas fa-chevron-right"></span></span>
        		        <ul class="drilldown-menu">
        		              <li class="menu-back" tabindex="0"><span class="fas fa-chevron-left"></span>Campus Life</li>
        		            <li class="drill-down-list-item"><a href="../campus-life/index.aspx">Campus Life</a></li>
                                                        
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../campus-life/index.aspx">Campus Live Overview</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="http://www.chapmanathletics.com/landing/index">Athletics</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../diversity/index.aspx">Diversity and Inclusion</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="https://events.chapman.edu/">Events</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../campus-life/fish-interfaith-center/index.aspx">Fish Interfaith Center</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../students/health-and-safety/index.aspx">Health and Safety</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../students/services/housing-and-residence/index.aspx">Residence Life</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../students/life/index.aspx">Student Life</a>
                                    </li>
                                                                                    </ul>
        		            		    
                </li>
                                            
                                                                <li class="drill-down-list-item top-drill-down-list-item">
                                                            
                                            <span class="drill-down-parent" tabindex="0">Research</span>    
                                        
                            		            <span class="toggle-drilldown"><span class="fas fa-chevron-right"></span></span>
        		        <ul class="drilldown-menu">
        		              <li class="menu-back" tabindex="0"><span class="fas fa-chevron-left"></span>Research</li>
        		            <li class="drill-down-list-item"><a href="../research/index.aspx">Research</a></li>
                                                        
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../research/index.aspx">Research Overview</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../research/sponsored-projects-services/index.aspx">Sponsored Projects Services</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../research/integrity/index.aspx">Research Integrity</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../research/institutes-and-centers/index.aspx">Institutes and Centers</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../research/center-for-undergraduate-excellence/index.aspx">Center for Undergraduate Excellence</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../research/industry-alliances-commercialization/index.aspx">Industry Alliances and Commercialization</a>
                                    </li>
                                                                                    </ul>
        		            		    
                </li>
                                            
                                                                <li class="drill-down-list-item top-drill-down-list-item">
                                                            
                                            <span class="drill-down-parent" tabindex="0">Support </span>    
                                        
                            		            <span class="toggle-drilldown"><span class="fas fa-chevron-right"></span></span>
        		        <ul class="drilldown-menu">
        		              <li class="menu-back" tabindex="0"><span class="fas fa-chevron-left"></span>Support </li>
        		            <li class="drill-down-list-item"><a href="../support-chapman/index.aspx">Support </a></li>
                                                        
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../support-chapman/index.aspx">Support Chapman Overview</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../support-chapman/contact-us.aspx">Contact Development</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../support-chapman/get-involved.aspx">Get Involved</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a href="../support-chapman/ways-to-give/areas-to-support.aspx">Areas to Support</a>
                                    </li>
                                                            
                                                                                                
                                                                                                                                    <li class="drill-down-list-item">
                                        <a aria-label="Alumni: Get Involved" href="../alumni/get-involved/index.aspx">Alumni Involvement</a>
                                    </li>
                                                                                    </ul>
        		            		    
                </li>
                            <li id="off-canvas-utility-item" class="top-drill-down-list-item">
                    <div class="off-canvas-menu-container">
                        
<!-- _audiences.vtl -->

    <ul class="off-canvas-utility">
                                            
                                            
                                                                                                                                                                                                        
                                                                            <li class="drill-down-list-item uninav__offCanvas-menu-item--audiences uninav__audiences-menu-item--staff uninav__menu-item-audiences--1 uninav__audiences-menu-item--dropdown-parent ">
                        <span class="drill-down-parent" tabindex="0">
                                                        Staff
                        </span>
                            <span class="toggle-drilldown"><span class="fas fa-chevron-right"></span></span>
                        <ul class="drilldown-menu">
                              <li class="menu-back" tabindex="0"><span class="fas fa-chevron-left"></span>Staff</li>
                            <li class="drill-down-list-item uninav__offCanvas-menu-item--audiences uninav__offCanvas-audiences-menu-item--staff uninav__offCanvas-menu-item-audiences--1 uninav__offCanvas-audiences-menu-item--dropdown-parent">
                                <a href="../communication/omni_nav_v3_secondary_logo_chris.aspx" id="uninav-OffCanvas-audiences-staff">
                                                                        Staff
                                </a>
                            </li>
                                                                                                                                                                                                                                <li class="drill-down-list-item uninav__offCanvas-menu-item--audiences uninav__offCanvas-audiences-menu-item--staff uninav__offCanvas-menu-item-audiences--1 uninav__offCanvas-audiences-menu-item--dropdown-parent">
                                        <a class="icon icon-utilnav-sub-class new-toy" href="/">
                                            New Staff
                                        </a>
                                    </li>
                                                                                    </ul>
                    </li>
                                                                        
                                            
                                                
                                                                            <li class="drill-down-list-item uninav__offCanvas-menu-item--audiences uninav__offCanvas-audiences-menu-item--students uninav__offCanvas-menu-item-audiences--2 uninav__offCanvas-audiences-menu-item--dropdown-parent">
                        <a href="../students/academic-resources/registrar/student-services/course-registration/new-student/index.aspx" id="uninav-offCanvas-audiences-students">
                                                        Students
                        </a>
                        
                    </li>
                                                                        
                                            
                                                
                                                                            <li class="drill-down-list-item uninav__offCanvas-menu-item--audiences uninav__offCanvas-audiences-menu-item--industry-partners uninav__offCanvas-menu-item-audiences--3 uninav__offCanvas-audiences-menu-item--dropdown-parent">
                        <a href="../index.aspx" id="uninav-offCanvas-audiences-industry-partners">
                                                        Industry Partners
                        </a>
                        
                    </li>
                                        </ul>
                    </div>
                </li>
                <li id="off-canvas-cta-item" class="top-drill-down-list-item">
                    <div class="off-canvas-menu-container">
                        
<ul class="off-canvas-cta">
                                                                                                <li class="drill-down-list-item uninav__menu-item-cta uninav__cta-menu-item--visit uninav__cta-menu-item--1">
                    <a href="../about/visit/index.aspx" id="uninav-cta-visit">
                                        Visit
                    </a>
                </li>
                                                                                                        <li class="drill-down-list-item uninav__menu-item-cta uninav__cta-menu-item--apply uninav__cta-menu-item--2">
                    <a href="https://dev-www.chapman.edu/admission/index.aspx" id="uninav-cta-apply">
                                        Apply
                    </a>
                </li>
                                                                                                        <li class="drill-down-list-item uninav__menu-item-cta uninav__cta-menu-item--give uninav__cta-menu-item--3">
                    <a href="../support-chapman/_files/2015-donor-impact-report.pdf" id="uninav-cta-give">
                                        Give
                    </a>
                </li>
                        </ul>


    
                       </div>
                </li>
        </ul>
    </div>


  </div>
  </div>
  </div>