<div class="off-canvas-nav-container" id="js-off-canvas-nav-container">
  <div class="cu-off-canvas-header">
    <div class="cu-logo-wrapper">
      <div class="toggle-logo" id="main-logo">
        <a class="default off-logo"
          href="/entity/open.act?type=page&amp;id=7e7519b3c04d744c610b81da971fb9c9&amp;confId=15be14d7c0a81e4b7fe9660451d0f621"
          target="_parent" title="Chapman University Website Home Page">
          <!-- logo set as background image by class -->
          Chapman University Logo
        </a>
        <span class="close js-close-off-canvas-nav" tabindex="0">
          <svg xmlns="http://www.w3.org/2000/svg" height="13" version="1.1" viewBox="0 0 512 512" width="13">
            <title>Close</title>
            <path
              d="M446.627 110.627l-45.254-45.254-145.373 145.372-145.373-145.372-45.254 45.253 145.373 145.374-145.373 145.373 45.254 45.254 145.373-145.373 145.373 145.373 45.254-45.255-145.372-145.372z">
            </path>
          </svg>
        </span>
      </div>
    </div>
  </div>
  <div class="off-canvas-nav clearfix" id="js-off-canvas-nav">
    <div class="off-canvas-menu" id="off-canvas-umbrella">
      <div class="menu-header">
        <span class="menu-label">School of Communication</span>
        <a class="toggle-menu-label" href="#">Main Menu &gt;</a>
      </div>

      <div class="off-canvas-umbrella-list-container">
        <ul class="root-umbrella-nav">


          <li class="non-current"><a
              href="/entity/open.act?type=page&amp;id=bffc7842c04d744c3b1a9de7af070c59&amp;confId=f90d2d91c04d744c54334eca7dcdc0d8"
              target="_parent">Message From the Dean</a></li>



          <li class="non-current"><a
              href="/entity/open.act?type=page&amp;id=4cf5093cc04d744c35a837c8812047c4&amp;confId=f8de6ceac04d744c54334ecadcc06792"
              target="_parent">Groups and Organizations</a></li>



          <li class="non-current"><a
              href="/entity/open.act?type=page&amp;id=c9b6024fc04d744c3b1a9de7816b7bcc&amp;confId=f8de6ceac04d744c54334ecadcc06792"
              target="_parent">Contact Us</a></li>














          <li class="non-current">
            <span class="drill-down-parent">Academic Programs</span>
            <span class="toggle">
              <i class="fas fa-chevron-right"></i>
            </span>

            <ul class="drilldown-menu">
              <li class="menu-back"><i class="fas fa-chevron-left"></i>Academic Programs - Menu</li>
              <li class="non-current"><a
                  href="/entity/open.act?type=page&amp;id=16edea5bc04d744c1153d92232f16c7a&amp;confId=f8de6ceac04d744c54334ecadcc06792"
                  target="_parent">Academic Programs</a></li>
              <li class="non-current"><a
                  href="/entity/open.act?type=page&amp;id=c5d7379dc04d744c3b1a9de7bea2effe&amp;confId=f90d2d91c04d744c54334eca7dcdc0d8"
                  target="_parent">BA in Strategic &amp; Corporate Communication</a></li>
              <li class="non-current"><a
                  href="/entity/open.act?type=page&amp;id=c9a561c4c04d744c3b1a9de7584e42ca&amp;confId=f90d2d91c04d744c54334eca7dcdc0d8"
                  target="_parent">MS in Health &amp; Strategic Communication</a></li>
              <li class="non-current"><a
                  href="/entity/open.act?type=page&amp;id=c09e1d63c04d744c3b1a9de7e7dd0200&amp;confId=f90d2d91c04d744c54334eca7dcdc0d8"
                  target="_parent">B.A. in Communication Studies</a></li>
              <li class="non-current"><a
                  href="/entity/open.act?type=page&amp;id=44c66760c04d744c4812eb992d3b3dbe&amp;confId=f90d2d91c04d744c54334eca7dcdc0d8"
                  target="_parent">4 + 1 Integrated Undergraduate/Masters of Health and Strategic Communication</a></li>
              <li class="non-current">
                <span class="drill-down-parent">Drill Down Test</span>
                <span class="toggle">
                  <i class="fas fa-chevron-right"></i>
                </span>
                <ul class="drilldown-menu">
                  <li class="menu-back"><i class="fas fa-chevron-left"></i>Drill Down Test - Menu</li>
                  <li class="non-current"><a
                      href="/entity/open.act?type=page&amp;id=fc729bedc0a81e4b22b523b87213c415&amp;confId=f8de6ceac04d744c54334ecadcc06792"
                      target="_parent">Thank You for Change Your Major/Minor Application Form Omniv-Nav V3</a></li>
                  <li class="non-current"><a
                      href="/entity/open.act?type=page&amp;id=fc72d28dc0a81e4b22b523b86588a628&amp;confId=f8de6ceac04d744c54334ecadcc06792"
                      target="_parent">Academic Programs Drill Down</a></li>
                  <li class="non-current">
                    <span class="drill-down-parent">Drill Down Test Second</span>
                    <span class="toggle">
                      <i class="fas fa-chevron-right"></i>
                    </span>
                    <ul class="drilldown-menu">
                      <li class="menu-back"><i class="fas fa-chevron-left"></i>Drill Down Test Second - Menu</li>
                      <li class="non-current"><a
                          href="/entity/open.act?type=page&amp;id=02ec2b8ac0a81e4b22b523b8992acb66&amp;confId=c77cf9f8c04d744c4832d6754a210df7"
                          target="_parent">Crean College of Health and Behavioral Sciences Drilldown Second</a></li>
                      <li class="non-current"><a
                          href="/entity/open.act?type=page&amp;id=02ec997ec0a81e4b22b523b8da126499&amp;confId=f8de6ceac04d744c54334ecadcc06792"
                          target="_parent">Faculty and Student Research Drilldown Second</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>


          <li class="non-current"><a
              href="/entity/open.act?type=page&amp;id=7a988553c04d744c3443671db0cd3868&amp;confId=3f178e24c04d744c580ddf89c9543b92"
              target="_parent">Faculty Directory</a></li>



          <li class="non-current"><a
              href="/entity/open.act?type=page&amp;id=4cef5ad6c04d744c35a837c8ec5400de&amp;confId=f8de6ceac04d744c54334ecadcc06792"
              target="_parent">Research and Publications</a></li>



          <li class="non-current"><a
              href="/entity/open.act?type=page&amp;id=4d4005a7c04d744c35a837c80451e68a&amp;confId=f90d2d91c04d744c54334eca7dcdc0d8"
              target="_parent">About the School of Communication</a></li>



          <li class="non-current"><a
              href="/entity/open.act?type=page&amp;id=aef49371c0a81e4b22b523b8081f51bc&amp;confId=af00a8c7c0a81e4b22b523b8ddea2f5a"
              target="_parent">School of Communication</a></li>



          <li class="current"><a
              href="/entity/open.act?type=page&amp;id=f2247fd2c0a81e4b22b523b8ad4cf4a2&amp;confId=f2247fd9c0a81e4b22b523b8edd9ff2b"
              target="_parent">School of Communication Chris Omni Nav V3</a></li>



          <li class="non-current"><a
              href="/entity/open.act?type=page&amp;id=fb3d50b8c0a81e4b22b523b84221ae3f&amp;confId=fb3d50bec0a81e4b22b523b835f66544"
              target="_parent">School of Communication</a></li>









          <li class="non-current">
            <span class="drill-down-parent">Drill Down Other</span>
            <span class="toggle">
              <i class="fas fa-chevron-right"></i>
            </span>

            <ul class="drilldown-menu">
              <li class="menu-back"><i class="fas fa-chevron-left"></i>Drill Down Other - Menu</li>
              <li class="non-current"><a
                  href="/entity/open.act?type=page&amp;id=117fe65fc0a81e4b7fe96604f790e277&amp;confId=c77cf9f8c04d744c4832d6754a210df7"
                  target="_parent">School of Communication</a></li>
              <li class="non-current"><a
                  href="/entity/open.act?type=page&amp;id=11807983c0a81e4b7fe96604cc7fd3a0&amp;confId=3f178e24c04d744c580ddf89c9543b92"
                  target="_parent">Faculty Directory Other Drilldown</a></li>
              <li class="non-current">
                <span class="drill-down-parent">Drill Down Other Second</span>
                <span class="toggle">
                  <i class="fas fa-chevron-right"></i>
                </span>
                <ul class="drilldown-menu">
                  <li class="menu-back"><i class="fas fa-chevron-left"></i>Drill Down Other Second - Menu</li>
                  <li class="non-current"><a
                      href="/entity/open.act?type=page&amp;id=1181885ec0a81e4b7fe9660475dba2c0&amp;confId=c77cf9f8c04d744c4832d6754a210df7"
                      target="_parent">School of Communication</a></li>
                  <li class="non-current"><a
                      href="/entity/open.act?type=page&amp;id=1181d059c0a81e4b7fe966041daa11e0&amp;confId=f90d2d91c04d744c54334eca7dcdc0d8"
                      target="_parent">Support the School of Communication Drilldown other second</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="off-canvas-menu" id="off-canvas-main">
      <div class="menu-header">
        <span class="menu-label">Main Menu</span>

        <a class="toggle-menu-label" href="#">&lt; School of Communication Menu</a>
      </div>



      <div class="off-canvas-main-list-container">
        <ul class="root-main-nav">

          <li class="non-current">

            <span class="drill-down-parent">Ross is great</span>

            <span class="toggle">
              <i class="fas fa-chevron-right"></i>
            </span>
            <ul class="drilldown-menu">
              <li class="menu-back"><i class="fas fa-chevron-left"></i>Ross is great - Menu</li>
              <li class="non-current"><a
                  href="/entity/open.act?type=page&amp;id=1fe3c8cdc04d744c580ddf895f0ee499&amp;confId=c2f6c072c0a81e4b7075cabaa2270eaf"
                  target="_parent">Ross is great</a></li>


              <li class="non-current">
                <a href="/entity/open.act?type=page&amp;id=83140acec04d744c4cce81079bab559d&amp;confId=f90d2d91c04d744c54334eca7dcdc0d8"
                  target="_parent">Maps &amp; Directions</a>
              </li>


            </ul>

          </li>

          <li class="non-current">

            <span class="drill-down-parent">Academics</span>

            <span class="toggle">
              <i class="fas fa-chevron-right"></i>
            </span>
            <ul class="drilldown-menu">
              <li class="menu-back"><i class="fas fa-chevron-left"></i>Academics - Menu</li>
              <li class="non-current"><a
                  href="/entity/open.act?type=page&amp;id=ec36e97fc04d744c580ddf89561fb8e1&amp;confId=84e36aaac04d744c3c858d8551dbe282"
                  target="_parent">Academics</a></li>


              <li class="non-current">
                <a href="/entity/open.act?type=page&amp;id=ce06cdd4c04d744c64d6b6765c849731&amp;confId=ccf4e99ac04d744c64d6b6765ca5de6b"
                  target="_parent">Degrees &amp; Programs</a>
              </li>


              <li class="non-current">
                <a href="https://catalog.chapman.edu/">Course Catalog</a>
              </li>
            </ul>

          </li>

          <li class="non-current">

            <span class="drill-down-parent">Admission</span>

            <span class="toggle">
              <i class="fas fa-chevron-right"></i>
            </span>
            <ul class="drilldown-menu">
              <li class="menu-back"><i class="fas fa-chevron-left"></i>Admission - Menu</li>
              <li class="non-current"><a
                  href="/entity/open.act?type=page&amp;id=eca500f7c04d744c580ddf893c3683fe&amp;confId=f71a5d64c0a81e4b18acb605ce9af32e"
                  target="_parent">Admission</a></li>


              <li class="non-current">
                <a href="/entity/open.act?type=page&amp;id=77e4d3d0c04d744c193499fd894e280f&amp;confId=d8fc0749c0a81e416c36856d4360daf6"
                  target="_parent">Undergraduate Admission</a>
              </li>
            </ul>

          </li>

          <li class="non-current">

            <span class="drill-down-parent">Alumni</span>

            <span class="toggle">
              <i class="fas fa-chevron-right"></i>
            </span>
            <ul class="drilldown-menu">
              <li class="menu-back"><i class="fas fa-chevron-left"></i>Alumni - Menu</li>
              <li class="non-current"><a
                  href="/entity/open.act?type=page&amp;id=22edac35c04d744c3c1abb0328b036b7&amp;confId=c77cf9f8c04d744c4832d6754a210df7"
                  target="_parent">Alumni</a></li>


              <li class="non-current">
                <a aria-label="Events for Alumni"
                  href="/entity/open.act?type=page&amp;id=22ff180ac04d744c3c1abb0327dad54b&amp;confId=f8de6ceac04d744c54334ecadcc06792"
                  target="_parent">Events</a>
              </li>
            </ul>

          </li>

          <li class="non-current">

            <a href="/entity/open.act?type=page&amp;id=e9e952cdc04d744c7b41aa25d1f0fd7a&amp;confId=33e2c470c04d744c08fa99224a72b9a4"
              target="_parent">Arts</a>


          </li>

          <li class="non-current">

            <span class="drill-down-parent">Campus Life</span>

            <span class="toggle">
              <i class="fas fa-chevron-right"></i>
            </span>
            <ul class="drilldown-menu">
              <li class="menu-back"><i class="fas fa-chevron-left"></i>Campus Life - Menu</li>
              <li class="non-current"><a
                  href="/entity/open.act?type=page&amp;id=4faa9194c04d744c133582366d86cc45&amp;confId=59cf06b2c04d744c4a95bcc60c83100a"
                  target="_parent">Campus Life</a></li>


              <li class="non-current">
                <a href="https://events.chapman.edu">Events</a>
              </li>
            </ul>

          </li>

          <li class="non-current">

            <span class="drill-down-parent">Research</span>

            <span class="toggle">
              <i class="fas fa-chevron-right"></i>
            </span>
            <ul class="drilldown-menu">
              <li class="menu-back"><i class="fas fa-chevron-left"></i>Research - Menu</li>
              <li class="non-current"><a
                  href="/entity/open.act?type=page&amp;id=7d731986c04d744c19cdbc8344c958c1&amp;confId=c77cf9f8c04d744c4832d6754a210df7"
                  target="_parent">Research</a></li>


              <li class="non-current">
                <a href="/entity/open.act?type=page&amp;id=1fe07cb5c04d744c580ddf892ad24881&amp;confId=c3ff138ec04d744c002d61cb08699ae3"
                  target="_parent">Instititutes &amp; Centers</a>
              </li>
            </ul>

          </li>

          <li class="non-current">

            <span class="drill-down-parent">Support</span>

            <span class="toggle">
              <i class="fas fa-chevron-right"></i>
            </span>
            <ul class="drilldown-menu">
              <li class="menu-back"><i class="fas fa-chevron-left"></i>Support - Menu</li>
              <li class="non-current"><a
                  href="/entity/open.act?type=page&amp;id=b5b69ddac04d744c421e6b1ccb951f40&amp;confId=21a94b43c0a81e416c36856dcd904543"
                  target="_parent">Support</a></li>


              <li class="non-current">
                <a href="/entity/open.act?type=page&amp;id=e095f57bc04d744c7f7f5281daff97e9&amp;confId=d8d76e31c04d744c64d6b676ade5beca"
                  target="_parent">Get Involved</a>
              </li>
            </ul>

          </li>
          <li>
            <div class="off-canvas-utility-container">

              <!-- _audiences.vtl -->

              <ul class="off-canvas-utility">



                <li
                  class="non-current uninav__menu-item--audiences uninav__audiences-menu-item--staff uninav__menu-item-audiences--1 uninav__audiences-menu-item--dropdown-parent ">
                  <span class="drill-down-parent">
                    Staff
                  </span>
                  <span class="toggle">
                    <i class="fas fa-chevron-right"></i>
                  </span>
                  <ul class="drilldown-menu">
                    <li class="menu-back"><i class="fas fa-chevron-left"></i>Staff - Menu</li>
                    <li
                      class="uninav__menu-item--audiences uninav__audiences-menu-item--staff uninav__menu-item-audiences--1 uninav__audiences-menu-item--dropdown-parent ">
                      <a href="/entity/open.act?type=page&amp;id=f2247fd2c0a81e4b22b523b8ad4cf4a2&amp;confId=f2247fd9c0a81e4b22b523b8edd9ff2b"
                        id="uninav-audiences-staff" target="_parent">
                        Staff
                      </a>
                    </li>
                    <li>
                      <a class="icon icon-utilnav-sub-class new-toy" href="/">
                        New Staff
                      </a>
                    </li>
                  </ul>
                </li>



                <li
                  class="non-current uninav__menu-item--audiences uninav__menu-item-audiences--students uninav__menu-item-audiences--2 ">
                  <a href="/entity/open.act?type=page&amp;id=636b2ec2c04d744c193499fdba4408b9&amp;confId=f8de6ceac04d744c54334ecadcc06792"
                    id="uninav-audiences-students" target="_parent">
                    Students
                  </a>

                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="off-canvas-cta-container">

              <ul class="off-canvas-cta">
                <li class="non-current uninav__menu-item-cta uninav__cta-menu-item--visit-int uninav__cta-menu-item--1">
                  <a href="/entity/open.act?type=page&amp;id=830949e1c04d744c4cce81072ec9f657&amp;confId=f90d2d91c04d744c54334eca7dcdc0d8"
                    id="uninav-cta-visit-int" target="_parent">
                    Visit (int)
                  </a>
                </li>
                <li class="non-current uninav__menu-item-cta uninav__cta-menu-item--apply-ext uninav__cta-menu-item--2">
                  <a href="https://dev-www.chapman.edu/admission/index.aspx" id="uninav-cta-apply-ext">
                    Apply (ext)
                  </a>
                </li>
                <li class="non-current uninav__menu-item-cta uninav__cta-menu-item--give-pdf uninav__cta-menu-item--3">
                  <a href="/renderfile/6fef14a3c04d744c610b81dac0a8d082/support-chapman/_files/2015-donor-impact-report.pdf"
                    id="uninav-cta-give-pdf">
                    Give (pdf)
                  </a>
                </li>
              </ul>



            </div>
          </li>
        </ul>
      </div>


    </div>
  </div>
</div>