<div class="off-canvas-nav-container" id="js-off-canvas-nav-container">
  <div class="cu-off-canvas-header">
    <div class="cu-logo-wrapper">

      <div class="toggle-logo" id="main-logo">
        <a class="default off-logo" href="../index.aspx" title="Chapman University Website Home Page">
          <!-- logo set as background image by class -->
          Chapman University Logo
        </a>
        <span class="close js-close-off-canvas-nav" tabindex="0">
          <svg xmlns="http://www.w3.org/2000/svg" height="13" version="1.1" viewBox="0 0 512 512" width="13">
            <title>Close</title>
            <path
              d="M446.627 110.627l-45.254-45.254-145.373 145.372-145.373-145.372-45.254 45.253 145.373 145.374-145.373 145.373 45.254 45.254 145.373-145.373 145.373 145.373 45.254-45.255-145.372-145.372z">
            </path>
          </svg>
        </span>
      </div>
    </div>
  </div>
  <div class="off-canvas-nav clearfix" id="js-off-canvas-nav">
    <div class="off-canvas-menu" id="off-canvas-umbrella">
      <div class="menu-header">
        <span class="menu-label">School of Communication</span>
        <a class="toggle-menu-label" href="#">Main Menu &gt;</a>
      </div>

      <!--- START FOR OFF CANVAS UMBRELLA NAV -->
      <div class="off-canvas-umbrella-list-container">
        <ul class="root-umbrella-nav">
          <li class="non-current"><a href="message-from-the-dean.aspx">Message From the Dean</a></li>
          <li class="non-current"><a href="groups-organizations.aspx">Groups and Organizations</a></li>
          <li class="non-current"><a href="contact-us.aspx">Contact Us</a></li>
          <li class="non-current">
            <span class="folder">Academic Programs</span>
            <span class="toggle">
              <i class="fas fa-chevron-right"></i>
            </span>
            <ul class="drilldown-menu">
              <li class="menu-back"><i class="fas fa-chevron-left"></i>Academic Programs</li>
              <li class="non-current"><a href="academic-programs/index.aspx">Academic Programs</a></li>
              <li class="non-current"><a href="academic-programs/strategic-corporate-communication.aspx">BA in Strategic
                  &amp; Corporate Communication</a></li>
              <li class="non-current"><a href="academic-programs/health-strategic-communication.aspx">MS in Health &amp;
                  Strategic Communication</a></li>
              <li class="non-current"><a href="academic-programs/communication-studies.aspx">B.A. in Communication
                  Studies</a></li>
              <li class="non-current"><a href="academic-programs/4-1-health-strategic-communication.aspx">4 + 1
                  Integrated Undergraduate/Masters of Health and Strategic Communication</a></li>
              <li class="non-current">
                <span class="folder">Drill Down Test</span>
                <span class="toggle">
                  <i class="fas fa-chevron-right"></i>
                </span>
                <ul class="drilldown-menu">
                  <li class="menu-back"><i class="fas fa-chevron-left"></i>Drill Down Test</li>
                  <li class="non-current"><a
                      href="academic-programs/drilldown-test/change-of-major-application-form-thank-you.aspx">Thank You
                      for Change Your Major/Minor Application Form Omniv-Nav V3</a></li>
                  <li class="non-current"><a href="academic-programs/drilldown-test/index.aspx">Academic Programs Drill
                      Down</a></li>
                  <li class="non-current">
                    <span class="folder">Drill Down Test Second</span>
                    <span class="toggle">
                      <i class="fas fa-chevron-right"></i>
                    </span>
                    <ul class="drilldown-menu">
                      <li class="menu-back"><i class="fas fa-chevron-left"></i>Drill Down Test Second</li>
                      <li class="non-current"><a
                          href="academic-programs/drilldown-test/drilldown-test-second/index.aspx">Crean College of
                          Health and Behavioral Sciences Drilldown Second</a></li>
                      <li class="non-current"><a
                          href="academic-programs/drilldown-test/drilldown-test-second/faculty-student-research.aspx">Faculty
                          and Student Research Drilldown Second</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="non-current"><a href="faculty-directory.aspx">Faculty Directory</a></li>
          <li class="non-current"><a href="research-publications.aspx">Research and Publications</a></li>
          <li class="non-current"><a href="about.aspx">About the School of Communication</a></li>
          <li class="non-current"><a href="nick_omni_nav_v3_secondary_logo.aspx">School of Communication</a></li>
          <li class="current"><a href="omni_nav_v3_secondary_logo_chris.aspx">School of Communication Chris Omni Nav
              V3</a></li>
          <li class="non-current"><a href="nick_omni_nav_v3_contextual-menu-toggle.aspx">School of Communication</a>
          </li>
          <li class="non-current">
            <span class="folder">Drill Down Other</span>
            <span class="toggle">
              <i class="fas fa-chevron-right"></i>
            </span>
            <ul class="drilldown-menu">
              <li class="menu-back"><i class="fas fa-chevron-left"></i>Drill Down Other</li>
              <li class="non-current"><a href="drilldown-other/index.aspx">School of Communication</a></li>
              <li class="non-current"><a href="drilldown-other/faculty-directory-drilldown.aspx">Faculty Directory Other
                  Drilldown</a></li>
              <li class="non-current">
                <span class="folder">Drill Down Other Second</span>
                <span class="toggle">
                  <i class="fas fa-chevron-right"></i>
                </span>
                <ul class="drilldown-menu">
                  <li class="menu-back"><i class="fas fa-chevron-left"></i>Drill Down Other Second</li>
                  <li class="non-current"><a href="drilldown-other/drilldown-other-second/index.aspx">School of
                      Communication</a></li>
                  <li class="non-current"><a href="drilldown-other/drilldown-other-second/support.aspx">Support the
                      School of Communication Drilldown other second</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>


    <!--- START FOR OFF CANVAS MAIN NAV -->
    <div class="off-canvas-menu" id="off-canvas-main">
      <div class="menu-header">
        <span class="menu-label">Main Menu</span>

        <a class="toggle-menu-label" href="#">&lt; School of Communication Menu</a>
      </div>



      <div class="off-canvas-main-list-container">
        <ul class="root-main-nav">

          <li class="non-current">

            <span class="folder">Ross is great</span>

            <span class="toggle">
              <i class="fas fa-chevron-right"></i>
            </span>
            <ul class="drilldown-menu">
              <li class="menu-back"><i class="fas fa-chevron-left"></i>Ross is great</li>
              <li><a
                  href="/entity/open.act?type=page&amp;id=1fe3c8cdc04d744c580ddf895f0ee499&amp;confId=c2f6c072c0a81e4b7075cabaa2270eaf"
                  target="_parent">Ross is great</a></li>


              <li class="non-current">
                <a href="/entity/open.act?type=page&amp;id=83140acec04d744c4cce81079bab559d&amp;confId=f90d2d91c04d744c54334eca7dcdc0d8"
                  target="_parent">Maps &amp; Directions</a>
              </li>


            </ul>

          </li>

          <li class="non-current">

            <span class="folder">Academics</span>

            <span class="toggle">
              <i class="fas fa-chevron-right"></i>
            </span>
            <ul class="drilldown-menu">
              <li class="menu-back"><i class="fas fa-chevron-left"></i>Academics</li>
              <li><a
                  href="/entity/open.act?type=page&amp;id=ec36e97fc04d744c580ddf89561fb8e1&amp;confId=84e36aaac04d744c3c858d8551dbe282"
                  target="_parent">Academics</a></li>


              <li class="non-current">
                <a href="/entity/open.act?type=page&amp;id=ce06cdd4c04d744c64d6b6765c849731&amp;confId=ccf4e99ac04d744c64d6b6765ca5de6b"
                  target="_parent">Degrees &amp; Programs</a>
              </li>


              <li class="non-current">
                <a href="https://catalog.chapman.edu/">Course Catalog</a>
              </li>
            </ul>

          </li>

          <li class="non-current">

            <span class="folder">Admission</span>

            <span class="toggle">
              <i class="fas fa-chevron-right"></i>
            </span>
            <ul class="drilldown-menu">
              <li class="menu-back"><i class="fas fa-chevron-left"></i>Admission</li>
              <li><a
                  href="/entity/open.act?type=page&amp;id=eca500f7c04d744c580ddf893c3683fe&amp;confId=f71a5d64c0a81e4b18acb605ce9af32e"
                  target="_parent">Admission</a></li>


              <li class="non-current">
                <a href="/entity/open.act?type=page&amp;id=77e4d3d0c04d744c193499fd894e280f&amp;confId=d8fc0749c0a81e416c36856d4360daf6"
                  target="_parent">Undergraduate Admission</a>
              </li>
            </ul>

          </li>

          <li class="non-current">

            <span class="folder">Alumni</span>

            <span class="toggle">
              <i class="fas fa-chevron-right"></i>
            </span>
            <ul class="drilldown-menu">
              <li class="menu-back"><i class="fas fa-chevron-left"></i>Alumni</li>
              <li><a
                  href="/entity/open.act?type=page&amp;id=22edac35c04d744c3c1abb0328b036b7&amp;confId=c77cf9f8c04d744c4832d6754a210df7"
                  target="_parent">Alumni</a></li>


              <li class="non-current">
                <a aria-label="Events for Alumni"
                  href="/entity/open.act?type=page&amp;id=22ff180ac04d744c3c1abb0327dad54b&amp;confId=f8de6ceac04d744c54334ecadcc06792"
                  target="_parent">Events</a>
              </li>
            </ul>

          </li>

          <li class="non-current">

            <a href="/entity/open.act?type=page&amp;id=e9e952cdc04d744c7b41aa25d1f0fd7a&amp;confId=33e2c470c04d744c08fa99224a72b9a4"
              target="_parent">Arts</a>


          </li>

          <li class="non-current">

            <span class="folder">Campus Life</span>

            <span class="toggle">
              <i class="fas fa-chevron-right"></i>
            </span>
            <ul class="drilldown-menu">
              <li class="menu-back"><i class="fas fa-chevron-left"></i>Campus Life</li>
              <li><a
                  href="/entity/open.act?type=page&amp;id=4faa9194c04d744c133582366d86cc45&amp;confId=59cf06b2c04d744c4a95bcc60c83100a"
                  target="_parent">Campus Life</a></li>


              <li class="non-current">
                <a href="https://events.chapman.edu">Events</a>
              </li>
            </ul>

          </li>

          <li class="non-current">

            <span class="folder">Research</span>

            <span class="toggle">
              <i class="fas fa-chevron-right"></i>
            </span>
            <ul class="drilldown-menu">
              <li class="menu-back"><i class="fas fa-chevron-left"></i>Research</li>
              <li><a
                  href="/entity/open.act?type=page&amp;id=7d731986c04d744c19cdbc8344c958c1&amp;confId=c77cf9f8c04d744c4832d6754a210df7"
                  target="_parent">Research</a></li>


              <li class="non-current">
                <a href="/entity/open.act?type=page&amp;id=1fe07cb5c04d744c580ddf892ad24881&amp;confId=c3ff138ec04d744c002d61cb08699ae3"
                  target="_parent">Instititutes &amp; Centers</a>
              </li>
            </ul>

          </li>

          <li class="non-current">

            <span class="folder">Support</span>

            <span class="toggle">
              <i class="fas fa-chevron-right"></i>
            </span>
            <ul class="drilldown-menu">
              <li class="menu-back"><i class="fas fa-chevron-left"></i>Support</li>
              <li><a
                  href="/entity/open.act?type=page&amp;id=b5b69ddac04d744c421e6b1ccb951f40&amp;confId=21a94b43c0a81e416c36856dcd904543"
                  target="_parent">Support</a></li>


              <li class="non-current">
                <a href="/entity/open.act?type=page&amp;id=e095f57bc04d744c7f7f5281daff97e9&amp;confId=d8d76e31c04d744c64d6b676ade5beca"
                  target="_parent">Get Involved</a>
              </li>
            </ul>

          </li>
        </ul>
      </div>



      <div class="off-canvas-utility" style="
">
        <ul>




          <div class="off-canvas-utility">
            <ul>

            </ul>
          </div>
        </ul>
      </div>

      <div id="off-canvas-cta">
        <ul class="off-canvas-cta">


          <li class="uninav__menu-item-cta uninav__cta-menu-item--visit-int uninav__cta-menu-item--1">
            <a href="/entity/open.act?type=page&amp;id=830949e1c04d744c4cce81072ec9f657&amp;confId=f90d2d91c04d744c54334eca7dcdc0d8"
              id="uninav-cta-visit-int" target="_parent">
              Visit (int)
            </a>
          </li>



          <li class="uninav__menu-item-cta uninav__cta-menu-item--apply-ext uninav__cta-menu-item--2">
            <a href="https://dev-www.chapman.edu/admission/index.aspx" id="uninav-cta-apply-ext">
              Apply (ext)
            </a>
          </li>



          <li class="uninav__menu-item-cta uninav__cta-menu-item--give-pdf uninav__cta-menu-item--3">
            <a href="/renderfile/6fef14a3c04d744c610b81dac0a8d082/support-chapman/_files/2015-donor-impact-report.pdf"
              id="uninav-cta-give-pdf">
              Give (pdf)
            </a>
          </li>

        </ul>


      </div>

    </div>
  </div>
</div>