<div class="uninav--wrapper">
  <div id="uninav" class="qbal-fade-enter">
    <nav class="uninav-navbar">
      <span class="uninav--mobile-menu-wrapper">
        <li class="fa fa-bars" aria-hidden="true"></li>
      </span>
      <!-- <include src="components/uninav--mobile-menu.html"></include> -->
      <%= render 'uninav/logo'  %>
      <%= render 'uninav/utility_nav'  %>

    </nav>
    <div class="uninav-navbar uninav--global-nav-wrapper" id="uninav--global-nav-wrapper">
      <%= render 'uninav/global_nav'  %>
      <%= render 'uninav/cta'  %>
    </div>
  </div>
</div>
