<div id="uninav--utility-nav" class="uninav--menu-item-pipe">
  <span class="uninav--utility-nav-audience-links">
    <ul class="uninav--menu-item uninav--menu-item-piped" id="uninav--utility-nav">
      <li class="uninav-item"><a href="#">Students</a></li>
      <li class="uninav-item"><a href="#">Staff</a></li>
      <li class="uninav-item"><a href="#">Faculty</a></li>
      <li class="uninav-item"><a href="#">Industry Partners</a></li>
  </span>
  <li class="uninav-item uninav--search">
    <span class="uninav--search-caret-wrapper">
      <input type="search" id="uninav--search" placeholder=" Search...">
      <span class="fa fa-caret-down"></span>
      <a class="fa fa-search "></a>
    </span>
  </li>
  <div class="uninav--login-search">
    <!-- <%= render 'uninav/utility_nav' %> -->
  </div>
  </ul>
</div>