<div id="theme" class="">
  <div class="by-the-numbers-widget">
    <div class="by-the-numbers-container">
      <div class="title">
        <h2>The Argyros Advantage</h2>
        <img src="<%= image_path 'background-lines.png' %>" alt="business ranks background image">
      </div>
      <div class="number-ranks">
        <div class="rank">
          <div class="rank-values">
              <span>#</span>
              <span class="counter" data-count="9">0</span>
              <span class="text">Nationally Ranked</span>
          </div>
          <p class="rank-description">Consecutive Years Chapman has exceeded the California law school average bar pass rate</p>
        </div>
        <div class="rank">
          <div class="rank-values">
              <span></span>
              <span class="counter" data-count="71.2">0</span>
              <span class="percentage">%</span>
          </div>
          <p class="rank-description">Fowler School of Law 2015 first-time July bar pass rate</p>
        </div>
        <div class="rank">
          <div class="rank-values">
              <span></span>
              <span class="counter" data-count="4">0</span>
              <span class="percentage">%</span>
          </div>
          <p class='rank-description'>Fowler School of Law 2015 out-of-state bar pass rate</p>
        </div>
      </div>
      <a href="#" id="numbers-button" class="theme-button">view more stats</a>
    </div>
  </div>
</div>
