<div id="theme" class="law">
  <div class="by-the-numbers-widget">
    <div class="by-the-numbers-container">
      <div class="title">
        <h2>The Argyros Advantage</h2>
        <img src="<%= image_path 'background-lines.png' %>" alt="business ranks background image">
      </div>
      <div class="number-ranks">
        <div class="rank">
          <span>#</span>
          <span class="">79</span>
          <span class="text">Ranked Natoinally</span>
          <span>MBA Program in the US</span>
        </div>
        <div class="rank">
          <span>#</span>
          <span>8</span>
          <span class="text">Ranked Nationally</span>
          <span>MBA Program in California</span>
        </div>
        <div class="rank">
          <span>#</span>
          <span>4</span>
          <span class="text">Ranked Nationally</span>
          <span>Private MBA Program in California</span>
        </div>
      </div>
      <a href="#" id="numbers-button" class="theme-button">view more stats</a>
    </div>
  </div>
</div>
