<div id="theme" class="law law__graduate">
  <div class="by-the-numbers-widget">
    <div class="by-the-numbers-container">
      <div class="title">
        <h2>The Argyros Advantage</h2>
        <img src="<%= image_path 'background-lines.png' %>" alt="business ranks background image">
      </div>
    
      <div class="number-ranks">
        <div class="rank">
          <span></span>
          <span>5</span>
          <span></span>
          <span>Consecutive Years Chapman has exceeded the California law school average bar pass rate</span>
        </div>
        <div class="rank">
          <span></span>
          <span>71.2</span>
          <span>%</span>
          <span>Fowler School of Law 2015 first-time July bar pass rate</span>
        </div>
        <div class="rank">
          <span></span>
          <span>93</span>
          <span>%</span>
          <span>Fowler School of Law out-of-state bar pass rate</span>
        </div>
      </div>
      <a href="#" id="numbers-button" class="theme-button">view more stats</a>
    </div>
  </div>
</div>

<!-- MBA Program in the US -->