<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">

<div class="campus-map">
    <div class="map-container">
        <div class="map-inner">
            <div class="box">
                <div class="box-inner">
                    <h1 class="box-header">Chapman University</h1>
                    <div class="address-wrapper"> <i class="fas fa-map-marker-alt marker-icon"></i>
                        <div class="address-inner"> <span class="link-underline"> 1 University Drive, <br> Orange, Ca
                                92886</span>
                        </div>
                        <div class="theme-button">Contact Us <i class="fas fa-phone"></i></div>
                        <div class="theme-button">Email Us <i class="fas fa-envelope"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <iframe src="https://myatlascms.com/map/?id=1074&tbh=1&sbh=1&fh=1&ph=1&wd=1#!sbc/?bm/" width="100%" height="100%"
            id="map_frame" frameBorder="0" scrolling="no" border="0" style="border:0px solid #fff; margin:0; padding:0;">
            <p>Your browser does not support iframes.</p>
        </iframe>
    </div>
</div>