<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
  integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<div
  class="messaging-widget  messaging-widget__2-column messaging-widget__dark-bg messaging-widget__text-right video-graduate">
  <div class="outer-container">
    <div class="column media-column">
      <span class="center-media-helper"></span>
      <div class="media fluid-width-video-container"><iframe frameborder="0" height="315"
          src="https://www.youtube.com/embed/6CHs4x2uqcQ" width="560"></iframe></div>
    </div>
    <div class="text-column">
      <div class="section-message">
        <div class="category">Impact Series:</div>
        <h2 class="title">Entertainment Law Program</h2>
        <div class="body editableContent">
          <p>
            <p class="p1"><span class="s1">Learn about the Entertainment Law Program at Chapman University
                Fowler
                School of Law, one of the many ways in which the law school is making an impact in
                Southern California
                and beyond.</span></p>
          </p>
        </div>
        <div class="text-actions">
          <p class="links-heading">More Fowler Law Videos:</p>
          <p><a href="../../index.aspx">Fowler School of Law Virtual Tour</a></p>
          <p><a href="../../index.aspx">The First Year Experience at Fowler School of Law</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="campusMapWidget" style="position:relative;">
  <div class="campus-map">
    <div class="map-container">
      <div class="map-inner">
        <div class="box ">
          <div class="box-inner ">
            <h1 class="box-header">Chapman University</h1>
            <div class="address-wrapper"> <span class="fas fa-map-marker-alt marker-icon"></span>
              <div class="address-inner"> <span class="link-underline"> 1 University Drive, <br> Orange, Ca
                  92886</span>
              </div>
              <div class="theme-button">1-800-panTher <span class="fas fa-phone"></span></div>
              <div class="theme-button">Mixed case email us <span class="fas fa-envelope"></span></div>
            </div>
          </div>
        </div>
      </div>
      <iframe
        src="https://www.chapman.edu/about/maps-directions/campus-map/?id=1074&tbh&sbh#!ct/25597?mc/33.79306222127043,-117.85174056887628?z/19?sbc/?fh/?lh/"
        width="100%" height="100%" id="map_frame" frameBorder="0" scrolling="no" border="0"
        style="border:0px solid #fff; margin:0; padding:0;">
        <p>Your browser does not support iframes.</p>
      </iframe>
    </div>
  </div>
</section>