<div class="cta-footer-widget">
  <div class="outer-container">
    <div class="text-section">
      <p> Take the Next Step </p>
    </div>
    <div class="button-section">
      <div class="button-wrapper">
        <a class="footer-button theme-button" href="../../index.aspx">Request a Catalog</a>
      </div>
      <div class="button-wrapper">
        <a class="footer-button theme-button" href="../../index.aspx">Schedule a Tour</a>
      </div>
      <div class="button-wrapper">
        <a class="footer-button theme-button" href="../../index.aspx">Apply Now</a>
      </div>
    </div>
  </div>
</div>