<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">

<style>
    #map {
        height: 100%;
    }
</style>
<h1>google map by address</h1>
<div class="googlemap" onload="initialize()">
    <input id="address" type="textbox" value="Sydney, NSW">
    <input type="button" value="Encode" onclick="codeAddress()">
    <div class="map-container">
        <div class="map-inner">
            <div class="box">
                <div class="box-inner">
                    <h1 class="box-header">Chapman University</h1>
                    <div class="address-wrapper"> <i class="fas fa-map-marker-alt marker-icon"></i>
                        <div class="address-inner"> <span class="link-underline"> 1 University Drive, <br> Orange, Ca
                                92886</span>
                        </div>
                        <div class="theme-button">Contact Us <i class="fas fa-phone"></i></div>
                        <div class="theme-button">Email Us <i class="fas fa-envelope"></i></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <img src="https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318&markers=color:red%7Clabel:C%7C40.718217,-73.998284&key=AIzaSyDvH6KiWCLY1Bgp0bVbq26fH7NouXaPKo8" /> -->


        <!-- <section id="simplemap">
        <iframe width="100%" height="500" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=argyros%20forum&key=AIzaSyDvH6KiWCLY1Bgp0bVbq26fH7NouXaPKo8"
            allowfullscreen></iframe>
    </section> -->


        <div id="map"></div>
    </div>
    <script>
        var geocoder;
        var map;

        function initialize() {
            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(-34.397, 150.644);
            var mapOptions = {
                zoom: 18,
                center: latlng
            }
            map = new google.maps.Map(document.getElementById('map'), mapOptions);
        }

        function codeAddress() {
            var address = document.getElementById('address').value;
            geocoder.geocode({
                'address': address
            }, function (results, status) {
                if (status == 'OK') {
                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location,
                        label: "The Label"
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAj0P7RulkHgZtDR7yJMAggZClA1d-nAHk&callback=initialize"
        async defer></script>