<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">

<h1>simple embed</h1>
<div class="googlemap">
    <div class="map-container">
        <div class="map-inner">
            <div class="box">
                <div class="box-inner">
                    <h1 class="box-header">Chapman University</h1>
                    <div class="address-wrapper"> <i class="fas fa-map-marker-alt marker-icon"></i>
                        <div class="address-inner"> <span class="link-underline"> 1 University Drive, <br> Orange, Ca
                                92886</span>
                        </div>
                        <div class="theme-button">Contact Us <i class="fas fa-phone"></i></div>
                        <div class="theme-button">Email Us <i class="fas fa-envelope"></i></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <img src="https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318&markers=color:red%7Clabel:C%7C40.718217,-73.998284&key=AIzaSyDvH6KiWCLY1Bgp0bVbq26fH7NouXaPKo8" /> -->

        <iframe width="100%" height="500" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAj0P7RulkHgZtDR7yJMAggZClA1d-nAHk
    &q=Space+Needle,Seattle+WA"
            allowfullscreen>
        </iframe>

    </div>
</div>