<div class="find-counselor-container">
  <section class="find-counselor-intro">
    <div class="text-container">
      <h2 class="title">Find Your Counselor</h2>
      <p class="intro-text">
        Our counselors are your main point of contact with all things Chapman and review applications
        for undergraduate admission. We can answer any questions you may have about application process,
        academic programs or student life.
      </p>
      <p id="find-your-counselor" class="faux-link">Find Your Counselor</p>
    </div>
    <img src="https://www.chapman.edu/admission/_files/meet-your-counselor.jpg" alt="">
  </section>
  <section class="find-counselor-applicant-type">
    <h2 class="small-title">What type of applicant are you?</h2>
    <div class="student-types-container">
      <div class="student-types">
        <img src="https://www.chapman.edu/admission/_files/domestic-first-year.png" alt="domestic student applicants" />
        <div class="student-type-text">
          <p class="student-type-heading faux-link">
            Domestic First-Year applicant
          </p>
          <p class="student-type-footnote">Includes home-schooled students</p>
          <p class="student-type-description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis, rem optio. Voluptate, officia.
            Ducimus
            voluptatum pariatur perspiciatis harum molestiae libero.
          </p>
        </div>
      </div>
      <div class="student-types">
        <img src="https://www.chapman.edu/admission/_files/domestic-transfer.png"
          alt="domestic transfer student applicant" />
        <div class="student-type-text">
          <p class="student-type-heading faux-link">
            Domestic Transfer Applicant
          </p>
          <p class="student-type-description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia placeat iusto minima ipsa vero, cumque
            molestiae, accusantium quo aut, architecto et! Ea officiis nostrum quisquam.
          </p>
        </div>
      </div>
      <div class="student-types">
        <img src="https://www.chapman.edu/admission/_files/international.png" alt="international student applicant" />
        <div class="student-type-text">
          <p class="student-type-heading faux-link">
            International and U.S. Abroad Applicant
          </p>
          <p class="student-type-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit minima fugiat quod optio. Sapiente fugiat non
            laudantium aliquam ducimus ratione blanditiis.
          </p>
        </div>
      </div>
    </div>
    <p>If you have questions about who your counselor is please email us at <a placeholder="Search by School"
        href="mailto:admit@chapman.edu">admit@chapman.edu</a></p>
  </section>
  <section class="find-counselor-school">
    <h2 class="small-title">Domestic First Year Applicants</h2>
    <p class="school-text">
      Search for the high school you attended/are attending to meet
      your counselor or <a href="">click here if you are home schooled.</a>
    </p>
    <div class="school-input-container">
      <input type="text" class="school-input" placeholder="Search by School">
      <i class="fas fa-search"></i>
    </div>
  </section>
  <section class="find-counselor-transfer">
    <h2 class="small-title">Domestic Transfer Applicants</h2>
    <div class="transfer-counslors-profile-container">
      <div class="transfer-counselor">
        <img src="https://www.chapman.edu/admission/_files/shannon_crogan_counselor.jpg"
          alt="Transfer Counselor Shannon Crogan">
        <a href="" class="counselor-link faux-h2">Shannon Crogan</a>
        <p class="counselor-info">Director of First Year Admission</p>
      </div>
      <div class="transfer-counselor">
        <img src="https://www.chapman.edu/admission/_files/yazmin_mendez_counselor.jpg"
          alt="Transfer Counselor Yazmin Mendez">
        <a href="" class="counselor-link faux-h2">Yazmin Mendez</a>
        <p class="counselor-info">Transfer Admission Counselor</p>
      </div>
    </div>
    <h3 class="sub-title">Meet Your Counselors</h3>
    <p class="transfer-counselor-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur recusandae excepturi magni laborum enim ullam
      eum aliquid mollitia nesciunt! Labore tenetur incidunt expedita enim modi ipsa reprehenderit esse cumque delectus!
    </p>
    <a class="button red find-counselor-button" href="">
      Email Transfer Team
    </a>
  </section>
  <section class="find-counselor-international">
    <h2 class="small-title">International and U.S. Abroad Applicants</h2>
    <div class="international-counselor-container">
      <img src="https://www.chapman.edu/admission/_files/pete.jpg" alt="pete the panther">
      <div class="international-counselor-text">
        <h3>Meet Your Counselor</h3>
        <p class="international-counselor-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime saepe perspiciatis voluptatum rerum sed error
          modi quasi possimus, expedita nulla atque voluptates ut odit soluta ea? Repellat nesciunt rerum animi!
        </p>
        <a href="" class="button red find-counselor-button">
          Email International Counselor
        </a>
      </div>

    </div>
  </section>
</div>