<div class="messaging-widget  messaging-widget__2-column messaging-widget__dark-bg messaging-widget__text-right graduate">
  <div class="outer-container graduate">
    <div class="column media-column">
      <span class="center-media-helper"></span>
      <img alt="Image with text" class="media" src="<%= image_path 'placeholder/kwestgraduation.png' %>" />
    </div>
    <div class="text-column">
      <div class="section-message">
        <div class="category">Alumni</div>
        <h2 class="title">Fowler School of Law Alumna Among Forbes' World's Most Powerful' Sports</h2>
        <div class="body editableContent">
          <p>
            <p class="p1"><span class="s1">Photographed on the sidelines with NBA star James Harden, Diana Day (J.D.
                '07) occasionally has been confused by gossip-hungry fans for a girlfriend.</span></p>
            <p class="p1"><span class="s1">That is part of the background of sexist assumptions Day has overcome in a
                high-trajectory career negotiating contracts for professional athletes: Last year, she became the first
                woman cited by Forbes as one of the World's Most Powerful Sports Agents, at No. 30.</span></p>
          </p>
        </div>
        <div class="text-actions">
          <a class="theme-button" href="../../index.aspx">Read more about alumna Diana Day </a>
          <a class="theme-button" href="../../index.aspx">Student &amp; Alumni Success </a>
        </div>
      </div>
    </div>
  </div>
</div>