<div class="messaging-widget  messaging-widget__2-column messaging-widget__medium-bg messaging-widget__text-left">
  <div class="outer-container">
    <div class="column media-column">
      <span class="center-media-helper"></span>
      <div class="media fluid-width-video-container"><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/6CHs4x2uqcQ"
          width="560"></iframe></div>
    </div>
    <div class="text-column">
      <div class="section-message">
        <div class="category">Impact Series:</div>
        <h2 class="title">Entertainment Law Program</h2>
        <div class="body editableContent">
          <p>
            <p class="p1"><span class="s1">Learn about the Entertainment Law Program at Chapman University Fowler
                School of Law, one of the many ways in which the law school is making an impact in Southern California
                and beyond.</span></p>
          </p>
        </div>
        <div class="text-actions">
          <p class="links-heading">More Fowler Law Videos:</p>
          <p><a href="../../index.aspx">Fowler School of Law Virtual Tour</a></p>
          <p><a href="../../index.aspx">The First Year Experience at Fowler School of Law</a></p>
        </div>
      </div>
    </div>
  </div>
</div>