<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <title>
            <system-page-title/>
        </title>
        <system-page-meta-keywords/>
        <system-page-meta-description/>
        <system-page-meta-author/>
        <system-region name="OG_TAGS"/>
        <system-region name="META VIEWPORT"/>
        <!-- Jquery, Typekit, Common Assets -->
        <system-region name="TYPEKIT"/>
        <system-region name="JQUERY"/>
        <system-region name="CASCADE ASSETS"/>
        <system-region name="ADDITIONAL HEAD"/>
        
    </head>
    <body>
        <system-region name="GOOGLE_TAG_MANAGER"/>
        <system-region name="JUMP LINK"/>
        <system-region name="NO_SCRIPT"/>
        <system-region name="ALERT"/>

        <div class="bigMasthead smallRotator" id="container">
            <header>
                <system-region name="OMNI-NAV"/>
                <system-region name="NAVIGATION"/>
            </header>
            <div class="homepage" id="main" role="main">
                <h1 style="display: none;">Chapman University</h1>
                <system-region name="HERO_PANEL"/>
                <system-region name="BLOG_STORIES"/>
                <system-region name="ADMISSION_UG"/>
                <system-region name="ADMISSION_GENINFO"/>
                <system-region name="ADMISSION_GRAD"/>
                <system-region name="CHAPMAN_FAMILY"/>
                <system-region name="ACCESSIBILITY_STATEMENT"/>
            </div>
            <div class="home">
                <system-region name="GLOBAL FOOTER"/>
            </div>
        </div> 

        <system-region name="FORM_VALIDATION"/>
        <system-region name="ADDITIONAL BODY AT-END"/>
    </body>
</html>