<div class="banner-notification-widget  banner-notification-widget--red">
  <div class="text banner-notification-widget__text">
    <p>
      Last <a href="#">link</a> day to register for this program is December 30th, 2020
    </p>

  </div>
</div>

<div class="banner-notification-widget banner-notification-widget--left-aligned  banner-notification-widget--red">
  <div class="text banner-notification-widget__text">
    <p>
      Last <a href="#">link</a> day to register for this program is December 30th, 2020
    </p>
  </div>
</div>

<div class="banner-notification-widget banner-notification-widget--left-aligned  banner-notification-widget--black">
  <div class="text banner-notification-widget__text">
    <p>
      Last <a href="#">link</a> day to register for this program is December 30th, 2020
    </p>
  </div>

</div>


<div class="banner-notification-widget banner-notification-widget--left-aligned    banner-notification-widget--black">
  <div class="text banner-notification-widget__text">
    <p>
      Last day to <a href="#">register</a> for this program is December 30th, 2020
  </div>
  </p>
  <a aria-label="" class="button banner-notification-widget__button" data-attribute=""
    href="/entity/open.act?type=page&amp;id=ce1040a3c0a81e4b0527546153cf9edd&amp;confId=ce1040adc0a81e4b05275461d3289827"
    id="banner-cta" tabindex="0" target="_parent" title=""> Banner CTA
  </a>

</div>


<div class="banner-notification-widget  banner-notification-widget--sand">
  <div class="text banner-notification-widget__text">
    Academic world-class <a href="#">institution</a> scholarly global impact challenge. Intelligence, ingenuity esquire
    respect
    community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow teaching
    grand modernisation region distinguished emeritus nobel.
  </div>
  <a aria-label="" class="button banner-notification-widget__button" data-attribute=""
    href="/entity/open.act?type=page&amp;id=ce1040a3c0a81e4b0527546153cf9edd&amp;confId=ce1040adc0a81e4b05275461d3289827"
    id="banner-cta" tabindex="0" target="_parent" title=""> Banner CTA
  </a>
</div>


<div class="banner-notification-widget  banner-notification-widget--red">
  <div class="text banner-notification-widget__text">
    Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
    community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow teaching
    grand modernisation region distinguished emeritus nobel.
  </div>
  <a aria-label="" class="button banner-notification-widget__button" data-attribute=""
    href="/entity/open.act?type=page&amp;id=ce1040a3c0a81e4b0527546153cf9edd&amp;confId=ce1040adc0a81e4b05275461d3289827"
    id="banner-cta" tabindex="0" target="_parent" title=""> Banner CTA
  </a>

  <a aria-label="" class="text--link" data-attribute=""
    href="/entity/open.act?type=page&amp;id=ce1040a3c0a81e4b0527546153cf9edd&amp;confId=ce1040adc0a81e4b05275461d3289827"
    id="banner-cta" tabindex="0" target="_parent" title=""> Banner CTA
  </a>
</div>


<div class="banner-notification-widget  banner-notification-widget--sand">
  <div class="text banner-notification-widget__text">
    Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
    community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow teaching
    grand modernisation region distinguished emeritus nobel.
  </div>
  <a aria-label="" class="button banner-notification-widget__button" data-attribute=""
    href="/entity/open.act?type=page&amp;id=ce1040a3c0a81e4b0527546153cf9edd&amp;confId=ce1040adc0a81e4b05275461d3289827"
    id="banner-cta" tabindex="0" target="_parent" title=""> Banner CTA
  </a>

  <a aria-label="" class="text--link" data-attribute=""
    href="/entity/open.act?type=page&amp;id=ce1040a3c0a81e4b0527546153cf9edd&amp;confId=ce1040adc0a81e4b05275461d3289827"
    id="banner-cta" tabindex="0" target="_parent" title=""> Banner CTA
  </a>
</div>


<div class="banner-notification-widget  banner-notification-widget--grey">
  <div class="text banner-notification-widget__text">
    Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
    community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow teaching
    grand modernisation region distinguished emeritus nobel.
  </div>
  <a aria-label="" class="button banner-notification-widget__button" data-attribute=""
    href="/entity/open.act?type=page&amp;id=ce1040a3c0a81e4b0527546153cf9edd&amp;confId=ce1040adc0a81e4b05275461d3289827"
    id="banner-cta" tabindex="0" target="_parent" title=""> Banner CTA
  </a>

  <a aria-label="" class="text--link" data-attribute=""
    href="/entity/open.act?type=page&amp;id=ce1040a3c0a81e4b0527546153cf9edd&amp;confId=ce1040adc0a81e4b05275461d3289827"
    id="banner-cta" tabindex="0" target="_parent" title=""> Banner CTA
  </a>
</div>



<div class="banner-notification-widget  banner-notification-widget--white">
  <div class="text banner-notification-widget__text">
    Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
    community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow teaching
    grand modernisation region distinguished emeritus nobel.
  </div>
  <a aria-label="" class="button banner-notification-widget__button" data-attribute=""
    href="/entity/open.act?type=page&amp;id=ce1040a3c0a81e4b0527546153cf9edd&amp;confId=ce1040adc0a81e4b05275461d3289827"
    id="banner-cta" tabindex="0" target="_parent" title=""> Banner CTA
  </a>

  <a aria-label="" class="text--link" data-attribute=""
    href="/entity/open.act?type=page&amp;id=ce1040a3c0a81e4b0527546153cf9edd&amp;confId=ce1040adc0a81e4b05275461d3289827"
    id="banner-cta" tabindex="0" target="_parent" title=""> Banner CTA
  </a>
</div>

<div class="banner-notification-widget  banner-notification-widget--black">
  <div class="text banner-notification-widget__text">
    Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
    community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow teaching
    grand modernisation region distinguished emeritus nobel.
  </div>
  <a aria-label="" class="text--link" data-attribute=""
    href="/entity/open.act?type=page&amp;id=ce1040a3c0a81e4b0527546153cf9edd&amp;confId=ce1040adc0a81e4b05275461d3289827"
    id="banner-cta" tabindex="0" target="_parent" title=""> Banner CTA
  </a>
</div>
