<div class="career-block-widget__container">

  <div class="career-block-widget career-block-widget--black">
    <div class="career-block-widget__text">

      <div class="faux-h3 career-block-widget__title">
        Computer Hardware Engineers
      </div>
      <div class="career-block-widget__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni fuga in eum minus dolorem eos expedita laudantium
        distinctio officia officiis facilis amet dolore nam delectus, consectetur animi quo, laborum error.
        Nihil, nam?
      </div>
      <br>
      <div class="career-block-widget__salary">
        <span class="career-block-widget__bold">
          $115,080
        </span>
        Median Salary
      </div>
    </div>
  </div>

  <div class="career-block-widget career-block-widget--sand">
    <div class="career-block-widget__text">

      <div class="faux-h3 career-block-widget__title">
        Computer Hardware Engineers
      </div>
      <div class="career-block-widget__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
      </div>
      <br>
      <div class="career-block-widget__salary">
        <span class="career-block-widget__bold">
          $115,080
        </span>
        Median Salary
      </div>
    </div>
  </div>

  <div class="career-block-widget career-block-widget--red">
    <div class="career-block-widget__text">

      <div class="faux-h3 career-block-widget__title">
        Computer Hardware Engineers
      </div>
      <div class="career-block-widget__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni fuga in eum minus dolorem eos expedita laudantium
        distinctio officia officiis facilis amet dolore nam delectus, consectetur animi quo, laborum error.
        Nihil, nam?
      </div>
      <br>
      <div class="career-block-widget__salary">
        <span class="career-block-widget__bold">
          $115,080
        </span>
        Median Salary
      </div>
    </div>
  </div>


  <div class="career-block-widget career-block-widget--white">
    <div class="career-block-widget__text">

      <div class="faux-h3 career-block-widget__title">
        Computer Hardware Engineers
      </div>
      <div class="career-block-widget__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni fuga in eum minus dolorem eos expedita laudantium
        distinctio officia officiis facilis amet dolore nam delectus, consectetur animi quo, laborum error.
        Nihil, nam?
      </div>
      <br>
      <div class="career-block-widget__salary">
        <span class="career-block-widget__bold">
          $115,080
        </span>
        Median Salary
      </div>
    </div>
  </div>


</div>