<!-- TODO https://services.onetcenter.org/reference/mnm/career/outlook The salary element provides annual and/or hourly wages, from the BLS Occupational Employment Statistics external site wage estimates. -->

<!-- https://services.onetcenter.org/ws/mnm/careers/49-9021.02/job_outlook -->
<!-- https://services.onetcenter.org/demo -->



<div class="career-block-widget__container">
  <div class="career-block-widget career-block-widget--black career-block-widget--loading">
    <div class="hidden">
      <div class="career-block-widget__career-code" id="career-block-widget-career-code__1">

        17-2051.00

      </div>
    </div>
    <div class="career-block-widget__text">

      <div class="faux-h3 career-block-widget__title">

      </div>
      <div class="career-block-widget__body">

      </div>
      <br>
      <div class="career-block-widget__salary">
        <span class="career-block-widget__bold">

        </span>

      </div>
    </div>
  </div>

  <div class="career-block-widget career-block-widget career-block-widget--loading"
    id="career-block-widget-career-code__2">

    <div class="career-block-widget__text">

      <div class="faux-h3 career-block-widget__title">

      </div>
      <div class="career-block-widget__body">

      </div>
      <br>
      <div class="career-block-widget__salary">
        <span class="career-block-widget__bold">

        </span>

      </div>
    </div>
    <div class="hidden">
      <div class="career-block-widget__career-code" id="career-block-widget-career-code__1">

        wtf19-2042.00

      </div>
    </div>
  </div>
  <div class="career-block-widget career-block-widget--red career-block-widget--loading"
    id="career-block-widget-career-code__2">

    <div class="career-block-widget__text">

      <div class="faux-h3 career-block-widget__title">

      </div>
      <div class="career-block-widget__body">

      </div>
      <br>
      <div class="career-block-widget__salary">
        <span class="career-block-widget__bold">

        </span>

      </div>
    </div>
    <div class="hidden">
      <div class="career-block-widget__career-code" id="career-block-widget-career-code__1">

        19-2042.00

      </div>
    </div>
  </div>

  <div class="career-block-widget career-block-widget--white career-block-widget--loading"
    id="career-block-widget-career-code__2">

    <div class="career-block-widget__text">

      <div class="faux-h3 career-block-widget__title">

      </div>
      <div class="career-block-widget__body">

      </div>
      <br>
      <div class="career-block-widget__salary">
        <span class="career-block-widget__bold">

        </span>

      </div>
    </div>
    <div class="hidden">
      <div class="career-block-widget__career-code" id="career-block-widget-career-code__1">

        19-2042.00

      </div>
    </div>
  </div>


</div>