<div class="collapsibles-widget" id="accordion-1">
  <br>
<div class="row">
<div class="toggle-expand-collapse expand" data-toggle="collapsibles-widget__toggle" tabindex="0" style="display: none;">Toggle Section</div>
</div>
              <div class="accordion active">
                          <h2 class="header" role="button" tabindex="0">
      <span class="show"></span>
<span class="hide"></span>
      System Status

          </h2>
      
<div class="content editableContent" style="display: block;">
              <p><strong>System Login Issues (11:30am - Jan. 29, 2020):</strong></p>
<p>Around 11:30am, IS&amp;T received several reports that the users were having trouble logging into their accounts for Blackboard Learn and my.chapman.edu. IS&amp;T was able to identify and resolve the issue. All login services were successfully restored and confirmed operational by 12pm. If you continue to experience issues logging into your Chapman University accounts, please contact the IS&amp;T Service Desk at <a href="mailto:Servicedesk@chapman.edu">Servicedesk@chapman.edu</a>&nbsp;or (714) 997-6600).</p>
<div class="rssfeed clearfix" style="background-color: #F7F6F0; border-bottom: 1px solid #4A4949; color: #4A4949; padding: 10px 45px;">
          
<div class="post" itemscope="itemscope" itemtype="http://schema.org/Article">
  <strong>Zynga Data Breach - December 19th</strong><br>
  <div class="copy ellipsis multiline">&nbsp;</div>            
  <div> <div class="ExternalClassC60F1BCD4AAA4CD7A702E474B2645AE8">We have learned of a data breach affecting Zynga, the company that makes the popular game, Words With Friends, as outlined in this article: https://www.theverge.com/2019/12/19/21029682/zynga-hack-words-with-friends-draw-something-password-data-breach

If you are have an account with Zynga or Words With Friends, we strongly recommend you to change your password immediately.  If you have any questions, please contact our Information Security team at infosec@chapman.edu.
</div></div>
<div><b>Published:</b> 12/20/2019 3:04 PM</div>

  <br>
  <a class="" href="https://mywindow.chapman.edu/depts/IST/systemstatus/Lists/Posts/ViewPost.aspx?ID=454">Read More <span class="bullet">»</span></a>
  <hr>
</div>
          
<div class="post" itemscope="itemscope" itemtype="http://schema.org/Article">
  <strong>Planned Outage for Blackboard Mobile Apps on December 16, 2019</strong><br>
  <div class="copy ellipsis multiline">&nbsp;</div>            
  <div> <div class="ExternalClassA6D36C9607994F5595F6D85332225F40">The Blackboard app and the Blackboard Instructor app will be down for maintenance on Monday, December 16, 2019 starting at 7:30 PM til 12:30 AM on December 17, 2019.

Please access Blackboard Learn in a web browser during this five-hour window.</div></div>
<div><b>Published:</b> 12/13/2019 1:10 AM</div>

  <br>
  <a class="" href="https://mywindow.chapman.edu/depts/IST/systemstatus/Lists/Posts/ViewPost.aspx?ID=453">Read More <span class="bullet">»</span></a>
  <hr>
</div>
<a href="https://mywindow.chapman.edu/depts/IST/systemstatus/Lists/Posts/AllPosts.aspx">View All Posts »</a>
</div>
</div>

</div>
</div>