<div class="widget widget--red contact-profile-widget contact-profile-widget--red">
  <div class="faux-h2 widget__heading $wxp__heading">
    Contact Us
  </div>
  <div class="widget__img contact-profile-widget__img"
    style="width: ${_EscapeTool.xml($imgSize)}; height: ${_EscapeTool.xml($imgSize)}; ">
    <img class="img--circle" alt="ross" src="http://placekitten.com/200/300">
  </div>
  <div class="widget__name $wxp__name">
    Ross
  </div>
  <div class="widget__subheading $wxp__dept">
    SMC
  </div>
  <div class="widget__phone-number $wxp__phone">
    555-555-5555
  </div>
  <div class="widget__email-address $wxp__email">
    ross@uni.edu
  </div>
</div>