<div class="multi-image-content-blocks-widget">
  <div class="multi-image-content-blocks-container">
    <h2 class="multi-image-content-heading">Explore our Programs</h2>
    
    <a class="photoCallout" href="#">
      <div class="image-container">
        <img alt="" src="<%= image_path 'placeholder/2x3.jpg' %>" />
      </div>
      <div class="multi-image-caption">
        <p class="heading">
          Professional Grad
        </p>
      </div>
    </a>

    <a class="photoCallout" href="#">
      <div class="image-container">
        <img alt="" src="<%= image_path 'placeholder/2x3.jpg' %>" />
      </div>
      <div class="multi-image-caption">
        <p class="heading">
          Professional Grad Professional Grad Professional Grad Professional Grad Professional Grad
        </p>
      </div>
    </a>
    <a class="photoCallout" href="#">
      <div class="image-container">
        <img alt="" src="<%= image_path 'placeholder/2x3.jpg' %>" />
      </div>
      <div class="multi-image-caption">
        <p class="heading">
          Professional Grad
        </p>
      </div>
    </a>
    <a class="photoCallout" href="#">
      <div class="image-container">
        <img alt="" src="<%= image_path 'placeholder/2x3.jpg' %>" />
      </div>
      <div class="multi-image-caption">
        <p class="heading">
          Professional Grad
        </p>
      </div>
    </a>
    <a class="photoCallout" href="#">
      <div class="image-container">
        <img alt="" src="<%= image_path 'placeholder/2x3.jpg' %>" />
      </div>
      <div class="multi-image-caption">
        <p class="heading">
          Professional Grad
        </p>
      </div>
    </a>
    <a class="photoCallout" href="#">
      <div class="image-container">
        <img alt="" src="<%= image_path 'placeholder/2x3.jpg' %>" />
      </div>
      <div class="multi-image-caption">
        <p class="heading">
          Professional Grad
        </p>
      </div>
    </a>
    <a class="photoCallout" href="#">
      <div class="image-container">
        <img alt="" src="<%= image_path 'placeholder/2x3.jpg' %>" />
      </div>
      <div class="multi-image-caption">
        <p class="heading">
          Professional Grad
        </p>
      </div>
    </a>
    <a class="photoCallout" href="#">
      <div class="image-container">
        <img alt="" src="<%= image_path 'placeholder/2x3.jpg' %>" />
      </div>
      <div class="multi-image-caption">
        <p class="heading">
          Professional Grad
        </p>
      </div>
    </a>
    <a class="photoCallout" href="#">
      <div class="image-container">
        <img alt="" src="<%= image_path 'placeholder/2x3.jpg' %>" />
      </div>
      <div class="multi-image-caption">
        <p class="heading">
          Professional Grad
        </p>
      </div>
    </a>
    <a class="photoCallout" href="#">
      <div class="image-container">
        <img alt="" src="<%= image_path 'placeholder/2x3.jpg' %>" />
      </div>
      <div class="multi-image-caption">
        <p class="heading">
          Professional Grad
        </p>
      </div>
    </a>
    <a class="photoCallout" href="#">
      <div class="image-container">
        <img alt="" src="<%= image_path 'placeholder/2x3.jpg' %>" />
      </div>
      <div class="multi-image-caption">
        <p class="heading">
          Professional Grad
        </p>
      </div>
    </a>
    <a class="photoCallout" href="#">
      <div class="image-container">
        <img alt="" src="<%= image_path 'placeholder/2x3.jpg' %>" />
      </div>
      <div class="multi-image-caption">
        <p class="heading">
          Professional Grad
        </p>
      </div>
    </a>
  </div>
</div>