<div class="multi-photo-callout-widget">
  <div class="multi-callout-container">
    <h2 class="multi-callout-heading">Explore our Programs</h2>
    <a class="photoCallout" href="#">
      <div class="image-container">
        <img alt="" src="<%= image_path 'placeholder/2x3.jpg' %>" />
      </div>
      <div class="grad-caption">
        <h2 class="heading">
          Professional Grad
        </h2>
      </div>
    </a>
    <a class="photoCallout" href="#">
      <div class="image-container">
        <img alt="" src="<%= image_path 'placeholder/2x3.jpg' %>" />
      </div>
      <div class="grad-caption">
        <h2 class="heading">
          Professional Grad
        </h2>
      </div>
    </a>
    <a class="photoCallout" href="#">
      <div class="image-container">
        <img alt="" src="<%= image_path 'placeholder/2x3.jpg' %>" />
      </div>
      <div class="grad-caption">
        <h2 class="heading">
          Professional Grad
        </h2>
      </div>
    </a>
    <a class="photoCallout" href="#">
      <div class="image-container">
        <img alt="" src="<%= image_path 'placeholder/2x3.jpg' %>" />
      </div>
      <div class="grad-caption">
        <h2 class="heading">
          Professional Grad
        </h2>
      </div>
    </a>
    <a class="photoCallout" href="#">
      <div class="image-container">
        <img alt="" src="<%= image_path 'placeholder/2x3.jpg' %>" />
      </div>
      <div class="grad-caption">
        <h2 class="heading">
          Professional Grad
        </h2>
      </div>
    </a>
    <a class="photoCallout" href="#">
      <div class="image-container">
        <img alt="" src="<%= image_path 'placeholder/2x3.jpg' %>" />
      </div>
      <div class="grad-caption">
        <h2 class="heading">
          Professional Grad
        </h2>
      </div>
    </a>
    <a class="photoCallout" href="#">
      <div class="image-container">
        <img alt="" src="<%= image_path 'placeholder/2x3.jpg' %>" />
      </div>
      <div class="grad-caption">
        <h2 class="heading">
          Professional Grad
        </h2>
      </div>
    </a>
    <a class="photoCallout" href="#">
      <div class="image-container">
        <img alt="" src="<%= image_path 'placeholder/2x3.jpg' %>" />
      </div>
      <div class="grad-caption">
        <h2 class="heading">
          Professional Grad
        </h2>
      </div>
    </a>
    <a class="photoCallout" href="#">
      <div class="image-container">
        <img alt="" src="<%= image_path 'placeholder/2x3.jpg' %>" />
      </div>
      <div class="grad-caption">
        <h2 class="heading">
          Professional Grad
        </h2>
      </div>
    </a>
    <a class="photoCallout" href="#">
      <div class="image-container">
        <img alt="" src="<%= image_path 'placeholder/2x3.jpg' %>" />
      </div>
      <div class="grad-caption">
        <h2 class="heading">
          Professional Grad
        </h2>
      </div>
    </a>
    <a class="photoCallout" href="#">
      <div class="image-container">
        <img alt="" src="<%= image_path 'placeholder/2x3.jpg' %>" />
      </div>
      <div class="grad-caption">
        <h2 class="heading">
          Professional Grad
        </h2>
      </div>
    </a>
    <a class="photoCallout" href="#">
      <div class="image-container">
        <img alt="" src="<%= image_path 'placeholder/2x3.jpg' %>" />
      </div>
      <div class="grad-caption">
        <h2 class="heading">
          Professional Grad
        </h2>
      </div>
    </a>
  </div>
</div>