<div class="next-steps-widget next-steps-widget--left-aligned next-steps-widget--sand">
  <div class="faux-h2 next-steps-widget__heading">
    Coronavirus Updates
  </div>
  <div class="next-steps-widget__text">
    <p>
      If you are living in an area affected by the coronavirus or have related questions, please visit:
    </p>
  </div>
  <div class="next-steps-widget__buttons">
    <a aria-label="" class="text--link" data-attribute="" href="coronavirus.aspx"
      id="office-of-admission-coronavirus-updates" tabindex="1" title=""> Office of Admission Coronavirus Updates
    </a>
  </div>
</div>
<h2>centered w text</h2>
<div class="next-steps-widget">
  <div class="faux-h2 next-steps-widget__heading">
    Next Steps
  </div>
  <div class="next-steps-widget__text">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae accusantium corrupti, obcaecati, alias adipisci
      dolor, et fugit aut ad sed voluptas magnam libero dolores necessitatibus! NobisLorem ipsum dolor sit amet
      consectetur adipisicing elit. Beatae accusantium corrupti, obcaecati, alias adipisci dolor, et fugit aut ad sed
      voluptas magnam libero dolores necessitatibus! NobisLorem ipsum dolor sit amet consectetur adipisicing elit.
      Beatae accusantium corrupti, obcaecati, aliaobcaecati, aliaaa</p>
  </div>
  <div class="next-steps-widget__buttons">
    <a class="button next-steps-widget__button" href="#" tabindex="0"">Go to School</a>
    <a class=" button next-steps-widget__button" href="#" tabindex="0">Admission</a>
    <a class="button next-steps-widget__button" href="#" tabindex="0">Alumni</a>
  </div>
</div>
<h2>left aligned w text</h2>
<div class="next-steps-widget next-steps-widget--left-aligned next-steps-widget--white">
  <div class="faux-h2 next-steps-widget__heading">
    Next Steps
  </div>
  <div class="next-steps-widget__text">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae accusantium corrupti, obcaecati, alias adipisci
      dolor, et fugit aut ad sed voluptas magnam libero dolores necessitatibus! NobisLorem ipsum dolor sit amet
      consectetur adipisicing elit. Beatae accusantium corrupti, obcaecati, alias adipisci dolor, et fugit aut ad sed
      voluptas magnam libero dolores necessitatibus! NobisLorem ipsum dolor sit amet consectetur adipisicing elit.
      Beatae accusantium corrupti, obcaecati, aliaobcaecati, aliaaa</p>
  </div>
  <div class="next-steps-widget__buttons">
    <a class="button next-steps-widget__button" href="#" tabindex="0"">Go to School</a>
    <a class=" button next-steps-widget__button" href="#" tabindex="0">Admission</a>
    <a class="button next-steps-widget__button" href="#" tabindex="0">Alumni</a>
  </div>
</div>
<!-- red -->
<div class="next-steps-widget next-steps-widget--left-aligned next-steps-widget--red">
  <div class="faux-h2 next-steps-widget__heading">
    Next Steps
  </div>
  <div class="next-steps-widget__text">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae accusantium corrupti, obcaecati, alias adipisci
      dolor, et fugit aut ad sed voluptas magnam libero dolores necessitatibus! NobisLorem ipsum dolor sit amet
      consectetur adipisicing elit. Beatae accusantium corrupti, obcaecati, alias adipisci dolor, et fugit aut ad sed
      voluptas magnam libero dolores necessitatibus! NobisLorem ipsum dolor sit amet consectetur adipisicing elit.
      Beatae accusantium corrupti, obcaecati, aliaobcaecati, aliaaa</p>
  </div>
  <div class="next-steps-widget__buttons">
    <a class="button next-steps-widget__button" href="#" tabindex="0"">Go to School</a>
    <a class=" button next-steps-widget__button" href="#" tabindex="0">Admission</a>
    <a class="button next-steps-widget__button" href="#" tabindex="0">Alumni</a>
  </div>
</div>
<!-- black -->
<div class="next-steps-widget next-steps-widget--left-aligned next-steps-widget--black">
  <div class="faux-h2 next-steps-widget__heading">
    Next Steps
  </div>
  <div class="next-steps-widget__text">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae accusantium corrupti, obcaecati, alias adipisci
      dolor, et fugit aut ad sed voluptas magnam libero dolores necessitatibus! NobisLorem ipsum dolor sit amet
      consectetur adipisicing elit. Beatae accusantium corrupti, obcaecati, alias adipisci dolor, et fugit aut ad sed
      voluptas magnam libero dolores necessitatibus! NobisLorem ipsum dolor sit amet consectetur adipisicing elit.
      Beatae accusantium corrupti, obcaecati, aliaobcaecati, aliaaa</p>
  </div>
  <div class="next-steps-widget__buttons">
    <a class="button next-steps-widget__button" href="#" tabindex="0"">Go to School</a>
    <a class=" button next-steps-widget__button" href="#" tabindex="0">Admission</a>
    <a class="button next-steps-widget__button" href="#" tabindex="0">Alumni</a>
  </div>
</div>
<!-- grey -->
<div class="next-steps-widget next-steps-widget--left-aligned next-steps-widget--grey">
  <div class="faux-h2 next-steps-widget__heading">
    Next Steps
  </div>
  <div class="next-steps-widget__text">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae accusantium corrupti, obcaecati, alias adipisci
      dolor, et fugit aut ad sed voluptas magnam libero dolores necessitatibus! NobisLorem ipsum dolor sit amet
      consectetur adipisicing elit. Beatae accusantium corrupti, obcaecati, alias adipisci dolor, et fugit aut ad sed
      voluptas magnam libero dolores necessitatibus! NobisLorem ipsum dolor sit amet consectetur adipisicing elit.
      Beatae accusantium corrupti, obcaecati, aliaobcaecati, aliaaa</p>
  </div>
  <div class="next-steps-widget__buttons">
    <a class="button next-steps-widget__button" href="#" tabindex="0"">Go to School</a>
    <a class=" button next-steps-widget__button" href="#" tabindex="0">Admission</a>
    <a class="button next-steps-widget__button" href="#" tabindex="0">Alumni</a>
  </div>
</div>
<!-- sand -->
<div class="next-steps-widget next-steps-widget--left-aligned next-steps-widget--sand">
  <div class="faux-h2 next-steps-widget__heading">
    Next Steps
  </div>
  <div class="next-steps-widget__text">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae accusantium corrupti, obcaecati, alias adipisci
      dolor, et fugit aut ad sed voluptas magnam libero dolores necessitatibus! NobisLorem ipsum dolor sit amet
      consectetur adipisicing elit. Beatae accusantium corrupti, obcaecati, alias adipisci dolor, et fugit aut ad sed
      voluptas magnam libero dolores necessitatibus! NobisLorem ipsum dolor sit amet consectetur adipisicing elit.
      Beatae accusantium corrupti, obcaecati, aliaobcaecati, aliaaa</p>
  </div>
  <div class="next-steps-widget__buttons">
    <a class="button next-steps-widget__button" href="#" tabindex="0"">Go to School</a>
    <a class=" button next-steps-widget__button" href="#" tabindex="0">Admission</a>
    <a class="button next-steps-widget__button" href="#" tabindex="0">Alumni</a>
  </div>
</div>
<div class="next-steps-widget">
  <div class="faux-h2 next-steps-widget__heading">
    Next Steps
  </div>
  <div class="next-steps-widget__buttons">
    <a class="button next-steps-widget__button" href="#" tabindex="0"">Go to School</a>
    <a class=" button next-steps-widget__button" href="#" tabindex="0">Admission</a>
    <a class="button next-steps-widget__button" href="#" tabindex="0">Alumni</a>
  </div>
</div>
<div class="next-steps-widget next-steps-widget--left-aligned">
  <div class="faux-h2 next-steps-widget__heading">
    Next Steps
  </div>
  <div class="next-steps-widget__text">
    <p>
      Interested in this major? Here are some suggested next steps!
    </p>
  </div>
  <div class="next-steps-widget__buttons">
    <a class="button next-steps-widget__button" href="#" tabindex="0"">Go to School</a>
    <a class=" button next-steps-widget__button" href="#" tabindex="0">Admission</a>
    <a class="button next-steps-widget__button" href="#" tabindex="0">Alumni</a>
  </div>
</div>