<div class="cascade-configure">
  <input type="checkbox" class="500char" name="500char" value="500char" checked>Text (500 char limit)<br>
</div>
<script>
  $(function () {
    // make everything editable 
    $('h1, h2, h3, p, a, span, .faux-h1, .faux-h2, .faux-h3').attr('contentEditable', true);
    // toggle text
    $('.500char').change(function () {
      var nsText = '.next-steps-widget__text';
      var fillerText = ' <div class="next-steps-widget__text"> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae accusantium corrupti, obcaecati, alias adipisci dolor, et fugit aut ad sed voluptas magnam libero dolores necessitatibus! NobisLorem ipsum dolor sit amet consectetur adipisicing elit. Beatae accusantium corrupti, obcaecati, alias adipisci dolor, et fugit aut ad sed voluptas magnam libero dolores necessitatibus! NobisLorem ipsum dolor sit amet consectetur adipisicing elit. Beatae accusantium corrupti, obcaecati, aliaobcaecati, aliaaa</p> </div>'
      if ($(this).prop("checked")) {
        $('.next-steps-widget__heading').append(fillerText);
      } else {
        $(nsText).fadeOut();
        $(nsText).remove();
      }
    });
  });
</script>
<div class="next-steps-widget">
  <div class="faux-h2 next-steps-widget__heading">
    Next Steps
  </div>
  <div class="next-steps-widget__text">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae accusantium corrupti, obcaecati, alias adipisci
      dolor, et fugit aut ad sed voluptas magnam libero dolores necessitatibus! NobisLorem ipsum dolor sit amet
      consectetur adipisicing elit. Beatae accusantium corrupti, obcaecati, alias adipisci dolor, et fugit aut ad sed
      voluptas magnam libero dolores necessitatibus! NobisLorem ipsum dolor sit amet consectetur adipisicing elit.
      Beatae
      accusantium corrupti, obcaecati, aliaobcaecati, aliaaa</p>
  </div>
  <div class="next-steps-widget__buttons">
    <a class="button next-steps-widget__button" href="#" tabindex="0"">Go to School</a>
    <a class=" button next-steps-widget__button" href="#" tabindex="0">Admission</a>
    <a class="button next-steps-widget__button" href="#" tabindex="0">Alumni</a>
  </div>
</div>