<div class="program-events__container" data-chapman-program-events="programs">
  <div class="program-events__title">
    <p>Events: </p>
  </div>
  <p class="program-events__text">Lorem incididunt adipisicing reprehenderit ipsum eiusmod nisi ipsum qui aute esse
    excepteur ex ullamco. Laboris ex sunt exercitation cupidatat sunt aliqua dolore occaecat ut non ipsum. Sit cupidatat
    commodo fugiat magna nostrud esse eiusmod nostrud voluptate eu cillum.</p>
  <div class="program-events__tiles">
    <div data-program-event-category="Dodge"></div>
    <div data-program-event-category="Communications"></div>
  </div>
</div>