<div class="quick-fact-blocks-widget__container">
  <div class="    quick-fact-blocks-widget  quick-fact-blocks-widget--black">
    <div class="quick-fact-blocks-widget__text">
      <span class="fas fa-lightbulb quick-fact-blocks-widget__icon"></span>
      Brilliance
    </div>
  </div>
  <div class="    quick-fact-blocks-widget  quick-fact-blocks-widget--black">
    <div class="quick-fact-blocks-widget__text">
      <span class="fas fa-info quick-fact-blocks-widget__icon"></span>
      Info Session July 12th
    </div>
  </div>
  <div class="    quick-fact-blocks-widget  quick-fact-blocks-widget--black">
    <div class="quick-fact-blocks-widget__text">
      <span class="fas fa-info quick-fact-blocks-widget__icon"></span>
      Something
    </div>
  </div>
  <div class="    quick-fact-blocks-widget  quick-fact-blocks-widget--black">
    <div class="quick-fact-blocks-widget__text">
      <span class="fas fa-lightbulb quick-fact-blocks-widget__icon"></span>
      Duh
    </div>
  </div>
</div>
<div class="quick-fact-blocks-widget__container">
  <div class="    quick-fact-blocks-widget  quick-fact-blocks-widget--sand">
    <div class="quick-fact-blocks-widget__text">
      <span class="fas fa-lightbulb quick-fact-blocks-widget__icon"></span>
      Brilliance
    </div>
  </div>
  <div class="    quick-fact-blocks-widget  quick-fact-blocks-widget--sand">
    <div class="quick-fact-blocks-widget__text">
      <span class="fas fa-info quick-fact-blocks-widget__icon"></span>
      Info Session July 12th
    </div>
  </div>
  <div class="    quick-fact-blocks-widget  quick-fact-blocks-widget--sand">
    <div class="quick-fact-blocks-widget__text">
      <span class="fas fa-info quick-fact-blocks-widget__icon"></span>
      Something
    </div>
  </div>
  <div class="    quick-fact-blocks-widget  quick-fact-blocks-widget--sand">
    <div class="quick-fact-blocks-widget__text">
      <span class="fas fa-lightbulb quick-fact-blocks-widget__icon"></span>
      Duh
    </div>
  </div>
</div>
