<div class="quick-fact-blocks-widget__container">
            
  <div class="quick-fact-blocks-widget quick-fact-blocks-widget--sand">
<div class="quick-fact-blocks-widget__text" tabindex="0">
  <span class="fas fa-map-marker-alt quick-fact-blocks-widget__icon"></span>
  Orange, CA
</div>
</div>

  <div class="quick-fact-blocks-widget quick-fact-blocks-widget--sand">
<div class="quick-fact-blocks-widget__text" tabindex="0">
  <span class="fas fa-umbrella-beach quick-fact-blocks-widget__icon"></span>
  Summer courses
</div>
</div>

  <div class="quick-fact-blocks-widget quick-fact-blocks-widget--sand">
<div class="quick-fact-blocks-widget__text" tabindex="0">
  <span class="far fa-calendar-alt quick-fact-blocks-widget__icon"></span>
  2 Semesters
</div>
</div>

  <div class="quick-fact-blocks-widget quick-fact-blocks-widget--sand">
<div class="quick-fact-blocks-widget__text" tabindex="0">
  <span class="fas fa-laptop quick-fact-blocks-widget__icon"></span>
  Online Courses
</div>
</div>

  <div class="quick-fact-blocks-widget quick-fact-blocks-widget--sand">
<div class="quick-fact-blocks-widget__text" tabindex="0">
  <span class="far fa-snowflake quick-fact-blocks-widget__icon"></span>
  Winter Courses
</div>
</div>
</div>
<div class="quick-fact-blocks-widget__container">
  <div class="    quick-fact-blocks-widget  quick-fact-blocks-widget--black">
    <div class="quick-fact-blocks-widget__text">
      <span class="fas fa-lightbulb quick-fact-blocks-widget__icon"></span>
      Brilliance
    </div>
  </div>
  <div class="    quick-fact-blocks-widget  quick-fact-blocks-widget--black">
    <div class="quick-fact-blocks-widget__text">
      <span class="fas fa-info quick-fact-blocks-widget__icon"></span>
      Info Session July 12th
    </div>
  </div>
  <div class="    quick-fact-blocks-widget  quick-fact-blocks-widget--black">
    <div class="quick-fact-blocks-widget__text">
      <span class="fas fa-info quick-fact-blocks-widget__icon"></span>
      Something
    </div>
  </div>
  <div class="    quick-fact-blocks-widget  quick-fact-blocks-widget--black">
    <div class="quick-fact-blocks-widget__text">
      <span class="fas fa-lightbulb quick-fact-blocks-widget__icon"></span>
      Duh
    </div>
  </div>
</div>
<div class="quick-fact-blocks-widget__container">
  <div class="    quick-fact-blocks-widget  quick-fact-blocks-widget--sand">
    <div class="quick-fact-blocks-widget__text">
      <span class="fas fa-lightbulb quick-fact-blocks-widget__icon"></span>
      Brilliance
    </div>
  </div>
  <div class="    quick-fact-blocks-widget  quick-fact-blocks-widget--sand">
    <div class="quick-fact-blocks-widget__text">
      <span class="fas fa-info quick-fact-blocks-widget__icon"></span>
      Info Session July 12th
    </div>
  </div>
  <div class="    quick-fact-blocks-widget  quick-fact-blocks-widget--sand">
    <div class="quick-fact-blocks-widget__text">
      <span class="fas fa-info quick-fact-blocks-widget__icon"></span>
      Something
    </div>
  </div>
  <div class="    quick-fact-blocks-widget  quick-fact-blocks-widget--sand">
    <div class="quick-fact-blocks-widget__text">
      <span class="fas fa-lightbulb quick-fact-blocks-widget__icon"></span>
      Duh
    </div>
  </div>
</div>
