<div id="social_follow_us">
    <div class="banner"></div>
    <ul>
        <li class="facebook first"><span class="inactive_state"></span><span class="hover_state"></span><a href="http://www.facebook.com/pages/Chapman-University-College-of-Educational-Studies/113577454289"><span class="hide">facebook</span></a></li>
        <li class="instagram last"><span class="inactive_state"></span><span class="hover_state"></span><a href="https://www.instagram.com/chapmaneducation/"><span class="hide">instagram</span></a></li>    
    </ul>
</div>