<div class="testimonial-widget testimonial-widget--white">
  Ada
  <div class=" testimonial-widget__slide" tabindex="0">
    <div class="testimonial-widget__img testimonial-widget__img--circle">
      <img alt="ada lovelace"
        src="https://dev-www.chapman.edu/test-section/nick-test/ada-lovelace-20825279-1-402.jpg" />
    </div>
    <div class="testimonial-widget__text">
      <div class="faux-h2 testimonial-widget__faux-h2">
        Ada
      </div>
      <div class="testimonial-widget__department-title">
        VP of Digital
      </div>
      <div class="testimonial-widget__body">
        Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
        community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow
        teaching grand modernisation region distinguished emeritus nobel.
      </div>
    </div>
    <div class="testimonial-cta">
      <a class="button testimonial-widget__button" href="#" tabindex="0" target="_parent">cta</a>
      <a class="button testimonial-widget__button" href="#" tabindex="0" target="_parent">cta</a>
      <a class="button testimonial-widget__button" href="#" tabindex="0" target="_parent">cta</a>
    </div>

  </div>
  No Image
  <div class=" testimonial-widget__slide" tabindex="0">
    <div class="testimonial-widget__text">
      <div class="faux-h2 testimonial-widget__faux-h2">
        No Image
      </div>
      <div class="testimonial-widget__department-title">
        Text Should Fill The Space
      </div>
      <div class="testimonial-widget__body">
        Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
        <br />
        <a class="button testimonial-widget__button" href="#" tabindex="0" target="_parent">test</a>
        <a class="button testimonial-widget__button" href="#" tabindex="0" target="_parent">test</a>
        <a class="button testimonial-widget__button" href="#" tabindex="0" target="_parent">test</a>
      </div>
    </div>

  </div>
  Ada Lovelace
  <div class=" testimonial-widget__slide" tabindex="0">
    <div class="testimonial-widget__img testimonial-widget__img--circle" style="width: ; height: ; ">
      <img alt="ada lovelace"
        src="https://dev-www.chapman.edu/test-section/nick-test/ada-lovelace-20825279-1-402.jpg" />
    </div>
    <div class="testimonial-widget__text">
      <div class="f aux-h2 testimonial-widget__faux-h2">
        Ada Lovelace
      </div>
      <div class="testimonial-widget__department-title">
        Countess of Lovelace
      </div>
      <div class="testimonial-widget__body">
        Augusta Ada King, Countess of Lovelace was an English mathematician and writer, chiefly known for her work on
        Charles Babbage's proposed mechanical general-purpose computer, the Analytical Engine. She was the first to
        recognise that the machine had applications beyond pure calculation, and published the first algorithm intended
        to be carried out by such a machine.Wikipedia
      </div>
    </div>

  </div>
  Nick
  <div class=" testimonial-widget__slide" tabindex="0">
    <div class="testimonial-widget__img testimonial-widget__img--circle">
      <img alt="" src="../nicknadel.jpg">
    </div>
    <div class="testimonial-widget__text">
      <div class="faux-h2 testimonial-widget__faux-h2">
        Nick
      </div>
      <div class="testimonial-widget__department-title">
        SMC
      </div>
      <div class="testimonial-widget__body">
        Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
        community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow
        teaching grand modernisation region distinguished emeritus nobel.
      </div>
    </div>

  </div>
  <button type="button" class="slick-prev">Previous</button>
  <button type="button" class="slick-next">Next</button>
</div>

<div class="testimonial-widget testimonial-widget--sand">
  Ada
  <div class=" testimonial-widget__slide" tabindex="0">
    <div class="testimonial-widget__img testimonial-widget__img--circle">
      <img alt="ada lovelace"
        src="https://dev-www.chapman.edu/test-section/nick-test/ada-lovelace-20825279-1-402.jpg" />
    </div>
    <div class="testimonial-widget__text">
      <div class="faux-h2 testimonial-widget__faux-h2">
        Ada
      </div>
      <div class="testimonial-widget__department-title">
        VP of Digital
      </div>
      <div class="testimonial-widget__body">
        Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
        community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow
        teaching grand modernisation region distinguished emeritus nobel.
        <br />
        <a class="button testimonial-widget__button" href="#" tabindex="0" target="_parent">test</a>
        <a class="button testimonial-widget__button" href="#" tabindex="0" target="_parent">test</a>
        <a class="button testimonial-widget__button" href="#" tabindex="0" target="_parent">test</a>


      </div>
    </div>

  </div>
  No Image
  <div class=" testimonial-widget__slide" tabindex="0">
    <div class="testimonial-widget__text">
      <div class="faux-h2 testimonial-widget__faux-h2">
        No Image
      </div>
      <div class="testimonial-widget__department-title">
        Text Should Fill The Space
      </div>
      <div class="testimonial-widget__body">
        Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
        <br />
        <a class="button testimonial-widget__button" href="#" tabindex="0" target="_parent">test</a>
        <a class="button testimonial-widget__button" href="#" tabindex="0" target="_parent">test</a>
        <a class="button testimonial-widget__button" href="#" tabindex="0" target="_parent">test</a>
      </div>
    </div>

  </div>
  Ada Lovelace
  <div class=" testimonial-widget__slide" tabindex="0">
    <div class="testimonial-widget__img testimonial-widget__img--circle" style="width: ; height: ; ">
      <img alt="ada lovelace"
        src="https://dev-www.chapman.edu/test-section/nick-test/ada-lovelace-20825279-1-402.jpg" />
    </div>
    <div class="testimonial-widget__text">
      <div class="f aux-h2 testimonial-widget__faux-h2">
        Ada Lovelace
      </div>
      <div class="testimonial-widget__department-title">
        Countess of Lovelace
      </div>
      <div class="testimonial-widget__body">
        Augusta Ada King, Countess of Lovelace was an English mathematician and writer, chiefly known for her work on
        Charles Babbage's proposed mechanical general-purpose computer, the Analytical Engine. She was the first to
        recognise that the machine had applications beyond pure calculation, and published the first algorithm intended
        to be carried out by such a machine.Wikipedia
      </div>
    </div>

  </div>
  Nick
  <div class=" testimonial-widget__slide" tabindex="0">
    <div class="testimonial-widget__img testimonial-widget__img--circle">
      <img alt="" src="../nicknadel.jpg">
    </div>
    <div class="testimonial-widget__text">
      <div class="faux-h2 testimonial-widget__faux-h2">
        Nick
      </div>
      <div class="testimonial-widget__department-title">
        SMC
      </div>
      <div class="testimonial-widget__body">
        Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
        community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow
        teaching grand modernisation region distinguished emeritus nobel.
      </div>
    </div>

  </div>
</div>
<!-- START --WHITE -->
<div class="testimonial-widget testimonial-widget--white">
  <!-- "SLIDE" -->
  <div class="testimonial-widget__slide" tabindex="0">
    <div class=" testimonial-widget__img">
      <img src="https://answersafrica.com/wp-content/uploads/2018/09/Jeff-Goldblum-640x427.jpg" alt="">
    </div>
    <div class="testimonial-widget__text">
      <div class="faux-h2 testimonial-widget__faux-h2">
        BARBARA HOLLAND, MA `89
      </div>
      <div class="testimonial-widget__department-title">
        COMPUTER ENGINEER, SPACEX
      </div>
      <div class="testimonial-widget__body">
        Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
        community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow
        teaching
        grand modernisation region distinguished emeritus nobel.
      </div>
    </div>

  </div>
  <!-- "SLIDE" -->
  <div class="testimonial-widget__slide">
    <div class=" testimonial-widget__img">
      <img
        src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTE4MDAzNDEwODQwOTQ2MTkw/ada-lovelace-20825279-1-402.jpg"
        alt="">
    </div>
    <div class="testimonial-widget__text">
      <div class="faux-h2 testimonial-widget__faux-h2">
        ELON MUSK, MA `89
      </div>
      <div class="testimonial-widget__department-title">
        COMPUTER ENGINEER, SPACEX
      </div>
      <div class="testimonial-widget__body">
        Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
        community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow
        teaching
        grand modernisation region distinguished emeritus nobel.
      </div>
    </div>

  </div>
</div>
<!-- END --WHITE -->
<!-- START --RED -->
<div class="testimonial-widget testimonial-widget--red">
  <!-- "SLIDE" -->
  <div class="testimonial-widget__slide" tabindex="0">
    <div class=" testimonial-widget__img">
      <img src="https://placekitten.com/600/600" alt="">
    </div>
    <div class="testimonial-widget__text">
      <div class="faux-h2 testimonial-widget__faux-h2">
        BARBARA HOLLAND, MA `89
      </div>
      <div class="testimonial-widget__department-title">
        COMPUTER ENGINEER, SPACEX
      </div>
      <div class="testimonial-widget__body">
        Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
        community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow
        teaching
        grand modernisation region distinguished emeritus nobel.
        <br />
        <br />
        <a class="text--link" href="#" tabindex="0">Text Link</a>
        <a class="text--link" href="#" tabindex="0">Text Link</a>
        <a class="text--link" href="#" tabindex="0">Text Link</a>

      </div>
    </div>

  </div>
  <!-- "SLIDE" -->
  <div class="testimonial-widget__slide">
    <div class=" testimonial-widget__img">
      <img src="https://placekitten.com/600/600" alt="">
    </div>
    <div class="testimonial-widget__text">
      <div class="faux-h2 testimonial-widget__faux-h2">
        ELON MUSK, MA `89
      </div>
      <div class="testimonial-widget__department-title">
        COMPUTER ENGINEER, SPACEX
      </div>
      <div class="testimonial-widget__body">
        Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
        community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow
        teaching
        grand modernisation region distinguished emeritus nobel.
      </div>
    </div>

  </div>
</div>
<!-- END --RED -->
<!-- START --BLACK -->
<div class="testimonial-widget testimonial-widget--black">
  <!-- "SLIDE" -->
  <div class="testimonial-widget__slide" tabindex="0">
    <div class=" testimonial-widget__img">
      <img src="https://placekitten.com/600/600" alt="">
    </div>
    <div class="testimonial-widget__text">
      <div class="faux-h2 testimonial-widget__faux-h2">
        BARBARA HOLLAND, MA `89
      </div>
      <div class="testimonial-widget__department-title">
        COMPUTER ENGINEER, SPACEX
      </div>
      <div class="testimonial-widget__body">
        Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
        community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow
        teaching
        grand modernisation region distinguished emeritus nobel.
        <br />
        <br />
        <a class="text--link" href="#" tabindex="0">Text Link</a>

      </div>
    </div>

  </div>
  <!-- "SLIDE" -->
  <div class="testimonial-widget__slide">
    <div class=" testimonial-widget__img">
      <img src="https://placekitten.com/600/600" alt="">
    </div>
    <div class="testimonial-widget__text">
      <div class="faux-h2 testimonial-widget__faux-h2">
        ELON MUSK, MA `89
      </div>
      <div class="testimonial-widget__department-title">
        COMPUTER ENGINEER, SPACEX
      </div>
      <div class="testimonial-widget__body">
        Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
        community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow
        teaching
        grand modernisation region distinguished emeritus nobel.
      </div>
    </div>

  </div>
</div>
<!-- END --BLACK -->
<!-- START --SAND -->
<div class="testimonial-widget testimonial-widget--sand">
  <!-- "SLIDE" -->
  <div class="testimonial-widget__slide" tabindex="0">
    <div class=" testimonial-widget__img">
      <img src="https://placekitten.com/600/600" alt="">
    </div>
    <div class="testimonial-widget__text">
      <div class="faux-h2 testimonial-widget__faux-h2">
        BARBARA HOLLAND, MA `89
      </div>
      <div class="testimonial-widget__department-title">
        COMPUTER ENGINEER, SPACEX
      </div>
      <div class="testimonial-widget__body">
        Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
        community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow
        teaching
        grand modernisation region distinguished emeritus nobel.
        <br />
        <a class="button testimonial-widget__button" href="#" tabindex="0" target="_parent">test</a>
        <a class="button testimonial-widget__button" href="#" tabindex="0" target="_parent">test</a>
        <a class="button testimonial-widget__button" href="#" tabindex="0" target="_parent">test</a>
      </div>
    </div>

  </div>
  <!-- "SLIDE" -->
  <div class="testimonial-widget__slide">
    <div class=" testimonial-widget__img">
      <img src="https://placekitten.com/600/600" alt="">
    </div>
    <div class="testimonial-widget__text">
      <div class="faux-h2 testimonial-widget__faux-h2">
        ADA LOVELACE, MA `89
      </div>
      <div class="testimonial-widget__department-title">
        COMPUTER ENGINEER, SPACEX
      </div>
      <div class="testimonial-widget__body">
        Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
        community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow
        teaching
        grand modernisation region distinguished emeritus nobel.
        <br />
        <br />
        <a class="text--link" href="#" tabindex="0">something</a>
        <a class="text--link" href="#" tabindex="0">Text Link</a>
        <a class="text--link" href="#" tabindex="0">Text Link</a>
      </div>
    </div>

  </div>
</div>
<!-- END --SAND -->
<!-- START --GREY -->
<div class="testimonial-widget testimonial-widget--grey">
  <!-- "SLIDE" -->
  <div class="testimonial-widget__slide" tabindex="0">
    <div class=" testimonial-widget__img">
      <img src="https://placekitten.com/600/600" alt="">
    </div>
    <div class="testimonial-widget__text">
      <div class="faux-h2 testimonial-widget__faux-h2">
        BARBARA HOLLAND, MA `89
      </div>
      <div class="testimonial-widget__department-title">
        COMPUTER ENGINEER, SPACEX
      </div>
      <div class="testimonial-widget__body">
        Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
        community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow
        teaching
        grand modernisation region distinguished emeritus nobel.
      </div>
    </div>

  </div>
  <!-- "SLIDE" -->
  <div class="testimonial-widget__slide">
    <div class=" testimonial-widget__img">
      <img src="https://placekitten.com/600/600" alt="">
    </div>
    <div class="testimonial-widget__text">
      <div class="faux-h2 testimonial-widget__faux-h2">
        ELON MUSK, MA `89
      </div>
      <div class="testimonial-widget__department-title">
        COMPUTER ENGINEER, SPACEX
      </div>
      <div class="testimonial-widget__body">
        Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
        community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow
        teaching
        grand modernisation region distinguished emeritus nobel.
      </div>
    </div>

  </div>
</div>
<!-- END --GREY -->