<!-- <script type="text/javascript">
  $(document).ready(function () {
    $(".testimonial-widget").lightSlider();
  });
</script> -->
<div class="testimonial-widget">
  <div class="testimonial-widget__placeholder-img">
    <img src="https://placekitten.com/600/600" alt="">
  </div>
  <div class="testimonial-widget__text">
    <div class="faux-h2 testimonial-widget__faux-h2">
      BARBARA HOLLAND, MA `89
    </div>
    <div class="testimonial-widget__department-title">
      COMPUTER ENGINEER, SPACEX
    </div>
    <div class="testimonial-widget__body">
      Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
      community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow
      teaching
      grand modernisation region distinguished emeritus nobel.
      <div class="testimonial-widget__buttons">
        <i class="far fa-angle-left"></i>
        <i class="far fa-angle-right"></i>
        <div class="testimonial-widget__button--left" aria-label="previous testimonial"></div>
        <div class="testimonial-widget__button--right" aria-label="next testimonial"></div>
      </div>
    </div>
  </div>
</div>

<div class="testimonial-widget testimonial-widget--red">
  <div class="testimonial-widget__placeholder-img">
    <img src="https://placekitten.com/600/600" alt="">
  </div>
  <div class="testimonial-widget__text">
    <div class="faux-h2 testimonial-widget__faux-h2">
      BARBARA HOLLAND, MA `89
    </div>
    <div class="testimonial-widget__department-title">
      COMPUTER ENGINEER, SPACEX
    </div>
    <div class="testimonial-widget__body">
      Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
      community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow
      teaching
      grand modernisation region distinguished emeritus nobel.
    </div>
  </div>
  <div class="testimonial-widget__buttons">
    <div class="testimonial-widget__button--left" aria-label="previous testimonial"></div>
    <div class="testimonial-widget__button--right" aria-label="next testimonial"></div>
  </div>
</div>

<div class="testimonial-widget testimonial-widget--black">
  <div class="testimonial-widget__placeholder-img">
    <img src="https://placekitten.com/600/600" alt="">
  </div>
  <div class="testimonial-widget__text">
    <div class="faux-h2 testimonial-widget__faux-h2">
      BARBARA HOLLAND, MA `89
    </div>
    <div class="testimonial-widget__department-title">
      COMPUTER ENGINEER, SPACEX
    </div>
    <div class="testimonial-widget__body">
      Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
      community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow
      teaching
      grand modernisation region distinguished emeritus nobel.
    </div>
  </div>
  <div class="testimonial-widget__buttons">
    <div class="testimonial-widget__button--left" aria-label="previous testimonial"></div>
    <div class="testimonial-widget__button--right" aria-label="next testimonial"></div>
  </div>
</div>

<div class="testimonial-widget testimonial-widget--sand">
  <div class="testimonial-widget__placeholder-img">
    <img src="https://placekitten.com/600/600" alt="">
  </div>
  <div class="testimonial-widget__text">
    <div class="faux-h2 testimonial-widget__faux-h2">
      BARBARA HOLLAND, MA `89
    </div>
    <div class="testimonial-widget__department-title">
      COMPUTER ENGINEER, SPACEX
    </div>
    <div class="testimonial-widget__body">
      Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
      community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow
      teaching
      grand modernisation region distinguished emeritus nobel.
    </div>
  </div>
  <div class="testimonial-widget__buttons">
    <div class="testimonial-widget__button--left" aria-label="previous testimonial"></div>
    <div class="testimonial-widget__button--right" aria-label="next testimonial"></div>
  </div>
</div>

<div class="testimonial-widget testimonial-widget--grey">
  <div class="testimonial-widget__placeholder-img">
    <img src="https://placekitten.com/600/600" alt="">
  </div>
  <div class="testimonial-widget__text">
    <div class="faux-h2 testimonial-widget__faux-h2">
      BARBARA HOLLAND, MA `89
    </div>
    <div class="testimonial-widget__department-title">
      COMPUTER ENGINEER, SPACEX
    </div>
    <div class="testimonial-widget__body">
      Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
      community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow
      teaching
      grand modernisation region distinguished emeritus nobel.
    </div>
  </div>
  <div class="testimonial-widget__buttons">
    <div class="testimonial-widget__button--left" aria-label="previous testimonial"></div>
    <div class="testimonial-widget__button--right" aria-label="next testimonial"></div>

  </div>
</div>