<!-- single slide -->
<div class="testimonial-widget testimonial-widget--red">
  <!-- "SLIDE" -->
  <div class="testimonial-widget__slide" tabindex="0">
    <div class="testimonial-widget__row">
      <div class="testimonial-widget__img">
        <img src="https://placekitten.com/600/600" alt="">
      </div>
      <div class="testimonial-widget__text">
        <div class="testimonial-widget__titles">
          <div class="faux-h2 testimonial-widget__faux-h2">
            Ada Lovelace
          </div>
          <div class="testimonial-widget__department-title">
            Web Developer
          </div>
        </div>
        <div class="testimonial-widget__body">
          Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
          community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow
          teaching grand modernisation region distinguished emeritus nobel.

        </div>
        <div class="testimonial-widget__cta">
          <a class="button testimonial-widget__button" href="#" tabindex="0" target="_parent">test</a>
        </div>
      </div>
    </div>
  </div>

</div>




<div class="testimonial-widget testimonial-widget--red">
  <!-- "SLIDE" -->
  <div class="testimonial-widget__slide" tabindex="0">
    <div class="testimonial-widget__row">
      <div class="testimonial-widget__img">
        <img src="https://placekitten.com/600/600" alt="">
      </div>
      <div class="testimonial-widget__text">
        <div class="testimonial-widget__titles">
          <div class="faux-h2 testimonial-widget__faux-h2">
            Ada Lovelace
          </div>
          <div class="testimonial-widget__department-title">
            Web Developer
          </div>
        </div>
        <div class="testimonial-widget__body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
          Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
          ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
          consequat massa quis enim. Donec. Donec quam felis, ultricies nec, pellentesque eu, pr
        </div>
        <div class="testimonial-widget__cta">
          <a class="text--link" href="#" tabindex="0">Text Link</a>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonial-widget__slide" tabindex="0">
    <div class="testimonial-widget__row">
      <div class="testimonial-widget__img">
        <img src="https://placekitten.com/600/600" alt="">
      </div>
      <div class="testimonial-widget__text">
        <div class="testimonial-widget__titles">
          <div class="faux-h2 testimonial-widget__faux-h2">
            Ada Lovelace
          </div>
          <div class="testimonial-widget__department-title">
            Web Developer
          </div>
        </div>
        <div class="testimonial-widget__body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
          Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
          ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
          consequat massa quis enim. Donec. Donec quam felis, ultricies nec, pellentesque eu, pr
        </div>
        <div class="testimonial-widget__cta">
          <a class="button testimonial-widget__button" href="#" tabindex="0" target="_parent">test</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="testimonial-widget testimonial-widget--sand">
  <!-- "SLIDE" -->
  <div class="testimonial-widget__slide" tabindex="0">
    <div class="testimonial-widget__row">
      <div class="testimonial-widget__img">
        <img src="https://placekitten.com/600/600" alt="">
      </div>
      <div class="testimonial-widget__text">
        <div class="testimonial-widget__titles">
          <div class="faux-h2 testimonial-widget__faux-h2">
            Ada Lovelace
          </div>
          <div class="testimonial-widget__department-title">
            Web Developer
          </div>
        </div>
        <div class="testimonial-widget__body">
          Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
          community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow
          teaching grand modernisation region distinguished emeritus nobel.
          Bilateral intellectual exchange higher education perf...
        </div>
        <div class="testimonial-widget__cta">
          <a class="button testimonial-widget__button" href="#" tabindex="0" target="_parent">test</a>
          <a class="button testimonial-widget__button" href="#" tabindex="0" target="_parent">test</a>
          <a class="button testimonial-widget__button" href="#" tabindex="0" target="_parent">test</a>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonial-widget__slide" tabindex="0">
    <div class="testimonial-widget__row">
      <div class="testimonial-widget__img">
        <img src="https://placekitten.com/600/600" alt="">
      </div>
      <div class="testimonial-widget__text">
        <div class="testimonial-widget__titles">
          <div class="faux-h2 testimonial-widget__faux-h2">
            Ada Lovelace
          </div>
          <div class="testimonial-widget__department-title">
            Web Developer
          </div>
        </div>
        <div class="testimonial-widget__body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
          sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
          nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
          aliquet nec, vulputate.
        </div>
        <div class="testimonial-widget__cta">
          <a class="text--link" href="#" tabindex="0">Text Link</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="testimonial-widget testimonial-widget--white">
  <!-- "SLIDE" -->
  <div class="testimonial-widget__slide" tabindex="0">
    <div class="testimonial-widget__row">
      <div class="testimonial-widget__img">
        <img src="https://placekitten.com/600/600" alt="">
      </div>
      <div class="testimonial-widget__text">
        <div class="testimonial-widget__titles">
          <div class="faux-h2 testimonial-widget__faux-h2">
            Ada Lovelace
          </div>
          <div class="testimonial-widget__department-title">
            Web Developer
          </div>
        </div>
        <div class="testimonial-widget__body">
          Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
          community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow
          teaching
          grand modernisation region distinguished emeritus nobel.
        </div>
        <div class="testimonial-widget__cta">
          <a class="button testimonial-widget__button" href="#" tabindex="0" target="_parent">test</a>
          <a class="button testimonial-widget__button" href="#" tabindex="0" target="_parent">test</a>
          <a class="button testimonial-widget__button" href="#" tabindex="0" target="_parent">test</a>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonial-widget__slide" tabindex="0">
    <div class="testimonial-widget__row">
      <div class="testimonial-widget__img">
        <img src="https://placekitten.com/600/600" alt="">
      </div>
      <div class="testimonial-widget__text">
        <div class="testimonial-widget__titles">
          <div class="faux-h2 testimonial-widget__faux-h2">
            Ada Lovelace
          </div>
          <div class="testimonial-widget__department-title">
            Web Developer
          </div>
        </div>
        <div class="testimonial-widget__body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
          sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
          nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
          aliquet nec, vulputate.
        </div>
        <div class="testimonial-widget__cta">
          <a class="text--link" href="#" tabindex="0">Text Link</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="testimonial-widget testimonial-widget--grey">
  <!-- "SLIDE" -->
  <div class="testimonial-widget__slide" tabindex="0">
    <div class="testimonial-widget__row">
      <div class="testimonial-widget__img">
        <img src="https://placekitten.com/600/600" alt="">
      </div>
      <div class="testimonial-widget__text">
        <div class="testimonial-widget__titles">
          <div class="faux-h2 testimonial-widget__faux-h2">
            Ada Lovelace
          </div>
          <div class="testimonial-widget__department-title">
            Web Developer
          </div>
        </div>
        <div class="testimonial-widget__body">
          Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
          community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow
          teaching
          grand modernisation region distinguished emeritus nobel.
        </div>
        <div class="testimonial-widget__cta">
          <a class="button testimonial-widget__button" href="#" tabindex="0" target="_parent">test</a>
          <a class="button testimonial-widget__button" href="#" tabindex="0" target="_parent">test</a>
          <a class="button testimonial-widget__button" href="#" tabindex="0" target="_parent">test</a>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonial-widget__slide" tabindex="0">
    <div class="testimonial-widget__row">
      <div class="testimonial-widget__img">
        <img src="https://placekitten.com/600/600" alt="">
      </div>
      <div class="testimonial-widget__text">
        <div class="testimonial-widget__titles">
          <div class="faux-h2 testimonial-widget__faux-h2">
            Ada Lovelace
          </div>
          <div class="testimonial-widget__department-title">
            Web Developer
          </div>
        </div>
        <div class="testimonial-widget__body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
          sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
          nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
          aliquet nec, vulputate.
        </div>
        <div class="testimonial-widget__cta">
          <a class="text--link" href="#" tabindex="0">Text Link</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="testimonial-widget testimonial-widget--black">
  <!-- "SLIDE" -->
  <div class="testimonial-widget__slide" tabindex="0">
    <div class="testimonial-widget__row">
      <div class="testimonial-widget__img">
        <img src="https://placekitten.com/600/600" alt="">
      </div>
      <div class="testimonial-widget__text">
        <div class="testimonial-widget__titles">
          <div class="faux-h2 testimonial-widget__faux-h2">
            Ada Lovelace
          </div>
          <div class="testimonial-widget__department-title">
            Web Developer
          </div>
        </div>
        <div class="testimonial-widget__body">
          Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect
          community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow
          teaching
          grand modernisation region distinguished emeritus nobel.
        </div>
        <div class="testimonial-widget__cta">
          <a class="button testimonial-widget__button" href="#" tabindex="0" target="_parent">test</a>
          <a class="button testimonial-widget__button" href="#" tabindex="0" target="_parent">test</a>
          <a class="button testimonial-widget__button" href="#" tabindex="0" target="_parent">test</a>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonial-widget__slide" tabindex="0">
    <div class="testimonial-widget__row">
      <div class="testimonial-widget__img">
        <img src="https://placekitten.com/600/600" alt="">
      </div>
      <div class="testimonial-widget__text">
        <div class="testimonial-widget__titles">
          <div class="faux-h2 testimonial-widget__faux-h2">
            Ada Lovelace
          </div>
          <div class="testimonial-widget__department-title">
            Web Developer
          </div>
        </div>
        <div class="testimonial-widget__body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
          sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
          nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
          aliquet nec, vulputate.
        </div>
        <div class="testimonial-widget__cta">
          <a class="text--link" href="#" tabindex="0">Text Link</a>
        </div>
      </div>
    </div>
  </div>
</div>