<div class="text-with-cta-widget">

  <div class="text-with-cta__text-container">
    <h2 class="text-with-cta__title">Text With CTA Widget</h2>
    <div class="text-with-cta__buttons">
      <button class="text-with-cta__button color--white"><a href="three-column-sample.aspx">Request Info</a></button>
      <button class="text-with-cta__button color--white"><a href="https://www.google.com">Visit Us</a></button>
      <button class="text-with-cta__button color--red"><a href="../../about/index.aspx">Apply Now</a></button>
    </div>
    <p class="text-with-cta__text">Eiusmod commodo nulla culpa do laboris sit do. Laboris tempor nisi adipisicing
      excepteur mollit. Sunt ipsum consequat consequat et officia occaecat qui sit irure reprehenderit laborum mollit ad
      fugiat. Aliqua consequat do sit adipisicing esse Lorem. Velit laboris fugiat commodo id in aliquip proident irure
      do anim. Ex aute pariatur duis magna est sunt proident sunt non ipsum velit qui ullamco amet. Voluptate labore
      occaecat ullamco exercitation.Eu commodo et minim commodo fugiat laborum mollit duis. Eu amet sit tempor ipsum
      esse eiusmod reprehenderit dolor. Aliquip dolore occaecat cillum est anim laboris excepteur cillum irure amet
      velit. Amet laboris ut exercitation voluptate. Amet nulla laboris proident ipsum magna.
    </p>

  </div>
</div>

<div class="text-with-cta-widget">
  <div class="text-with-cta__text-container">
    <h2 class="text-with-cta__title">Text With CTA 2 Buttons</h2>
    <div class="text-with-cta__buttons">
      <button class="text-with-cta__button color--white"><a href="three-column-sample.aspx">Request More Info
          Now</a></button>
      <button class="text-with-cta__button color--red"><a href="../../about/index.aspx">About</a></button>
    </div>
    <p class="text-with-cta__text">Dolor mollit commodo consectetur quis mollit commodo ullamco incididunt. Mollit amet
      proident aute ullamco culpa adipisicing incididunt aliquip sunt. Tempor pariatur et qui labore magna ullamco
      nostrud tempor. Consequat dolore enim ullamco tempor pariatur laboris ex nulla qui esse adipisicing sint ipsum
      irure. Veniam dolor reprehenderit irure labore consequat. Culpa et nostrud ut exercitation aliqua dolore deserunt
      eu incididunt mollit.Amet minim cillum commodo anim. Labore esse ad eu id qui excepteur quis anim quis dolor
      culpa. Elit ea ad incididunt proident occaecat minim laboris ea voluptate sit. Sunt occaecat cillum ipsum do
      pariatur ea Lorem fugiat eiusmod voluptate laborum incididunt. Occaecat cillum occaecat esse qui enim. Sit
      consectetur consequat duis elit ipsum. Magna consequat fugiat est veniam sit nulla aliquip consequat
      reprehenderit.</p>
  </div>

</div>

<div class="text-with-cta-widget">
  <div class="text-with-cta__text-container">
    <h2 class="text-with-cta__title">Text with CTA One Button</h2>
    <div class="text-with-cta__buttons">
      <button class="text-with-cta__button color--red"><a href="find-your-counselor.aspx">Find Your
          Counselor</a></button>
    </div>
    <p class="text-with-cta__text">Dolor mollit commodo consectetur quis mollit commodo ullamco incididunt. Mollit amet
      proident aute ullamco culpa adipisicing incididunt aliquip sunt. Tempor pariatur et qui labore magna ullamco
      nostrud tempor. Consequat dolore enim ullamco tempor pariatur laboris ex nulla qui esse adipisicing sint ipsum
      irure. Veniam dolor reprehenderit irure labore consequat. Culpa et nostrud ut exercitation aliqua dolore deserunt
      eu incididunt mollit.Amet minim cillum commodo anim. Labore esse ad eu id qui excepteur quis anim quis dolor
      culpa. Elit ea ad incididunt proident occaecat minim laboris ea voluptate sit. Sunt occaecat cillum ipsum do
      pariatur ea Lorem fugiat eiusmod voluptate laborum incididunt. Occaecat cillum occaecat esse qui enim. Sit
      consectetur consequat duis elit ipsum. Magna consequat fugiat est veniam sit nulla aliquip consequat
      reprehenderit.</p>
  </div>

</div>