<div class="three-photo-callout-widget__container">
        <a href="#" class="three-photo-callout-widget">
            <img src="http://placekitten.com/245/145" alt="">
            <div class="three-photo-callout-widget__text">
                <p>Pre-Pharmacy Freshman Early Assurance Program</p>
            </div>    
        </a>
        <a href="#" class="three-photo-callout-widget">
            <img src="http://placekitten.com/245/145" alt="">
            <div class="three-photo-callout-widget__text">
            <p> 
            Pre-Pharmacy Freshman Early Assurance Program
</p>
            </div>
        </a>

        <a href="#" class="three-photo-callout-widget">
            <img src="http://placekitten.com/245/145" alt="">
            <div class="three-photo-callout-widget__text">
                        <p> 
B.S. Physics
</p>
            </div>
        </a>
</div>