<div class="twitter-feed-widget">
    <div class="tweetbox">
        <iframe id="twitter-widget-0">
            <html>
                <footer class="timeline-Footer u-cf" data-scribe="section:footer">
                    <a class="u-floatLeft" data-scribe="element:embed_url" href="https://publish.twitter.com/?url=https%3A%2F%2Ftwitter.com%2FChapmanAdmit">Embed</a>
                <a class="u-floatRight" data-scribe="element:twitter_url" href="https://twitter.com/ChapmanAdmit">View on Twitter</a>
                </footer>      
            </html>  
        </iframe>

    </div>
</div>