.primaryContent .main {
  max-width: none !important;
  width: 100%;
  .featureImage {
    display: inline-block;
    float: left;
    margin: 0px 20px 10px 0;
    padding: 0;
    width: max-content;
    background: none ;
    border: none;
    box-shadow: none ;
  }
  section {
    .content {
      float: left;
      width: 100%;
      .linkList {
        padding: 0;
        list-style-type: none;
        float: left;
        li {
          margin: 0 0 5px 0;
        }
      }
    }
    h3 {
      clear: both;
      color: $cu-red;
      font-family: "Open Sans";
      font-weight: normal;
      font-size: 16px;
      padding: 20px 0 7px 0;
      margin: 0;
      border-bottom: 1px solid #a58f75;
    }
  }
}
