.breadcrumbs {
  clear: both;
  margin: 15px 0 10px 0;
  // display: inline;
  vertical-align: middle;
  font-family: $futura-regular;
  font-size: 1.6rme;

  > ul {
    width: 100%;
    float: left;
    text-align: left;

    @include bp(wildcard-min, 767px) {
      width: 70%;
    }

    svg {
      width: 4px;

      &.fa-caret-right {
        top: 2px;
        position: relative;
      }
    }
  }

  .virtualTour & {
    text-align: center;
    padding: 0;
    margin: 0 0 15px 0;
    display: none;

    ul li {
      font-size: 13px;
    }

    .bullet {
      margin: 0;

      @include bp(wildcard-min, 767px) {
        margin: 0 5px;
      }
    }

    @include bp(wildcard-min, 767px) {
      display: block;
    }
  }

  a {
    border-bottom: 2px dotted $cu-red;
  }

  .home {
    display: inline-block;
    vertical-align: text-top;
    border-bottom: none;
    height: 17px;
    width: 13px;
    font-size: 20px;
    margin-right: 10px;

    svg {
      width: 20px;
    }
  }

  ul li {
    list-style-type: none;
    display: inline-block;

    &:first-child {
      margin-left: 0;
      padding-left: 0;
      border-left: none;
    }
  }

  .bullet {
    margin: 0 6px;
  }
}

// .breadcrumbs {
//     ul:first-of-type {
//       width: 500px;
//       white-space: nowrap;
//     }

//     ul li a {
//       white-space: nowrap;
//     }
// }

@include respond(tab-port) {
  // change order
  .breadcrumbs.clearfix {
    display: flex;
    flex-direction: column;
  }

  .breadcrumbs ul:first-of-type {
    order: 2;
  }

  #social_follow_us {
    justify-content: flex-end;
    display: flex;
  }
}
@include respond(phone) {
  .breadcrumbs > ul:first-of-type li:not(:nth-last-child(2)),
  .breadcrumbs > ul:first-of-type li:not(:nth-last-child(1)) svg {
    display: none;
  }

  .breadcrumbs > ul:first-of-type a:last-child,
  .breadcrumbs > ul:first-of-type li:last-child {
    display: inline;
  }

  .breadcrumbs ul:first-of-type > li:first-of-type {
    display: none;
  }

  #social_follow_us ul li {
    display: inline;
  }

  .breadcrumbs > ul {
    width: auto;
  }
}
