.callout-box-widget--left {
  margin-bottom: 30px;
}

.rightColumn {
  .callout-box-widget {
    img {
      margin: -1.5rem -1.5rem 0px -1.5rem;
      max-width: 206px;
      width: 206px;
    }
  }
  .callout {
    padding: 1.5rem 1.5rem 0;
  }
  .editableContent {
    width: 174px;
    p, li, span, div {
      font-size: 1.4rem;
    }
  }
  
  .callout-box-widget--white {
    img {
      max-width: 204px;
      width: 204px;
    }
  }
}

.callout {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  --ml: 16px;
  --text-light: $white;
  --text-dark: $panther-black;
  --preheaderLight: $white;
  --preheaderDark: $grey;
  
  margin-bottom: 2rem;
  padding: 2rem 2rem;
  
  .buttonLinks {
    margin: 2rem 0 0;
    padding: 0;
  }
  .buttonLinks li {
    margin-bottom: 5px;
    a {
      border-bottom: none;
      display: block;
    }
  }

  .editableContent {
    margin: 2rem 0;
    
    a {
      border-bottom: 2px dotted;
      display: inline;
    }
    a:hover {
//      opacity: 0.9;
    }
    
    h2 {
      margin-top: 0;
    }
  }
  
  .buttonLinks li {
    margin-bottom: 5px;

    a {
      border-bottom: none;
      border-radius: 4px;
      display: block;
      font-family: "futura-pt", Arial, sans-serif;
      text-align: left;
      font-weight: 600;
      font-size: 1.6rem;
    }
    
    &:last-of-type {
      margin-bottom: unset;
    }
  }

  h2 {
    font-weight: 500;
    max-width: 100%;
    line-height: 1.4em;
  }

  hr {
    display: none;
  }

  h2+hr {
    display: block;
    width: 50px;
    height: 3px;
    border: none;
    background-color: currentColor;
    color: currentColor;
  }

  img {
    display: block;
  }

  .preheader {
    font-size: 1.4rem;
    font-family: $futura;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1rem;

    &+h2 {
      margin-top: initial;
    }
  }

  @include respond(tab-port) {
    h2 {
      max-width: 100%;
    }

    .buttonLinks li a {
      padding: 4%;
      margin-top: 2%;
    }
  }
}

// RED
.callout-box-widget--red {
  $bg: $cu-red;
  background-color: $bg;
  color: $white;

  .preheader {
    color: currentColor;
  }

  .editableContent {
    span {
      font-family: $arial;
      color: currentColor;
    }
  }

  .buttonLinks li {
    a {
      @include button-bg($cu-light-grey);
      color: $panther-black;
      font-size: 1.6rem;
      font-weight: 600;
      padding: .5rem 2rem;
    }
  }

  span,
  li,
  a {
    color: currentColor;
  }
}

// BLACK
.callout-box-widget--black {
  background-color: $panther-black;
  color: $white;

  .preheader {
    color: v(preheaderLight);
  }

  .editableContent {
    span {
      font-family: $arial;
      color: currentColor;
    }
  }
  
  .buttonLinks li {
    a {
      @include button-bg($cu-light-grey);
      background-color: $cu-light-grey;
      color: $panther-black;
      font-size: 1.6rem;
      font-weight: 600;
      padding: .5rem 2rem;
    }
  }

  span,
  li,
  a {
    color: $cu-red;
  }
}

// GREY
.callout-box-widget--grey {
  background-color: $cu-light-grey;
  color: $panther-black;

  .preheader {
    color: v(preheaderDark);
  }

  h2 {
    color: currentColor;
  }

  .editableContent {
    span {
      font-family: $arial;
      color: currentColor;
    }
  }

  span,
  li,
  a {
    color: currentColor;
  }
  
  .buttonLinks li {
    a {
      @include button-bg($cu-red);
      color: $white;
      background-color: $cu-red;
      font-size: 1.6rem;
      font-weight: 600;
      padding: .5rem 2rem;
    }
  }
}

// SAND
.callout-box-widget--sand {
  // sand is listed as #DDCBA4 at https://brand.chapman.edu/?page_id=4464 but appears to be #f6f2e8 in the design and elsewhere. We need secondary/tertiary naming schemes for this + a SASS mixin
  --sand: #f6f2e8;
  $bg: $sand;
  @include dc($bg);

  .preheader {
    color: v(preheaderDark);
  }

  h2 {
    color: currentColor;
  }

  .editableContent {
    span {
      font-family: $arial;
      color: currentColor;
    }
  }

  a {
    color: $cu-red;
  }
  
  .buttonLinks li {
    a {
      @include button-bg($cu-red);
      background-color: $cu-red;
      font-size: 1.6rem;
      font-weight: 600;
      padding: .5rem 2rem;
    }
  }
}

// WHITE
.callout-box-widget--white {
  $bg: $white;
  border: 1px solid $cu-light-grey-2;
  color: $panther-black;

  h2 {
    color: currentColor;
  }

  .editableContent {
    span {
      font-family: $arial;
      color: currentColor;
    }
  }


  a {
    color: $cu-red;
  }
  
  .buttonLinks li {
    a {
      @include button-bg($cu-red);
      color: $white;
      background-color: $cu-red;
      font-size: 1.6rem;
      font-weight: 600;
      padding: .5rem 2rem;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .rightColumn {
    .callout-box-widget {
      display: block;
      width: auto;
      img {
        margin: -1.5rem auto 0;
      }
    }
    .editableContent {
      display: block;
      padding-bottom: 2rem;
      width: auto;
    }
    
    .callout-box-widget--white {
      .editableContent {
        padding-bottom: 0;
      }
    }
  }
  
}