.callout {

  .editableContent,
  h2,
  .preheader {
    padding: 0 $base-spacing;
    margin: $base-spacing 0;

  }

  img {
    display: block;
  }
}

.preheader {
  font-size: 1rem;
  font-family: $futura;
  text-transform: uppercase;
}

// red
.red {
  background-color: $cu-red;
  color: $white;

  .editableContent span {
    font-family: $arial;
    color: $white;
  }

  .buttonLinks li a {
    background-color: $cu-light-grey;
    color: $panther-black;
    @include button-bg($cu-light-grey);
    text-align: center;

    &:after {
      content: none;
    }
  }

  span,
  li,
  a {
    color: $white;
  }

}

// end red