// ---------- Main Footer Styles ---------- //

.footer {
  background-color: v(panther-black);
  color: v(white);
  font-family: $futura-regular;
  font-size: 1.6rem;
  display: grid;
  justify-content: center;

  &>div {
    // margin-left: 50px;
    // margin-right: 50px;
  }

  li {
    list-style: none;

    a {
      color: v(white);
    }
  }


  &__inner {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 80vw;
    padding-top: 2%;
    padding-bottom: 2%;
    // justify-items: center;

    &>div {}
  }

  &__title {
    margin-top: 0;
    font-size: 1.6rem;
    text-transform: uppercase;
  }

  &__buttons {}


  &__faux-button {
    margin-bottom: 1em;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 3em;
    max-width: 230px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__addresses {
    display: grid;
  }

  &__logo {
    width: 150px;
    justify-self: start;

    path {

      fill: v(white);

    }
  }

}