// ---------- Main Footer Styles ---------- //
/* autoprefixer grid: autoplace */
.footer {
  background-color: $panther-black;
  color: $white;
  font-family: $futura-regular;
  font-size: 1.6rem;
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: center;
  padding: 25px 0 25px 0;
  flex-wrap: wrap;
  position: absolute;

  li {
    list-style: none;

    h2,
    a,
    li {
      color: $white;
    }

    a {

      &:focus,
      &:focus-within {
        outline: $white;
      }

      &:hover {
        @include underline($white);
      }
    }
  }

  ul.link-list li {
    a {

      &:focus,
      &:focus-within {

        outline: 2px dotted $white;
        outline-offset: 3px;
        color: $white;
      }
    }
  }

  &__inner {
    display: flex;
    width: 100%;
    width: 80%;
    justify-content: center;
    justify-items: center;
    padding-top: 2rem;

    &>div {
      width: 20%;
      flex-direction: column;
    }
  }

  &__title {
    margin-top: 0;
    font-size: 1.6rem;
    text-transform: uppercase;
  }

  &__faux-buttons {
    padding-top: .5rem;
  }

  &__faux-button {
    margin-bottom: 1em;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    max-width: 230px;
    display: block;
    text-align: center;
    width: 80%;
    padding-top: 1em;
    padding-bottom: 1em;
    cursor: pointer;
    color: $white;

    &:hover {
      background-color: lighten($panther-black, 20%);
      color: $white;
      border: 1px solid lighten($panther-black, 20%);
      transition: 250ms all;
      margin-bottom: 1em;
      border-radius: 3px;
      display: block;
      text-align: center;
      padding-top: 1em;
      padding-bottom: 1em;
      cursor: pointer;
      color: $white;
      -webkit-transition: 250ms all;
      -moz-transition: 250ms all;
      -ms-transition: 250ms all;
      -o-transition: 250ms all;
    }

    &:focus,
    &:focus-within {
      outline-color: $white;
      outline-offset: 3px;
      color: $white;
      border: 1px solid rgba(255, 255, 255, 0.25);
    }

    &:visited {
      color: $white;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .button--red {
    border: 1px solid $cu-red;
    max-height: 50px;
    display: grid;
    align-content: center;
    align-items: center;

    &:hover {
      background-color: transparentize($cu-red, .5);
      border: 1px solid transparentize($cu-red, .5);
      color: $white;
    }

    &:focus,
    &:focus-within {
      outline-color: $white;
      outline-offset: 3px;
      color: $white;
      border: 1px solid rgba(255, 255, 255, 0.25);

    }
  }

  &__address {
    line-height: 2.4rem;

    a,
    a:visited,
    a:hover {
      color: $white;
    }

    a:visited,
    a:hover {
      outline-color: white;
      @include underline($white);
    }

    a:focus,
    a:focus-within {
      outline-color: $white;
      outline-offset: 3px;
      color: $white;
    }

    &:nth-child(2) {
      margin-top: 2rem;
    }
  }

  &__row {
    width: 80%;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    display: grid;
    width: auto;
    margin-top: 5rem;

    a {
      &:focus {
        outline-color: $white;
      }

      &:visited {
        color: $white;
      }
    }

  }

  &__logo {
    width: 22.8rem;
    margin-bottom: .5rem;
    display: block;
    width: auto;
    max-width: 22rem;
    width: 100%;

    path {
      fill: $white;
    }
  }

  &__copyright-social {
    align-items: center;
    display: flex;
    font-family: $futura-regular;
    font-size: 1.6rem;
    margin-top: 2rem;

    .fab {
      font-size: 2rem;
      margin-left: .5rem;
      color: $white;
    }
  }

  &__social {
    margin-left: 2em;
  }
}

@include respond(tab-land) {
  .footer {
    &__inner {
      flex-wrap: wrap;
      width: 90%;
      justify-content: space-between;

      &>div:first-child {
        flex: 1 0 100% !important;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        padding: 25px 0 25px 0;
      }
    }

    &__row {
      width: 90%;
    }

    &__faux-buttons {
      flex: 1 0 100%;
      width: 100%;
      flex-direction: row;
      display: flex;
    }

    &__faux-button {
      justify-content: space-evenly;
      max-height: 50px;

      +.footer__faux-button {
        margin-left: 20px;
      }
    }
  }
}

@include respond(phone) {
  .footer {
    &__inner {
      flex-wrap: wrap;

      &>div:first-child {
        flex: 1 0 100% !important;
        width: 100%;
        flex-direction: column;
      }

      &>div+div {
        flex: 100%;
        margin-top: 20px;
      }
    }

    &__faux-buttons {
      flex: 1 0 100%;
      width: 100%;
      flex-direction: column;
      display: flex;
    }

    &__faux-button {
      justify-content: space-evenly;
      max-height: -webkit-max-content;
      max-height: -moz-max-content;
      max-height: max-content;
      width: 100%;
      max-width: 100%;

      +.footer__faux-button {
        margin-left: unset;
      }
    }

    &__logo {
      margin-bottom: .5rem;
    }

    &__copyright-social {
      display: -ms-grid;
      display: grid;
      margin-left: .5rem;
      justify-content: center;
      justify-items: center;

      .fab {
        margin-left: 0;
        margin-right: 1rem;
        font-size: 3.5rem;
        margin-right: 1.5rem;
      }
    }

    &__social {
      display: block;
      margin-left: 0;
      line-height: 5rem;
      padding-top: 1em;
    }

    .button--red {
      max-height: 50px;
    }
  }
}

// Microsoft ie 10 & 11
.ie {
  .footer {
    background-color: $panther-black;
    color: $white;
    font-family: $futura-regular;
    font-size: 1.6rem;
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    padding: 25px 0 25px 0;
    flex-wrap: wrap;

    &__logo {
      width: 300px;
    }

    &__row,
    &__logo,
    &__copyright-social {
      display: block;
      width: 100%;
      margin: auto;
      text-align: center;
    }

    @include respond(tab-land) {
      &__faux-button {
        +.footer__faux-button {
          margin-left: 0;
        }
      }
    }
  }
}


#back2top {
  position: fixed;
  font-size: 1.2em;
  right: 0;
  margin-right: 50px;
  bottom: 50px;
  z-index: 33;
  color: $white;

  .circle-bg {

    background-color: $cu-red;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: grid;
    justify-content: center;
    align-content: center;
    display: -ms-flexbox;
    align-items: center;
    -ms-flex-pack: center;

    &:hover {
      background-color: lighten($cu-red, 8%);
      transition: 300ms;
      -webkit-transition: 300ms;
      -moz-transition: 300ms;
      -ms-transition: 300ms;
      -o-transition: 300ms;
    }

  }

  span.fa.fa-chevron-up {
    color: $white;
  }
}



.ie {
  .footer {
    .button--red {
      display: block !important;
      text-align: center !important;
    }
  }
}