.goog-te-combo {
  position: relative;
}

.skiptranslate.goog-te-gadget {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
}

.goog-te-gadget .goog-te-combo {
  margin: 0;
}


#\:0\.targetLanguage {
  /* margin-bottom: -17px; */
  margin-bottom: 0;
}


.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
}