.leftNav {
  .callout-box-widget--left {
    margin-bottom: 30px;
  }

  .callout {
    --ml: 16px;
    --text-light: $white;
    --text-dark: $panther-black;
    --preheaderLight: $white;
    --preheaderDark: $grey;

    .contact-widget {
      a {
        text-decoration: underline;
      }
      .faux-h2 {     
        padding-bottom: 2rem;
        padding-top: 2rem;
      }
      ul.left-social-icons {
        background-color: transparent;
        list-style: none;
        margin: 0;
        padding: 0;
      }
      ul.left-social-icons li {
        display: inline-block;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.4rem;
        margin: 0;
      }
      ul.left-social-icons li .icon {
        fill: currentColor;
        font-size: 2.5rem;
        margin-right: 1rem;
        width: 1em;
      }
    }
    
    .editableContent { font-weight: 100; }
    .editableContent,
    h2,
    hr {
      padding: 0 $base-spacing;
      margin: $base-spacing 0;
    }

    h2 {
      font-weight: 500;
      max-width: 200px;
      line-height: 1.2em;
    }

    hr {
      width: 50px;
      margin-left: v(ml);
      height: 3px;
      border: none;
      background-color: currentColor;
      color: currentColor;
    }

    img {
      display: block;
    }

    @include respond(tab-port) {
      h2 {
        max-width: 100%;
      }

      hr {
        -webkit-transition: width 3s ease-in-out;
        -moz-transition: width 3s ease-in-out;
        -o-transition: width 3s ease-in-out;
        transition: width 3s ease-in-out;
        width: auto;
        margin-right: $base-spacing;
        -ms-transition: width 3s ease-in-out;
      }

      .buttonLinks li a {
        padding: 4%;
        margin-top: 2%;
      }
    }
  }

  // RED
  .contact--red {
    $bg: $cu-red;
    background-color: $bg;
    color: $white;

    a {
      color: $white;
    }
    a:hover,
    a:active,
    a:focus {
      color: #ccc;
      transition: all 0.3s ease;
    }
  }

  // BLACK
  .contact--black {
    background-color: $panther-black;
    color: $white;

    a {
      color: $white;
    }
    a:hover,
    a:active,
    a:focus {
      color: #ccc;
      transition: all 0.3s ease;
    }
  }

  // GREY
  .contact--grey {
    background-color: $cu-light-grey;
    color: $panther-black;

    a {
      color: $cu-red;
    }
    a:hover,
    a:active,
    a:focus {
      color: #ce0041;
      transition: all 0.3s ease;
    }
  }

  // SAND
  .contact--sand {
    // sand is listed as #DDCBA4 at https://brand.chapman.edu/?page_id = 4464 but appears to be #f6f2e8 in the design and elsewhere. We need secondary/tertiary naming schemes for this + a SASS mixin
    --sand: #f6f2e8;
    $bg: $sand;
    @include dc($bg);
    
    a {
      color: $cu-red;
    }
    a:hover,
    a:active,
    a:focus {
      color: #ce0041;
      transition: all 0.3s ease;
    }
  }

  // WHITE
  .contact--white {
    $bg: $white;
    border: 1px solid $cu-light-grey-2;
    color: $panther-black;

    a {
      color: $cu-red;
    }
    a:hover,
    a:active,
    a:focus {
      color: #ce0041;
      transition: all 0.3s ease;
    }
  }
}


