#left-column-navigation {
  overflow-y: hidden;
  display: none;

  &.left-nav-drilldown {
    position: relative;
    height: 100%;
    width: 100%;
    margin-bottom: 1.4rem;
    background-color: $white;
    border: 1px solid #CFCFCF;
    overflow-x: hidden;

    ul {
      list-style: none;
    }

    li {
      margin: unset;
      list-style: none;
      font-family: "futura-pt", arial, sans-serif;
      will-change: background-color;
    }

    @include drill-down-menu-style(100%);

    @include respond(small) {
      display: none !important;
    }
  }

  .sf-hidden {
    opacity: 0;
    animation-delay: 150ms;
    animation: fadein 150ms forwards;
    -moz-animation: fadein 150ms forwards;
    -webkit-animation: fadein 150ms forwards;
    -o-animation: fadein 150ms forwards;
    animation-direction: forwards;
    -webkit-animation: fadein 150ms forwards;
  }
}