.leftNav {
  .contact {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 2rem 2rem 0;
    
    a {
      text-decoration: underline;
    }
    .info-block {
      margin-bottom: 2rem;
      
      .info-header {
        font-weight: 600;
      }
    }
    ul.left-social-icons {
      background-color: transparent;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    ul.left-social-icons li {
      display: inline-block;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.4rem;
      margin: 0;
    }
    ul.left-social-icons li .icon {
      fill: currentColor;
      font-size: 2.5rem;
      margin-right: 1rem;
      width: 1em;
    }

    h2 {
      font-weight: 500;
      margin-top: 0;
      padding-bottom: 2rem;
    }
  }
  
  // RED
  .contact--red {
    $bg: $cu-red;
    background-color: $bg;
    color: $white;

    a {
      color: $white;
    }
    a:hover,
    a:active,
    a:focus {
      color: #ccc;
      transition: all 0.3s ease;
    }
  }

  // BLACK
  .contact--black {
    background-color: $panther-black;
    color: $white;

    a {
      color: $white;
    }
    a:hover,
    a:active,
    a:focus {
      color: #ccc;
      transition: all 0.3s ease;
    }
  }

  // GREY
  .contact--grey {
    background-color: $cu-light-grey;
    color: $panther-black;

    a {
      color: $cu-red;
    }
    a:hover,
    a:active,
    a:focus {
      color: #ce0041;
      transition: all 0.3s ease;
    }
  }

  // SAND
  .contact--sand {
    --sand: #f6f2e8;
    $bg: $sand;
    @include dc($bg);
  
    a {
      color: $cu-red;
    }
    a:hover,
    a:active,
    a:focus {
      color: #ce0041;
      transition: all 0.3s ease;
    }
  }

  // WHITE
  .contact--white {
    $bg: $white;
    border: 1px solid $cu-light-grey-2;
    color: $panther-black;

    a {
      color: $cu-red;
    }
    a:hover,
    a:active,
    a:focus {
      color: #ce0041;
      transition: all 0.3s ease;
    }
  }
}
