.news-events-widget {
    .newsEventsContent .col2 {
        .title>a {
            border-bottom: none;
            text-decoration: 2px dotted underline;
            font-weight: 400;
            line-height: 2.2rem;
            max-width: 100%;
            font-family: "futura-pt", Arial, sans-serif;
        }
    }
}