// Links for accessibility (screen readers, etc.)
.skip-link {
  background-color: $cu-red;
  box-shadow: 0.125em 0.125em 0.125em 0 rgba(0, 0, 0, 0.3);
  color: $white;
  height: 48px;
  left: -1000px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: -1000px;
  width: 1px;
  z-index: 910000;

  i {
    margin-left: 6px;
  }
}

a.skip-link:active,
a.skip-link:focus,
a.skip-link:hover {
  color: $white;
  left: 5px;
  top: 5px;
  outline: none;
  overflow: visible;
  width: auto;
  @include v(z-index, zIndexTopmost);
}