#social_follow_us {
  width: auto;
  height: 38px;
  position: relative;
  z-index: 999;
  float: right;
  margin-top: 5px;
  padding-left: 8px;

  ul {
    padding: 0;
    list-style: none; // Added by SH
    margin-top: -9px;
  }

  a {
    border-bottom: none;
  }

  .school-social-media-icons__follow {
    top: -3px;
    font-family: "futura-pt";
    font-size: 1.2em;
    font-weight: 600;
    color: $red;
    margin-right: 5px;
  }

  .inactive_state {
    background: none !important;
  }

  .hover_state {
    background: none !important;
  }

  li.fab {
    font-size: 1.8em;
  }

  li {
    width: auto;
    position: relative;
    border: none;

    a {
      display: block;
      height: 25px;
      z-index: 1000;
      position: absolute;
      border-bottom: 0;
    }

    span.hide {
      display: none;
    }

    &.first {
      margin-left: 7px !important;
    }

    &.first-last {
      margin-left: 7px !important;
      margin-right: 0 !important;
    }

    &.last {
      margin: 0 0 0 -1px !important;
    }
  }

  .blog.fas.fa-rss-square {
    font-size: 2.8rem;
  }
}