@import "base/base.scss";

// Base widget class for shared BEM components such as --red background modifier. Non-global widget modifications should be made on a new class in the widget's respective file, such as .contact-profile-widget__text in contact-profile-widget.scss
[class*='-widget'] {

  [class*='__phone-number'],
  [class*='__email'] {
    a {
      text-decoration: underline;
    }
  }

  [class*='__heading'] {
    justify-self: center;
  }

  [class*='__buttons'] {
    display: block;
    justify-self: center;
  }

  [class*='__button'] {
    @include button-bg($cu-red);
    border: none;
    text-decoration: none;
  }

  &[class*='--left-aligned'] {
    display: grid;
    justify-content: flex-start;
    align-content: flex-start;
    margin-top: $wmtop;

    [class*='__heading'],
    [class*='__img'],
    [class*='__text'],
    [class*='__name'],
    [class*='__dept'],
    [class*='__email'],
    [class*='__phone-number'],
    [class*='__buttons'] {
      justify-self: flex-start;
      text-align: left;
      margin-top: 0;
      max-width: unset;
      display: grid;
      padding-left: 0;
    }

    [class*='__buttons'] {
      padding-top: unset;
    }

    [class*='__button'] {
      @include button-bg($cu-red);
      justify-self: flex-start;
    }
  }

  &[class*='--black'] {
    background-color: $panther-black;
    color: $white;

    [class*='__heading'],
    a {
      color: $white;
    }
  }

  &[class*='--white'] {
    background-color: $white;
    border: 1px solid $cu-light-grey;
    color: $panther-black;

    [class*='__heading'] {
      color: $panther-black;
    }

  }

  &[class*='--sand'] {
    background-color: $sand;

    [class*='__heading'] {
      color: $panther-black;
    }
  }

  &[class*='--red'] {
    background-color: $red;
    color: $white;

    ::selection,
    ::-moz-selection {
      background: $panther-black;
    }


    [class*='__heading'],
    a {
      color: $white;
    }

    &[class*='__buttons'] {
      color: $panther-black;

      [class*='__button'] {
        background: $cu-light-grey;
        color: $panther-black;

        &:hover {
          background: $white;
          transition: all 0.3s ease;
        }
      }
    }

  }

  &[class*='--grey'] {
    background-color: $cu-light-grey;

    [class*='__heading'] {
      color: $panther-black;
    }

    a {
      color: $cu-red;
    }

  }
}