@import "base/base.scss";
// Base widget class for shared BEM components such as --red background modifier. Non-global widget modifications should be made on a new class in the widget's respective file, such as .contact-profile-widget__text in contact-profile-widget.scss

[class*='-widget'] {
  $defaultPadding: 32px;
  display: grid;
  justify-content: center;
  align-content: center;

  a {
    text-decoration: underline;
  }

  [class*='__heading'] {
    justify-self: center;
    color: $cu-red;
    margin-top: 0;
    padding-top: $defaultPadding;
    margin-bottom: .5rem;
  }

  [class*='__text'] {
    padding-left: $defaultPadding;

    padding-right: $defaultPadding;

    padding-top: 0;

    padding-bottom: 5px;
  }

  [class*='__buttons'] {
    display: block;
    justify-self: center;
    padding-top: $defaultPadding;
    padding-bottom: $defaultPadding;
  }

  [class*='__button'] {
    @include button-bg($cu-red);
    border: none;
  }


  &[class*='--left-aligned'] {
    $defaultPadding: 32px;
    display: grid;
    justify-content: flex-start;
    align-content: flex-start;

    margin-top: $wmtop;

    [class*='__heading'] {
      justify-self: flex-start;
      color: $cu-red;
      margin-top: 0;
      padding-top: $defaultPadding;
      padding-left: $defaultPadding;

      &~[class*='__text'] {
        // padding-top: 2.$defaultPadding;
        max-width: unset;
        justify-self: flex-start;
        padding-left: $defaultPadding;

        &~[class*='__buttons'] {
          padding-top: unset;
        }
      }

      &~[class*='__buttons'] {
        padding-left: $defaultPadding;
        padding-top: $defaultPadding;
        padding-bottom: $defaultPadding;

      }
    }

    &[class*='__text'] {
      padding-left: $defaultPadding;
      padding-right: $defaultPadding;
    }

    &[class*='__buttons'] {
      display: block;
      justify-self: flex-start;
      padding-top: $defaultPadding;
      padding-bottom: $defaultPadding;
    }

    &[class*='__button'] {
      @include button-bg($cu-red);
    }
  }

  &[class*='--black'] {
    background-color: $panther-black;
    color: $white;

    [class*='__heading'] {
      color: $white;
    }
  }

  &[class*='--white'] {
    background-color: $white;
    border: 1px solid $cu-light-grey;
    color: $panther-black;

    [class*='__heading'] {
      color: $panther-black;
    }

  }

  &[class*='--sand'] {
    background-color: $sand;
  }

  &[class*='--red'] {
    background-color: $red;
    color: $white;

    [class*='__heading'],
    a {
      color: $white;
    }

    &[class*='__buttons'] {
      color: $panther-black;

      [class*='__button'] {
        background: $cu-light-grey;
        color: $panther-black;

        &:hover {
          background: $white;
          transition: all 0.3s ease;
        }
      }
    }

  }

  &[class*='--grey'] {
    background-color: $cu-light-grey;

    &[class*='__heading'] {
      color: $panther-black;
    }
  }
}