<%# TODO: This is static right now. Update to mimic format script in Cascade:
  # /_cascade/formats/modular/mastheads/side_panel_hero
  #%>
<div class="side-panel-hero">
  <div class="hero-content">
    <section aria-labelledby="herocontentpanel"  class="hero-content-panel">
      <h1 id="herocontentpanel">Dodge College of Film and Media Arts</h1>
      <h2>Preparing students for a creative life in fiml and media arts.</h2>
      <p>
        Welcome to Dodge College of film and Media arts, a state-of-the-art facility open to you 24/7, acomplished faculty with a combined filmography of more than 300 feature films, a hands-on learning environment, international travel oportunities, one-of-a-kind internships, a solid alumni network and synergy across all programs.
        Welcome to Dodge College of film and Media arts, a state-of-the-art facility open to you 24/7, acomplished faculty with a combined filmography of more than 300 feature films, a hands-on learning environment, international travel oportunities, one-of-a-kind internships, a solid alumni network and synergy across all programs.
      </p>


      <nav class="calls-to-action">
        <a href="#" class="theme-bg-color theme-button">Visit Dodge</a>
        <a href="#" class="theme-bg-color theme-button">Admission Information</a>
      </nav>

      <nav id="program-select-links" class="program-select">
        <span class="select-arrow theme-border-color"></span>

        <button class="hero-select-button theme-border-color">Sample Text</button>
        <ul class="hero-select-list">
          <li>
            <a href="http://www.google.com">Programs and Majors</a>
          </li>
          <li><a href="http://www.google.com">Film Production</a></li>
        </ul>
      </nav>
    </section>
  </div>

  <div class="cd-hero">
    <div class="cd-arrow-left"><a href="#">&lsaquo;</a></div>
    <div class="cd-arrow-right"><a href="#">&rsaquo;</a></div>
    <div class="cd-slider-nav">
      <nav>
        <span class="cd-marker item-1"></span>
        <ul>
          <li class="selected"><a href="#0">1</a></li>
          <li><a href="#0">2</a></li>
          <li><a href="#0">3</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>