<div class="subbrand-masthead-wrapper">
  <div class="brochure-masthead">
    <div class="foreground-content">
      <div class="headline-container">
        <div class="faux-h2 headline secondary subhead">Test Subhead</div>  
        <div class="faux-h1 headline primary title">Subbrand Page Masthead</div>
      </div>
      <button class="theme-button">
        <a href="#">Learn More</a>
      </button>
      <button class="theme-button">
        <a href="#">Apply</a>
      </button>
      <div class="dropdown">
        <div onclick="dropdownToggle()" class="dropdown-inner theme-border-color">Degrees & Programs <span class="select-arrow"></span></div>
        <div id="mastheadDropdown" class="dropdown-content">
          <li> <a href="#home"> <span class="link-underline"> Argyros </span></a></li>
          <li><a href="#home"> <span class="link-underline"> Alumns </span></a></li>
          <li> <a href="#home"> <span class="link-underline"> Schools & Colleges </span></a></li>
        </div>
      </div>
                      
    </div>
    <div class="slider-controls">
      <div class="control left cd-arrow-left" style="display: none;"><a href="#">‹</a></div>
      <div class="control right cd-arrow-right" style="display: none;"><a href="#">›</a></div>
    </div>
    <div class="background-content">
      <div class="slider-wrapper">
        <ul class="cd-hero-slider autoplay">
          <li class="selected">
            <div class="background-video-wrapper">
              <video id="background-video" class="background-video" muted="muted" aria-label="Welcome to Chapman montage" autoplay="true" loop="true" poster="http://www.chapman.edu/_files/img/hero-panels/fallback-images/welcome-2015.jpg">
                <source src="http://www.chapman.edu/_files/img/hero-panels/html5-videos/welcome-2016.mp4" type="video/mp4" />
              </video>
            </div>
          </li>
          <li>
            <div class="background-image" role="img" aria-label="Memorial Lawn" style="background-image: url(<%= image_url 'placeholder/chapman.jpg' %>)"></div>
          </li>
          <li>
            <div class="background-image" role="img" aria-label="Musco Center" style="background-image: url(<%= image_url 'placeholder/musco.jpg' %>)"></div>
          </li>
        </ul>
      </div>
      <div class="gradient-overlay"></div>
    </div>
  </div>
</div>

