<div class="masthead">
  


<!-- velocity code -->
<!-- 
<div class="masthead">
#foreach($slide in $slides)
  #outputSlide($slide)
#end
 -->

<!-- actual cascade html output -->
<div class="image-wrapper">
  <div aria-label="alt text" class="placeholder-image background-content" role="img">
  </div>
  
  <div class="foreground-content">
    <h2 class="subhead"> Chapman University </h2>
    <h1 class="title"> Argyros School of Business &amp; Economics </h1>
    <a class="theme-bg-color theme-button" href="#">Explore  </a>
    <a class="theme-bg-color theme-button" href="#">Apply Now</a>
    <div class="dropdown">
      <div class="dropbtn">Degrees and Programs <span class="select-arrow"></span></div>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
  </div>
</div>
</div>