<div class="subbrand-masthead">
  <div class="foreground-content">
    <div class="headline-container">
      <h1 class="headline secondary subhead">Chapman University</h1>
      <h1 class="headline primary title">The Graduate School of Education</h1>
    </div>
    <div class="buttons">
      <a href="#" class="theme-bg-color theme-button">Graduate Home  </a>
      <a href="#" class="theme-bg-color theme-button">Undergraduate Home</a>
      <div class="dropdown">
        <div class="dropbtn">Degrees & Programs <span class="select-arrow"></span></div>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
      <div class="offcanvas-menu-trigger">
        <!-- <a href="#">View Menu</a> -->
      </div>
    </div>
  </div>
  <!-- <div class="slider-controls">
    <div class="control left cd-arrow-left"><a href="#">&#139;</a></div>
    <div class="control right cd-arrow-right"><a href="#">&#155;</a></div>
  </div> -->
  <div class="background-content">
    <div class="slider-wrapper">
      <ul class="cd-hero-slider autoplay">
        <li class="selected">    <div class="gradient-overlay-subbrand"></div>
        <div aria-label="business grad" class="background-image" role="img" style="background-image: url('business-graduate.jpg'); background-position: center center;">
        </div>
      </li>
    </ul>
  </div>
</div>
</div>