.career-block-widget {
  display: grid;
  height: auto;
  justify-content: start;
  grid-template-rows: 300px;
  @include qbal-slideUp-enter;

  &--hidden {
    // display: none;

    // visibility: hidden;
    // top: -99999px;
    // position: absolute;
    // left: -99999px;
    .career-block-widget {
      &__text {
        opacity: 0;
      }
    }
  }

  &__text {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    max-height: 300px;
    margin: 10px 30px 10px 30px;
    font-family: $futura-regular;
    font-size: 1.8rem;
    opacity: 0;
    animation-delay: 300ms;
    animation: fadein 3s forwards;
    -moz-animation: fadein 3s forwards;
    -webkit-animation: fadein 3s forwards;
    -o-animation: fadein 3s forwards;
    animation-direction: forwards;
    -webkit-animation: fadein 3s forwards;

  }

  &__title {
    font-weight: 400;
    max-width: 200px;
    margin-bottom: 2rem;
    opacity: 0;

    animation-delay: 1s;
    animation: fadein 3s forwards;
    -moz-animation: fadein 3s forwards;
    -webkit-animation: fadein 3s forwards;
    -o-animation: fadein 3s forwards;
    animation-direction: forwards;
    -webkit-animation: fadein 3s forwards;
  }


  &__body {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    opacity: 0;
    animation-delay: 3s;
    animation: fadein 3s forwards;
    -moz-animation: fadein 3s forwards;
    -webkit-animation: fadein 3s forwards;
    -o-animation: fadein 3s forwards;
    animation-direction: forwards;
    -webkit-animation: fadein 3s forwards;
    width: 324px; //unfortunately needed for accurate line clamp

    &--remove-ellipsis {
      -webkit-line-clamp: 25;
      overflow-y: auto;

      &:after {
        content: '';
        @include qbal-shrinkSubtle-exit;
        // display: none;
      }
    }

    &:after {
      content: 'scroll';
      position: absolute;

      &:after {
        @include qbal-slideUp-enter;

      }
    }

    &:hover {
      -webkit-line-clamp: 25;
      overflow-y: auto;
    }




    [data-tooltip]:before {
      position: absolute;
      bottom: 150%;
      left: 50%;
      margin-bottom: 5px;
      margin-left: -80px;
      padding: 7px;
      width: 160px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background-color: #000;
      background-color: hsla(0, 0%, 20%, 0.9);
      color: #fff;
      content: attr(data-tooltip);
      text-align: center;
      font-size: 14px;
      line-height: 1.2;
    }

    /* Triangle hack to make tooltip look like a speech bubble */
    [data-tooltip]:after {
      position: absolute;
      bottom: 150%;
      left: 50%;
      margin-left: -5px;
      width: 0;
      border-top: 5px solid #000;
      border-top: 5px solid hsla(0, 0%, 20%, 0.9);
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      content: " ";
      font-size: 0;
      line-height: 0;
    }

    /* Show tooltip content on hover */
    [data-tooltip]:hover:before,
    [data-tooltip]:hover:after {
      visibility: visible;
      // -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      // filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
    }

  }

  &__salary {
    margin-bottom: 2rem;
    font-size: 2rem;
    opacity: 0;
    animation-delay: 5s;
    animation: fadein 3s forwards;
    -moz-animation: fadein 3s forwards;
    -webkit-animation: fadein 3s forwards;
    -o-animation: fadein 3s forwards;
    animation-direction: forwards;
    -webkit-animation: fadein 3s forwards;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 35px;
    min-height: 300px;

    @for $i from 1 through 20 {
      :nth-child(#{$i}) {
        animation-delay: #{$i * .05s};
      }
    }


    &--3-or-more-items {
      // prevents unsightly jump from display:none, while retaining animation
      min-height: 650px;

      .career-block-widget {
        max-height: 300px;
      }
    }

    +[class*="-widget"] {
      margin: 20px 0 20px 0;
    }
  }

  @include respond(tab-port) {
    @include qbal-drop-enter;
    animation-delay: -1s;
    height: auto;

    &__container {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .fadeInUp {
    // @include qbal-fade-enter;
    // @include qbal-slideLeft-enter;
    // @include qbal-grow-enter;
    // @include qbal-slideDown-enter;

  }

  .staggerChildren {
    @for $i from 1 through 3 {
      :nth-child(#{$i}) {
        animation-delay: #{$i * .13s};
      }
    }
  }


  @keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @-moz-keyframes fadein {

    /* Firefox */
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadein {

    /* Safari and Chrome */
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @-o-keyframes fadein {

    /* Opera */
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}