.leftNavSubContent {
  >.contact-profile-widget {
    margin-top: 0;
  }
}

.contact-profile-widget {
  text-align: center;
  @include v(margin-top, medium-space);
  @include v(margin-bottom, medium-space);
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  justify-content: center;
  align-content: center;

  a {
    padding-top: 0;
  }

  .contact-profile-widget {
    &__img {
      --imgSize: 180px;
      margin-top: 15px;
      margin-bottom: 10px;
      max-width: 200px;
      -ms-grid-column-align: center;
      justify-self: center;
    }

    &__heading {
      padding-top: 32px;
      font-size: 2.8rem;
      font-weight: 500;
      max-width: 70%;
      -ms-grid-column-align: center;
      justify-self: center;
      margin-top: 0;
      margin-bottom: .5rem;

      ~.contact-profile-widget {
        &__name {
          margin-top: 15px;
        }

        &__email {
          padding-bottom: 20px;
        }

        &__dept {
          margin-bottom: 15px;
        }
      }
    }

    &__name {
      font-weight: 600;
    }

    &__name,
    &__dept,
    &__subheading,
    &__phone-number {
      font-size: 1.6rem;
      padding-bottom: 2px;
      padding-left: 20px;
      padding-right: 20px;
    }

    &__email {
      @include v(margin-bottom, medium-space);
      padding-bottom: 30px;
    }
  }
}

@media all and (-ms-high-contrast: none) {
  .contact-profile-widget {
    display: block;
    padding-top: 25px;
    margin-bottom: 25px;
  }

  .contact-profile-widget {
    &__img {
      display: inline;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }

    &__heading {
      display: inline;
    }
  }

  [data-object-fit='cover'] {
    object-fit: cover
  }

  [data-object-fit='contain'] {
    object-fit: contain
  }

  .ie__fallback--object-fit {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
  }
}
