.personnel-listing-widget {
  padding: $primary-column-widget-spacing 0;

  .sectionHeader {
    margin-top: 0;
    padding-top: 0;
  }

  .person {
    &:first-child {
      border-top: none;
    }

    position: relative;
    border-bottom: 1px solid v(cu-light-grey);
    padding: $base-spacing*1 0;
    padding-left: 145px;
    height: auto;
    min-height: 200px;
  }

  .title,
  .location,
  .phone,
  .email .schools {
    @include paragraph;
    margin-bottom: 0;
  }

  .schools {
    margin-top: 16px;
  }

  .image {
    position: absolute;
    top: $base-spacing*1;
    left: 0;
    background: #ffffff;
  }

  .name,
  h2.name,
  h3.name {
    margin-top: 0;
    margin-bottom: 5px;
    padding-top: 0;
  }

  .bio,
  .bio-url {
    @include paragraph;
    margin-top: $base-spacing;

    &:last-child {
      margin-bottom: 0;
    }
  }
}