.quick-fact-blocks-widget {
  display: -ms-grid;
  display: grid;
  height: auto;
  align-content: center;
  -webkit-box-pack: center;
  justify-content: center;
  max-height: 60px;

  @include qbal-drop-enter;

  &__text {
    font-weight: bold;
    max-width: 150px;

    .fas,
    [class*="-fa"] {
      margin-right: 4px;
    }
  }

  &__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr [4];
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 60px;
    grid-gap: 20px;

    @for $i from 1 through 4 {
      :nth-child(#{$i}) {
        -webkit-animation-delay: #{$i * 0.03s};
        animation-delay: #{$i * 0.03s};
      }
    }

    + [class*="-widget"] {
      margin: 20px 0 20px 0;
    }
  }

  @include respond(tab-land) {
    &__container {
      -ms-grid-columns: 1fr [2];
      grid-template-columns: repeat(2, 1fr);
    }
  }


  @include respond(phone) {
    &__container {
      -ms-grid-columns: 1fr [1];
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media all and (-ms-high-contrast: none) {
  .quick-fact-blocks-widget {
    margin-right: 12px;
    padding: 2%;

    &__container {
      display: -webkit-box;
      display: flex;
    }
  }
}