.testimonial-widget {
  @mixin button-bg($bg) {
    --padding: 15px;
    background-color: $bg;
    border-radius: 4px;
    font-size: 1.8rem;
    font-family: $futura-regular;
    font-weight: 400;
    padding-top: 12px;
    padding-bottom: 15px;

    &:hover {
      background-color: lighten($bg, 8%);
      transition: all 0.3s ease;
    }

    &:active {
      background-color: lighten($bg, 25%);
      @include dc($bg);
    }
  }

  $marginTop: 12px;
  height: max-content;
  display: grid;
  display: -ms-grid;
  align-content: center;

  .slick-slider {
    display: grid !important
  }

  .faux-h2 {
    margin-top: 0;
    font-size: 2.8rem;
    font-family: $futura-regular;
    font-weight: 400;
    @include qbal-fade-enter;
    animation-duration: 300ms;
  }

  &__department-title {
    margin-top: 3px;
    font-size: 1.6rem;
    font-family: $futura-regular;
  }

  &__text {
    display: grid;
    align-content: center;
    grid-gap: 8px;
    display: block;
    align-content: center;
    opacity: 0;
    animation: fadein 1s forwards;
    -moz-animation: fadein 1s forwards;
    -webkit-animation: fadein 1s forwards;
    -o-animation: fadein 1s forwards;
    animation-direction: forwards;
    -webkit-animation: fadein 1s forwards;
  }

  .text--link,
  &__button,
  &[class*="__button"] {
    $font-size: 1.2rem;
    font-family: $futura-regular;
    font-size: 1.8rem;
  }

  &__body {
    margin-right: 60px;
    font-family: $futura-regular;
    font-size: 1.6rem;
    align-content: start;
    display: grid;
    display: -ms-grid;
    -ms-grid-column: 2;
  }

  &__cta {
    opacity: 0;
    animation: fadein 1s forwards;
    -moz-animation: fadein 1s forwards;
    -webkit-animation: fadein 1s forwards;
    -o-animation: fadein 1s forwards;
    animation-direction: forwards;
    -webkit-animation: fadein 1s forwards;
  }

  &__row {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 200px 1fr;
    -ms-grid-columns: 200px 1fr;
    grid-template-rows: 1fr;
    -ms-grid-rows: 1fr;
  }

  &__img {
    width: 100%;
    display: grid;
    -ms-grid-column: 1;
    display: -ms-grid;
    align-content: center;
    height: 304px;
    opacity: 0;
    animation: fadein 1s forwards;
    -moz-animation: fadein 1s forwards;
    -webkit-animation: fadein 1s forwards;
    -o-animation: fadein 1s forwards;
    animation-direction: forwards;
    -webkit-animation: fadein 1s forwards;

    &--square img {
      border-radius: 0;
    }

    img {
      height: 140px;
      width: 140px;
      border-radius: 50%;
    }
  }

  +[class*="-widget"] {
    margin: 25px 0 25px 0;
  }

  .slick-prev,
  .slick-next {
    width: 2.5rem;
    height: 2.5rem;
    z-index: 2;
    opacity: 1;
    height: 43px;
    width: 43px;
    display: grid;
    align-content: center;
    border-radius: 50%;
    will-change: box-shadow;

    &:before {
      color: rgba(255, 255, 255, 0.9);
      font-size: 2.5rem;
      background-color: $cu-red;
      background-color: var(--cu-red);
      border-radius: 50%;
      display: block;
      height: 43px;
      width: 43px;
      display: grid;
      align-content: center;
      box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.4);
      opacity: 1;
      @include ripple($red-hover, $red-active);
    }

    &:hover,
    &:focus,
    &:focus-within {

      &::before,
      &::before {
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.6);
        transition: 150ms ease-out;
        background-color: $red-hover;
        background-color: var(--red-hover);
      }
    }

    &:focus,
    &:focus-within {
      outline: 2px dotted var(--cu-red);
    }

    &:active {

      &::before,
      &::before {
        background-color: $red-active;
        background-color: var(--red-active);
      }
    }
  }

  .slick-list {
    width: 95%;
    margin: 0 auto;
  }

  .slick-prev::before {
    content: "\f053";
    font-family: "Font Awesome 5 Pro";
    font-weight: normal;
    font-size: 1.4rem;
  }

  .slick-next::before {
    content: "\f054";
    font-family: "Font Awesome 5 Pro";
    font-weight: normal;
    font-size: 1.4rem;
  }

  button[aria-disabled="true"] {
    visibility: hidden;
  }

  button[aria-disabled="false"] {
    @include qbal-fade-enter;
  }

  .ripple {
    @include ripple($red-hover, $red-active);
  }

  &--grey {
    .testimonial-widget {
      &__department-title {
        color: $grey2;
      }
    }

    .slick-prev,
    .slick-next {
      &:before {
        background: $white;
        color: $grey2-hover;
      }

      &:hover,
      &:focus,
      &:focus-within {
        &::before {
          background: $white;
        }
      }

      &:focus,
      &:focus-within {
        outline: 2px dotted var(--cu-red);
      }

      &:active {

        &::before,
        &::before {
          background: $white-hover;
        }
      }
    }
  }

  &--white {
    .testimonial-widget {
      &__department-title {
        color: $grey2;
      }
    }
  }

  &--red,
  &--black {

    .slick-prev,
    .slick-next {
      &:before {
        background: $white;
        color: $grey2-hover;
      }

      &:hover,
      &:focus,
      &:focus-within {
        &::before {
          background: $white;
        }
      }

      &:focus,
      &:focus-within {
        outline: 2px dotted var(--cu-red);
      }

      &:active {

        &::before,
        &::before {
          background: $white-hover;
        }
      }
    }
  }

  &--white,
  &--sand {
    .slick-next:hover::before {
      box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.4);
    }
  }

  &--sand {
    .testimonial-widget {
      &__department-title {
        color: $grey2;
      }
    }
  }

  .slick-dots li button::before {
    font-size: 4rem;
    top: 5px;
  }

  .slick-dots li button {
    width: 10px;

    &:focus,
    &:focus-within {
      border: 2px dotted $cu-red;
    }
  }

  &__slick-dots--margin-bottom {
    margin-bottom: 50px !important;
  }

  .slick-slide img {
    object-fit: cover;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    * {
      opacity: 1;
      visibility: visible;
    }
  }
}

@include respond(tab-land) {
  .testimonial-widget__cta {
    position: relative;
    height: min-content;
    min-height: 48px;
    padding-top: 4px;
  }
}

@include respond(tab-port) {
  .testimonial-widget {
    display: block;
    text-align: center;

    .slick__display-prop {
      display: block;

      .button.testimonial-widget__button {
        margin-top: unset;

        &:first-of-type {
          margin-top: 10px;
        }
      }
    }

    .testimonial-widget__buttons {
      -webkit-box-pack: center;
      justify-content: center;
    }

    .testimonial-widget__slide {
      padding-top: 2rem;
      display: block;
      padding-left: unset;
    }

    .testimonial-widget__img {
      display: inline-block;
      text-align: center;
      margin-right: 0;
      margin-bottom: 12px;
    }

    .testimonial-widget__text {
      min-width: unset;
    }

    .testimonial-widget__buttons {
      margin-top: 2rem !important;
      margin-bottom: 2rem;
    }

    .testimonial-widget__body {
      padding-top: 0;
      padding-left: 12px;
      padding-right: 12px;
      padding-bottom: 0;
    }
  }

  .testimonial-widget__row {
    display: block;
  }

  .testimonial-widget__img {
    margin: 0;
  }

  .testimonial-widget__img {
    height: auto;
  }

  .testimonial-widget__body {
    margin-right: unset;
  }

  .testimonial-widget__text {
    margin-top: unset;
  }

  .testimonial-widget__cta {
    position: relative;
    bottom: 0;
    padding-left: 12px;
    padding-right: 12px;

    &--button {
      margin-bottom: 12px;
    }
  }
}

@include respond(phone) {}

.three-column-template {
  .testimonial-widget {
    --imgSize: 150px;
    display: grid;
  }

  .testimonial-widget__text {}

  .testimonial-widget__text {
    display: grid;
    align-content: center;
    margin: 0;
    width: 100%;
  }

  .testimonial-widget__text {
    align-content: start;
    margin-top: 20px;
  }

  .testimonial-widget__body {
    margin-right: 0;
  }

  .testimonial-widget__cta {
    bottom: 0;
  }

  @include respond(tab-port) {
    .testimonial-widget {}
  }

  @include respond(phone) {
    .testimonial-widget {
      .testimonial-widget__text {
        height: auto;
      }

      .testimonial-widget__cta {
        // bottom: 30px;
      }
    }
  }
}

// ie11 specific
.ie {
  .testimonial-widget {
    height: 304px;
    display: flex;
    align-items: center;
  }

  .testimonial-widget__body {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .testimonial-widget__row {
    display: flex;
    align-items: center;
  }

  .testimonial-widget__text {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;
  }

  .testimonial-widget__img {
    display: flex;
    display: -ms-flexbox;
    height: auto;
    width: 180px;
    margin-top: unset;
    align-content: center;
    -ms-grid-column: 1;
  }

  .testimonial-widget .slick-prev::before,
  .testimonial-widget .slick-next::before {
    display: block;
    position: absolute;
    padding-top: 15px;
  }

  .three-column-template {
    .testimonial-widget__cta {
      bottom: auto;
      margin-top: 10px;
    }

    .testimonial-widget__img {
      width: 120px;
    }

    .testimonial-widget__slide {
      width: 100%;
      padding-top: 0px;
    }

    .testimonial-widget__text {
      max-width: 330px;
      margin-top: 20px;
    }
  }
}


html body .button.testimonial-widget__button {
  font-size: 1.8rem;
}

.testimonial-widget {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
}

.testimonial-widget.slick-initialized {
  visibility: visible;
  opacity: 1;
}

.testimonial-widget {
  height: max-content;
}

// refactor
.testimonial-widget__text {
  display: grid;
  align-content: space-evenly;
  height: max-content;
}

.testimonial-widget__cta--button {
  position: static;
}

.testimonial-widget__text {
  /* height: max-content; */
  height: 100%;
  align-content: space-evenly;
}

.testimonial-widget__body {
  margin: 0;
}


.testimonial-widget__text {
  align-content: space-evenly;
  height: min-content;
  align-self: center;
}

.testimonial-widget__col-2 {
  align-content: center;
  display: grid;
}




h1+.testimonial-widget {
  margin-top: 20px;
}