.testimonial-widget {
  $marginTop: 12px;
  height: 304px;
  display: grid;
  align-content: center;

  .slick-slider {
    display: grid !important;
  }

  .faux-h2 {
    margin-top: 0;
    font-size: 2.8rem;
    font-family: $futura-regular;
    font-weight: 400;
  }

  &__department-title {
    margin-top: 3px;
    font-size: 1.6rem;
    font-family: $futura-regular;
  }

  &__text {
    display: block;
    align-content: center;
    margin-top: 55px;
  }

  &__body {
    margin-top: $marginTop;
    margin-right: 60px;
    font-family: $futura-regular;
    font-size: 1.6rem;
  }

  &__cta {
    margin-top: $marginTop;
  }

  &__row {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  &__img {
    width: 100%;
    display: grid;
    align-content: center;
    height: 304px;

    img {
      height: 140px;
      width: 140px;
      border-radius: 50%;
    }
  }

  +[class*="-widget"] {
    margin: 20px 0 20px 0;
  }

  .slick-prev,
  .slick-next {
    width: 2.5rem;
    height: 2.5rem;
    z-index: 2;
    opacity: 1;
    height: 43px;
    width: 43px;
    display: grid;
    align-content: center;
    border-radius: 50%;



    &:before {
      color: rgba(255, 255, 255, 0.9);
      font-size: 2.5rem;
      background-color: $cu-red;
      background-color: var(--cu-red);
      border-radius: 50%;
      display: block;
      height: 43px;
      width: 43px;
      display: grid;
      align-content: center;
      box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.4);
      opacity: 1;
      @include ripple($red-hover, $red-active);
    }


    &:hover,
    &:focus,
    &:focus-within {

      &::before,
      &::before {
        // @include ripple($red-hover, $red-active);

        background-color: $red-hover;
        background-color: var(--red-hover);

      }
    }

    &:focus,
    &:focus-within {
      outline: 2px dotted var(--cu-red);
    }

    &:active {

      &::before,
      &::before {

        background-color: $red-active;
        background-color: var(--red-active);

      }
    }
  }

  .slick-list {
    width: 95%;
    margin: 0 auto;
  }

  .slick-prev::before {
    content: "\f053";
    font-family: "Font Awesome 5 Pro";
    font-weight: normal;
    font-size: 1.4rem;
  }

  .slick-next::before {
    content: "\f054";
    font-family: "Font Awesome 5 Pro";
    font-weight: normal;
    font-size: 1.4rem;
  }

  button[aria-disabled="true"] {
    visibility: hidden;
  }

  .ripple {
    @include ripple($red-hover, $red-active);

  }

}