html {
  body {
    .text-with-cta-widget {
      .text-with-cta {
        &__text-container {
          @include respond(phone) {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat(3, auto);
            grid-auto-rows: 0;
            grid-auto-columns: 0;
          }
        }

        &__title {
          @include respond(phone) {
            grid-row: 1 / span 1;
            margin: 1rem 0;
          }
        }

        &__text {
          @include respond(phone) {
            grid-row: 2 / span 1;
          }
        }

        &__buttons {
          float: right;
          flex-direction: column;
          display: flex;
          width: 25%;
          margin: 0 0 0 2rem;

          @include respond(tab-land) {
            max-height: 13rem;
          }

          @include respond(phone) {
            float: none;
            grid-row: 3 / span 1;
            margin: 0;
            width: 100%;
          }
        }

        &__button {
          border: 1px solid $bg-silver-gray;
          height: 4rem;
          border-radius: 5px;
          font-family: $futura;
          margin: 0 0 .5rem 0;

          a {
            border-bottom: none;
            font-weight: bold;
            color: $panther-black;
          }

          &.color--red {
            border: none;

            a {
              color: white;
            }
          }
        }
      }
    }
  }
}