.program-events__container {

  .program-event {
    display: flex;
    margin: 2rem 0;
    min-height: 6rem;
    align-items: center;
    border-bottom: none;  
    background-color: $sand;

    &__date-container {
      display: flex;
      flex-direction: column;
    }

    &__title {
      font-size: 1.8rem;
      margin: 1rem 0;
      text-decoration: underline;
      margin: 1rem 1rem 1rem 0;
    }

    &__date {
      color: $panther-black;
      font-family: 'futura-pt';
      font-weight: bold;
      font-size: 2rem;
    }

    &__time {
      color: $panther-black;
      font-size: 1.6rem;
      line-height: 1.6rem;
      padding-bottom: 2rem;
      white-space: nowrap;
    }
  }

  .program-events.tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .program-event {
      flex-wrap: wrap;
      width: 25rem;
      height: 25rem;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      @include respond(phone) {
        width: 35rem;
        height: 30rem;
      }

      &__date-container {
        display: flex;
        flex-direction: column;
      }
  
      &__title {
        font-size: 1.8rem;
        margin: 1rem 0;
        text-decoration: underline;
        font-family: futura-pt;
        padding: 0 1rem 0;
  
        @include respond(phone) {
          font-size: 2.0rem;
          margin: 2rem 0;
        }
      }
  
      &__date {
        color: $panther-black;
        font-size: 2rem;
        padding: 1rem 0 .5rem;
        font-family: futura-pt;
        font-weight: bold;
  
        @include respond(phone) {
          font-size: 2.2rem;
        }
      }
  
      &__time {
        color: $panther-black;
        font-size: 1.6rem;
        padding: 0;
        font-family: futura-pt;
  
        @include respond(phone) {
          font-size: 1.8rem;
        }
      }
    }

    @include respond(phone) {
      justify-content: center;
    }
  }

  .program-events.bars {
    .program-event {
      flex-direction: row-reverse;
      justify-content: flex-end;
      height: 10rem;
  
      &__title {
        display: flex;
        align-items: center;
        height: 60%;
        width: 65%;
        font-family: 'futura-pt';

        @include respond(phone) {
          & {
            width: 55%;
          }
        }
      }
  
      &__date-container {
        justify-content: center;
        align-items: center;
        height: 60%;
        width: 35%;
        border-right: 1px solid #ccc;
        margin-right: 2rem;
        padding: 0 2rem;
        text-align: center;

        @include respond(phone) {
          & {
            width: 45%;
          }
        }
      }
  
      &__date {
        padding: 2rem 0 0 0;
        margin-bottom: 5px;
      }
    }
  }



  p { margin: 0; }
}