#uninav {
  min-height: 100vh;
  font-size: 20px;
  background-color: yellow;
  background-size: 2000px;
  background-image: url('/images/cu_icons/communication_red_20.png');

  #uninav-logo--mobile {
    width: 200px;
    height: 200px;
    font-size: 68px;
  }
}