/* autoprefixer grid: autoplace */
.three-photo-callout-widget {
    border: none;
    // @include qbal-fade-enter;
    @include qbal-slideUp-enter;

    &:hover {
        transition: 300ms linear;
    }

    &--sand {
        &:hover {
            background-color: lighten($sand, 2%);
        }
    }

    &--red {
        &:hover {
            background-color: lighten($cu-red, 8%);
        }
    }

    &--black {
        &:hover {
            background-color: darken($panther-black, 8%);
        }
    }

    &--white {
        &:hover {
            background-color: darken($sand, 2%);
        }
    }

    &:hover {
        img {
            filter    : brightness(80%);
            transition: 300ms linear;
        }
    }

    img {
        --imgSize: 150px;
        width: 100%;
        object-fit: cover;
        width: 100%;
        height: var(--imgSize);
        border-bottom: 2px solid $white;
        @include qbal-fade-enter;
    }

    &__container {
        display              : -ms-grid;
        display              : grid;
        -ms-grid-columns     : 1fr 25px 1fr 25px 1fr;
        grid-template-columns: repeat(3, 1fr);
        -ms-grid-rows        : auto;
        grid-template-rows   : auto;
        grid-gap             : 2rem;

        +[class*="-widget"] {
            margin-top   : 20px;
            margin-bottom: 20px;
        }

        &--2-col {
        grid-template-columns: repeat(2, 1fr);
        }

        &--hide-img-mobile {
            img {
            @include respond(phone) {
                display: none;
            }
        }
        }
        @include respond(tab-port) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include respond(phone) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__container>*:nth-child(1) {
        -ms-grid-row   : 1;
        -ms-grid-column: 1
    }

    &__container>*:nth-child(2) {
        -ms-grid-row   : 1;
        -ms-grid-column: 3
    }

    &__container>*:nth-child(3) {
        -ms-grid-row   : 1;
        -ms-grid-column: 5
    }

    &__text {
        display        : -ms-grid;
        display        : grid;
        justify-content: center;
        align-content  : center;
        padding        : 4%;
        font-weight    : bold;
        text-transform : uppercase;
        text-align     : center;
        min-height     : 86px;

        p {
            margin-bottom: 0;
            font-weight  : bold;
        }
    }

    &__button {
        width            : 100%;
        height           : 5.0rem;
        color            : var(--cu-red);
        font-family      : $futura-regular;
        font-weight      : bold;
        border-radius    : 4px;
        grid-column-start: 1;
        grid-column-end  : 4;
        display: none;
        margin-bottom: 20px;

    }
}

a.three-photo-callout-widget {
    border: none;
}

a.three-photo-callout-widget:nth-child(n+4) {
    display: none;
}
div.three-photo-callout-widget:nth-child(n+4) {
    display: none;
}
.no-js {
    a.three-photo-callout-widget:nth-child(n+4) {
        display: grid;
    }
    div.three-photo-callout-widget:nth-child(n+4) {
        display: grid;
    }
}