.wysiwyg-widget {
  padding: $primary-column-widget-spacing 0;

  .content > p:last-child {
    margin-bottom: 0;
  }

  #map_frame {
    min-height: 79vh;

    @include media($medium-screen) {
      min-height: 59vh;
    }
  }
}
// removes extraneous gap when wysiwyg widget is followed after h1
h1 + .wysiwyg-widget {
  padding-top: 0;
}