#theme.business__graduate {
  @include theme-color-classes(black);

  .header h2.header {
    font-family: $futura-condensed;
  }

  .smallMasthead .masthead, .smallMasthead .masthead-old, .bigMasthead .mastheadPlaceholder, .bigMasthead .masthead, .bigMasthead .masthead-old, .nameBar, .rightColumn .styleTwo {
    background: black; /* Old browsers */
  }

  .nameBarButtons li a {
    color: black;
  }

  .rightColumn .styleTwo .border {
    background-color: $cu-dark-red;
  }

  .rightColumn .styleTwo a {
    color: $white;
    border-bottom: 2px dotted #74868c;
  }

  .expandedNameBarContainer {
    h2, a {
      color: #95d2e8;
    }
  }

  .rounded-slider .info-container .blue {
    background-color: black;
  }

  .newbutton a {
    background-color: $cu-red;
    &:hover {
      background-color: $red-button-hover;
    }
    &:active {
      background-color: $cu-dark-red;
    }
  }

  .midPhotoCallouts .photoCallout .caption {
    background-color: black;
  }

  .photoCallouts {
    .caption, .rollover {
      background-color: black;
    }
  }

  .leftNavSubContent .callout .view-more-expander {
    .view-more {
      background-color: black;
    }
    .view-more-link {
      background-color: black;
    }
    .view-less-link {
      background-color: black;
    }
    .icon-triangle-up {
      color: black;
    }
  }

  .theme-button {
    background: $cu-red;
    
    &:hover { background: $red-button-hover }
  }

  .select-button {
    border-color: $cu-red;
    color: $cu-red;

    .select-arrow {
      border-color: $cu-red;
    }
  }

  .primary-content.one-column {

    .messaging-widget__dark-bg {

      .section-message {
        
        .category { color: white !important; }
      }

      

      .select-button.theme-border-color {
        color: $cu-red;
        border-color: transparent;

        .select-arrow.theme-border-color {
          border-color: $cu-red;
        }
      }

      .video-links-title { color: white;}

      p {
        a {
          border-bottom: 2px solid white;

          &:hover {
            color: rgba(255, 255, 255, 0.8);
          }
        }
      }
    }

    .messaging-widget.messaging-widget__2-column.messaging-widget__text-left.image-with-text,
    .messaging-widget.messaging-widget__1-column.messaging-widget__text-left.image-with-text {
      
      .outer-container {
        flex-direction: row-reverse;

        @include bp(wildcard-max, 780px) {
          flex-direction: column;
        }
      }
    }

    .messaging-widget.messaging-widget__2-column.messaging-widget__text-right.video-with-text,
    .messaging-widget.messaging-widget__2-column.messaging-widget__text-left.video-with-text,
    .messaging-widget.messaging-widget__1-column.messaging-widget__text-right.video-with-text,
    .messaging-widget.messaging-widget__1-column.messaging-widget__text-left.video-with-text {

      .links-heading {
        font-size: 20px;
        text-transform: uppercase;
        font-family: $futura-regular;
        font-weight: 700;
      }

      .text-actions {
        max-width: 100%;

        @include bp(wildcard-max, 480px) {
          text-align: left;
        }

        .video-links-title { font-size: 26px; }

        p { 
            a {
            font-size: 16px;
            font-weight: bold;
            line-height: 26px;
          }
        }
      }
    }

    .cta-footer-widget.graduate {
      background-color: #a50034;
  
      .outer-container {
  
        .text-section {
          
          p {
            font-family: $futura-regular;
            font-size: 32px;
            text-transform: capitalize;
            color: white;
          }
        }
  
        .button-section {
  
          .button-wrapper {
  
            .footer-button {
              background: white;
              color: black;
  
              &:hover {
                background: rgba(228, 228, 228, 1);
              }
  
              @include bp(wildcard-max, 480px) {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
