#theme.business__graduate {
  @include theme-color-classes(black);

  .header h2.header {
    font-family: $futura-condensed;
  }

  .smallMasthead .masthead, .smallMasthead .masthead-old, .bigMasthead .mastheadPlaceholder, .bigMasthead .masthead, .bigMasthead .masthead-old, .nameBar, .rightColumn .styleTwo {
    background: black; /* Old browsers */
  }

  .nameBarButtons li a {
    color: black;
  }

  .rightColumn .styleTwo .border {
    background-color: $cu-dark-red;
  }

  .rightColumn .styleTwo a {
    color: $white;
    border-bottom: 2px dotted #74868c;
  }

  .expandedNameBarContainer {
    h2, a {
      color: #95d2e8;
    }
  }

  .rounded-slider .info-container .blue {
    background-color: black;
  }

  .newbutton a {
    background-color: $cu-red;
    &:hover {
      background-color: $red-button-hover;
    }
    &:active {
      background-color: $cu-dark-red;
    }
  }

  .midPhotoCallouts .photoCallout .caption {
    background-color: black;
  }

  .photoCallouts {
    .caption, .rollover {
      background-color: black;
    }
  }

  .leftNavSubContent .callout .view-more-expander {
    .view-more {
      background-color: black;
    }
    .view-more-link {
      background-color: black;
    }
    .view-less-link {
      background-color: black;
    }
    .icon-triangle-up {
      color: black;
    }
  }

  .theme-button {
    background: $cu-red;
    
    &:hover { background: $red-button-hover }
  }

  .primary-content.one-column {

    .messaging-widget.messaging-widget__2-column.messaging-widget__text-right.image-with-text,
    .messaging-widget.messaging-widget__2-column.messaging-widget__text-left.image-with-text,
    .messaging-widget.messaging-widget__1-column.messaging-widget__text-right.image-with-text,
    .messaging-widget.messaging-widget__1-column.messaging-widget__text-left.image-with-text {
      min-height: 500px;
      background-color: white;

      .outer-container {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0;

        @include bp(wildcard-max, 780px) {
          flex-direction: column;
        }

        .column.media-column {
          height: auto;
          width: auto;

          img {
            height: 250px;
            width: 250px;
            border-radius: 50%;
            border: 2px solid $cu-red;
            object-fit: cover;
          }
        }

        .text-column {
          width: 75%;
          padding: 0 0 0 35px;
          margin: 0;

          @include bp(wildcard-max, 780px) {
            width: 100%;
            padding: 0 35px 0 35px;
          }

          .section-message {
            text-align: left;

            .category {
              color: $cu-red;
              font-weight: 700;

              @include bp(wildcard-max, 780px) {
                text-align: center;
              }
            }

            .title {
              color: #231f20;
              font-weight: 700;

              @include bp(wildcard-max, 780px) {
                text-align: center;
              }
            }

            .body.editableContent {
              color: #231f20;
            }

            .text-actions {
              display: flex;
              justify-content: space-between;
              max-width: 100%;
              margin-top: 30px;

              @include bp(wildcard-max, 480px) {
                flex-direction: column;
              }

              .text-widget-select {
                width: 49%;
                margin-top: 0;

                .select-button.theme-border-color {
                  color: $cu-red;
                  border-color: $cu-red;

                  .select-arrow.theme-border-color {
                    color: $cu-red;
                    border-color: $cu-red;
                  }
                }

                @include bp(wildcard-max, 480px) {
                  width: 100%;
                }
              }

              .theme-button {
                background: $cu-red;
                width: 49%;
                
                &:nth-child(2) { margin-top: 0px; }

                &:hover { background: $red-button-hover }

                @include bp(wildcard-max, 480px) {
                  width: 100%;

                  &:nth-child(1) {
                    margin-bottom: 15px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .messaging-widget.messaging-widget__2-column.messaging-widget__text-left.image-with-text,
    .messaging-widget.messaging-widget__1-column.messaging-widget__text-left.image-with-text {
      
      .outer-container {
        flex-direction: row-reverse;

        @include bp(wildcard-max, 780px) {
          flex-direction: column;
        }
      }
    }

    .messaging-widget.messaging-widget__2-column.messaging-widget__text-right.video-with-text,
    .messaging-widget.messaging-widget__2-column.messaging-widget__text-left.video-with-text,
    .messaging-widget.messaging-widget__1-column.messaging-widget__text-right.video-with-text,
    .messaging-widget.messaging-widget__1-column.messaging-widget__text-left.video-with-text {
      background-color: #2f2f2f;
      color: white;

      .category { color: white;}
      
      .links-heading {
        font-size: 20px;
        text-transform: uppercase;
        font-family: $futura-regular;
        font-weight: 700;
        color: white;
      }

      .text-actions {
        max-width: 100%;

        @include bp(wildcard-max, 480px) {
          text-align: left;
        }

        .title { font-size: 26px; }

        a {
          font-size: 16px;
          font-weight: bold;
          color: white;
          line-height: 26px;
          border-bottom: 2px solid white;

          &:hover {
            color: rgba(255, 255, 255, 0.8);
          }
        }

        .select-button.theme-border-color.theme-text-color {
          background-color: transparent;
          border-color: $cu-red;
          color: white;
      
          .select-arrow.theme-border-color {
            border-color: white;
          }
        }

        .select-list {
          
          a {
            color: $cu-red;
            border-bottom: 1px dotted $cu-red;

            &:hover { color: $red-button-hover; }
          }
        }
      }
    }

    .cta-footer-widget.graduate {
      background-color: #a50034;
  
      .outer-container {
  
        .text-section {
          
          p {
            font-family: $futura-regular;
            font-size: 32px;
            text-transform: capitalize;
            color: white;
          }
        }
  
        .button-section {
  
          .button-wrapper {
  
            .footer-button {
              background: white;
              color: black;
  
              &:hover {
                background: rgba(228, 228, 228, 1);
              }
  
              @include bp(wildcard-max, 480px) {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
