#theme.communication {
  @include theme-color-classes($cu-red);

  .smallMasthead .masthead,
  .bigMasthead .mastheadPlaceholder,
  .bigMasthead .masthead,
  .nameBar, .rightColumn .styleTwo {
    background: $cu-red; /* Old browsers */
  }

  .rightColumn .styleTwo .border {
    background-color: $cu-red;
  }

  .rightColumn .styleTwo a {
    color: #ffffff;
    border-bottom: 2px dotted $cardinal;
  }

  .nameBarButtons li a {
    color: $cu-red;
  }

  #social_follow_us {

    .banner {
      background-image: image-url('default_follow_us.png');
    }

    li span {

      &.hover_state,
      &.inactive_state {
        background-image: image-url('default_icons.png');
      }
    }
  }

  .newbutton a {

    background-color: $cu-red;

    &:hover {
      background-color: $communication-secondary;
    }

    &:active {
      background-color: $cu-red;
    }
  }

  .midPhotoCallouts .photoCallout .caption {
    background-color: $cu-red;
  }

  .photoCallouts {

    .caption, .rollover {
      background-color: $cu-red;
    }
  }

  .leftNavSubContent .callout .view-more-expander {

    .view-more {
      background-color: $cu-red;
    }

    .view-more-link {
      background-color: $cu-red;
    }

    .view-less-link {
      background-color: $cu-red;
    }

    .icon-triangle-up {
      color: $cu-red;
    }
  }
}
