html {
  background-color: $white;
}

h1,
.faux-h1,
h2,
.faux-h2,
h3,
.faux-h3,
h4,
.faux-h4,
h5,
.faux-h5,
h6,
.faux-h6 {
  font-style: normal;
}

//NEW AS OF 8/15/16

/* Call to action buttons */

.homepage .section {
  padding: 50px 0;
}

.homepage {
  a.button {
    @include transition(background-color);

    &:hover {
      background-color: #ffffff;
      text-decoration: none;
    }

    &:active {
      background-color: #b8b8b8;
      text-decoration: none;
    }

    &.red,
    [class*="--red"] {
      background: $cu-red no-repeat center;
      color: #FFFFFF;

      &:hover {
        background-color: $red-button-hover;
        text-decoration: none;
      }

      &:active {
        background-color: $red-button-active;
        text-decoration: none;
      }
    }


    &.white {
      background: #eaeaea no-repeat center;
      color: #313131;

      &:hover {
        background-color: #ffffff;
        text-decoration: none;
      }

      &:active {
        background-color: #d8d8d8;
        text-decoration: none;
      }
    }
  }

  .maxWidth {
    margin: 0 15px;
  }

  #mastheadNavigationWrapper {
    position: relative;
    height: 0px;
    overflow: visible;
    z-index: 100;
  }

  #mastheadNavigation {
    position: absolute;
    top: 250px;
    right: 0;
    z-index: 100;
    display: none;

    @media only screen and (min-width: 480px) {
      top: 15px;
    }

    .smallButton {
      color: #FFFFFF;
      border: none;
      border-radius: 3px;
      width: 44px;
      height: 44px;
      padding: 5px;
      margin: 0 0 0 10px;
      background: image-url('gray_30.png');
      text-indent: -9999px;
      opacity: 0.75;
      -webkit-transition: opacity 0.2s ease-out, height 0s ease-out;
      -moz-transition: opacity 0.2s ease-out, height 0s ease-out;
      -o-transition: opacity 0.2s ease-out, height 0s ease-out;
      transition: opacity 0.2s ease-out, height 0s ease-out;

      &.disabled {
        opacity: 0;
        cursor: default;
        height: 0px;
        padding: 0px;
        overflow: hidden;
      }

      &:hover {
        opacity: 1;
      }

      &:focus {
        outline: none;
      }
    }

    #changeVolume {
      background: rgba(0, 0, 0, 0.8) image-url('volume-on_white.svg') no-repeat center;
      background-size: 20px;

      &.muted {
        background: rgba(0, 0, 0, 0.8) image-url('volume-off_white.svg') no-repeat 16px center;
        background-size: 20px;
      }
    }

    #showOlderContent {
      background: rgba(0, 0, 0, 0.8) image-url('arrow-right_white.svg') no-repeat center;
      background-size: 20px;
    }

    #showNewerContent {
      background: rgba(0, 0, 0, 0.8) url('arrow-left_white.svg') no-repeat center;
      background-size: 20px;
    }
  }
}

@media only screen and (min-width: 500px) {
  .homepage a.button {
    width: auto;
    margin-bottom: 0;
  }
}

/* Padding for content area */

@media only screen and (min-width: 780px) {
  .homepage .maxWidth {
    margin: 0 30px;
  }
}

@media only screen and (min-width: 1180px) {
  .homepage .maxWidth {
    margin: 0 auto;
  }
}

/***************************************************
* Section Styles
***************************************************/

.homepage {
  .section {
    position: relative;

    .heading {
      font-size: 34px;
      line-height: 34px;
      margin: 0 15px 15px;
    }

    .subheading {
      font-size: 22px;
      line-height: 22px;
      text-transform: none;
      margin: 0;
      font-weight: 400;
      font-family: $font-stack-heading;
    }

    &.dark-bg {
      background-color: #111111;

      .heading,
      .subheading {
        color: #FFFFFF;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
      }
    }

    &.light-bg {

      .heading,
      .subheading {
        color: $grey;
      }

      .heading {
        text-align: center;
      }

      .subheading {
        margin: 0 0 40px 0;
        text-align: center;
      }

      .heading,
      .subheading {
        color: $grey;
      }
    }

    .actions {
      padding-top: 20px;
      text-align: center;
      clear: both;

      .button {
        background-size: 15px;
        background-position: 15px center;
        padding-left: 25px;
        padding-right: 25px;
        margin: 5px;

        .apply {
          background-image: image-url('file6_white_15.png');
          background-image: none, image-url('file6_white.svg');
        }

        &.apply-ug {
          background-image: image-url('file6.png');
          background-image: none, image-url('file6.svg');
        }

        &.request {
          background-image: image-url('email_white_15.png');
          background-image: none, image-url('email_white.svg');
        }

        &.request-ug {
          background-image: image-url('email.png');
          background-image: none, image-url('email.svg');
        }

        &.monogram {
          background-image: image-url('cu_monogram_gray_25.png');
          background-image: none, image-url('cu_monogram_gray.svg');
          background-size: 25px;
          padding-left: 43px;
        }

        &.calendar {
          background-image: image-url('calendar4_white_15.png');
          background-image: none, image-url('calendar4_white.svg');
        }
      }
    }

    overflow: auto;
    background: #eaeaea;

    .third {
      padding-right: 0;
      overflow: hidden;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      h3 {
        font-family: $font-stack-heading;
        font-weight: 800;
        padding: 0;
        margin: 0 0 10px 0;
        font-size: 18px;
        line-height: 18px;
      }

      img {
        width: 100%;
      }

      .imagerotator {
        width: 100%;
      }
    }
  }
}

/* Visual Focus */

.homepage a:focus {
  opacity: 1 !important;
}

#hero a.button:focus,
.dark-bg a.button:focus,
.second a.button:focus {
  outline: 2px dotted white;
}

/* Dark BG */

/* Light BG */

/* Light BG */

@media only screen and (min-width: 680px) {
  .homepage {
    .section {
      .heading {
        font-size: 42px;
        line-height: 42px;
      }

      .subheading {
        font-size: 26px;
        line-height: 34px;
      }

      &.light-bg {
        .heading {}

        .subheading {
          margin: 0 0 75px 0;
          font-weight: 800;
        }
      }
    }
  }
}

@media only screen and (min-width: 980px) {
  .homepage {
    .section {
      padding: 60px 0;

      .heading {
        font-size: 62px;
        line-height: 62px;
      }

      .subheading {
        font-size: 28px;
        line-height: 40px;
      }

      &.light-bg {
        .heading {}

        .subheading {
          margin: 0 0 75px 0;
        }
      }

      .third h3 {
        font-size: 24px;
        line-height: 26px;
      }
    }

  }
}

@media only screen and (min-width: 1180px) {
  .homepage {
    .section {
      padding: 75px 0;

      .heading {
        font-size: 68px;
        line-height: 68px;
      }

      .subheading {
        font-size: 40px;
        line-height: 48px;
      }
    }
  }
}

/* Column Thirds */

@media only screen and (min-width: 400px) {
  .homepage {
    .section .third .imagerotator {
      width: 40%;
      float: left;
      margin: 0 15px 15px 0;
    }
  }
}

@media only screen and (min-width: 680px) {
  .homepage {
    .section .third {
      float: left;
      width: 33%;

      .imagerotator {
        width: 100%;
        height: auto;
        margin: 0 0 20px 0;
      }
    }
  }
}

/* Column Seconds */

@media only screen and (min-width: 980px) {
  .homepage {
    .section .second {
      float: left;
      width: 57%;
      margin: 0 15px;
    }

    .section .second:last-child {
      width: auto;
      display: block;
      border-left: 2px solid #ffffff;
      min-height: 375px;
    }
  }
}

@media only screen and (min-width: 1180px) {
  .homepage {
    .section .second {
      float: left;
      margin: 0 25px;
    }

    .section .second:last-child {
      overflow: hidden;
      bottom: 0;
      width: auto;
      min-height: 450px;
    }
  }
}

/* IE Compatibility */

.homepage {
  .ie7 .section .third {
    padding: 0;
    width: 31%;
    margin-right: 2%;
  }
}

/* End of file */

/* master.css | http://localhost:5000/_assets/master.css */

.homepage .section {
  /* background: #eaeaea; */
  background: var(--color-sand);
}

.announcement.news-loaded {
  background-color: white;
}


/* master.css | http://localhost:5000/_assets/master.css */

.homepage .stories .story .story-bg {
  /* margin-top: 15px; */
  margin-top: 0;
}

.homepage .stories .story .tag:hover {
  /* padding-left: 25px; */
}

/* Inline #19 | http://localhost:5000/uninav/home_page */

.story_footer {}

#story-1 {
  padding: unset;
  margin: unset;
  display: grid;
  justify-content: left;
}

.title {}

.title {
  padding: unset;
  margin: unset !important;
}

.story_footer {
  display: none;
}

.homepage-story__text {
  height: 150px;
  display: grid;
  align-content: center;
  padding: 0 25px 0 25px;
}


/* Inline #19 | http://localhost:5000/uninav/home_page */

.announcement.news-loaded {
  padding: unset !important;
}

.news-loaded {
  padding-left: 0 !important;
  padding-right: 0;
}


/* Inline #19 | http://localhost:5000/uninav/home_page */

.details {
  display: grid;
  align-content: center;
  padding: unset !important;
  margin: unset !important;
  align-content: start;
  margin-top: 30px !important;
}

/* master.css | http://localhost:5000/_assets/master.css */

.homepage #featured_newsroom_stories.editors-picks .maxWidth .announcement .details {
  /* width: 30%; */
  // width: 45%;
}



/* Inline #19 | http://localhost:5000/uninav/home_page */

// .announcement.news-loaded {
//   /* grid-template-columns: repeat\); */
//   /* grid-template-columns: repeat3\); */
//   display: grid !important;
//   grid-template-columns: repeat(3, 1fr);
// }

.homepage-news__grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.third.news-loaded {
  width: 100% !important;
}

.homepage-news__grid-wrapper {
  grid-gap: 20px;
  margin-top: 20px;
}

.svg-inline--fa.fa-chevron-circle-right.fa-w-16 {
  width: 30px;
  height: 30px;
  margin-right: 25px;
  margin-bottom: 25px;
  cursor: pointer;

  path {
    fill: var(--color-cu-red);
  }

  &:hover {
    path {
      fill: var(--color-red-hover);
      transition: 150ms ease all;
    }
  }
}


.homepage-news__two-col {
  display: grid;
  grid-template-columns: 1fr .5fr;
  align-items: end;
  justify-items: end;
}


/* Inline #19 | http://localhost:5000/uninav/home_page */

.arrow-right {
  display: flex;
  align-content: end;
  align-items: end;
  justify-items: end;
}

.announcement.news-loaded {
  display: flex !important;
  justify-content: space-between;
}



/* Inline #19 | http://localhost:5000/uninav/home_page */

.smc-cta {}

.arrow-right {
  display: grid;
  align-self: end;
  align-content: end;
}

.smc-cta {
  display: grid;
}


a.button.smc-cta {
  background-color: var(--color-cu-red);
  color: var(--color-white);
  text-transform: uppercase;
  font-family: $futura-regular;
  font-weight: 800;
  font-size: 1.8rem;
  @include focus($white, $red-button-hover);
  transform: translateY(-5px);
  transition: 150ms;
}



/* master.css | http://localhost:5000/_assets/master.css */

@media only screen and (min-width: 680px) {
  .homepage .section .third {
    /* float: left; */
    /* width: 33%; */
    width: auto;
  }
}

/* Inline #19 | http://localhost:5000/uninav/home_page */

.homepage-news__grid-wrapper {
  width: 1130px;
}

.third {
  background-color: white;
}

.undergraduate-card__text {
  padding-left: 20px;
  padding-right: 20px;
}


/* Inline #19 | http://localhost:5000/uninav/home_page */

.third {
  height: max-content;
}

.story {
  padding-bottom: 0;
  margin-bottom: 0 !important;
}