#theme.image_slider_law {
  $white-alpha: rgba(255, 255, 240, 0.8);
  $cardinal: #a50034;
  $cardinal-hover: #810029;
  $pillar: #686259;
  $sand: #ddcba4;
  $panther-black: #231f20;
  section.hero-content-panel,
  .side-panel-hero .hero-content {
    display: none;
  }

  .side-panel-hero,
  .background-image {
    margin-bottom: 100px;
  }

  .side-panel-hero {
    height: 600px;
  }

  .background-image {
    height: 100%;
  }

  .cd-slider-nav {
    background-color: transparent !important;
    display: inline-block;
    float: right;
    margin-bottom: 60px !important;
  }
  .side-panel-hero article {
    margin-left: 0;
    background-color: transparent;
    margin-top: 0;
  }

  .content {
    background-color: $white-alpha;
    margin-bottom: 30px;
  }

  .cd-arrow-left,
  .cd-arrow-right {
    display: none;
  }

  h2.title {
    font-size: 24px;
    font-family: $futura-regular;
    font-weight: 700;
    color: $black;
    margin-bottom: 10px;
  }

  p.body {
    font-size: 16px;
    font-family: arial, sans-serif;
    color: $black;
  }

  .side-panel-hero .cd-slider-nav li.selected a {
    background: $cardinal;
    box-shadow: 0 0 2px $panther-black;
  }

  .side-panel-hero .cd-slider-nav {
    margin: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    align-items: center;
    justify-content: flex-end;
    background-color: transparent !important;
  }

  .cd-slider-nav nav {
    margin-right: 30px;
  }


  @media screen and (min-width: 1181px) {
    .side-panel-hero article .category {
      font-size: 24px;
    }
  }
  @media screen and (max-width: 1180px) {
    .side-panel-hero article img {
      height: 500px;
      width: auto;
    }
    .side-panel-hero .cd-slider-nav {
      top: 400px;
    }
  } //   .call-to-action-block-widget__medium-bg {
  //     margin-top: 400px;
  //   }
  // }
  // @media screen and (max-width: 1024px) {
  //   .side-panel-hero .cd-slider-nav {
  //     // height: 60px;
  //   }
  //   .background-image {
  //     padding-bottom: 0;
  //   }
  // }
  // @media screen and (min-width: 1024px) {
  //   .content {
  //     width: 100%;
  //     display: block;
  //     margin: 0;
  //   }
  //   .side-panel-hero .cd-slider-nav {
  //     padding-top: 25px !important;
  //   }
  // }
  @media screen and (max-width: 1024px) {
    .theme-button {
      display: block !important;
      padding: 15px 25px;
      font-size: 16px;
      border-radius: 3px;
      background: #a50034;
      color: white;
      cursor: pointer;
      border: none;
      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.3);
      width: 200px;
      text-decoration: none;
      margin-top: 2%;
    }
    .content {
      width: 100%;
      min-width: 100%;
      margin-left: 0;
      background-color: $panther-black;
    }
  }
  @media screen and (max-width: 960px) {
    .side-panel-hero article img {
      height: 400px;
      width: auto;
    }
    .side-panel-hero .cd-slider-nav {
      top: 380px;
    }

    .side-panel-hero {
      margin-bottom: 200px;
    }
  }
  @media screen and (min-width: 1024px) {
    .theme-button {
      display: none;
    }
    .content {
      width: 750px;
      margin-left: 30px;
    }

    .side-panel-hero .cd-slider-nav {
      top: 480px;
    }
  }

  @media screen and (max-width: 768px) {
    .side-panel-hero .cd-slider-nav {
      margin-bottom: 70px !important;
    }
  }

  @media screen and (min-width: 768px) {
    .side-panel-hero .hero-content {
      display: block;
    }
  }
  .side-panel-hero article img {
    height: 400px;
    width: auto;
  }

  @media screen and (max-width: 480px) {
    .content {
      background-color: $panther-black;
    }
  }
}
