#theme.law {
  @include theme-color-classes($cu-red);
  .bigMasthead header {
    @include media(1024px) {
      margin: 0;
    }
    @include media(1120px) {
      margin: 30px 0;
    }
  }

  .bigMasthead .column.header h2.header {
    font-family: "minion";
  }


  .logo {
    background: image-url('logo_law_alternate.svg');
    background-repeat: no-repeat;
    height: 57px;
    width: 200px;
    margin: 0 auto $base-spacing auto;
    @include bp(m) {
      margin: 0 $base-spacing $base-spacing $base-spacing;
    }
    @include media(1120px) {
      margin: -13px $base-spacing 0 0;
    }
  }
  .collapsedNav {
    margin: 115px 0 0 0;
  }
  .mainNavLinks>li>a {
    background-color: $cu-red;
  }
  .mainNavLinks .mainNavLinksAfter,
  .mainNavLinks .mainNavLinksAfter:hover {
    background-color: $cu-red !important;
  }
  @include bp(m) {
    .ie8 .subNavLinks {
      border-right: 1px solid $cu-red;
      border-bottom: 1px solid $cu-red;
      border-left: 1px solid $cu-red;
    }
    .mainNav .icon {
      margin-left: 0;
    }
    .mainNav .icon:before {
      display: none;
    }
  }
  .nameBarButtons li a {
    color: $cu-red;
  }
  .expandedNameBarContainer h2,
  .expandedNameBarContainer a,
  div.styleTwo a {
    color: #99afda;
  }
  .smallMasthead .masthead,
  .bigMasthead .masthead,
  .nameBar {
    background: $cu-red;
  }

  .ie8 .slideDescription,
  .ie9 .slideDescription {
    display: none !important;
  }
  .mainNavExpand a {
    background-color: $cu-red;
  }
  .mainNavLinks>li {
    background-color: #353430;
  }
  /* ==|== media queries ====================================================== */
  @include bp(m) {
    header {
      padding: 0 0 15px 0;
    }
    .infoFor {
      width: 600px;
    }
    .mainNavLinks {
      background-image: image-url('ribbon_tails_law.png');
    }
    .mainNavLinks>li.noSubNav>a {
      padding: 0 !important;
    }
    .mainNavLinks>li:hover {
      background-color: transparent;
    }
    .mainNavLinks>li>a>span {
      padding-left: 12px;
      padding-right: 12px;
    }
    .mainNavLinks,
    .mainNavLinks>li,
    .mainNavLinks>li.noSubNav:hover {
      background-color: $cu-red;
    }
  }
  @include media(1120px) {
    .mainNavLinks {
      background-color: transparent;
    }
  }
  .smallMasthead .masthead,
  .smallMasthead .masthead-old,
  .bigMasthead .mastheadPlaceholder,
  .bigMasthead .masthead,
  .bigMasthead .masthead-old,
  .nameBar,
  .rightColumn .styleTwo {
    background: $cu-red;
    /* Old browsers */
  }
  .rightColumn .styleTwo .border {
    background-color: $cu-dark-red;
  }
  .styleTwo p {
    color: $white;
  }
  .styleTwo li {
    color: $white;
  }
  .styleTwo div {
    color: $white;
  }
  .styleTwo h2 {
    color: $white;
  }
  .styleTwo h3 {
    color: $white;
  }
  .rightColumn .styleTwo a {
    color: $white;
    border-bottom: 1px dotted #fff;
  }
  .nameBarButtons li a {
    color: $cu-red;
  }
  .expandedNameBarContainer h2,
  .expandedNameBarContainer a,
  div.styleTwo a {
    color: #99afda;
  }
  .rounded-slider .info-container .blue {
    background-color: $cu-red;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a12756), to($cu-red));
    background-image: -webkit-linear-gradient(top, #a12756, $cu-red);
    background-image: -moz-linear-gradient(top, #a12756, $cu-red);
    background-image: -o-linear-gradient(top, #a12756, $cu-red);
    background-image: linear-gradient(to bottom, #a12756, $cu-red);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f7c', endColorstr='#01235b', GradientType=1);
  }
  .newbutton a {
    background-color: $cu-red;
    &:hover {
      background-color: $red-button-hover;
    }
    &:active {
      background-color: $red-button-active;
    }
  }
  .midPhotoCallouts .photoCallout .caption,
  .photoCallouts .caption,
  .photoCallouts .rollover {
    background-color: $cu-red;
  }
  .leftNavSubContent .callout .view-more-expander {
    .view-more {
      background-color: $cu-red;
      ;
    }
    .view-more-link {
      background-color: $cu-red;
      ;
    }
    .view-less-link {
      background-color: $cu-red;
      ;
    }
    .icon-triangle-up {
      color: $cu-red;
      ;
    }
  }
  /* Footer */
  .footer {
    .inner-container {
      .footer-section.footer-menu {
        .menu-section {
          margin-bottom: 0;
          &:nth-child(1) { flex: 0 0 40%; }
          &:nth-child(2) {
            flex: 0 0 25%;

            .link-container { width: 100%; }
          }

          &:nth-child(3) { flex: 0 0 20%; }

          @include bp(lx) {
            &:nth-child(1) { flex: 0 0 75%; }
            &:nth-child(2) { flex: 0 0 25%; }
            &:nth-child(3) { flex: 0 0 75%; }
          }

          @include bp(mx) {
            &:nth-child(1) { flex: 0 0 75%; }
            &:nth-child(2) { flex: 0 0 25%; }
            &:nth-child(3) { flex: 0 0 75%; }
          }

          @include bp(sx) {
            &:nth-child(1), 
            &:nth-child(2), 
            &:nth-child(3) { -ms-flex: auto; }

            &:nth-child(3) { order: 3; }
            
          }
        }

        .campus-addresses {
          flex: 0 0 15%;
          @include bp(lx) { flex: 0 0 25%; } 
          @include bp(sx) { -ms-flex: auto; }
        }

        .link-container {
          margin-bottom: 2em;
          @include bp(sx) { width: 100%; }
        }

        .weather {
          justify-content: center;
          @include bp(lx) { flex: 0 0 100%; }
          @include bp(mx) { padding: 0; }
          @include bp(sx) { -ms-flex: auto; }
        }
      }
    }
  }

  .theme-button {
    background: $cu-red;
    
    &:hover { background: $red-button-hover }
  }

  .select-button {
    border-color: $cu-red;
    color: $cu-red;

    .select-arrow {
      border-color: $cu-red;
    }
  }

  .primary-content.one-column {

    .messaging-widget__dark-bg {

      .section-message {
        
        .category { color: white !important; }
      }

      

      .select-button.theme-border-color {
        color: $cu-red;
        border-color: transparent;

        .select-arrow.theme-border-color {
          border-color: $cu-red;
        }
      }

      .video-links-title { color: white;}

      p {
        a {
          border-bottom: 2px solid white;

          &:hover {
            color: rgba(255, 255, 255, 0.8);
          }
        }
      }
    }

    .messaging-widget.messaging-widget__2-column.messaging-widget__text-left.image-with-text,
    .messaging-widget.messaging-widget__1-column.messaging-widget__text-left.image-with-text {
      
      .outer-container {
        flex-direction: row-reverse;

        @include bp(wildcard-max, 780px) {
          flex-direction: column;
        }
      }
    }

    .messaging-widget.messaging-widget__2-column.messaging-widget__text-right.video-with-text,
    .messaging-widget.messaging-widget__2-column.messaging-widget__text-left.video-with-text,
    .messaging-widget.messaging-widget__1-column.messaging-widget__text-right.video-with-text,
    .messaging-widget.messaging-widget__1-column.messaging-widget__text-left.video-with-text {

      .links-heading {
        font-size: 20px;
        text-transform: uppercase;
        font-family: $futura-regular;
        font-weight: 700;
      }

      .text-actions {
        max-width: 100%;

        @include bp(wildcard-max, 480px) {
          text-align: left;
        }

        .video-links-title { font-size: 26px; }

        p { 
            a {
            font-size: 16px;
            font-weight: bold;
            line-height: 26px;
          }
        }
      }
    }

    .cta-footer-widget.graduate {
      background-color: #a50034;
  
      .outer-container {
  
        .text-section {
          
          p {
            font-family: $futura-regular;
            font-size: 32px;
            text-transform: capitalize;
            color: white;
          }
        }
  
        .button-section {
  
          .button-wrapper {
  
            .footer-button {
              background: white;
              color: black;
  
              &:hover {
                background: rgba(228, 228, 228, 1);
              }
  
              @include bp(wildcard-max, 480px) {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}