// #theme.subbrand {
#theme.subbrand__business .subbrand-masthead-wrapper,
.subrand-masthead-wrapper {
  @include theme-color-classes($red);

  * {
    transition: all 0.8s;
  }

  .brochure-masthead .background-content .gradient-overlay {
    background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 40%,
      rgba(0, 0, 0, 0.75));
    background-size: cover !important;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  div#program-select-links,
  .theme-border-color {
    display: inline-block;
    padding: 15px 25px;
    font-size: 16px;
    background: transparent;
    color: white;
    cursor: pointer;
    border: none;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0px 0px 0px 2px #a50034;
    -moz-box-shadow: inset 0px 0px 0px 2px #a50034;
    box-shadow: inset 0px 0px 0px 3px #a50034;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: 5s ease all;
  }

  .dropdown-content li {
    list-style: none;
    text-align: left;
    margin: 0;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: $arial;
    font-size: 16px;
    line-height: 36px;
    border-bottom: none;
    text-align: left;
  }

  .link-underline {
    border-bottom: 1px dotted #a50034;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
    display: block;
    width: 100%;
  }

  .select-arrow {
    position: relative;
    display: inline-block;
    background: transparent;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    width: 8px;
    height: 8px;
    -webkit-transform: rotateZ(45deg);
    -ms-transform: rotate(45deg);
    transform: rotateZ(45deg);
    left: 4px;
  }

  // Overwrites because the hover/active states don't work with the mixin. -SH
  .theme-button,
  div#program-select-links {
    margin-right: 12px;

    &:hover,
    &:focus {
      background-color: $red-button-hover;
    }

    &:active {
      background-color: $red-button-active;
    }
  }
}

.brochure-masthead .foreground-content {
  bottom: 30px !important;
  padding-left: 4%;
  padding-right: 4%;
}

* {
  word-wrap: break-word;

  .ie7 & {
    zoom: 1;
  }
}

html {
  margin: 0;
  padding: 0;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-image: image-url("window-pattern.png");
  background-repeat: repeat-x;
  background-position-y: 64px;
  background-color: $cu-light-grey;
  font-family: $font-stack-body;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;

  &.cu-companion-bar {
    padding-top: 75px !important;
  }
}

body {
  @include paragraph;
  line-height: initial;
  margin: 0;
  padding: 0;
  color: $cu-font-color;
  font-family: $font-stack-body;
  height: auto;

  &.personnel .main {
    margin-left: 0;
  }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

hgroup h3 {
  margin: -5px 0 0 0;
}

section {
  li {
    max-width: 70%;

    @include bp(m) {
      max-width: 100%;
    }
  }

  p {
    @include bp(m) {
      color: $cu-font-color;
    }
  }
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]),
[hidden] {
  display: none;
}

button,
input,
select,
textarea {
  font-family: $font-stack-body;
  color: $cu-font-color;
}

::-moz-selection,
::-moz-selection {
  background: $cu-red;
  color: $white;
  text-shadow: none;
}

::-moz-selection,
::selection {
  background: $cu-red;
  color: $white;
  text-shadow: none;
}

a {
  color: $white;
  text-decoration: none;

  &:visited {
    color: $white;
    border-bottom: none;
  }

  &:hover {
    color: $white;
    border-bottom: none;
    text-decoration: underline;
  }

  &:focus {
    outline: 2px dotted;
  }

  &:hover,
  &:active {
    outline: 0;
    text-decoration: none;
  }

  &.cta {
    padding: 7px 10px 7px 10px;
    background-color: $cu-dark-red;
    color: $white;
    display: inline-block;
    text-transform: uppercase;
    font-family: $font-stack-body;
    font-weight: bold;
    max-width: 100%;

    &.hover {
      color: $white;
      text-decoration: none;
      background-color: $cu-red;
    }
  }

  &.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 16px;
    border-radius: 3px;
    background: #dad8cf no-repeat center;
    color: $grey;
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
    @include vendorize(box-sizing, border-box);

    &:hover {
      background-color: #cac9c4;
      text-decoration: none;
    }

    &.red {
      background: $cu-red no-repeat center;
      color: $white;

      &:hover {
        background-color: #c92741;
        text-decoration: none;
      }
    }

    @include bp(wildcard-min, 500px) {
      width: auto;
      margin-bottom: 0;
    }
  }
}

p.source {
  a {

    &:link,
    &:visited {
      color: $cu-red;
      border-bottom: none;
    }

    &:hover {
      color: $cu-link-hover;
      border-bottom: none;
    }
  }
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 800;
}

blockquote {
  margin: 1em 40px;
  display: none;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: $black;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: $black;
  font-style: italic;
  font-weight: bold;
}

pre,
code,
kbd,
samp {
  font-family: "courier new", monospace;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;

  &:before,
  &:after {
    content: "";
    content: none;
  }
}

small {
  font-size: 85%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ol {
  .ie7 & {
    zoom: normal;

    li {
      zoom: normal;
      list-style-position: outside;
      margin: 0 0 0 25px;
    }
  }
}

dd {
  margin: 0 0 0 40px;
}

nav {

  ul,
  ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
  }
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure,
form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
  *overflow: visible;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: gray;

  button,
  input {
    *overflow: auto;
  }
}

button {
  cursor: pointer;
  -webkit-appearance: button;
}

input {

  &[type="button"],
  &[type="reset"],
  &[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
  }

  &[type="checkbox"],
  &[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 5px;
  }

  &[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;

    &::-webkit-search-decoration {
      -webkit-appearance: none;
    }
  }
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}

th,
tr {
  border-color: grey;
}

td {
  border-color: grey;
  vertical-align: top;
}

p,
li {
  @include paragraph;
}

h1,
h2,
h3 {
  font-family: $font-stack-heading;
}

h3,
h4,
h5,
h6 {
  font-weight: 200;
}

h1 {
  font-size: 30px;
  font-weight: 800;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2em;
}

h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4em;
  margin-top: 30px;
  margin-bottom: 15px;
}

h4 {
  font-size: 14px;
  font-weight: 500;
}

h5 {
  font-size: 14px;
  font-weight: 500;
}

.subrand-masthead-wrapper {
  border-bottom: 10px solid $cardinal;
}

h2.headline.secondary.subhead {
  font-size: 30px;
  color: $white;
  font-family: $futura-condensed;
  text-transform: uppercase;
  font-weight: 500;
  text-shadow: 0.05em 0.05em 0.1em rgba(0, 0, 0, 0.5);
  line-height: 1.2em;
}

h1.headline.primary.title {
  font-size: 72px;
  color: $white;
  font-family: $futura-condensed;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 0.05em 0.05em 0.1em rgba(0, 0, 0, 0.5);
  line-height: 1.2em;
  margin-bottom: -10px;
}

// medium
@media screen and (max-width: 1180px) {
  h1.headline.primary.title {
    font-size: 60px;
    margin-top: -5px;
  }

  h2.headline.secondary.subhead {
    font-size: 24px;
  }
}

// Tablet
@media screen and (max-width: 780px) {
  h1.headline.primary.title {
    font-size: 48px;
  }

  h2.headline.secondary.subhead {
    font-size: 18px;
  }

  button.theme-button,
  .dropdown-inner.theme-border-color {
    display: block;
    text-align: center;
    min-width: 320px;
    margin-top: 10px;
  }

  .dropdown {
    margin-left: -10px;
  }
}

@media screen and (max-width: 720px) {
  .brochure-masthead .foreground-content {
    bottom: 5% !important;
  }
}

@media screen and (max-width: 680px) {
  .headline {
    line-height: 1.2em;
  }

  h1.headline.primary.title {
    font-size: 2rem;
  }

  h2.headline.secondary.subhead {
    font-size: 1.2rem;
  }
}

// Mobile
@media screen and (max-width: 480px) {
  .subrand-masthead-wrapper {
    border-bottom: none;
    border-top: 10px solid $cardinal;
  }

  h1.headline.primary.title {
    font-size: 2rem;
  }

  h2.headline.secondary.subhead {
    font-size: 1.2rem;
  }

  .gradient-overlay {
    background: rgba(0, 0, 0, 0.75) !important;
    background-size: cover !important;
  }
}

@media screen and (max-width: 350px) {
  .dropdown {
    margin: auto;
  }
}

// }
// Theme-Specific Masthead Styles - Law
#theme.law,
#theme.subbrand__law {
  h2.headline.secondary.subhead {
    font-size: 30px;
    color: $white;
    font-family: $futura-regular;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0.05em 0.05em 0.1em rgba(0, 0, 0, 0.5);
    line-height: 1.2em;
  }

  h1.headline.primary.title {
    font-size: 60px;
    color: $white;
    font-family: $minion;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 0.05em 0.05em 0.1em rgba(0, 0, 0, 0.5);
    line-height: 1.2em;
    margin-bottom: -10px;
  }

  @media screen and (max-width: 1180px) {
    h2.headline.secondary.subhead {
      font-size: 24px;
    }

    h1.headline.primary.title {
      font-size: 48px;
    }
  }

  @media screen and (max-width: 780px) {
    h2.headline.secondary.subhead {
      font-size: 18px;
    }

    h1.headline.primary.title {
      font-size: 40px;
    }
  }

  @media screen and (max-width: 480px) {
    h2.headline.secondary.subhead {
      font-size: 18px;
    }

    h1.headline.primary.title {
      font-size: 40px;
    }
  }
}

#theme.grad-business,
#theme.subbrand__grad-business,
.subpage-masthead {
  .brochure-masthead .foreground-content {
    text-align: left;
  }

  h2.headline.secondary.subhead,
  button,
  .dropdown {
    display: none;
  }

  h1.headline.primary.title {
    font-size: 72px;
    color: $white;
    font-family: $futura-condensed;
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: 0.05em 0.05em 0.1em rgba(0, 0, 0, 0.5);
    line-height: 0.9em;
    margin-bottom: -10px;
    max-width: 700px;
  }

  @media screen and (max-width: 1180px) {}

  @media screen and (max-width: 780px) {
    .brochure-masthead .foreground-content {
      text-align: center;
    }
  }

  @media screen and (max-width: 480px) {
    h2.headline.secondary.subhead {
      font-size: 18px;
    }

    h1.headline.primary.title {
      font-size: 40px;
    }
  }
}

.googlemap-container {
  .box {
    background-color: $white-alpha-50;
    max-width: 480px;
  }

  .box-header {
    font-family: $futura-regular;
    font-weight: 700;
    font-size: 24px;
    color: $cardinal;
  }

  .address {
    font-family: $futura-regular;
    font-weight: 400;
    font-size: 18px;
    color: $black;
  }

  .red-button {
    font-family: $futura-regular;
    font-weight: 400;
    font-size: 16px;
    color: $white;
  }

  @media screen and (max-width: 1480px) {}
}